#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1002,  "&Browse files"
  1003,  "Browse files on this device"
  1004,  "&AutoPlay"
  1005,  "Open the AutoPlay dialog for this device"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1008,  "&Eject"
  1009,  "Eject the device or its currently loaded removable media"
}

