#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Alchemy"
  101,  "Blur"
  102,  "SwitchBlur"
  103,  "Shift"
  104,  "Standard Render Cycle"
  105,  "Linear Shift"
  106,  "Stretch Shift"
  107,  "SuperStar"
  108,  "WonderWave"
  109,  "Shift O' Scope"
  110,  "Funktional"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  115,  "Bass Bounce"
  117,  "Random"
}

