#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "AuditPolicyGPInterop"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  500,  "Global File SACL"
  501,  "Global File Audit Access List"
  502,  "Global Registry SACL"
  503,  "Global Registry Access Audit List"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  6001,  "Full control"
  6002,  "Traverse folder / execute file"
  6003,  "List folder / read data"
  6004,  "Read attributes"
  6005,  "Read extended attributes"
  6006,  "Create files / write data"
  6007,  "Create folders / append data"
  6008,  "Write attributes"
  6009,  "Write extended attributes"
  6010,  "Delete subfolders and files"
  6011,  "Delete"
  6012,  "Read permissions"
  6013,  "Change permissions"
  6014,  "Take ownership"
  6015,  "Access system security"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  6016,  "Synchronize"
  6017,  "Read"
  6018,  "Write"
  6019,  "Execute"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7001,  "Full Control"
  7002,  "Query Value"
  7003,  "Set Value"
  7004,  "Create Subkey"
  7005,  "Enumerate Subkeys"
  7006,  "Notify"
  7007,  "Create Link"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7008,  "Delete"
  7009,  "Change permissions"
  7010,  "Take ownership"
  7011,  "Read Control"
  7012,  "Read"
  7013,  "Write"
  7014,  "Execute"
}

