#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Start"
  101,  "this system"
  102,  "set to start at boot"
  103,  "set to start at system start"
  104,  "set to start automatically"
  105,  "set to start on demand"
  106,  "set to never start"
  107,  "undefined"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  201,  "\n\nDISKPERF [-Y[D|V] | -N[D|V]] [\\\\computername]\n"
  202,  "\n  -Y  Sets the system to start all disk performance counters"
  203,  "\n      when the system is restarted.\n"
  204,  "\n  -YD Enables the disk performance counters for physical drives."
  205,  "\n      when the system is restarted."
  206,  "\n  -YV Enables the disk performance counters for logical drives"
  207,  "\n      or storage volumes when the system is restarted."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "\n  -N  Sets the system to disable all disk performance counters"
  209,  "\n      when the system is restarted.\n"
  210,  "\n  -ND Disables the disk performance counters for physical drives."
  211,  "\n  -NV Disables the disk performance counters for logical drives."
  212,  "\n  \\\\computername        Is the name of the computer you want to"
  213,  "\n                        see or set disk performance counter use."
  214,  "\n                        The computer must be a Windows 2000 system."
  215,  "\n  NOTE: Disk performance counters are permanently enabled on"
  216,  "\n        systems beyond Windows 2000."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  301,  "\n\nDISKPERF====================="
  302,  "\n\nStarts and stops system disk performance counters."
  303,  "\n\nUsed without the command switches, DISKPERF reports what disk"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  304,  "\nperformance counters are enabled on the specified Windows 2000 computer."
  305,  "\n\nDisk performance counters can be specified to report the"
  306,  "\nperformance of the individual physical drives, or the individual"
  307,  "\nlogical drives or storage volumes. Note that these two sets of"
  308,  "\nperformance counters are measured independently. The user"
  309,  "\nhas the option of enabling and disabling them independently"
  310,  "\nusing the command line switches."
  311,  "\nNOTE: This command can only be used to control remote"
  312,  "\nWindows 2000 systems. In newer systems, these performance counters"
  313,  "\nare automatically enabled."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  401,  "\n%sDisk Performance counters on %s are currently %s."
  402,  "\nUnable to read Diskperf Start value"
  403,  "\nUnable to read registry database"
  404,  "\nUnable to connect to %s"
  405,  "\nUnable to modify Diskperf initialization value"
  406,  "\n%sDisk Performance counters on %s are now %s."
  407,  "\nThis change will take effect after the system is restarted."
  408,  ": Status=0x%8.8x"
  409,  "%s"
  410,  "All "
  411,  "\nNote that Logical Disk counters of striped disk sets may not be correct."
  412,  "Physical "
  413,  "Logical "
  414,  "\nBoth Logical and Physical Disk Performance counters on %s\n\t are currently %s."
  415,  "\nBoth Logical and Physical Disk Performance counters on %s\n\t are now %s."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  416,  "\nNo changes are made."
  417,  "\nBoth Logical and Physical Disk Performance counters on %s\n\tare automatically enabled on demand."
  418,  "\nFor legacy applications using IOCTL_DISK_PERFORMANCE to retrieve raw counters,"
  419,  "\nyou can use -Y or -N to forcibly enable or disable. No restart is required."
  420,  "\nRaw counters are also enabled for IOCTL_DISK_PERFORMANCE."
}

