#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  0,  "Security..."
  1,  "View or set security information on the selected object."
  2,  "No access"
  3,  "This object only"
  4,  "This object and all descendant objects"
  5,  "All descendant objects"
  6,  "Descendant %s objects"
  7,  "Create %s objects"
  8,  "Delete %s objects"
  9,  "Read %s"
  10,  "Write %s"
  11,  "Read/write %s"
  12,  "Create/delete %s objects"
  14,  "Special Security"
  15,  "Windows can not edit the permissions on '%1' because they have been written in a nonstandard format by another application. To enable editing, you must use the application to restore the permissions to a standard format."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "Delete"
  17,  "Read permissions"
  18,  "Modify permissions"
  19,  "Modify owner"
  20,  "Create all child objects"
  21,  "Delete all child objects"
  22,  "List contents"
  23,  "All validated writes"
  24,  "Read all properties"
  25,  "Write all properties"
  26,  "Delete subtree"
  27,  "List object"
  28,  "All extended rights"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "Read"
  33,  "Write"
  34,  "List Contents"
  35,  "Full control"
  36,  "Read/write all properties"
  37,  "Create/delete all child objects"
}

1 MESSAGETABLE
{
  1,  "Domain administer server%0\r\n"
  2,  "Change password%0\r\n"
  3,  "Reset password%0\r\n"
  4,  "Send as%0\r\n"
  5,  "Receive as%0\r\n"
  6,  "Send to%0\r\n"
  7,  "domain password & lockout policies%0\r\n"
  8,  "general information%0\r\n"
  9,  "account restrictions%0\r\n"
  10,  "logon information%0\r\n"
  11,  "group membership%0\r\n"
  12,  "Add/remove self as member%0\r\n"
  13,  "Validated write to DNS host name%0\r\n"
  14,  "Validated write to service principal name%0\r\n"
  15,  "Unused%0\r\n"
  16,  "Unused%0\r\n"
  17,  "Unused%0\r\n"
  18,  "Unused%0\r\n"
  19,  "Unused%0\r\n"
  20,  "Unused%0\r\n"
  21,  "Open address list%0\r\n"
  22,  "phone and mail options%0\r\n"
  23,  "personal information%0\r\n"
  24,  "web information%0\r\n"
  25,  "Replicating Directory Changes%0\r\n"
  26,  "Replication synchronization%0\r\n"
  27,  "Manage replication topology%0\r\n"
  28,  "Change schema master%0\r\n"
  29,  "Change RID master%0\r\n"
  30,  "Unused%0\r\n"
  31,  "Do garbage collection%0\r\n"
  32,  "Recalculate hierarchy%0\r\n"
  33,  "Allocate RIDs%0\r\n"
  34,  "Change PDC%0\r\n"
  35,  "Add GUID%0\r\n"
  36,  "Change domain master%0\r\n"
  37,  "public information%0\r\n"
  38,  "Receive dead letter%0\r\n"
  39,  "Peek dead letter%0\r\n"
  40,  "Receive computer journal%0\r\n"
  41,  "Peek computer journal%0\r\n"
  42,  "Receive message%0\r\n"
  43,  "Peek message%0\r\n"
  44,  "Send message%0\r\n"
  45,  "Receive journal%0\r\n"
  46,  "Open connector queue%0\r\n"
  47,  "Apply group policy%0\r\n"
  48,  "remote access information%0\r\n"
  49,  "Add/remove replica in domain%0\r\n"
  50,  "Change infrastructure master%0\r\n"
  51,  "Update schema cache%0\r\n"
  52,  "Recalculate security inheritance%0\r\n"
  53,  "Check stale phantoms%0\r\n"
  54,  "Enroll%0\r\n"
  55,  "Generate resultant set of policy (planning)%0\r\n"
  56,  "Refresh group cache for logons%0\r\n"
  57,  "Enumerate entire SAM domain%0\r\n"
  58,  "Generate resultant set of policy (logging)%0\r\n"
  59,  "Other domain parameters (for use by SAM)%0\r\n"
  60,  "DNS host name attributes%0\r\n"
  61,  "Create inbound forest trust%0\r\n"
  62,  "Replicating Directory Changes All%0\r\n"
  63,  "Migrate SID history%0\r\n"
  64,  "Reanimate tombstones%0\r\n"
  65,  "Allowed to authenticate%0\r\n"
  66,  "Execute forest update script%0\r\n"
  67,  "Monitor active directory replication%0\r\n"
  68,  "Update password not required bit%0\r\n"
  69,  "Unexpire password%0\r\n"
  70,  "Enable per user reversibly encrypted password%0\r\n"
  71,  "Query self quota%0\r\n"
  72,  "private information%0\r\n"
  73,  "Read only replication secret synchronization%0\r\n"
  74,  "MS-TS-GatewayAccess%0\r\n"
  75,  "Terminal Server license server%0\r\n"
  76,  "Reload SSL/TLS certificate%0\r\n"
  77,  "Replicating Directory Changes In Filtered Set%0\r\n"
}
