#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  111,  "Applied"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  112,  "Failed"
  113,  "Skipped"
  114,  "Notified"
  116,  "Fixed"
  117,  "Not fixed"
  118,  "Detected"
  119,  "Checked"
  120,  "A problem is preventing the troubleshooter from starting."
  121,  "This troubleshooter doesn't apply to this computer."
  122,  "Validating the integrity of the troubleshooter failed."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  130,  "Name"
  131,  "Publisher"
  135,  "All Files (*.*)"
  137,  "Problem not fixed"
  141,  "Default troubleshooting icon"
  142,  "Custom troubleshooting icon"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  151,  "..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  250,  "Microsoft Support Diagnostic Tool"
  251,  "Select a computer."
  252,  "Select a file."
  253,  "Select a folder."
  254,  "%s Details"
  255,  "Troubleshooting Wizard"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  277,  "Retry"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  300,  "Troubleshoot and help prevent computer problems"
  301,  "Please accept the license agreement"
  302,  "Enter the passkey provided by your support professional."
  303,  "%s has received your information."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  304,  "Review the troubleshooting files that will be sent to %s"
  305,  "Troubleshooting data is ready to be sent to %s.  How would you like to proceed?"
  306,  "An error occurred"
  307,  "Troubleshooting report"
  310,  "Troubleshooting couldn't identify the problem"
  311,  "Troubleshooting results"
  312,  "Select the repairs you want to apply"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  320,  "Troubleshooting has completed"
  321,  "Troubleshooting has completed"
  323,  "The remaining repairs require administrator permissions"
  324,  "Some repairs require administrator permissions"
  325,  "Diagnosis is complete"
  327,  "An error occurred while sending your information to %s.  How would you like to proceed?"
  328,  "The following troubleshooters will be used"
  329,  "Troubleshooting has completed"
  330,  "Do you want to try downloading the troubleshooter again?"
  331,  "Issues might be found troubleshooting with administrator permissions"
  332,  "Troubleshooting has successfully completed"
  333,  "Windows Online Troubleshooting Service is disabled"
  334,  "Windows Online Troubleshooting Service is not accessible"
  335,  "The file transfer was successful."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  336,  "You may be contacted by %s with steps to resolve your issue."
  337,  "Return to your web browser to continue with this support incident."
  338,  "Unable to download diagnostics. Contact your support professional."
  339,  "Please accept the license agreement"
  340,  "Close"
  341,  "Save"
  350,  "Resolving problems"
  351,  "Validating key"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  352,  "Downloading troubleshooter"
  353,  "Uploading results"
  354,  "Detecting problems"
  355,  "Verifying fix"
  356,  "Generating report"
  357,  "Detecting problems"
  358,  "Detecting additional problems"
  360,  "Non-local Package"
  361,  "Elevated"
  362,  "Restricted"
  363,  "Standard"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  370,  "Overwrite existing file?"
  371,  "The specified file: '%s' already exists. Do you want to replace this file with the newer version?"
  380,  "Support - %s"
  381,  "Support - Multiple troubleshooters"
  382,  "This is a troubleshooter supplied by the support provider."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  390,  "Troubleshooting has been disabled by Group Policy."
  395,  "Begin this action"
  396,  "Problems checked"
  397,  "Problems found"
  398,  "Read the %s support privacy statement online"
  399,  "Requires administrator permissions"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "An error occurred while troubleshooting:"
  401,  "An error occurred while loading the troubleshooter:"
  402,  "An error occurred while loading the troubleshooter:"
  403,  "An error occurred while downloading the troubleshooter:"
  404,  "An error occurred while contacting the support provider:"
  405,  "An error occurred while saving the troubleshooting results:"
  406,  "An error occurred while troubleshooting:"
  407,  "An error occurred while troubleshooting:"
  408,  "An error occurred while troubleshooting:"
  409,  "An error occurred while troubleshooting:"
  410,  "An error occurred while contacting the support provider:"
  411,  "An error occurred while troubleshooting:"
  412,  "An error occurred while troubleshooting:"
  413,  "An error occurred while troubleshooting:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  420,  "System"
  421,  "Configuration file"
  422,  "Command line"
  423,  "Download"
  424,  "Upload"
  425,  "Aggregating results"
  426,  "Engine"
  427,  "Temporary files"
  428,  "Answer file"
  429,  "Catalog"
  430,  "Support provider"
  431,  "Control Panel"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  432,  "Page load"
  433,  "Reloading troubleshooter"
  440,  "An unexpected error has occurred. The troubleshooting wizard can't continue."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  501,  "Read the privacy statement online"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  519,  "Accept this agreement"
  523,  "Upload the data now"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  528,  "Review the data being sent"
  531,  "You can change which files will be sent to your provider."
  532,  "You can change which files will be sent to your provider."
  543,  "View detailed information"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  581,  "Retry"
  585,  "Attempt to send the information again."
  586,  "Open"
  590,  "Add..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  595,  "Title"
  600,  "Description"
  601,  "Apply this fix"
  606,  "Skip this fix"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  609,  "Continue troubleshooting without applying this fix."
  610,  "Continue troubleshooting without applying this fix."
  611,  "The problem has been resolved"
  614,  "The files will not be sent."
  615,  "The files will not be sent."
  616,  "Browse"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  628,  "Advanced"
  634,  "Troubleshooting with administrator permissions might find more issues."
  637,  "Run as administrator"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  640,  "Apply repairs automatically"
  643,  "Package ID:"
  646,  "Unknown"
  649,  "Path:"
  652,  "Unknown"
  655,  "Error code:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  658,  "Unknown"
  661,  "Source:"
  664,  "Unknown"
  667,  "User:"
  670,  "Unknown"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  673,  "Context:"
  676,  "Unknown"
  679,  "View error details"
  682,  "Click save to store the results of the diagnostic to removable media such as a USB flash drive, and take it to the computer connected to the Internet.  Follow the instructions on that computer to send the results to the support provider."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  708,  "Publisher:"
  710,  "Read privacy statement online"
  713,  "View privacy statements and publisher information"
  717,  "Shield image"
  718,  "Support Provider:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  721,  "View troubleshooting history"
  722,  "Try again later"
  723,  "You can find the results in the Troubleshooting control panel history view."
  729,  "Verify your passkey and try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  768,  "The troubleshooter did not download properly.  Make sure that you are connected to the Internet before you try again."
  775,  "Change settings..."
  779,  "Get latest troubleshooting packs"
  780,  "Get latest troubleshooting packs"
  781,  "Enable Windows Online Troubleshooting Service and run the troubleshooter."
  782,  "Enable Windows Online Troubleshooting Service and run the troubleshooter."
  783,  "Do not run the troubleshooter"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  784,  "Do not run the troubleshooter"
  785,  "Windows Online Troubleshooting Service is not enabled.  Enable Windows Online Troubleshooting Service to get the most up-to-date troubleshooting packs."
  786,  "Windows Online Troubleshooting Service has been turned off by Group Policy."
  787,  "Windows Online Troubleshooting Service is enabled, but you are not connected to the Internet.  Connect to the Internet to get the most up-to-date troubleshooting packs."
  788,  "Troubleshoot Internet connectivity..."
  789,  "An error occurred while launching the program."
  795,  "Click next to continue."
  796,  "Detailed Report"
  797,  "Files to upload list"
  798,  "Select your choice"
  799,  "Enter your response"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  800,  "Expand Button"
  801,  "Expand"
  802,  "Collapse"
  803,  "click"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10010,  "Troubleshooting Pack"
  10012,  "Troubleshooting Pack Cabinet"
  10014,  "Troubleshooting Pack Configuration"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10300,  "Try troubleshooting as an administrator"
  10301,  "Continue with other remaining repairs"
  10302,  "Welcome to the Microsoft Support Diagnostic Tool"
  10303,  "Try these repairs as an administrator"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10304,  "Explore additional options"
  10305,  "Close the troubleshooter"
  10316,  "The troubleshooter made some changes to your system. Try attempting the task you were trying to do before."
  10317,  "You can try exploring other options that might be helpful."
  10318,  "Troubleshooting was unable to automatically fix all of the issues found. You can find more details below."
  10319,  "No changes or updates were necessary."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10336,  "Troubleshooting has completed"
  10337,  "The remaining repairs require administrator permissions"
  10339,  "The current language setting is not supported by the diagnostic. Contact your support professional for an updated diagnostic."
  10340,  "The diagnostic is no longer available. Contact your support professional for an updated diagnostic."
  10341,  "The passkey you entered is no longer valid. Contact your support professional."
  10350,  "Resolving issues"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10354,  "Detecting issues"
  10358,  "Detecting additional issues"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10396,  "Issues checked"
  10397,  "Issues found"
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Diagnosis-MSDE\r\n"
  2415919106,  "Microsoft-Windows-Diagnosis-MSDE/Debug\r\n"
  2952791016,  "Begin application initialization.\r\n"
  2952791017,  "End application initialization.\r\n"
  2952791018,  "Begin escalation.\r\n"
  2952791019,  "End escalation.\r\n"
}
