#pragma code_page(65001)
#include <resources.h>

1000 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Open", 259
    MENUITEM "&Remove Provider", 260, GRAYED
  }
}

1000 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 256, Static, 0x50020000, 0, 0, 300, 50, 0x0
}

1001 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 257, "SysLink", 0x50010002, 0, 0, 242, 0, 0x0
  CONTROL "&Open this network location when I click Finish.", 268, Button, 0x50010003, 0, 7, 242, 10, 0x0
}

1150 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 256, Static, 0x50020000, 0, 0, 300, 50, 0x0
  CONTROL "To continue, click Next.", 4294967295, Static, 0x50020000, 0, 130, 242, 8, 0x0
}

1151 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 257, "SysLink", 0x50010002, 9, 20, 282, 0, 0x0
  CONTROL "&Open this site when I click Finish.", 268, Button, 0x50010003, 9, 27, 282, 10, 0x0
}

1152 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 269, Static, 0x50000a00, 35, 36, 73, 68, 0x0
  CONTROL "File:", 257, Static, 0x50020000, 116, 50, 140, 9, 0x0
  CONTROL "", 260, "msctls_progress32", 0x50000000, 116, 66, 160, 8, 0x0
  CONTROL "Sending file:", 259, Static, 0x50020000, 116, 79, 140, 9, 0x0
}

1160 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x10000
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Downloading the list of printing companies", 256, Static, 0x50020001, 0, 58, 300, 9, 0x0
  CONTROL "", 258, "msctls_progress32", 0x50000008, 100, 74, 111, 7, 0x0
  CONTROL "This may take several minutes depending on the connection speed.", 257, Static, 0x50020001, 0, 87, 300, 9, 0x0
}

1170 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x10000
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "msaa label", 258, Static, 0x40020001 | NOT WS_VISIBLE, 0, 44, 300, 9, 0x0
  CONTROL "", 257, "SysListView32", 0x5001004c, 0, 35, 300, 94, 0x0
}

1171 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Order Prints can resize your pictures so that they transfer faster and are easier to view by the recipient.  These adjustments do not affect a picture's proportions.  Also, smaller pictures will not be adjusted.", 65535, Static, 0x50020000, 0, 0, 300, 24, 0x0
  CONTROL "Do you want to resize these pictures?", 65535, Static, 0x50020000, 0, 28, 300, 8, 0x0
  CONTROL "&Yes, make them all this size:", 256, Button, 0x50010003, 0, 45, 300, 10, 0x0
  CONTROL "&Small (fits in a 640 by 480 window)", 257, Button, 0x50030009, 15, 60, 238, 10, 0x0
  CONTROL "&Medium (fits in an 800 by 600 window)", 258, Button, 0x50000009, 15, 73, 195, 10, 0x0
  CONTROL "&Large (fits in a 1024 by 768 window)", 259, Button, 0x50000009, 15, 87, 238, 10, 0x0
}

1172 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x90c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Type the address of the website, FTP site, or network location that this shortcut will open.", 256, Static, 0x50020000, 0, 0, 300, 32, 0x0
  CONTROL "Internet or network &address:", 4294967295, Static, 0x50020000, 0, 32, 194, 8, 0x0
  CONTROL "", 257, "ComboBoxEx32", 0x50210042, 0, 42, 242, 200, 0x0
  CONTROL "B&rowse...", 258, Button, 0x50010000, 247, 42, 50, 14, 0x0
  CONTROL "<A>View examples</A>", 259, "Link Window", 0x50010000, 0, 62, 187, 8, 0x0
}

1173 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x90c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Most FTP servers allow users to log on anonymously with limited access to the server.  Do you want to log on anonymously?", 4294967295, Static, 0x50020000, 0, 0, 300, 24, 0x0
  CONTROL "Log on &anonymously", 256, Button, 0x50010003, 0, 26, 187, 8, 0x0
  CONTROL "&User name:", 257, Static, 0x50020000, 0, 45, 38, 8, 0x0
  CONTROL "", 258, Edit, 0x50810080, 46, 43, 142, 14, 0x0
  CONTROL "You will be prompted for your password when you connect to the FTP server.", 259, Static, 0x50020000, 0, 68, 300, 16, 0x0
  CONTROL "&User name:", 260, Static, 0x40020000 | NOT WS_VISIBLE, 0, 45, 45, 8, 0x0
  CONTROL "", 261, Edit, 0x50810080, 46, 43, 142, 14, 0x0
}

1174 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x46000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 258, ListBox, 0x40900303 | NOT WS_VISIBLE, 0, 0, 317, 125, 0x0
  CONTROL "", 259, Static, 0x50020000, 0, 131, 150, 10, 0x0
  CONTROL "Br&owse...", 260, Button, 0x50010000, 153, 129, 50, 14, 0x0
  CONTROL "&Select All", 256, Button, 0x50010000, 209, 129, 50, 14, 0x0
  CONTROL "&Clear All", 257, Button, 0x50010000, 265, 129, 50, 14, 0x0
}

1175 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x10000
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Contacting printing company", 258, Static, 0x40020001 | NOT WS_VISIBLE, 0, 44, 300, 9, 0x0
  CONTROL "", 256, "msctls_progress32", 0x40000008 | NOT WS_VISIBLE, 100, 60, 111, 6, 0x0
  CONTROL "This may take several minutes depending on the connection speed.", 259, Static, 0x40020001 | NOT WS_VISIBLE, 0, 73, 300, 9, 0x0
}

1176 DIALOGEX 0, 0, 306, 163
CAPTION ""
STYLE 0x90c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 256, Static, 0x50020000, 0, 0, 300, 40, 0x0
  CONTROL "&Type a name for this network location:", 4294967295, Static, 0x50020000, 0, 40, 194, 8, 0x0
  CONTROL "", 257, Edit, 0x50810080, 0, 50, 299, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1000,  "Downloading information from the Internet..."
  1002,  "Web Service Error"
  1003,  "An error has occurred connecting to the Internet or Web service."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1100,  "Verdana Bold"
  1101,  "12"
  1103,  "Examples:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1104,  "\\\\server\\share   (shared folder)\nhttp://webserver/share   (Web Share)\nftp://ftp.microsoft.com   (FTP site)"
  1105,  "The folder you entered does not appear to be valid.  Please choose another."
  1106,  "The name ""%1"" is already being used for a Network Location.\n\nDo you want to replace that Network Location?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2000,  "Add Network Location"
  2001,  "What do you want to name this location?"
  2010,  "Where do you want to create this network location?"
  2012,  "Select a service provider.  If you do not have a membership with the provider you select, the wizard will help you create an account.  To just create a shortcut, click ""Choose another network location."""
  2013,  "What is the address of this network location?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2016,  "&Select the network location you want to connect to:"
  2017,  "Choose a custom network location"
  2018,  "Specify the address of a website, network location, or FTP site."
  2020,  "Welcome to the Add Network Location Wizard"
  2021,  "This wizard helps you sign up for a service that offers online storage space.  You can use this space to store, organize, and share your documents and pictures using only a web browser and Internet connection.\n\nYou can also use this wizard to create a shortcut to a website, an FTP site, or other network location."
  2030,  "You have successfully created this network location:\n\n<a>%1</a>\n\nA shortcut for this location will appear in Computer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2040,  "Completing the Add Network Location Wizard"
  2041,  "Connects to shared folders, Web folders, and FTP sites."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2100,  "Order Prints"
  2101,  "Welcome to Order Prints"
  2102,  "Order Prints helps you order prints of your digital photographs via the Internet.\n\nYou choose a company to print your photographs, select print sizes and quantities, and provide billing and shipping information. The printing company will send the prints to your mailing address."
  2110,  "Sending pictures to the printing company"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2120,  "Order Prints is completed"
  2121,  "Your order has been completed."
  2122,  "The printing company received only part of your order.  You will soon receive an e-mail confirmation with details about your order.\n\nThe e-mail contains contact information so you can follow up on your order with the printing company."
  2123,  "Select a printing company"
  2124,  "&Send Pictures"
  2125,  "&Next"
  2126,  "Order Prints could not copy your pictures to the printing company because the process was canceled.\n\nThe printing company did not receive your order and your credit card will not be charged."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2128,  "Select the Pictures you want to Order Prints For"
  2130,  "%1!d! pictures selected of %2!d!"
  2131,  "Please wait while Order Prints downloads information about the printing companies."
  2132,  "\n\nClick the link below to see your pictures online:\n\n<a>%s</a>"
  2135,  "No printing companies found in your area"
  2136,  "Please try again later"
  2137,  "Downloading the list of printing companies"
  2138,  "This may take several minutes depending on the connection speed"
  2140,  "No network providers are available"
  2141,  "Windows cannot find any network providers at this time. Please try again later."
  2142,  "Downloading the list of network providers..."
  2143,  "This may take several minutes depending on the connection speed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2150,  "Please wait while Order Prints downloads information from the printing company."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2200,  "Web Publishing Wizard"
  2201,  "Welcome to the Web Publishing Wizard"
  2202,  "This wizard will help you publish your files over the Internet or a local network so that other people can view them in their Web browsers."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2210,  "Please wait while your files are copied..."
  2220,  "Completing Order Prints"
  2221,  "You have successfully published your files to this site:\n\n"
  2222,  "Order Prints encountered a problem while copying the files.  A number of things can cause this problem.  For example, the Web server might be down, or you might have lost your Internet connection.\n\nTo try again, click Back.  If the problem keeps occurring, close Order Prints and try again later."
  2223,  "You clicked Cancel, but Order Prints has not finished copying your files to the website.\n\nTo make sure all the files are copied to the website, click Back and try again.  Otherwise, click Finish or Cancel."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2224,  "<a>%s</a>"
  2225,  "\n\nA shortcut to this site has been placed in My Network Places."
  2226,  "\n\nA shortcut to this site has been placed in your Favorites menu."
  2227,  "\n\nA shortcut to this site has been placed in your Favorites menu and in My Network Places."
  2231,  "Select the Files you want to Publish to the Web"
  2233,  "%1!d! files selected of %2!d!"
  2235,  "No available services"
  2236,  "Order Prints could not find any service providers in your area, please try again later."
  2237,  "Create a name for this shortcut that will help you easily identify this network location:\n\n%1."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2300,  "Where do you want to publish these files?"
  2302,  "Select the network folder to which you want to publish your files:"
  2303,  "Do you want to adjust picture sizes before publishing?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2305,  "The %1!ls! folder does not exist.\n\nDo you want to create it?"
  2306,  "Path Not Found"
  2307,  "Windows is unable to publish to %1!ls!.  Please try another location."
  2308,  "Windows requires a share to publish to.  Please try another location."
  2309,  "File progress: %1!d!%% complete"
  2310,  "Sending file %1!d! of %2!d!"
  2311,  "Preparing to print your pictures online"
  2313,  "Windows cannot publish a folder to itself or one of its subfolders.  Please choose another location."
  2314,  "Specify the location of your website"
  2316,  "Specify a User Name and Password if Required"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2500,  "Order Prints"
  2501,  "Do you want to send pictures to the print company?"
  2502,  "Your selected pictures are about to be sent to the printing company. Picture files may contain personal information that was stored by the camera or by software on your computer. To see this information, open the Pictures and Videos Library, right-click a file, and choose Properties. Most file properties are listed on the Details page."
  2503,  "&Don't show this again"
  2504,  "Microsoft cares about your privacy. For more details <A HREF=""Link is in IDS_PRIVACY_LINKURL"">please read our privacy statement</A>"
  2505,  "http://go.microsoft.com/fwlink/?linkid=104288"
  2506,  "&Send"
  2507,  "Cancel"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2610,  "Your order has been canceled"
  2620,  "Contacting the printing company"
  2621,  "This may take several minutes"
  2622,  "Contacting the service provider"
  2623,  "This may take several minutes"
}

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Shell-Shwebsvc\r\n"
}
