#pragma code_page(65001)
#include <resources.h>

900 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "Popup"
  {
    MENUITEM "Cut", 901
    MENUITEM "Copy", 902
    MENUITEM "Paste", 903
    MENUITEM "Delete", 904
    MENUITEM "", 906
    MENUITEM "Select All        ", 905
    MENUITEM "", 906
    MENUITEM "&Blue", 981
    MENUITEM "&Green", 983
    MENUITEM "&Pink", 984
    MENUITEM "&Purple", 982
    MENUITEM "&White", 985
    MENUITEM "&Yellow", 980
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  501,  "Sticky Note"
  502,  "Sticky Notes"
  505,  "Take quick notes with Sticky Notes"
  506,  "Your storage is corrupt. Clicking on Ok will delete all your notes and start afresh. You will lose data. Otherwise press cancel and refer to Help for more details."
  507,  "Not able to launch Sticky Notes. Issue with accessing the file.(Quit)"
  508,  "Not able to delete notes. Please refer Help for more details.(Quit)"
  509,  "Not able to start afresh. Please refer Help for more details.(Quit)"
  510,  "Too many notes have been created. Please delete some notes to resume."
  511,  "Meta Data for some of the notes has been corrupt, Sticky Notes has restored them to defaults."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  512,  "Some of the notes could not be opened because the data has gone corrupt. Please click Ok if you want to delete all the corrupted notes and move ahead. Restart Sticky Notes and refer to Help if problem persists."
  513,  "The note could not be opened because the data has gone corrupt. Please click Ok if you want to delete all the corrupted notes and move ahead. Click Cancel to Exit the application and restart Sticky Notes. Please refer to Help if problem persists."
  514,  "Unexpected error has occurred.(Quit)"
  515,  "An error occurred while saving Sticky Notes, if you quit now you may lose some of your data. Press Ok to continue running, press Cancel to lose the data and Quit."
  516,  "Unable to delete the Note."
  517,  "Sticky Notes has failed to initialize (Quit). Please refer to Help if problem persists."
  518,  "Unable to show Help topic."
  519,  "%1/%2"
  524,  "Note %d"
  525,  "Backup"
  526,  "New Note"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  537,  "Are you sure you want to delete this note?"
  538,  "Delete Note"
  539,  "Don't display this message again"
  540,  "Error! Hyperlink reference not valid."
  541,  "%s\nCtrl+Click to follow link"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  544,  "Inked Note"
  545,  "Blank Note"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1610,  "New Note (Ctrl+N)"
  1611,  "Delete Note (Ctrl+D)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1622,  "New Note"
  1623,  "Delete Note"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1647,  "Note"
}

752 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_F1  , 850, VIRTKEY
  VK_N  , 851, VIRTKEY, NOINVERT, CONTROL
  VK_TAB  , 852, VIRTKEY, NOINVERT, CONTROL
  VK_TAB  , 853, VIRTKEY, NOINVERT, SHIFT
  VK_I  , 854, VIRTKEY, NOINVERT, CONTROL
  VK_I  , 854, VIRTKEY, NOINVERT, SHIFT, CONTROL
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177282,  "Error\r\n"
  1342177283,  "Warning\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-StickyNotes\r\n"
  2952790017,  "Opening Sticky Notes Storage\r\n"
  2952790018,  "Creating Sticky Notes Storage\r\n"
  2952790019,  "Opening Meta File Storage\r\n"
  2952790020,  "Creating Sticky Notes Metafile\r\n"
  2952790021,  "Opening Note\r\n"
  2952790022,  "Creating New Note\r\n"
  2952790023,  "Unable to free RPC String\r\n"
  2952790024,  "Unable to generate GUID\r\n"
  2952790025,  "Opening Stream\r\n"
  2952790026,  "Creating Stream\r\n"
  2952790027,  "Unable to create Ink Data Structure\r\n"
  2952790028,  "Ink Stream Not Found\r\n"
  2952790029,  "Error Opening Stream\r\n"
  2952790030,  "Error Creating Stream\r\n"
  2952790031,  "Error Deleting Note\r\n"
  2952790032,  "Error Copying Memory\r\n"
  2952790033,  "Error Acquring Write Lock\r\n"
  2952790034,  "Error Acquring Write Lock\r\n"
  2952790035,  "Error Renaming File\r\n"
  2952790036,  "Error Streaming Text From RichEdit\r\n"
  2952790037,  "Writing To Stream\r\n"
  2952790038,  "Reading From Stream\r\n"
  2952790039,  "Unable to Regiter Recovery Fucntion\r\n"
  2952790040,  "Unable to Load String from Resource\r\n"
  2952790041,  "Failed to Initialize\r\n"
  2952790042,  "Failed to Create Object\r\n"
  2952790043,  "Unable to Initialize Global Variables\r\n"
  2952790044,  "Unable Write text to NoteModel\r\n"
  2952790045,  "Unable Load text From NoteModel\r\n"
  2952790046,  "Unable to Load the Note\r\n"
  2952790047,  "Unable to Get Note Model\r\n"
  2952790048,  "Unable to Create Window\r\n"
  2952790049,  "Intializing current instance of the application\r\n"
  2952790050,  "Intializing globals variables\r\n"
  2952790051,  "An Instance of the application is already running\r\n"
  2952790052,  "Destroying global variables\r\n"
  2952790053,  "Exiting current Instance of the application\r\n"
  2952790054,  "Error Loading Note Model From Disk for Note\r\n"
  2952790055,  "Unable to create and load Note Model for Note\r\n"
  2952790056,  "Unable to retive storage for Note\r\n"
  2952790057,  "Unable to Delete The Note\r\n"
  2952790059,  "Error reading Meta Data\r\n"
  2952790060,  "Meta Data restored Successfully\r\n"
  2952790061,  "Failed to Restore Meta Data\r\n"
  2952790062,  "Failed to Write Meta Data to the File\r\n"
  2952790063,  "Unalbe to Save Note Model to Disk\r\n"
  2952790064,  "Unable to get Meta Data storage\r\n"
  2952790065,  "Failed to Create Directory for Sticky Notes Storage\r\n"
  2952790066,  "Error enabling/disabling RTS\r\n"
  2952790067,  "Error setting Ink Reference\r\n"
  2952790068,  "Ink Strokes Were Deleted\r\n"
  2952790069,  "Failed to load msftedit.dll\r\n"
  2952790070,  "Opening SNT File\r\n"
  2952790071,  "Successfully Opened Persistence\r\n"
  2952790072,  "Failed to open Persistence\r\n"
  2952790073,  "Creating URL Accessor\r\n"
  2952790074,  "BindStream successful\r\n"
  2952790075,  "BindStream failed\r\n"
  2952790076,  "Count of Notes = \r\n"
  2952790077,  "Get Value Failed\r\n"
  2952790078,  "OpenStream failed\r\n"
  2952790079,  "Open Title Stream failed\r\n"
  2952790080,  "Read Title Value Failed\r\n"
  2952790081,  "Get Path To User Appdata Folder failed\r\n"
  2952790082,  "AddHierarchicalScope failed\r\n"
  2952790083,  "AddRoot failed\r\n"
  2952790084,  "put_FollowDirectories failed\r\n"
  2952790085,  "put_IsHierarchical failed\r\n"
  2952790086,  "put_ProvidesNotifications failed\r\n"
  2952790087,  "put_RootURL failed\r\n"
  2952790088,  "CoSetProxyBlanket failed\r\n"
  2952790089,  "CreateSearchRoot failed\r\n"
  2952790090,  "New Note Start\r\n"
  2952790091,  "New Note Stop\r\n"
  2952790092,  "Delete Note Start\r\n"
  2952790093,  "Delete Note Stop\r\n"
  2952790094,  "Close Note Start\r\n"
  2952790095,  "Close Note Stop\r\n"
  2952790096,  "Peel Note Start\r\n"
  2952790097,  "Peel Note Stop\r\n"
  2952790098,  "Navigate Note Start\r\n"
  2952790099,  "Navigate Note Stop\r\n"
  2952790100,  "Bold Start\r\n"
  2952790101,  "Bold Stop\r\n"
  2952790102,  "Bullet Start\r\n"
  2952790103,  "Bullet Stop\r\n"
  2952790104,  "MinimizeAll Start\r\n"
  2952790105,  "MinimizeAll Stop\r\n"
  2952790106,  "RestoreAll Start\r\n"
  2952790107,  "RestoreAll Stop\r\n"
  2952790108,  "Failed to Register Search Root and Default Scope\r\n"
  2952790109,  "Failed to notify Desktop Search to reindex\r\n"
  2952790110,  "Notify Desktop Search to Reindex\r\n"
  2952790111,  "Register search root and default scope\r\n"
  2952790112,  "Delete search root and default scope\r\n"
  2952790113,  "Storage of the Sticky Notes is corrupted\r\n"
  2952790114,  "Failed to delete Sticky Notes storage\r\n"
  2952790115,  "Failed to create Sticky Notes storage\r\n"
  2952790116,  "Creating new Sticky Notes storage\r\n"
  2952790117,  "Deleting Sticky Notes storage\r\n"
  2952790118,  "Failer to register the Sticky Notes application for restart\r\n"
  2952790119,  "Creating Version File\r\n"
  2952790120,  "Opening Stream\r\n"
  2952790121,  "Cannot Create new notes, Maximum number of notes have already been created\r\n"
  2952790122,  "An Erorr occured while saved the NoteModel, Queueing it to save it after some time\r\n"
  2952790123,  "Failed to save NoteModel from the Save Queue\r\n"
  2952790124,  "Validating all the notes that are present with in the storage\r\n"
  2952790125,  "Deleting all the Corrupt Notes\r\n"
  2952790126,  "Error occured while reading from storage, prompting user for recovery\r\n"
  2952790127,  "Error Recovery cancelled by the user\r\n"
  2952790128,  "Unexpected Error has occured, Application is going to Quit\r\n"
  2952790129,  "Open Note Start\r\n"
  2952790130,  "Open Note Stop\r\n"
  2952790131,  "Version Stream is not Present in the Storage\r\n"
  2952790132,  "MetaData Stream is not Present in the Storage\r\n"
  2952790133,  "Version of the storage is not a valid One\r\n"
  2952790134,  "Error There are not notes present in the storage\r\n"
  2952790135,  "Application Meta Data is ocrrupt\r\n"
  2952790136,  "Meta Data of the Note is corrupt\r\n"
  2952790137,  "Unable to create parser\r\n"
  2952790138,  "Upgrade Failed\r\n"
  2952790139,  "Failed to create ICustomDestinationList interface object\r\n"
  2952790140,  "Failed Being List Transaction\r\n"
  2952790141,  "Failed to Create Destination List\r\n"
  2952790143,  "Sticky Note Destination List Task's added Successfully\r\n"
  2952790144,  "Failed to load resource string\r\n"
  2952790145,  "Unable to set restart key\r\n"
  2952790146,  "Unable to set restart key\r\n"
  2952790147,  "App Launch Start\r\n"
  2952790148,  "App Launch End\r\n"
  2952790149,  "App Exit Start\r\n"
  2952790150,  "App Exit Stop\r\n"
  2952790151,  "Unable to create preview shadow\r\n"
  2952790152,  "Unable to create 32 bit Bitmap\r\n"
  2952790153,  "Failed to set DWM thumbnail preview\r\n"
  2952790154,  "DWM get thumbnail image start\r\n"
  2952790155,  "DWM get thumbnail image stop\r\n"
  2952790156,  "Error setting Live Preview Bitmap\r\n"
  2952790157,  "Error Creating Live Preview Bitmap\r\n"
  2952790158,  "Failed to create thread\r\n"
  2952790159,  "Failed to create mutex\r\n"
}
