#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  70,  "User Account Control Settings"
  71,  "Always notify me when:"
  72,  "Programs try to install software or make changes to my computer"
  73,  "I make changes to Windows settings"
  74,  "Default - Notify me only when programs try to make changes to my computer"
  75,  "Don't notify me when I make changes to Windows settings"
  77,  "Notify me only when programs try to make changes to my computer (do not dim my desktop)"
  78,  "Don't notify me when I make changes to Windows settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  80,  "Never notify me when:"
  81,  "Programs try to install software or make changes to my computer"
  82,  "I make changes to Windows settings"
  83,  "Notification level:"
  84,  "<a href="""">Tell me more about User Account Control settings</a>"
  85,  "Tell me more about User Account Control settings"
  86,  "Recommended if you routinely install new software and visit unfamiliar websites."
  88,  "Recommended if you use familiar programs and visit familiar websites."
  90,  "Not recommended. Choose this only if it takes a long time to dim the desktop on your computer."
  92,  "Not recommended. Choose this only if you need to use programs that are not certified for Windows 7 because they do not support User Account Control."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Default - Always notify me when:"
  101,  "Programs try to install software or make changes to my computer"
  102,  "I make changes to Windows settings"
  103,  "Always notify me (and do not dim my desktop) when:"
  104,  "Programs try to install software or make changes to my computer"
  105,  "I make changes to Windows settings"
  106,  "Notify me only when programs try to make changes to my computer (do not dim my desktop)"
  107,  "Don't notify me when I make changes to Windows settings"
  109,  "Never notify me when:"
  110,  "Programs try to install software or make changes to my computer"
  111,  "I make changes to Windows settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  112,  "Recommended if you routinely install new software and visit unfamiliar websites."
  114,  "Not recommended. Choose this only if it takes a long time to dim the desktop on your computer."
  116,  "Not recommended. Choose this only if it takes a long time to dim the desktop on your computer."
  118,  "Not recommended. Choose this only if you need to use programs that are not certified for Windows 7 because they do not support User Account Control."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  540,  "Choose when to be notified about changes to your computer"
  541,  "User Account Control helps prevent potentially harmful programs from making changes to your computer."
  543,  "Always notify"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  547,  "Never notify"
  548,  "Information"
  549,  "You must be logged on as an administrator on this computer to select this setting."
  550,  "OK"
  551,  "Cancel"
}

