1 MUI "Data_2121.bin"


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1, 	"Accessibility"
2, 	"Network and Internet"
3, 	"Communications and Sync"
4, 	"Appearance and Display"
5, 	"Sound and Speech Recognition"
6, 	"Hardware"
7, 	"Date, Time, Language and Region"
8, 	"Programs"
9, 	"Security"
10, 	"Performance and Maintenance"
11, 	"User Accounts and Parental Controls"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
20, 	"Transfer Cable Devices"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
96, 	"Additional Options"
97, 	"Tablet PC Settings"
98, 	"EHome"
101, 	"Accessibility Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
201, 	"Internet Options"
202, 	"Networking Connections"
203, 	"Windows Firewall"
204, 	"Network Explorer"
205, 	"File Sharing"
206, 	"Offline Files"
207, 	"Terminal Services Options"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
301, 	"Sync"
302, 	"Windows Mail"
303, 	"Fax"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
401, 	"Screen Savers"
402, 	"Taskbar and Start Menu"
403, 	"Folder Options"
404, 	"Fonts"
405, 	"Display Settings"
406, 	"Personalized Settings"
407, 	"Windows Games Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
501, 	"Sound and Audio Devices Settings"
502, 	"Speech Recognition"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
601, 	"Printers and Faxes"
602, 	"Mouse"
603, 	"Keyboard"
604, 	"Phone and Modem"
605, 	"Game Controllers"
606, 	"Hardware and Devices"
607, 	"Scanner and Cameras"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
608, 	"Portable Media Devices"
609, 	"Color Management"
610, 	"Tablet"
611, 	"Media Center"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
701, 	"Regional Language Options"
702, 	"Date and Time Properties"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
801, 	"Movie Maker Settings"
802, 	"Media Player Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
901, 	"Security Options"
902, 	"Automatic Updates"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1001, 	"Power Options"
1002, 	"System Settings"
1003, 	"Administrative Tools"
1004, 	"Backup"
1005, 	"Scheduled Tasks"
1006, 	"Error Reporting"
1007, 	"Diagnostics"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1101, 	"User Accounts"
1102, 	"Parental Controls"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
9601, 	"Help Settings"
9602, 	"Windows Core Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
9701, 	"General Options"
9702, 	"Handwriting Recognition"
9703, 	"Accessories"
9704, 	"Input Panel"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
9801, 	"General Options"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11001, 	"Application Data"
11002, 	"Local Settings\\Application Data"
11003, 	"Cookies"
11004, 	"Contacts"
11005, 	"Desktop"
11006, 	"Downloads"
11007, 	"Favorites"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11008, 	"Local Settings\\History"
11009, 	"Local Settings\\Temporary Internet Files"
11010, 	"My Documents"
11011, 	"Start Menu\\Programs\\Administrative Tools"
11012, 	"My Documents\\My Pictures"
11013, 	"My Documents\\My Music"
11014, 	"My Documents\\My Videos"
11015, 	"NetHood"
11016, 	"PrintHood"
11017, 	"Recent"
11018, 	"SendTo"
11019, 	"Start Menu"
11020, 	"Start Menu\\Programs"
11021, 	"Start Menu\\Programs\\Startup"
11022, 	"Templates"
11023, 	"Application Data\\Microsoft\\Internet Explorer\\Quick Launch"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11024, 	"Documents"
11025, 	"Documents\\My Pictures"
11026, 	"Documents\\My Music"
11027, 	"Documents\\My Videos"
11028, 	"Documents\\My Music\\Sample Music"
11029, 	"Local Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
12000, 	"Windows Easy Transfer"
12001, 	"Transfer files and settings"
12002, 	"Migrates files and settings from one computer to another"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Migration Resources DLL"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "migres.dll"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "MigRes.DLL.MUI"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

