#pragma code_page(65001)
#include <resources.h>

101 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Extract...", 1
    MENUITEM "&Copy", 8
  }
}

106 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    POPUP "&View"
    {
      MENUITEM "Lar&ge Icons", 2
      MENUITEM "S&mall Icons", 3
      MENUITEM "&List", 4
      MENUITEM "&Details", 5
    }
    MENUITEM SEPARATOR
    POPUP "Arrange &Icons"
    {
      MENUITEM "&Auto Arrange", 6
    }
    MENUITEM "Lin&e up Icons", 7
  }
  POPUP ""
  {
    MENUITEM "Se&lect", 1
  }
}

107 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Copy\tCtrl+C", 10
    MENUITEM SEPARATOR
    MENUITEM "Select &All\tCtrl+A", 15
    MENUITEM "&Invert Selection", 16
  }
  POPUP ""
  {
    MENUITEM "Lar&ge Icons", 2
    MENUITEM "S&mall Icons", 3
    MENUITEM "&List", 4
    MENUITEM "&Details", 5
    MENUITEM SEPARATOR
    POPUP "Arrange &Icons"
    {
      MENUITEM "&Auto Arrange", 6
    }
    MENUITEM "Lin&e up Icons", 7
  }
}

108 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Select &All\tCtrl+A", 15
    MENUITEM "&Invert Selection", 16
  }
  POPUP ""
  {
    MENUITEM "Lar&ge Icons", 2
    MENUITEM "S&mall Icons", 3
    MENUITEM "&List", 4
    MENUITEM "&Details", 5
    MENUITEM SEPARATOR
    POPUP "Arrange &Icons"
    {
      MENUITEM "&Auto Arrange", 6
    }
    MENUITEM "Lin&e up Icons", 7
  }
}

104 DIALOGEX 0, 0, 186, 95
CAPTION ""
STYLE 0x40000040 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "", 1000, "SysListView32", 0x40010000 | NOT WS_VISIBLE, 11, 9, 158, 75, 0x0
  CONTROL "", 1001, ListBox, 0x40000102 | NOT WS_VISIBLE, 1, 1, 26, 21, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Name"
  2,  "Size"
  3,  "Type"
  4,  "Date"
  5,  "Path"
  12,  "Select the place where you want to extract the selected item(s).  Then click the Extract button."
  13,  "Select the folder containing the next cabinet file '%hs'."
  14,  "Are you sure you want to remove the Cabinet File Viewer from your computer?"
  15,  "Cabinet File Viewer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "Name"
  17,  "by %s"
  18,  "Select the folder containing the next cabinet file '%hs' from disk '%hs'."
  19,  "The Cabinet File Viewer requires the missing file CABINET.DLL."
  20,  "Cabinet File"
  21,  "Contains compressed files"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "Displays items by using large icons."
  33,  "Displays items by using small icons."
  34,  "Displays items in a list."
  35,  "Displays information about each item in the window."
  36,  "Copies the selected items to the Clipboard.  Use Paste to put them in the new location."
  37,  "Selects all items in the window."
  38,  "Reverses which items are selected and which are not."
  39,  "Sorts items in the window by %s."
  40,  "Arranges icons in a grid."
  41,  "Arranges the icons automatically."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  64,  "Large Icons"
  65,  "Small Icons"
  66,  "List"
  67,  "Details"
  68,  "Copy"
  69,  "Select a Destination"
  70,  "Extract"
  71,  "Cannot open the cabinet file."
  72,  "Extract..."
  73,  "Copy"
}

108 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_A  , 15, VIRTKEY, NOINVERT, CONTROL
  VK_C  , 10, VIRTKEY, NOINVERT, CONTROL
}

