1 MUI "Data_493.bin"


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
300, 	"Projection options"
301, 	"Select"
302, 	"Computer only"
303, 	"Duplicate"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
304, 	"Extend"
305, 	"Projector only"
306, 	"Disconnect Projector"
312, 	"Microsoft Windows"
313, 	"Do you want to keep these display settings?"
314, 	"Reverting to previous display settings in 1 second."
315, 	"Reverting to previous display settings in %d seconds."
316, 	"Keep changes"
317, 	"Revert"
318, 	"No projector was detected."
319, 	"Unable to connect to projector"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
320, 	"Connect to a Projector"
321, 	"Connect your computer to a projector by display cable."
}

1 MESSAGETABLE
{
268435505,  	"Response Time"
805306368,  	"Info"
805306369,  	"Start"
805306370,  	"Stop"
1342177284,  	"Information"
-1879048191,  	"Microsoft-Windows-DisplaySwitch"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Display Switch"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "DisplaySwitch"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "DisplaySwitch.exe.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

