#pragma code_page(65001)
#include <resources.h>

10103 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "You can use Bluetooth technology to transfer files wirelessly between this computer and a Bluetooth device, or between this computer and another Bluetooth enabled computer.", 4294967295, Static, 0x50020000, 1, 1, 300, 16, 0x0
  CONTROL "To continue, select if you would like to send or receive files.", 4294967295, Static, 0x50020000, 1, 30, 300, 8, 0x0
  CONTROL "&Send files\nMake sure the computer or device where you plan to send the files is turned on and ready to receive them.", 11003, Button, 0x5001000e, 15, 50, 287, 50, 0x0
  CONTROL "&Receive files\nThis will allow your computer to receive files sent from another Bluetooth enabled computer or device.", 11002, Button, 0x5001000e, 15, 100, 287, 50, 0x0
}

10104 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 101, 1003, Static, 0x50000803, 1, 30, 20, 20, 0x0
  CONTROL "Windows was unable to transfer some files", 11010, Static, 0x50000000, 5, 5, 196, 8, 0x0
  CONTROL "Not all files were successfully transferred.", 11011, Static, 0x50000000, 5, 5, 196, 8, 0x0
  CONTROL "", 11015, Static, 0x50020000, 5, 21, 287, 24, 0x0
  CONTROL "Sent to:", 11029, Static, 0x50020000, 5, 60, 72, 8, 0x0
  CONTROL "Received from:", 11013, Static, 0x50020000, 5, 60, 72, 8, 0x0
  CONTROL "", 11004, Edit, 0x50000880, 84, 60, 117, 12, 0x0
  CONTROL "Files sent:", 11016, Static, 0x50020000, 5, 70, 72, 8, 0x0
  CONTROL "Files received:", 11017, Static, 0x50020000, 5, 70, 72, 8, 0x0
  CONTROL "List1", 11036, "SysListView32", 0x50818005, 5, 80, 180, 80, 0x0
  CONTROL "To try again, click the Back arrow.", 11019, Static, 0x50020000, 5, 53, 189, 8, 0x0
}

10105 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 11030, Static, 0x40000000 | NOT WS_VISIBLE, 0, 0, 330, 140, 0x0
  CONTROL "Use authentication to ensure that you are sending the file to the correct device. The authentication also protects the file from being viewed by others while it is sent to the other device.", 11034, Static, 0x50020000, 15, 145, 287, 24, 0x0
  CONTROL "&Use authentication", 11035, Button, 0x50010003, 40, 173, 100, 10, 0x0
}

10106 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "To choose files, click Browse.", 4294967295, Static, 0x50020000, 15, 0, 287, 8, 0x0
  CONTROL "File names:", 4294967295, Static, 0x50020000, 40, 16, 43, 8, 0x0
  CONTROL "", 11006, Edit, 0x50800880, 90, 14, 160, 14, 0x0
  CONTROL "B&rowse...", 11007, Button, 0x50010000, 252, 14, 50, 14, 0x0
}

10107 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Receiving from:", 11024, Static, 0x50020000, 15, 15, 59, 8, 0x0
  CONTROL "Sending to:", 11023, Static, 0x50020000, 15, 15, 59, 8, 0x0
  CONTROL "", 11004, Edit, 0x50000880, 81, 15, 221, 14, 0x0
  CONTROL "File name:", 4294967295, Static, 0x50020000, 15, 36, 52, 8, 0x0
  CONTROL "", 11006, Edit, 0x50000880, 81, 36, 221, 14, 0x0
  CONTROL "", 11018, Static, 0x50020000, 15, 118, 287, 8, 0x0
  CONTROL "Progress1", 11008, "msctls_progress32", 0x50800000, 15, 127, 287, 14, 0x0
}

10108 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00040
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 11037, Static, 0x50020000, 0, 0, 287, 48, 0x0
}

10111 DIALOGEX 0, 0, 350, 194
CAPTION "Bluetooth File Transfer"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Save the file to the location below, or click Browse to choose a different location.", 4294967295, Static, 0x50020000, 15, 0, 302, 16, 0x0
  CONTROL "File &name:", 4294967295, Static, 0x50020000, 15, 26, 59, 8, 0x0
  CONTROL "List2", 11025, "SysListView32", 0x50818005, 80, 24, 165, 80, 0x0
  CONTROL "Location:", 4294967295, Static, 0x50020000, 15, 112, 58, 8, 0x0
  CONTROL "", 11026, Edit, 0x50810880, 80, 110, 165, 14, 0x0
  CONTROL "B&rowse...", 11005, Button, 0x50010000, 252, 110, 50, 14, 0x0
  CONTROL 144, 1082, Static, 0x50000803, 15, 136, 20, 20, 0x0
  CONTROL "", 11018, Static, 0x50020000, 40, 136, 260, 50, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2129,  "This file was received over a connection that was not passkey-enabled. It might have been sent by someone other than the intended sender.  In addition, the file may have been viewed by others while it was being transmitted."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2301,  "Segoe UI"
  2302,  "12"
  2303,  "Bluetooth File Transfer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2304,  "Save the received file"
  2305,  "Transfers files between devices or computers using Bluetooth wireless technology."
  2311,  "Do you want to send or receive a files?"
  2312,  "Select where to send your files"
  2313,  "Select the files to send"
  2314,  "The file is being sent"
  2315,  "The file is being received"
  2316,  "Waiting for a connection"
  2317,  "You should see a file transfer begin as soon as someone starts transmitting files to your computer from their Bluetooth enabled computer or device.\n\nYou may see a message telling you a Bluetooth device is trying to connect to your computer. You must accept the connection in order for the transfer to occur."
  2318,  "Select the files you want to send"
  2319,  "A conflict was found on the receiving device or computer. For more information, contact the manufacturer of your device. (OBEX code 0x49)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2320,  "Connecting..."
  2321,  "Sending..."
  2322,  "Closing..."
  2323,  "Opening file..."
  2325,  "Receiving..."
  2326,  "The file could not be sent because the connection could not be established. Check to make sure the Bluetooth radio is plugged in."
  2327,  "The OBEX service on the destination computer or device is not available or ready for the transfer. Please try again. If you still cannot complete the transfer, read the manufacturer's documentation that came with the device."
  2328,  "Authenticating..."
  2329,  "The transfer was cancelled by the Bluetooth device or Bluetooth enabled computer."
  2330,  "File exists"
  2331,  "The file already exists.\n\nDo you want to overwrite the existing file?"
  2332,  "Make sure your Bluetooth wireless connection is working properly and your computer is within range of the Bluetooth device or Bluetooth enabled computer you are trying to transfer files with."
  2333,  "Make sure your Bluetooth wireless connection is working properly and your computer is within wireless range of the Bluetooth device or Bluetooth enabled computer you are trying to transfer files with."
  2334,  "Browse"
  2335,  "All files"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2336,  "The transfer was cancelled by the other device or computer."
  2337,  "The file could not be saved. Try saving the file with a different name."
  2338,  "Access denied"
  2339,  "Invalid file name"
  2340,  "A file name cannot contain any of the following characters:\n\t \\ / :  * ? "" < > | "
  2341,  "Error"
  2342,  "unknown error"
  2343,  "Bluetooth device"
  2344,  "The filename is too long. Try saving the file with a shorter name."
  2345,  "This Bluetooth device or computer cannot process files of this type."
  2346,  "There is no space available on the device or computer you are transferring to. Free some space on the device or computer, and then try again."
  2347,  "Bluetooth File Transfer cannot transfer folders. To transfer the contents of a folder, open the folder and select the files that you want to send."
  2348,  "The file transfer failed because the receiving device or computer did not respond to the connection request."
  2349,  "Too many files selected.\n\nPlease select fewer files."
  2351,  "Segoe UI"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2352,  "12"
  2365,  "Bluetooth file transfer not completed"
  2366,  "File successfully transferred"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11001,  "Transfer files using Bluetooth"
}

