#pragma code_page(65001)
#include <resources.h>

300 DIALOGEX 0, 0, 278, 245
CAPTION "Safely Remove Hardware"
STYLE 0x80c802c4
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 100, 500, Static, 0x50000003, 7, 10, 20, 20, 0x0
  CONTROL "Select the device you want to unplug or eject, and then click Stop. When Windows notifies you that it is safe to do so unplug the device from your computer.", 501, Static, 0x50020000, 36, 12, 234, 24, 0x0
  CONTROL "&Hardware devices:", 304, Static, 0x50020000, 7, 42, 248, 8, 0x0
  CONTROL "", 301, "SysTreeView32", 0x50830033, 7, 52, 264, 102, 0x0
  CONTROL "", 309, Static, 0x50020000, 7, 156, 264, 16, 0x0
  CONTROL "&Properties", 311, Button, 0x50010000, 158, 178, 55, 14, 0x0
  CONTROL "&Stop", 305, Button, 0x50010000, 216, 178, 55, 14, 0x0
  CONTROL "", 502, Static, 0x50001001, 7, 200, 264, 1, 0x0
  CONTROL "&Close", 8, Button, 0x50010000, 216, 224, 55, 14, 0x0
  CONTROL "&Display device components", 307, Button, 0x50010003, 7, 208, 110, 12, 0x0
}

320 DIALOGEX 32, 10, 256, 148
CAPTION "Stop a Hardware device"
STYLE 0x80c802c4
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Confirm devices to be stopped, Choose OK to continue.", 500, Static, 0x50020000, 7, 8, 241, 14, 0x0
  CONTROL "Windows will attempt to stop the following devices. After the devices are stopped they may be removed safely.", 501, Static, 0x50020000, 7, 22, 240, 18, 0x0
  CONTROL "OK", 1, Button, 0x50030000, 144, 127, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 198, 127, 50, 14, 0x0
  CONTROL "", 321, "SysListView32", 0x5083c84d, 8, 45, 240, 78, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1000,  "Hot Pluggable Devices"
  1001,  "Hot Pluggable Devices Control"
  1003,  "Unknown Device"
  1004,  "This device is working properly."
  1005,  "Device status is unknown."
  1006,  "at %s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1009,  "on %s"
  1011,  "Location %1!u!"
  1012,  "at "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1101,  "&Stop"
  1102,  "&Properties"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1110,  "Windows will stop the following devices. After the devices are stopped they may be removed safely."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1120,  "- (%1)"
  1121,  "%1 %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1200,  "Windows is unable to stop the device '%s'. Don’t remove this device while it is still in use. Close any programs using this device and then remove it."
  1201,  "The device '%s' cannot be stopped because it is using a driver that does not support Plug and Play. Since this device is still being used, do not remove it."
  1202,  "This device cannot be stopped because one of its components (%s) was unplugged when a program was still using it. Close that program and then attempt to stop this device again."
  1203,  "The application '%s' is preventing this device from being stopped. Close the application and then try to stop the device again."
  1204,  "The service '%s' is preventing this device from being stopped. Try stopping this service and then try to stop the device again."
  1205,  "Windows can't stop your '%s' device because a program is still using it. Close any programs that might be using the device, and then try again later."
  1206,  "This device is currently in use. Close any programs or windows that might be using the device, and then try again."
  1207,  "The driver '%s' is preventing this device from being stopped right now. Try stopping the device again later."
  1208,  "The '%s' device is not removable and cannot be ejected or unplugged."
  1209,  "This device can not eject at this time as there will be no remaining power sources (batteries) to keep the computer running after the %s has been ejected.  Please shut down the computer and then eject it."
  1210,  "The %s device is critical to the operation of the computer and cannot be disabled."
  1211,  "The service '%s' is does not support Plug and Play and cannot be stopped. Contact the manufacturer of the driver for an update."
  1212,  "You cannot eject the %s because you do not have sufficient security privileges to do so.  Please contact your administrator to obtain these privileges."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1299,  "An application is preventing this device from being stopped. Close all applications and then try to stop the device again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1500,  "You cannot eject your computer because one of the devices in the docking station, '%s', is still in use. Close any programs using this device and then eject your computer. If you can’t do this, shut down your computer and then remove it from the docking station."
  1501,  "You cannot eject your computer because one of the devices in the docking station, '%s', cannot be stopped because it is using a driver that does not support Plug and Play. Since this device is still being used, do not remove the computer."
  1502,  "You cannot eject your computer because one of the devices in the docking station, '%s', was unplugged when a program was still using it. Close that program and then attempt to eject the computer."
  1503,  "The application '%s' is preventing your computer from ejecting because it is using a device in the docking station. Close the application and then try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1504,  "The service '%s' is preventing your computer from ejecting. Try stopping this service and then try to eject the computer again."
  1505,  "You cannot eject your computer because one of the devices in the docking station, '%s', cannot be stopped because a program is still accessing it."
  1506,  "You cannot eject your computer because one of the devices in the docking station, '%s', cannot be stopped right now.  Try closing all applications and ejecting the computer again later."
  1507,  "You cannot eject your computer because the driver '%s' is preventing a device from being stopped right now.  Try closing all applications and ejecting the computer later."
  1508,  "You cannot eject your computer because one of the devices in the docking station, '%s', device is not removable and cannot be ejected or unplugged."
  1509,  "Your computer can not eject at this time as there will be no remaining power sources (batteries) to keep the computer running after the %s has been ejected.  Please shut down the computer and then eject it."
  1510,  "You cannot eject your computer because one of the devices in the docking station, %s, is critical to the operation of the computer and cannot be disabled."
  1511,  "You cannot eject your computer because the service '%s', which controls one of the devices in the docking station, does not support Plug and Play and cannot be stopped. Contact the manufacturer of the driver for an update."
  1512,  "You cannot eject your computer because you do not have sufficient security privileges to do so.  Please contact your administrator to obtain these privileges."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1598,  "Your computer failed to eject. Please close all applications and try again. You may need to enable hibernate support in the Power Options control panel."
  1599,  "An application is preventing your computer from ejecting because it is using a device in the docking station. Close all applications and then try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1600,  "%s"
  1601,  "%s"
  1602,  "%s"
  1603,  "%s"
  1604,  "The service '%s' is preventing the machine from entering standby.  Try stopping this service and try again."
  1605,  "%s"
  1606,  "The device driver for the '%s' device is preventing the machine from entering standby. Please close all applications and try again. If the problem persists, you may need to update this driver."
  1607,  "%s"
  1608,  "%s"
  1609,  "%s"
  1610,  "%s"
  1611,  "%s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1700,  "%s"
  1701,  "%s"
  1702,  "%s"
  1703,  "%s"
  1704,  "The service '%s' is preventing the machine from entering hibernation.  Try stopping this service and try again."
  1705,  "%s"
  1706,  "The device driver for the '%s' device is preventing the machine from entering hibernation. Please close all applications and try again. If the problem persists, you may need to update this driver."
  1707,  "%s"
  1708,  "%s"
  1709,  "%s"
  1710,  "%s"
  1711,  "%s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2254,  "Problem Ejecting %s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2257,  "Problem Stopping %s"
  2258,  "Problem Undocking From %s"
  2259,  "Windows has finished undocking the computer. You can now remove the computer from the %s."
  2260,  "The '%s' device can now be safely removed from the computer."
  2261,  "Safe To Remove Hardware"
  2262,  "Undock Complete"
  2264,  "System Standby Failed"
  2265,  "System Hibernation Failed"
  2266,  "This device can now be safely removed from the computer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2273,  "Hardware Id Missing"
  2274,  "Windows cannot identify the device plugged into the %s.\r\n\r\nFor assistance, contact the hardware manufacturer."
}

