#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4096,  "Code Page %d"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4352,  "Afrikaans"
  4353,  "Albanian"
  4354,  "Arabic"
  4355,  "Arabic (Saudi Arabia)"
  4356,  "Arabic (Iraq)"
  4357,  "Arabic (Egypt)"
  4358,  "Arabic (Libya)"
  4359,  "Arabic (Algeria)"
  4360,  "Arabic (Morocco)"
  4361,  "Arabic (Tunisia)"
  4362,  "Arabic (Oman)"
  4363,  "Arabic (Yemen)"
  4364,  "Arabic (Syria)"
  4365,  "Arabic (Jordan)"
  4366,  "Arabic (Lebanon)"
  4367,  "Arabic (Kuwait)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4368,  "Arabic (U.A.E.)"
  4369,  "Arabic (Bahrain)"
  4370,  "Arabic (Qatar)"
  4371,  "Basque"
  4372,  "Bulgarian"
  4373,  "Belarusian"
  4374,  "Catalan"
  4375,  "Chinese"
  4376,  "Chinese (Taiwan)"
  4377,  "Chinese (China)"
  4378,  "Chinese (Hong Kong SAR)"
  4379,  "Chinese (Singapore)"
  4380,  "Croatian"
  4381,  "Czech"
  4382,  "Danish"
  4383,  "Dutch (Netherlands)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4384,  "Dutch (Belgium)"
  4385,  "English"
  4386,  "English (United States)"
  4387,  "English (United Kingdom)"
  4388,  "English (Australia)"
  4389,  "English (Canada)"
  4390,  "English (New Zealand)"
  4391,  "English (Ireland)"
  4392,  "English (South Africa)"
  4393,  "English (Jamaica)"
  4394,  "English (Belize)"
  4395,  "English (Trinidad)"
  4396,  "Estonian"
  4397,  "Faeroese"
  4398,  "Persian"
  4399,  "Finnish"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4400,  "French (France)"
  4401,  "French (Belgium)"
  4402,  "French (Canada)"
  4403,  "French (Switzerland)"
  4404,  "French (Luxembourg)"
  4405,  "Gaelic"
  4406,  "German (Germany)"
  4407,  "German (Switzerland)"
  4408,  "German (Austria)"
  4409,  "German (Luxembourg)"
  4410,  "German (Liechtenstein)"
  4411,  "Greek"
  4412,  "Hebrew"
  4413,  "Hindi"
  4414,  "Hungarian"
  4415,  "Icelandic"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4416,  "Indonesian"
  4417,  "Italian (Italy)"
  4418,  "Italian (Switzerland)"
  4419,  "Japanese"
  4420,  "Korean"
  4421,  "Latvian"
  4422,  "Lithuanian"
  4423,  "Macedonian (FYROM)"
  4424,  "Malay (Malaysia)"
  4425,  "Maltese"
  4426,  "Norwegian (Bokmal)"
  4427,  "Norwegian (Nynorsk)"
  4428,  "Polish"
  4429,  "Portuguese (Brazil)"
  4430,  "Portuguese (Portugal)"
  4431,  "Rhaeto-Romanic"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4432,  "Romanian"
  4433,  "Romanian (Moldova)"
  4434,  "Russian"
  4435,  "Russian (Moldova)"
  4436,  "Serbian (Cyrillic)"
  4437,  "Serbian (Latin)"
  4438,  "Slovak"
  4439,  "Slovenian"
  4440,  "Sorbian"
  4441,  "Spanish (Traditional Sort)"
  4442,  "Spanish (Mexico)"
  4443,  "Spanish (International Sort)"
  4444,  "Spanish (Guatemala)"
  4445,  "Spanish (Costa Rica)"
  4446,  "Spanish (Panama)"
  4447,  "Spanish (Dominican Republic)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4448,  "Spanish (Venezuela)"
  4449,  "Spanish (Colombia)"
  4450,  "Spanish (Peru)"
  4451,  "Spanish (Argentina)"
  4452,  "Spanish (Ecuador)"
  4453,  "Spanish (Chile)"
  4454,  "Spanish (Uruguay)"
  4455,  "Spanish (Paraguay)"
  4456,  "Spanish (Bolivia)"
  4457,  "Spanish (El Salvador)"
  4458,  "Spanish (Honduras)"
  4459,  "Spanish (Nicaragua)"
  4460,  "Spanish (Puerto Rico)"
  4461,  "Sutu"
  4462,  "Swedish"
  4463,  "Swedish (Finland)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4464,  "Thai"
  4465,  "Tsonga"
  4466,  "Tswana"
  4467,  "Turkish"
  4468,  "Ukrainian"
  4469,  "Urdu"
  4470,  "Vietnamese"
  4471,  "Xhosa"
  4472,  "Yiddish"
  4473,  "Zulu"
  4474,  "Chinese (Macao SAR)"
  4475,  "English (Caribbean)"
  4476,  "English (Zimbabwe)"
  4477,  "English (Philippines)"
  4478,  "French (Monaco)"
  4479,  "Azeri (Latin)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4480,  "Uzbek (Cyrillic)"
  4481,  "Uzbek (Latin)"
  4482,  "Armenian"
  4483,  "Georgian"
  4484,  "Kazakh"
  4485,  "Swahili"
  4486,  "Tatar"
  4487,  "Bengali"
  4488,  "Punjabi"
  4489,  "Gujarati"
  4490,  "Oriya"
  4491,  "Tamil"
  4492,  "Telugu"
  4493,  "Kannada"
  4494,  "Malayalam"
  4495,  "Assamese"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4497,  "Marathi"
  4498,  "Malay (Brunei)"
  4499,  "Nepali (India)"
  4500,  "Sanskrit"
  4502,  "Konkani"
  4503,  "Azeri (Cyrillic)"
  4504,  "Kyrgyz"
  4505,  "Mongolian (Cyrillic)"
  4506,  "Galician"
  4507,  "Syriac"
  4508,  "Divehi"
  4509,  "Spanish (United States)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4608,  "Unicode"
  4609,  "Unicode (Big-Endian)"
  4610,  "Central European (Windows)"
  4611,  "Cyrillic (Windows)"
  4612,  "Western European (Windows)"
  4613,  "Greek (Windows)"
  4614,  "Turkish (Windows)"
  4615,  "Hebrew (Windows)"
  4616,  "Arabic (Windows)"
  4617,  "Baltic (Windows)"
  4618,  "Vietnamese (Windows)"
  4619,  "Western European (IA5)"
  4620,  "German (IA5)"
  4621,  "Swedish (IA5)"
  4622,  "Norwegian (IA5)"
  4623,  "Cyrillic (KOI8-R)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4624,  "Cyrillic (KOI8-U)"
  4625,  "Central European (ISO)"
  4626,  "Latin 3 (ISO)"
  4627,  "Baltic (ISO)"
  4628,  "Cyrillic (ISO)"
  4629,  "Arabic (ISO)"
  4630,  "Greek (ISO)"
  4631,  "Hebrew (ISO-Visual)"
  4632,  "User Defined"
  4633,  "Japanese (JIS)"
  4634,  "Japanese (JIS-Allow 1 byte Kana)"
  4635,  "Japanese (JIS-Allow 1 byte Kana - SO/SI)"
  4636,  "Korean (ISO)"
  4637,  "Japanese (Auto-Select)"
  4638,  "Korean (Auto-Select)"
  4639,  "Japanese (EUC)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4640,  "Korean (EUC)"
  4641,  "Chinese Simplified (HZ)"
  4642,  "Unicode (UTF-7)"
  4643,  "Unicode (UTF-8)"
  4644,  "Central European (DOS)"
  4645,  "Cyrillic (DOS)"
  4646,  "Thai (Windows)"
  4647,  "Japanese (Shift-JIS)"
  4648,  "Chinese Simplified (GB2312)"
  4649,  "Korean"
  4650,  "Chinese Traditional (Big5)"
  4651,  "Hebrew (ISO-Logical)"
  4652,  "Auto-Select"
  4653,  "Arabic (ASMO 708)"
  4654,  "Arabic (DOS)"
  4655,  "Hebrew (DOS)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4656,  "Western European (ISO)"
  4657,  "Chinese Simplified (Auto-Select)"
  4658,  "Chinese Traditional (Auto-Select)"
  4659,  "Cyrillic (Auto-Select)"
  4660,  "Greek (Auto-Select)"
  4661,  "Arabic (Auto-Select)"
  4662,  "Turkish (ISO)"
  4663,  "Latin 9 (ISO)"
  4664,  "US-ASCII"
  4665,  "Chinese Simplified (EUC)"
  4666,  "Korean (Johab)"
  4667,  "OEM United States"
  4668,  "Western European"
  4669,  "Europa"
  4670,  "Chinese Traditional (CNS)"
  4671,  "Chinese Traditional (Eten)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4672,  "Lithuanian (ISO)"
  4673,  "Western European (DOS)"
  4674,  "Greek (DOS)"
  4675,  "Greek, Modern (DOS)"
  4676,  "Baltic (DOS)"
  4677,  "Turkish (DOS)"
  4678,  "Icelandic (DOS)"
  4679,  "Western European (Mac)"
  4680,  "Japanese (Mac)"
  4681,  "Chinese Traditional (Mac)"
  4682,  "Korean (Mac)"
  4683,  "Arabic (Mac)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4700,  "Hebrew (Mac)"
  4701,  "Greek (Mac)"
  4702,  "Cyrillic (Mac)"
  4703,  "Chinese Simplified (Mac)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4704,  "Central European (Mac)"
  4705,  "Icelandic (Mac)"
  4706,  "Turkish (Mac)"
  4707,  "IBM EBCDIC (US-Canada)"
  4708,  "IBM EBCDIC (International)"
  4709,  "IBM EBCDIC (Multilingual Latin-2)"
  4710,  "IBM EBCDIC (Greek Modern)"
  4711,  "IBM EBCDIC (Turkish Latin-5)"
  4712,  "IBM EBCDIC (Germany)"
  4713,  "IBM EBCDIC (Denmark-Norway)"
  4714,  "IBM EBCDIC (Finland-Sweden)"
  4715,  "IBM EBCDIC (Italy)"
  4716,  "IBM EBCDIC (Spain)"
  4717,  "IBM EBCDIC (UK)"
  4718,  "IBM EBCDIC (Japanese katakana)"
  4719,  "IBM EBCDIC (France)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4720,  "IBM EBCDIC (Arabic)"
  4721,  "IBM EBCDIC (Greek)"
  4722,  "IBM EBCDIC (Hebrew)"
  4723,  "IBM EBCDIC (Korean Extended)"
  4724,  "IBM EBCDIC (Thai)"
  4725,  "IBM EBCDIC (Icelandic)"
  4726,  "IBM EBCDIC (Cyrillic Russian)"
  4727,  "IBM EBCDIC (Turkish)"
  4728,  "IBM EBCDIC (Cyrillic Serbian-Bulgarian)"
  4729,  "IBM EBCDIC (Japanese and Japanese Katakana)"
  4730,  "IBM EBCDIC (Japanese and US-Canada)"
  4731,  "IBM EBCDIC (Japanese and Japanese-Latin)"
  4732,  "IBM EBCDIC (Korean and Korean Extended)"
  4733,  "IBM EBCDIC (Simplified Chinese)"
  4734,  "IBM EBCDIC (Traditional Chinese)"
  4735,  "IBM EBCDIC (US-Canada-Euro)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4736,  "IBM EBCDIC (Germany-Euro)"
  4737,  "IBM EBCDIC (Denmark-Norway-Euro)"
  4738,  "IBM EBCDIC (Finland-Sweden-Euro)"
  4739,  "IBM EBCDIC (Italy-Euro)"
  4740,  "IBM EBCDIC (Spain-Euro)"
  4741,  "IBM EBCDIC (UK-Euro)"
  4742,  "IBM EBCDIC (France-Euro)"
  4743,  "IBM EBCDIC (International-Euro)"
  4744,  "IBM EBCDIC (Icelandic-Euro)"
  4745,  "ISCII Assamese"
  4746,  "ISCII Bengali"
  4747,  "ISCII Devanagari"
  4748,  "ISCII Gujarati"
  4749,  "ISCII Kannada"
  4750,  "ISCII Malayalam"
  4751,  "ISCII Oriya"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4752,  "ISCII Punjabi"
  4753,  "ISCII Telugu"
  4754,  "ISCII Tamil"
  4755,  "Thai (Mac)"
  4756,  "Romanian (Mac)"
  4757,  "Ukrainian (Mac)"
  4758,  "Croatian (Mac)"
  4759,  "Portuguese (DOS)"
  4760,  "French Canadian (DOS)"
  4761,  "Arabic (864)"
  4762,  "Nordic (DOS)"
  4763,  "Chinese Simplified (GB18030)"
  4764,  "OEM Cyrillic"
  4765,  "OEM Multilingual Latin I"
  4766,  "IBM Latin-1"
  4767,  "IBM Latin-1"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4768,  "TCA Taiwan"
  4769,  "IBM5550 Taiwan"
  4770,  "TeleText Taiwan"
  4771,  "Wang Taiwan"
  4772,  "T.61"
  4773,  "ISO-6937"
  4774,  "Chinese Simplified (GB2312-80)"
  4775,  "Korean Wansung"
  4776,  "Ext Alpha Lowercase"
  4777,  "Chinese Simplified (ISO-2022)"
  4778,  "Chinese Traditional (ISO-2022)"
  4779,  "Japanese (JIS 0208-1990 and 0212-1990)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4864,  "MS Gothic"
  4865,  "MS PGothic"
  4866,  "Simsun"
  4867,  "Simsun"
  4868,  "GulimChe"
  4869,  "Gulim"
  4870,  "GulimChe"
  4871,  "GulimChe"
  4872,  "MingLiu"
  4873,  "New MingLiu"
  4874,  "Courier New"
  4875,  "Arial"
  4876,  "Lucida Sans Unicode"
  4877,  "Miriam Fixed"
  4878,  "David"
  4879,  "Cordia New"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4880,  "Cordia New"
  4881,  "Simplified Arabic Fixed"
  4882,  "Simplified Arabic"
  4883,  "Mangal"
  4884,  "Mangal"
  4885,  "Latha"
  4886,  "Latha"
  4887,  "Times New Roman"
  4888,  "Tahoma"
  4889,  "Tahoma"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5120,  "Latin based"
  5121,  "Latin"
  5122,  "Greek"
  5123,  "Cyrillic"
  5124,  "Armenian"
  5125,  "Hebrew"
  5126,  "Arabic"
  5127,  "Devanagari"
  5128,  "Bengali"
  5129,  "Gurmukhi"
  5130,  "Gujarati"
  5131,  "Oriya"
  5132,  "Tamil"
  5133,  "Telugu"
  5134,  "Kannada"
  5135,  "Malayalam"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5136,  "Thai"
  5137,  "Lao"
  5138,  "Tibetan"
  5139,  "Georgian"
  5140,  "Korean"
  5141,  "Japanese"
  5142,  "Chinese Traditional"
  5143,  "Chinese Simplified"
  5144,  "Ethiopic"
  5145,  "Canadian Syllabic"
  5146,  "Cherokee"
  5147,  "Yi"
  5148,  "Braille"
  5149,  "Runic"
  5150,  "Ogham"
  5151,  "Sinhala"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5152,  "Syriac"
  5153,  "Myanmar"
  5154,  "Khmer"
  5155,  "Thaana"
  5156,  "Mongolian"
  5158,  "Default"
  5159,  "Merge"
  5160,  "Asciisym"
  5161,  "User Defined"
}

