#pragma code_page(65001)
#include <resources.h>

5001 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Read", 5002
    MENUITEM "Read/Write", 5004
    MENUITEM SEPARATOR
    MENUITEM "Remove", 5005
  }
}

5010 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Copy Link", 5011
  }
}

1000 DIALOGEX 0, 0, 227, 234
CAPTION ""
STYLE 0x80c82048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "Network File and Folder Sharing", 4294967295, Button, 0x50000007, 6, 7, 215, 83, 0x0
  CONTROL "", 1021, Static, 0x50000a0e, 13, 21, 21, 20, 0x0
  CONTROL "Documents", 1058, Static, 0x50020080, 43, 21, 171, 9, 0x0
  CONTROL "Shared", 4407, Static, 0x50020000, 43, 30, 171, 9, 0x0
  CONTROL "&Network Path:", 4294967295, Static, 0x50020000, 13, 46, 199, 8, 0x0
  CONTROL "", 4406, Edit, 0x50000880, 13, 56, 199, 12, 0x0
  CONTROL "&Share...", 1059, Button, 0x50010000, 13, 69, 49, 14, 0x0
  CONTROL "Advanced Sharing", 4294967295, Button, 0x50000007, 6, 96, 215, 58, 0x0
  CONTROL "Set custom permissions, create multiple shares, and set other advanced sharing options.", 4294967295, Static, 0x50020000, 13, 108, 201, 25, 0x0
  CONTROL "A&dvanced Sharing...", 1060, Button, 0x50010000, 13, 133, 95, 14, 0x0
  CONTROL "Password Protection", 1056, Button, 0x50000007, 6, 160, 215, 60, 0x0
  CONTROL "", 1061, "SysLink", 0x50010000, 13, 174, 201, 40, 0x0
}

1009 DIALOGEX 0, 0, 234, 204
CAPTION "Advanced Sharing"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Share this folder", 1020, Button, 0x50010003, 10, 10, 204, 8, 0x0
  CONTROL "Settings", 4294967295, Button, 0x50000007, 10, 25, 214, 151, 0x0
  CONTROL "S&hare name:", 1003, Static, 0x50020000, 22, 38, 41, 8, 0x0
  CONTROL "", 1001, Edit, 0x50810080, 22, 49, 192, 12, 0x0
  CONTROL "", 1015, ComboBox, 0x50210103, 22, 49, 192, 76, 0x0
  CONTROL "&Add", 1017, Button, 0x50010000, 22, 65, 42, 14, 0x0
  CONTROL "&Remove", 1012, Button, 0x50010000, 64, 65, 42, 14, 0x0
  CONTROL "&Limit the number of simultaneous users to:", 1016, Static, 0x50020000, 22, 84, 147, 18, 0x0
  CONTROL "", 1011, Edit, 0x50812080, 176, 84, 37, 12, 0x0
  CONTROL "", 1010, "msctls_updown32", 0x500000b6, 202, 84, 11, 12, 0x0
  CONTROL "C&omments:", 1004, Static, 0x50020000, 22, 105, 66, 8, 0x0
  CONTROL "", 1002, Edit, 0x50810044, 22, 113, 192, 36, 0x0
  CONTROL "&Permissions", 1008, Button, 0x50010000, 22, 153, 54, 14, 0x0
  CONTROL "&Caching", 1019, Button, 0x50010000, 79, 153, 54, 14, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 66, 183, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 120, 183, 50, 14, 0x0
  CONTROL "Apply", 1024, Button, 0x50010000, 174, 183, 50, 14, 0x0
}

1018 DIALOGEX 6, 18, 249, 83
CAPTION "New Share"
STYLE 0x90c800c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Share name:", 1003, Static, 0x50020000, 6, 8, 46, 8, 0x0
  CONTROL "", 1001, Edit, 0x50810080, 56, 6, 125, 12, 0x0
  CONTROL "&Description:", 1004, Static, 0x50020000, 6, 22, 46, 8, 0x0
  CONTROL "", 1002, Edit, 0x50810080, 56, 20, 125, 12, 0x0
  CONTROL "User limit", 1005, Button, 0x50020007, 6, 37, 175, 42, 0x0
  CONTROL "Ma&ximum allowed", 1006, Button, 0x50030009, 12, 49, 87, 10, 0x0
  CONTROL "Allo&w this number of users:", 1007, Button, 0x50000009, 12, 62, 110, 10, 0x0
  CONTROL "", 1011, Edit, 0x50812080, 125, 60, 43, 12, 0x0
  CONTROL "", 1010, "msctls_updown32", 0x500000b6, 81, 60, 6, 12, 0x0
  CONTROL "OK", 1, Button, 0x50030001, 189, 6, 54, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 189, 23, 54, 14, 0x0
  CONTROL "&Permissions", 1008, Button, 0x50010000, 189, 40, 54, 14, 0x0
}

3001 DIALOGEX 0, 0, 317, 143
CAPTION "Property Page"
STYLE 0x40c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "&Stop sharing\nChoose this to remove the permissions for all the people you have shared with.", 4050, Button, 0x4001000e | NOT WS_VISIBLE, 0, 0, 317, 38, 0x0
  CONTROL "&Change sharing permissions\nChoose this to add people, remove people, or change permissions.", 4051, Button, 0x4001000e | NOT WS_VISIBLE, 0, 43, 317, 38, 0x0
  CONTROL "To share these items, Windows requires your permission. If you click No, selected items won't be shared.", 4054, Static, 0x40020000 | NOT WS_VISIBLE, 0, 0, 317, 20, 0x0
  CONTROL "&Yes, share the items.", 4052, Button, 0x4001000e | NOT WS_VISIBLE, 0, 23, 317, 32, 0x0
  CONTROL "&No, don't share the items.", 4053, Button, 0x4001000e | NOT WS_VISIBLE, 0, 55, 317, 30, 0x0
  CONTROL "You've added a folder to a shared library. To also share the folder, you must provide permission. If you click No, the folder will remain added but not shared.", 4057, Static, 0x40020000 | NOT WS_VISIBLE, 0, 0, 317, 20, 0x0
  CONTROL "&Yes, share this folder.", 4055, Button, 0x4001000e | NOT WS_VISIBLE, 0, 33, 317, 32, 0x0
  CONTROL "&No, don't share this folder.", 4056, Button, 0x4001000e | NOT WS_VISIBLE, 0, 65, 317, 32, 0x0
  CONTROL "You've removed a folder from a shared library. To stop sharing the folder, you must provide permission. If you click No, the folder will be removed but remain shared.", 4060, Static, 0x40020000 | NOT WS_VISIBLE, 0, 0, 317, 20, 0x0
  CONTROL "&Yes, stop sharing this folder.", 4058, Button, 0x4001000e | NOT WS_VISIBLE, 0, 33, 317, 32, 0x0
  CONTROL "&No, don't stop sharing this folder.", 4059, Button, 0x4001000e | NOT WS_VISIBLE, 0, 65, 317, 32, 0x0
}

3002 DIALOGEX 0, 0, 317, 143
CAPTION "Property Page"
STYLE 0x40c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 4004, "SysLink", 0x50010000, 0, 0, 317, 27, 0x0
  CONTROL "", 4005, ComboBox, 0x50210142, 0, 27, 241, 12, 0x0
  CONTROL "&Add", 4015, Button, 0x50010001, 244, 27, 50, 12, 0x0
  CONTROL "List of people with access to the item", 4294967295, Static, 0x40020000 | NOT WS_VISIBLE, 0, 43, 1, 1, 0x0
  CONTROL "", 4006, "SysListView32", 0x5081000d, 0, 43, 294, 88, 0x0
  CONTROL "<a href=""Help"">I'm having trouble sharing</a>", 4016, "SysLink", 0x50010000, 0, 134, 317, 9, 0x0
}

3003 DIALOGEX 0, 0, 317, 143
CAPTION "Property Page"
STYLE 0x40c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 4070, Static, 0x50020000, 0, 0, 317, 21, 0x0
  CONTROL "", 4071, "SysListView32", 0x50800004, 0, 24, 294, 114, 0x0
}

3004 DIALOGEX 0, 0, 317, 143
CAPTION "Property Page"
STYLE 0x40c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "This may take a few minutes.", 4294967295, Static, 0x50020000, 0, 0, 294, 8, 0x0
  CONTROL "", 4021, "msctls_progress32", 0x50800000, 58, 20, 201, 8, 0x0
}

3005 DIALOGEX 0, 0, 317, 143
CAPTION "Property Page"
STYLE 0x40c00048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 4101, "SysLink", 0x50010000, 0, 0, 317, 27, 0x0
  CONTROL "", 4102, "SysListView32", 0x50810000, 0, 27, 317, 92, 0x0
  CONTROL 3035, 4103, Static, 0x50000043, 0, 122, 9, 9, 0x0
  CONTROL "", 4104, "SysLink", 0x50010000, 12, 122, 305, 9, 0x0
  CONTROL "", 4105, "SysLink", 0x50010000, 0, 134, 317, 9, 0x0
}

3006 DIALOGEX 10, 10, 412, 163
CAPTION "File Sharing"
STYLE 0x80c80048
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 4111, "SysListView32", 0x50800004, 8, 5, 396, 134, 0x0
  CONTROL "Close", 2, Button, 0x50010001, 354, 145, 50, 12, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Could not find message 0x%08lx in the application message file."
  101,  "Could not find message 0x%08lx in the network message file."
  102,  "Could not find network error messages."
  103,  "S&hare with"
  104,  "S&hared with"
  107,  "Share"
  108,  "Windows File Sharing"
  109,  "%1%2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  112,  "Read"
  113,  "Change"
  114,  "Full Control"
  117,  "Share Permissions"
  118,  "Making this folder private will prevent all of its subfolders from being shared on the network.\n\nAre you sure you want to make this folder private?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128,  "A share name can't contain any of the following characters:\n\t %1"
  136,  "This folder is shared with other people"
  137,  "%1\n\nFolder:  %2\nShare Name:  %3"
  138,  "%1\n\nFolder:  %2\nShare Names:  %3"
  139,  "If you delete this folder, it will no longer be shared."
  140,  "If you move this folder, it will no longer be shared."
  141,  "If you rename this folder, it will no longer be shared."
  142,  "Continue"
  143,  "%s, %s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  144,  "This folder has one or more of its subfolders shared with other people"
  145,  "If you delete this folder, other people won't be able to access its shared content."
  146,  "If you move this folder, other people won't be able to access its shared content."
  147,  "If you rename this folder, other people won't be able to access its shared content."
  148,  "%1\n\nFolder:  %2"
  149,  "%1\n\nFolder:  %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2129,  "Individual Items"
  2130,  "%1 Library"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3200,  "Sharing"
  3202,  "Shared"
  3203,  "Not Shared"
  3204,  "File Sharing"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3300,  "This action requires permission."
  3301,  "Do you want to share the selected items?"
  3302,  "Do you want to share this folder?"
  3303,  "Do you want to stop sharing this folder?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3320,  "Choose people on your network to share with"
  3321,  "Choose people to share with"
  3322,  "Type a name and then click Add, or click the arrow to find someone."
  3324,  "Name"
  3325,  "Permission Level"
  3326,  "Find people..."
  3327,  "Create a new user..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3328,  "Windows was unable to find %1"
  3329,  "Click Find to search for users to share with or OK to continue."
  3330,  "<Unknown Contact>"
  3331,  "S&hare"
  3332,  "Permission: %s"
  3333,  "You can share your files and folders with other people who use this computer. Select them below."
  3335,  "&Find"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3350,  "Do you want to give other people access to these folders?"
  3351,  "To share your files as Read/Write, Windows must give the folders listed below the same permissions.  If you continue, other people will be able to add additional files to them."
  3352,  "Items Shared: %1"
  3353,  "%1, %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3361,  "Sharing items..."
  3362,  "Stop sharing..."
  3363,  "%1 (%2)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3401,  "Your file is shared."
  3402,  "Your folder is shared."
  3403,  "Your drive is shared."
  3404,  "Your files are shared."
  3405,  "Your folders are shared."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3410,  "You can <A href=""EmailLinks"">e-mail</A> someone links to these shared items, or <A href=""CopyLinks"">copy</A> and paste the links into another program."
  3421,  "Your file could not be shared."
  3422,  "Your folder can't be shared."
  3423,  "Your drive can't be shared."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3424,  "Your files can't be shared."
  3425,  "Your folders can't be shared."
  3431,  "<A href=""ShowErrors"">More information</A>"
  3432,  "<A href=""ShowErrors"">More information</A>"
  3433,  "<A href=""ShowErrors"">More information</A>"
  3434,  "<A href=""ShowErrors"">More information</A>"
  3435,  "<A href=""ShowErrors"">More information</A>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3441,  "The selected file is no longer shared."
  3442,  "The selected folder is no longer shared."
  3443,  "The selected drive is no longer shared."
  3444,  "The selected files are no longer shared."
  3445,  "The selected folders are no longer shared."
  3451,  "Windows can't stop sharing the selected file."
  3452,  "Windows can't stop sharing the selected folder."
  3453,  "Windows can't stop sharing the selected drive."
  3454,  "Windows can't stop sharing the selected files."
  3455,  "Windows can't stop sharing the selected folders."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3461,  "<A href=""ShowErrors"">More information</A>"
  3462,  "<A href=""ShowErrors"">More information</A>"
  3463,  "<A href=""ShowErrors"">More information</A>"
  3464,  "<A href=""ShowErrors"">More information</A>"
  3465,  "<A href=""ShowErrors"">More information</A>"
  3471,  "<A href=""ShowErrors"">%d error(s) occurred when sharing this file.</A>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3472,  "<A href=""ShowErrors"">%d error(s) occurred when sharing this folder.</A>"
  3473,  "<A href=""ShowErrors"">%d error(s) occurred when sharing this drive.</A>"
  3474,  "<A href=""ShowErrors"">%d error(s) occurred when sharing these files.</A>"
  3475,  "<A href=""ShowErrors"">%d error(s) occurred when sharing these folders.</A>"
  3481,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing this file.</A>"
  3482,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing this folder.</A>"
  3483,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing this drive.</A>"
  3484,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing these files.</A>"
  3485,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing these folders.</A>"
  3486,  "<A href=""ShowFiles"">Show me all the files I'm sharing.</A>"
  3487,  "<A href=""ShowShares"">Show me all the network shares on this computer.</A>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3488,  "<A href=""ShowPowerCPL"">Shared items aren't accessible when your computer is asleep.</A>"
  3489,  "Windows added the location to your library, but couldn't share the location."
  3490,  "Windows added the locations to your library, but couldn't share one or more locations."
  3491,  "Windows removed the location from your library, but couldn't stop sharing the location."
  3492,  "Windows removed the locations from your library, but couldn't stop sharing one or more locations."
  3493,  "Windows can't change this folder's sharing settings because it's on another computer."
  3494,  "Windows can’t find this folder."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3599,  "&Done"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3609,  "An unknown error occurred."
  3610,  "You don't have permission to share or stop sharing this file."
  3611,  "This file is outside your user account folder."
  3612,  "This file is in a shared folder."
  3613,  "These items can't be shared."
  3614,  "Unable to exclude this item."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3620,  "You don't have permission to share or stop sharing this folder."
  3621,  "This folder is outside your user account folder."
  3622,  "This folder is in a shared folder."
  3630,  "You don't have permission to share or stop sharing this library."
  3631,  "You don't have permission to share this library."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3632,  "This library is in a shared folder."
  3633,  "Can't access library."
  3634,  "The library couldn't be published."
  3635,  "The library couldn't be unpublished."
  3636,  "Your items are shared, but other people might not see them in your library."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3740,  "Read"
  3741,  "Contribute"
  3742,  "Read/Write"
  3743,  "Owner"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3744,  "Mixed"
  3745,  "Custom"
  3746,  "Read allows people to open, but not change files"
  3747,  "Contribute allows people to create new files and change them, but only open other files"
  3748,  "Read/Write allows people to open, change and create files"
  3749,  "Owner allows people to open, change and create files"
  3750,  "This person has multiple permissions for the selected files"
  3751,  "The permissions don't match Read, Read/Write or Contribute"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3762,  "I've shared a folder with you"
  3764,  "I've shared files with you"
  3766,  "I've shared some of my files or folders with you. To open them, just click the link(s) below.\n\n"
  3767,  "I've shared some of my files or folders with you. To open them, just click the link(s) below.\n\n"
  3768,  "%1 (%2)\r\n"
  3769,  "Homegroup"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5101,  "Your system administrator has blocked you from running this program"
  5102,  "People without a user account and password for this computer can access folders shared with everyone.\n\nTo change this setting, use the <a>Network and Sharing Center</a>."
  5103,  "People must have a user account and password for this computer to access shared folders.\n\nTo change this setting, use the <a>Network and Sharing Center</a>."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5104,  "Nobody"
  5105,  "Homegroup (Read)"
  5106,  "Homegroup (Read/Write)"
  5107,  "Specific people..."
  5108,  "Makes the selected items private so other people can’t access them."
  5109,  "Allows homegroup members to open, but not change, the selected items."
  5110,  "Opens Windows HomeGroup in Control Panel."
  5111,  "Opens the Windows File Sharing wizard to choose specific people or permission levels."
  5112,  "Share the selected items with other people on the network."
  5113,  "Your library is now shared."
  5114,  "Your library couldn't be shared."
  5115,  "<A href=""ShowErrors"">More information</A>"
  5116,  "The selected library is no longer shared."
  5117,  "Windows encountered an error when trying to stop sharing this library."
  5118,  "<A href=""ShowErrors"">More information</A>"
  5119,  "<A href=""ShowErrors"">%d error(s) occurred when sharing this library.</A>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5120,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing this library.</A>"
  5121,  "Your libraries are now shared."
  5122,  "Your libraries couldn't be shared."
  5123,  "<A href=""ShowErrors"">More information</A>"
  5124,  "The selected libraries are no longer shared."
  5125,  "Windows couldn't stop sharing the selected libraries."
  5126,  "<A href=""ShowErrors"">More information</A>"
  5127,  "<A href=""ShowErrors"">%d error(s) occurred when sharing these libraries.</A>"
  5128,  "<A href=""ShowErrors"">%d error(s) occurred when trying to stop sharing these libraries.</A>"
  5129,  "Allows homegroup members to open or change the selected items."
  5130,  "Advanced sharing..."
  5131,  "Opens the Advanced Sharing dialog to share the selected item."
  5132,  "Advanced sharing settings..."
  5133,  "Change your Public folder sharing options."
  5134,  "The File Sharing wizard can't share the root of a drive."
  5135,  "The File Sharing wizard can't share system folders."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5136,  "The File Sharing wizard can't share system folders."
  5137,  "These items can't be shared."
}

1 MESSAGETABLE
{
  256,  "There are %1!d! user(s) connected to %2. If you stop sharing %2, they will be disconnected. Do you want to continue?\r\n"
  257,  "There are %1!d! file(s) open by %2!d! user(s) connected to %3. If you stop sharing %3, the files will close, which may cause these users to lose data. Do you want to continue?\r\n"
  258,  "You are sharing %1 as %2. Others may be using files in this folder. If you delete the folder, it will no longer be shared. Are you sure you want to delete it?\r\n"
  259,  "You are sharing %1 as %2. The folder will not be shared after you move or rename it. Are you sure you want to continue?\r\n"
  260,  "You are already sharing %1 using the name %2. Do you want to share %3 using the name %2 instead?\r\n"
  261,  "This folder is shared more than once. Are you sure you wish to remove all these shares?\r\n"
  262,  "If the share name is longer than 12 characters, this folder cannot be accessed by computers running Windows 98SE, Windows Millennium Edition, Windows NT 4.0, or earlier operating systems. To make the folder fully accessible, name it using 12 characters or fewer.\r\n\r\nDo you want to use the share name ""%1"" anyway?\r\n"
  276,  "This share is required for the machine to act properly as a domain controller. Removing it will cause a loss of functionality on all clients that this domain controller serves.  Are you sure you wish to stop sharing %1?\r\n"
  277,  "This share was created for administrative purposes only.  The share will reappear when the Server service is stopped and restarted or the computer is rebooted.  Are you sure you wish to stop sharing %1?\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2147483911,  "Unknown error 0x%1!08lx!.\r\n"
  2147483912,  "An error occurred while trying to share %1. %2\r\nThe shared resource was not created at this time.\r\n"
  2147483913,  "An error occurred while trying to modify share %1. %2\r\n"
  2147483914,  "An error occurred while trying to delete share %1. %2\r\n"
  2147483915,  "Error invoking the security editor.\r\n"
  2147483916,  "You must type a share name for this resource.\r\n"
  2147483917,  "The share name contains invalid characters.\r\n"
  2147483918,  "The share name %1 is not accessible from some MS-DOS workstations. Are you sure you want to use the share name?\r\n"
  2147483919,  "The share name %1 already exists for this resource. Please choose another share name.\r\n"
  2147483920,  "This has been shared for administrative purposes. The permissions cannot be set.\r\n"
  2147483921,  "The share names ADMIN$ and IPC$ are reserved and may not be used.\r\n"
  2147483922,  "Windows cannot enable recycling for this share.  Make sure you have write permissions on this folder.\r\n"
  2147483923,  "Windows cannot turn off recycling for this share.  Make sure you have delete permissions on this folder\r\n"
  2415919105,  "Microsoft-Windows-Sharing-Ntshrui\r\n"
}
