#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  204,  "Connecting\0"
  205,  "Disconnecting\0"
  206,  "Connected\0"
  207,  "Connected\0"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "Connected\0"
  209,  "Connected\0"
  210,  "This connection is not available because there is a problem with your modem or network adapter\0"
  211,  "Dormant: Server Unavailable\0"
  212,  "Dormant: Waiting to reconnect\0"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  300,  "Dial-up and VPN\0"
  301,  "This connection requires an active Internet connection\0"
  302,  "Your network administrator has blocked you from connecting to this network\0"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  310,  "Dial-up and VPN\0"
}

