#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2001,  "No connections are available"
  2002,  "Connections are available"
  2003,  "Connect or disconnect:"
  2004,  "Currently connected to:"
  2005,  "Not connected"
  2007,  "Unified Connection Manager"
  2008,  "Please select a network first before creating a connection profile."
  2009,  "Not connected - Connections are available"
  2010,  "Not connected - No connections are available"
  2012,  "Information sent over this network might be visible to others."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2100,  "Open Network and Sharing Center"
  2101,  "Connect or disconnect..."
  2102,  "Troubleshoot"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2200,  "No Signal"
  2201,  "Low"
  2202,  "Poor"
  2203,  "Fair"
  2204,  "Good"
  2205,  "Excellent"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2210,  "Signal Strength: %1!s!"
  2211,  "Name: %1!s!"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2300,  "Connect"
  2301,  "Disconnect"
  2302,  "Turn off wireless"
  2303,  "Diagnose"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2304,  "Status"
  2305,  "Properties"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2400,  "Connect To"
  2401,  "Shows available wireless networks and dial-up and VPN connections that you can connect to."
  2402,  "Open Without Diagnostics"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3001,  "&Connect"
  3002,  "&Disconnect"
  3003,  "Connect automatically"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3010,  "Access: "
  3011,  "Internet access"
  3012,  "No Internet access"
  3013,  "Internet and domain access"
  3014,  "Domain access only"
  3015,  "No network access"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3100,  "This is a new router that has not been configured."
  3101,  "&Configure"
  3102,  "Configure"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4001,  "View Available Network"
  4005,  "Media Manager List"
  4006,  "Network Adapter Header"
  4007,  "Available Network List"
  4010,  "Configure"
  4011,  "Connect"
  4012,  "Disconnect"
  4013,  "Connect automatically checkbox"
  4014,  "%1!s!\n%2!s!"
  4015,  "Refresh"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4019,  "Link Pane"
  4025,  "Connected Network List"
  4030,  "Connect to a Network"
  4031,  "Disconnect from a Network"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4032,  "Not Connectable"
  4033,  "Configure a Network"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4100,  "Connect to a Network"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4200,  "Network access might be limited. Open Network and Sharing Center for more information."
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-VAN\r\n"
  2415919106,  "Microsoft-Windows-VAN/Diagnostic\r\n"
}
