#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  121,  "Plugged in and charging"
  122,  "%2!u! hr %1!02u! min to full charge"
  123,  "%1!02u! min to full charge"
  124,  "%1!u!%% available (plugged in, charging)"
  125,  "%1!u!%% available (plugged in, not charging)"
  126,  "Fully charged (100%)"
  127,  "No battery is detected"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128,  "Plugged in and not charging"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  150,  "%3!u! hr %2!02u! min (%1!u!%%) remaining"
  151,  "%2!u! min (%1!u!%%) remaining"
  154,  "%1!u!%% remaining"
  155,  "Unknown remaining"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  170,  "%1!u!%% remaining\nConsider replacing your battery."
  171,  "Unknown remaining\nConsider replacing your battery."
  172,  "Plugged in and charging\nConsider replacing your battery."
  173,  "%1!u!%% available (plugged in, charging)\nConsider replacing your battery."
  174,  "%1!u!%% available (plugged in, not charging)\nConsider replacing your battery."
  175,  "Fully charged (100%)\nConsider replacing your battery."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "Reserve battery level"
  401,  "Percentage of battery capacity remaining that initiates reserve power mode."
}

