#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10,  "OK"
  11,  "Cancel"
  12,  "Close"
  13,  "&Apply"
  14,  "The entry must contain a number"
  15,  "The entry must contain a length"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "The entry cannot exceed |0 digits"
  17,  "The entry must be a positive number"
  18,  "The entry cannot contain any characters that are not numeric"
  19,  "The entry must be greater than or equal to |0"
  20,  "The entry must be less than or equal to |0"
  21,  "The entry must contain a time duration (MM:SS)"
  22,  "The entry must contain a time duration (HH:MM:SS)"
  23,  "The entry must be evenly divisible by |0"
  24,  "The entry must contain at least |0 characters"
  25,  "The entry may contain no more than |0 characters"
  26,  "The negative sign cannot appear anywhere but the start of the number"
  27,  "Enter a whole number from |0 to |1"
  28,  "Enter a number from |0 to |1"
  29,  "Enter a value from |0 to |1"
  30,  "|0|1"
  31,  "%"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  34,  "More"
  35,  "Expand gallery button"
  36,  "Gallery filter"
  37,  "Insert table"
  38,  "Row up"
  39,  "Row down"
  40,  "Scrolls the gallery up one row"
  41,  "Scrolls the gallery down one row"
  42,  "Undo 999 actions"
  43,  "Auto"
  44,  "`"
  45,  "Press"
  46,  "Execute"
  47,  "Click"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  48,  "Double click"
  49,  "Open"
  50,  "Close"
  51,  "Select"
  52,  "Expand"
  53,  "Collapse"
  54,  "Switch"
  55,  "Check"
  56,  "Uncheck"
  57,  "Toggle"
  58,  "Alt+"
  59,  "Alt+down arrow"
  60,  "Enter"
  61,  "Space"
  62,  "Open"
  63,  "Close"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  64,  "More"
  65,  "Less"
  66,  "Minimize"
  67,  "Maximize"
  68,  "Restore down"
  69,  "Close"
  70,  "Manage windows"
  71,  "Size box"
  72,  "Separator"
  73,  "Move box"
  74,  "Moves the window out of the way"
  75,  "Makes the window full screen"
  76,  "Puts a minimized or maximized window back to normal"
  77,  "Closes the window"
  78,  "Can be used to resize a window's width and height"
  79,  "Column left"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  80,  "Column right"
  81,  "Line up"
  82,  "Line down"
  83,  "Page left"
  84,  "Page right"
  85,  "Page up"
  86,  "Page down"
  87,  "Moves the horizontal position left one column"
  88,  "Moves the horizontal position right one column"
  89,  "Moves the vertical position up one line"
  90,  "Moves the vertical position down one line"
  91,  "Moves the horizontal position left a couple of columns"
  92,  "Moves the horizontal position right a couple of columns"
  93,  "Moves the vertical position up a couple of lines"
  94,  "Moves the vertical position down a couple of lines"
  95,  "Position"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  96,  "Vertical"
  97,  "Horizontal"
  98,  "Indicates the current vertical position, and can be dragged to change it directly"
  99,  "Indicates the current horizontal position, and can be dragged to change it directly"
  100,  "Used to change the vertical viewing area"
  101,  "Used to change the horizontal viewing area"
  102,  "Ribbon tabs"
  103,  "Customize Quick Access Toolbar"
  104,  "Lower Ribbon"
  105,  "Quick Access Toolbar"
  106,  "Drop button"
  107,  "Zoom slider"
  108,  "Zoom out"
  109,  "Zoom in"
  110,  "Categories"
  111,  "MiniBar"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  112,  "Ribbon"
  113,  "Quick Access Toolbar"
  114,  "Ribbon tabs list"
  115,  "Lower Ribbon"
  116,  "Ribbon tab"
  117,  "Group"
  118,  "Status bar"
  119,  "Segoe UI;p8"
  120,  "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789& -"
  121,  "WWWWWWWWWWWWWWWWWWWWWWWWWWW"
  122,  "88888888"
  123,  "Automatic"
  124,  "More colors..."
  125,  "No fill"
  126,  "No color"
  127,  "None"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128,  "No line"
  129,  "No shadow"
  130,  "No 3-D"
  131,  "More line colors..."
  132,  "More fill colors..."
  133,  "More underlines..."
  134,  "|0, |1"
  135,  "RGB(|0, |1, |2)"
  136,  "|0, Lighter |1%"
  137,  "|0, Darker |1%"
  138,  "&Automatic"
  139,  "&No line"
  140,  "&No outline"
  141,  "&No fill"
  142,  "&No color"
  143,  "Use default"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  144,  "Match shape fill"
  145,  "Recent colors"
  146,  "Theme colors"
  147,  "Custom colors"
  148,  "Tint/Shade colors"
  149,  "Menu commands"
  150,  "Toolbar commands"
  151,  "Add-Ins"
  152,  "Colors"
  153,  "Standard colors"
  154,  "Dark red"
  155,  "Red"
  156,  "Orange"
  157,  "Yellow"
  158,  "Light green"
  159,  "Green"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  160,  "Light blue"
  161,  "Blue"
  162,  "Dark blue"
  163,  "Purple"
  164,  "Background 1"
  165,  "Text 1"
  166,  "Background 2"
  167,  "Text 2"
  168,  "Accent 1"
  169,  "Accent 2"
  170,  "Accent 3"
  171,  "Accent 4"
  172,  "Accent 5"
  173,  "Accent 6"
  174,  "Hyperlink"
  175,  "Followed link"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  176,  "&More colors..."
  177,  "Black"
  178,  "Brown"
  179,  "Olive green"
  180,  "Dark green"
  181,  "Dark teal"
  182,  "Dark blue"
  183,  "Indigo"
  184,  "Gray-80%"
  185,  "Dark red"
  186,  "Orange"
  187,  "Dark yellow"
  188,  "Green"
  189,  "Teal"
  190,  "Blue"
  191,  "Blue-gray"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  192,  "Gray-50%"
  193,  "Red"
  194,  "Light orange"
  195,  "Lime"
  196,  "Sea green"
  197,  "Aqua"
  198,  "Light blue"
  199,  "Violet"
  200,  "Gray-40%"
  201,  "Pink"
  202,  "Gold"
  203,  "Yellow"
  204,  "Bright green"
  205,  "Turquoise"
  206,  "Sky blue"
  207,  "Plum"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "Gray-25%"
  209,  "Rose"
  210,  "Tan"
  211,  "Light yellow"
  212,  "Light green"
  213,  "Light turquoise"
  214,  "Pale blue"
  215,  "Lavender"
  216,  "White"
  217,  "Periwinkle"
  218,  "Ivory"
  219,  "Dark purple"
  220,  "Coral"
  221,  "Ocean blue"
  222,  "Ice blue"
  223,  "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  224,  "O"
  225,  "0123456789"
  226,  "Y"
  227,  "Z"
  228,  "MS Shell Dlg"
  229,  "200"
  230,  "245"
  231,  "120"
  232,  "200"
  233,  "200"
  234,  "200"
  235,  "200"
  236,  "200"
  237,  "200"
  238,  "200"
  239,  "200"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  240,  "200"
  241,  "200"
  242,  "200"
  243,  "200"
  244,  "Styles"
  246,  "Ribbon"
  247,  "This command is currently disabled."
  248,  "More controls"
  249,  "&Add to Quick Access Toolbar"
  250,  "&Add to Quick Access Toolbar"
  251,  "&Remove from Quick Access Toolbar"
  252,  "&Remove from Quick Access Toolbar"
  253,  "&Customize Quick Access Toolbar..."
  254,  "Customize Quick Access Toolbar..."
  255,  "&Toggle Quick Access Toolbar (full-width or small)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  256,  "&Toggle Quick Access Toolbar (full-width or small)"
  257,  "Quick Access Toolbar dropdown item"
  258,  "Quick Access Toolbar dropdown item"
  259,  "Quick Access Toolbar widget `more controls"
  260,  "Quick Access Toolbar widget `more controls"
  261,  "Customize Quick Access Toolbar"
  262,  "Customize Quick Access Toolbar"
  263,  "&More commands..."
  264,  "Customize Quick Access Toolbar"
  265,  "Customize Quick Access Toolbar"
  266,  "Customize Quick Access Toolbar"
  267,  "Mi&nimize the Ribbon"
  268,  "Mi&nimize the Ribbon"
  269,  "&Show Quick Access Toolbar above the Ribbon"
  270,  "&Show Quick Access Toolbar below the Ribbon"
  271,  "&Show above the Ribbon"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  272,  "&Show below the Ribbon"
  273,  "Quic&k Access Toolbar:"
  274,  "&Add gallery to Quick Access Toolbar"
  275,  "Add to Quick Access Toolbar"
  276,  "Remove from Quick Access Toolbar"
  277,  "The selected command is already on the Quick Access Toolbar."
  278,  "&Add menu to Quick Access Toolbar"
  279,  "&Add group to Quick Access Toolbar"
  280,  "Application menu"
  281,  "`"
  282,  "Monochrome pattern"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "Application menu"
  401,  "F"
  402,  "Theme colors"
  403,  "Standard colors"
  404,  "Recent colors"
  405,  "&Automatic"
  406,  "&More colors..."
  407,  "&No color"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  500,  "Aqua"
  501,  "Aqua, darker 25%"
  502,  "Aqua, darker 50%"
  503,  "Aqua, lighter 40%"
  504,  "Aqua, lighter 60%"
  505,  "Aqua, lighter 80%"
  506,  "Black"
  507,  "Black, lighter 15%"
  508,  "Black, lighter 25%"
  509,  "Black, lighter 35%"
  510,  "Black, lighter 5%"
  511,  "Black, lighter 50%"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  512,  "Blue"
  513,  "Blue, darker 25%"
  514,  "Blue, darker 50%"
  515,  "Blue, lighter 40%"
  516,  "Blue, lighter 60%"
  517,  "Blue, lighter 80%"
  518,  "Bright green"
  519,  "Charcoal"
  520,  "Dark blue"
  521,  "Dark blue, darker 25%"
  522,  "Dark blue, darker 50%"
  523,  "Dark blue, lighter 40%"
  524,  "Dark blue, lighter 60%"
  525,  "Dark blue, lighter 80%"
  526,  "Dark gray"
  527,  "Dark red"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  528,  "Dark yellow"
  529,  "Earthy blue"
  530,  "Earthy brown"
  531,  "Earthy green"
  532,  "Earthy orange"
  533,  "Earthy red"
  534,  "Earthy yellow"
  535,  "Gray 25%"
  536,  "Gray 50%"
  537,  "Green"
  538,  "Light blue"
  539,  "Light gray"
  540,  "Light green"
  541,  "Medium gray"
  542,  "Olive"
  543,  "Olive green"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  544,  "Olive green, darker 25%"
  545,  "Olive green, darker 50%"
  546,  "Olive green, lighter 40%"
  547,  "Olive green, lighter 60%"
  548,  "Olive green, lighter 80%"
  549,  "Orange"
  550,  "Orange, darker 25%"
  551,  "Orange, darker 50%"
  552,  "Orange, lighter 40%"
  553,  "Orange, lighter 60%"
  554,  "Orange, lighter 80%"
  555,  "Pastel blue"
  556,  "Pastel green"
  557,  "Pastel orange"
  558,  "Pastel purple"
  559,  "Pastel red"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  560,  "Pastel yellow"
  561,  "Pink"
  562,  "Professional aqua"
  563,  "Professional blue"
  564,  "Professional green"
  565,  "Professional orange"
  566,  "Professional purple"
  567,  "Professional red"
  568,  "Purple"
  569,  "Purple, darker 25%"
  570,  "Purple, darker 50%"
  571,  "Purple, lighter 40%"
  572,  "Purple, lighter 60%"
  573,  "Purple, lighter 80%"
  574,  "Red"
  575,  "Red, darker 25%"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  576,  "Red, darker 50%"
  577,  "Red, lighter 40%"
  578,  "Red, lighter 60%"
  579,  "Red, lighter 80%"
  580,  "Tan"
  581,  "Tan, darker 25%"
  582,  "Tan, darker 5%"
  583,  "Tan, darker 50%"
  584,  "Tan, darker 75%"
  585,  "Tan, darker 90%"
  586,  "Teal"
  587,  "Turquoise"
  588,  "Vibrant blue"
  589,  "Vibrant green"
  590,  "Vibrant orange"
  591,  "Vibrant purple"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  592,  "Vibrant red"
  593,  "Vibrant yellow"
  594,  "Violet"
  595,  "White"
  596,  "White, darker 15%"
  597,  "White, darker 25%"
  598,  "White, darker 35%"
  599,  "White, darker 5%"
  600,  "White, darker 50%"
  601,  "Yellow"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1182,  "Bold"
  1183,  "Italic"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1184,  "Underline"
  1185,  "Strikethrough"
  1186,  "Font family"
  1187,  "Font size"
  1189,  "Superscript"
  1190,  "Subscript"
  1191,  "Grow font"
  1192,  "Shrink font"
  1193,  "Text color"
  1194,  "Text highlight color"
  1195,  "&Automatic"
  1196,  "&No color"
  1197,  "Show more fonts"
  1199,  "M"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1242,  "Bold italic"
  1243,  "Regular"
  1244,  "Open the fonts control panel"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1267,  "F"
  1269,  "S"
  1270,  "G"
  1271,  "K"
  1272,  "B"
  1273,  "I"
  1274,  "U"
  1275,  "X"
  1276,  "Z"
  1277,  "A"
  1278,  "C"
  1279,  "H"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1304,  "Change to a heavier font."
  1305,  "Change to an italic font."
  1306,  "Draw a line below the text."
  1307,  "Draw a line through the text."
  1308,  "Change the font family."
  1309,  "Change the font size."
  1310,  "Draw the text smaller and higher than regular text."
  1311,  "Draw the text smaller and lower than regular text."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1312,  "Increase the font size."
  1313,  "Reduce the font size."
  1314,  "Change the text color."
  1315,  "Make text look like it was marked with a highlighter pen."
  1318,  "Show, hide, install or uninstall fonts in the fonts control panel to customize the font list."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1501,  "&1"
  1502,  "&2"
  1503,  "&3"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1504,  "&4"
  1505,  "&5"
  1506,  "&6"
  1507,  "&7"
  1508,  "&8"
  1509,  "&9"
}

1 MESSAGETABLE
{
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-UIRibbon\r\n"
}
