1 MUI "Data_1855.bin"

101 DIALOGEX 0, 0, 235, 245
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "Connection"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Name:", 15080, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 14, 48, 8 
   CONTROL "Profile name", 15081, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 14, 140, 8 
   CONTROL "SSID:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 27, 48, 8 
   CONTROL "Network type:", 15071, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 40, 48, 8 
   CONTROL "some ssid network", 1100, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 27, 140, 8 
   CONTROL "Adhoc network", 15073, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 40, 140, 8 
   CONTROL "Network availability:", 1127, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 53, 70, 8 
   CONTROL "some rights", 1128, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 53, 140, 8 
   CONTROL "<A>Copy this network profile to a USB flash drive</A>", 1133, "SysLink", 0x50010000, 22, 185, 200, 20 
   CONTROL 32518, 1134, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 183, 12, 12 
}

102 DIALOGEX 0, 0, 235, 245
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "Connection"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Name:", 15080, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 14, 48, 8 
   CONTROL "Profile name", 15081, STATIC, SS_LEFT | SS_NOPREFIX | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 14, 140, 8 
   CONTROL "SSID:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 27, 48, 8 
   CONTROL "Network type:", 15071, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 40, 48, 8 
   CONTROL "some ssid network", 1100, STATIC, SS_LEFT | SS_NOPREFIX | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 27, 140, 8 
   CONTROL "??? network", 15073, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 40, 140, 8 
   CONTROL "Network availability:", 1127, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 53, 70, 8 
   CONTROL "some rights", 1128, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 53, 140, 8 
   CONTROL "Connect auto&matically when this network is in range", 1104, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 77, 206, 10 
   CONTROL "Connect to a more &preferred network if available", 1105, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 206, 12 
   CONTROL "C&onnect even if the network is not broadcasting its name (SSID)", 1106, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 103, 226, 10 
   CONTROL "&Enable %s connection settings", 15075, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 116, 206, 10 
   CONTROL "&Configure...", 1107, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 129, 50, 15 
   CONTROL "<A>Copy this network profile to a USB flash drive</A>", 1133, "SysLink", 0x50010000, 22, 185, 200, 20 
   CONTROL "", 1134, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 184, 16, 16 
}

103 DIALOGEX 0, 0, 235, 245
STYLE DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Security"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "S&ecurity type:", 1110, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 21, 67, 10 
   CONTROL "", 1111, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 81, 19, 123, 80 
   CONTROL "E&ncryption type:", 1113, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 38, 63, 10 
   CONTROL "", 1112, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 81, 36, 123, 53 
   CONTROL "Network security &key", 1114, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 9, 55, 68, 8 
   CONTROL "", 1115, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP, 81, 53, 123, 14 
   CONTROL "", 1116, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP, 81, 53, 123, 14 
   CONTROL "", 1134, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 68, 72, 16, 16 
   CONTROL "S&how characters", 1117, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 81, 73, 77, 10 
   CONTROL "Key &Index:", 1126, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 9, 93, 67, 10 
   CONTROL "", 1125, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 81, 91, 20, 80 
   CONTROL "&Configure...", 1124, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 53, 50, 15 
   CONTROL "Ch&oose a network authentication method:", 1118, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 85, 200, 8 
   CONTROL "", 1119, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 9, 95, 143, 70 
   CONTROL "&Settings", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 94, 50, 15 
   CONTROL "&Remember my credentials for this connection each time I'm logged on", 1121, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 112, 178, 16 
   CONTROL "A&dvanced settings", 1129, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 180, 80, 15 
   CONTROL 18001, 1130, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 210, 16, 16 
   CONTROL "The changes you have made will delete the saved credentials", 1131, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 215, 200, 16 
   CONTROL "Your input credentials will not be saved due to the changes you have made", 1132, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 210, 200, 16 
}

104 DIALOGEX 0, 0, 235, 245
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "802.11 settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Fast roaming", 16013, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 220, 85 
   CONTROL "Enable Pairwise Master &Key (PMK) caching", 16014, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 19, 180, 10 
   CONTROL "PMK time to &live (minutes):", 16015, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 32, 95, 10 
   CONTROL "", 16016, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 31, 50, 12 
   CONTROL "", 16025, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 35, 202, 12, 14 
   CONTROL "&Number of entries in PMK cache:", 16017, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 46, 118, 8 
   CONTROL "", 16018, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 45, 50, 12 
   CONTROL "", 16026, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 206, 45, 12, 14 
   CONTROL "This network uses &pre-authentication ", 16019, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 61, 137, 10 
   CONTROL "&Maximum pre-authentication attempts:", 16020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 74, 125, 8 
   CONTROL "", 16021, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 73, 50, 12 
   CONTROL "", 16027, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 206, 73, 12, 14 
   CONTROL "Enable &Federal Information Processing Standards (FIPS) compliance for this network", 16022, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 98, 207, 17 
}

105 DIALOGEX 0, 0, 235, 245
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "802.1X settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 16000, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 220, 55 
   CONTROL "S&pecify authentication mode:", 16001, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 7, 108, 8 
   CONTROL "", 16002, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 28, 22, 120, 70 
   CONTROL "Save &credentials", 16009, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 22, 70, 14 
   CONTROL "Replace &credentials", 16011, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 22, 70, 14 
   CONTROL "&Delete credentials for all users", 16028, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 42, 108, 8 
   CONTROL "", 16003, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 69, 220, 112 
   CONTROL "Enable &single sign on for this network", 16004, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 69, 135, 10 
   CONTROL "Perform immediately b&efore user logon", 16005, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 85, 184, 10 
   CONTROL "Perform immediately a&fter user logon", 16006, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 28, 97, 184, 10 
   CONTROL "&Maximum delay (seconds):", 16007, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 109, 126, 12 
   CONTROL "", 16008, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 108, 55, 12 
   CONTROL "", 16023, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 203, 108, 11, 12 
   CONTROL "A&llow additional dialogs to be displayed during single sign on", 16010, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 123, 186, 20 
   CONTROL "This network uses separate &virtual LANs for machine and user authentication", 16012, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 143, 184, 20 
   CONTROL 18001, 16031, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 210, 16, 16 
   CONTROL "The changes you have made will delete the saved credentials", 16029, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 215, 200, 16 
   CONTROL "Your input credentials will not be saved due to the changes you have made", 16030, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 210, 200, 16 
   CONTROL "The credentials stored with the profile are invalid", 16032, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 215, 200, 16 
   CONTROL "The credentials stored with the profile have expired", 16033, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 215, 200, 16 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
15086, 	"Error Saving Wireless Profile"
15087, 	"Windows has encountered an error saving the wireless profile.\nSpecific error: "
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
15088, 	"Windows has encountered an error saving the EAP properties.\nSpecific error: "
15089, 	"Windows has encountered an error saving the credentials."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17100, 	"Shared"
17101, 	"No authentication (Open)"
17102, 	"WPA-Enterprise"
17103, 	"WPA-Personal"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17104, 	"WPA2-Enterprise"
17105, 	"WPA2-Personal"
17106, 	"802.1X"
17107, 	"&Enable %s connection settings"
17108, 	"&Use %s security settings"
17109, 	"Access point"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17200, 	"None"
17201, 	"WEP"
17202, 	"WEP"
17203, 	"WEP"
17204, 	"TKIP"
17205, 	"AES"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17300, 	"Error"
17301, 	"Wireless Network Properties"
17302, 	"%1 Wireless Network Properties"
17303, 	"The network key you entered is not valid. \nType the key again, using 5 or 13 characters."
17304, 	"The network key you entered is not valid. \nType the key again, using 5 or 13 characters; or 10 or 26 characters using digits 0-9 and letters A-F."
17305, 	"The network key you entered is not valid. \nType the key again, using at least 8 characters."
17306, 	"The network key you entered is not valid. \nType the key again, using a maximum length of 63 characters; or 64 characters using digits 0-9 and letters A-F."
17310, 	"These settings are managed by your system administrator."
17311, 	"The security and encryption types in this profile are not supported by the hardware."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17312, 	"The EAP method type in this profile is not installed on this machine."
17313, 	"The EAP method type in this profile is not valid for wireless connections."
17314, 	"Please select a valid security and encryption type."
17315, 	"User authentication"
17316, 	"User or computer authentication"
17317, 	"Computer authentication"
17318, 	"Guest authentication"
17320, 	"Advanced settings"
17321, 	"Save credentials"
17322, 	"Replace credentials"
17323, 	"Saving your credentials allows your computer to connect to the network when you’re not logged on (for example, to download updates). "
17324, 	"OK"
17325, 	"Cancel"
17326, 	"Saving your credentials allows your computer to connect to the network when you’re not logged on (for example, to download updates). \n\nThe user credentials entered are not valid. Please try again."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
17404, 	"All users"
17405, 	"Me only"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Wireless Profile UI"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "wlanui.dll"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "wlanui.dll.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

