#pragma code_page(65001)
#include <resources.h>

601 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Move &Up\tCtrl+Up", 602
    MENUITEM "Move &Down\tCtrl+Down", 603
    MENUITEM "&Remove from list\tDel", 604
  }
}

225 DIALOGEX 0, 0, 316, 184
CAPTION ""
STYLE 0x80000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  108,  "Play To"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  125,  " "
  126,  "Unknown Device"
  127,  "%1 - %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128,  "Contacting network device..."
  129,  "Contacting media server..."
  130,  "Network Device"
  131,  "Media Server"
  132,  "Please wait"
  133,  "Clear List"
  134,  "Unknown Title"
  135,  "Unknown Artist"
  136,  "Unknown Album"
  137,  "No media items are currently in your list.  To add media, drag and drop items here or 'Play To' this device."
  138,  "Device Name"
  139,  "Device Manufacturer"
  140,  "Device Model"
  141,  "Add to list"
  142,  "Next"
  143,  "Previous"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  144,  "Stop"
  145,  "Play"
  146,  "Pause"
  147,  "Volume"
  148,  "Mute"
  149,  "Sound"
  150,  "Previous Track"
  151,  "Next Track"
  152,  "Hide details"
  153,  "Show details"
  154,  "HRESULT: 0x%x\nUPnP Error: %u"
  155,  "HRESULT: 0x%x"
  156,  "Unknown Error"
  157,  "Loading..."
  158,  "Turn repeat on"
  159,  "Turn repeat off"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  160,  "Reorder"
  161,  "A Play To operation is in progress."
  162,  "Seek"
  163,  "Time remaining"
  164,  "Media thumbnail"
  165,  "Device thumbnail"
  166,  "Now playing indicator"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  401,  "The device does not support the UPnP command.  A device update might solve the problem.  Please contact the device manufacturer for the latest updates."
  402,  "The device does not support the UPnP command format.  A device update might solve the problem.  Please contact the device manufacturer for the latest updates."
  403,  "The device does not support the UPnP variable.  A device update might solve the problem.  Please contact the device manufacturer for the latest updates."
  404,  "The device reports a device error.  Restart the device, and then try again.\n\nIf you can't resolve the issue, a device update might be required.  Please contact the device manufacturer for the latest updates."
  405,  "The device failed to execute the UPnP command.  Make sure that your media device is turned on and connected to the network, and then try again.\n\nIf you can't resolve the issue, a device update might be required.  Please contact the device manufacturer for the latest updates."
  406,  "The device could not execute the command in its current state.  Please try again."
  407,  "The media item is corrupted or empty.  Please make sure the file can be played on the media storage device."
  408,  "The device could not read the media file.  Please make sure the file can be played on the media storage device."
  409,  "The device requires a codec that supports this media format.  A device update might solve the problem.  Please contact the device manufacturer for the latest updates."
  410,  "Your device is currently locked by another user or device.  Please try again later."
  411,  "You are currently not connected to any network.  Connect to a network and try again."
  412,  "Seek mode is not supported by the device."
  413,  "The desired seek location is not valid or is not present on the media."
  414,  "The device requires a codec that supports this media format.  A device update might solve the problem.  Please contact the device manufacturer for the latest updates."
  415,  "The device is busy processing.  Please try again later."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  416,  "The device could not locate the media.  Please make sure the media storage device is connected to the network and the media is available and try again."
  417,  "The media for this item resides on a network share that your device is not authorized to access.\n\nTo resolve the problem, you can go to the media storage device and allow access for guests or for everyone.\n\nIf you allow everyone access other users on your network can find and play your media."
  418,  "You are currently not connected to a network.  Connect to your network and try again."
  419,  "The device is not responding.  Make sure that your media device is turned on and connected to the network and try again."
  420,  "The device could not locate the media content.  Make sure that the device is connected to the network and can access the desired media."
  421,  "The media item is not shared to any user or device.  Do you want to allow the device to access this item and other similar media items that currently can be played and viewed only by you?"
  422,  "An unexpected error occurred on your device.  Restart the device, and then try again.\n\nIf you can't resolve the issue, a device update might be required.  Please contact the device manufacturer for the latest updates."
  423,  "The selected media cannot be played on the device.  Either the format was not supported or the computer or storage device that contains the media is offline."
  424,  "Media Streaming Error"
  425,  "You must start and configure media streaming in order to play media to a device.\n\nDo you want to start and configure media streaming?"
  426,  "Maximum Playlist Length"
  427,  "You've reached the maximum playlist length"
  428,  "Some items of the items you’ve selected won’t play to the device."
  429,  "Maximum number of allowed items: %u"
  430,  "Your device is not authorized to access this media item.\n\nTo resolve the problem, you can change the file permissions and choose to share with guests or everyone.  If you allow everyone access, other users and devices on your network can find and play your media."
  431,  "Your connection with the device has been lost.  Please restart the media controller application to establish new connection."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  450,  "Device error"
  452,  "Failed to retrieve media information from media server"
  453,  "Device is not responding"
  454,  "No network connection"
  455,  "Failed to retrieve device description"
  456,  "Failed to find device UPnP services"
  457,  "Failed to initialize playlist"
  458,  "Device could not be found"
  459,  "Device is offline"
  460,  "Error occurred on your device"
  461,  "Internal device error"
  462,  "Device cannot be controlled"
  463,  "Device is busy"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  464,  "Media is not available"
  465,  "Media item is not shared"
  466,  "UPnP command not supported"
  467,  "Command failed"
  468,  "Read error"
  469,  "No content"
  470,  "Media format is not supported"
  471,  "Seek not supported"
  472,  "Illegal seek target"
  473,  "Illegal mime type"
  474,  "Unexpected device error"
  475,  "Invalid command format"
  476,  "Can't access shared location"
  477,  "Device is not ready"
  478,  "Media streaming is not configured"
  479,  "Invalid variable"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  480,  "Network changed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  531,  "Horizontal"
  532,  "Used to change horizontal viewing area"
  533,  "Vertical"
  534,  "Used to change vertical viewing area"
}

500 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_P  , 501, VIRTKEY, CONTROL
  VK_S  , 502, VIRTKEY, CONTROL
  VK_B  , 503, VIRTKEY, CONTROL
  VK_F  , 504, VIRTKEY, CONTROL
  VK_T  , 513, VIRTKEY, CONTROL
  38  , 514, VIRTKEY, CONTROL
  40  , 515, VIRTKEY, CONTROL
  36  , 516, VIRTKEY, CONTROL
  35  , 517, VIRTKEY, CONTROL
  33  , 518, VIRTKEY, CONTROL
  34  , 519, VIRTKEY, CONTROL
  VK_F7  , 505, VIRTKEY
  VK_F9  , 506, VIRTKEY
  VK_F8  , 507, VIRTKEY
}

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-WMPDMCUI\r\n"
}
