#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Event Resource Module"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "MpEvMsg.dll"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "MpEvMsg.dll.mui"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

1 MESSAGETABLE
{
  800,  "AntiVirus%0\r\n"
  801,  "AntiSpyware%0\r\n"
  802,  "AntiMalware%0\r\n"
  803,  "Full%0\r\n"
  804,  "Delta%0\r\n"
  805,  "Full Scan%0\r\n"
  806,  "Quick Scan%0\r\n"
  807,  "Custom Scan%0\r\n"
  808,  "Remove%0\r\n"
  809,  "Quarantine%0\r\n"
  810,  "Clean%0\r\n"
  811,  "Allow%0\r\n"
  812,  "Unknown%0\r\n"
  813,  "Suspended%0\r\n"
  814,  "Allowed%0\r\n"
  815,  "User%0\r\n"
  816,  "Scheduled%0\r\n"
  817,  "Signature Update Folder%0\r\n"
  818,  "Real-Time Protection%0\r\n"
  819,  "Downloads and attachments%0\r\n"
  820,  "System%0\r\n"
  821,  "Heuristics%0\r\n"
  822,  "Concrete%0\r\n"
  823,  "Generic%0\r\n"
  824,  "Current%0\r\n"
  825,  "Backup%0\r\n"
  826,  "Default%0\r\n"
  827,  "Windows Defender%0\r\n"
  828,  "Windows Live OneCare%0\r\n"
  829,  "Microsoft Forefront Client Security%0\r\n"
  830,  "Microsoft Standalone System Sweeper%0\r\n"
  831,  "Crash%0\r\n"
  832,  "Hang%0\r\n"
  833,  "Not Applicable%0\r\n"
  834,  "IE Downloads and Outlook Express Attachments%0\r\n"
  835,  "On Access%0\r\n"
  836,  "Behavior Monitoring%0\r\n"
  837,  "The filter driver has successfully restarted.%0\r\n"
  838,  "The filter driver was unloaded unexpectedly.%0\r\n"
  839,  "The filter driver skipped scanning items and is in pass through mode. This may be due to low resource conditions.%0\r\n"
  840,  "The filter driver has restarted scanning items and is out of pass through mode.%0\r\n"
  841,  "Real Time Monitoring has stopped functioning for an unknown reason. Restart the service in order to recover.%0\r\n"
  842,  "Real Time Monitoring has recovered from an unknown failure. It is recommended that you run a quick scan.%0\r\n"
  1342177282,  "Error\r\n"
  1342177283,  "Warning\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Windows Defender\r\n"
  2952790117,  "Windows Defender state updated to %1.\r\n"
  2952791016,  "%1 scan has started.%n %tScan ID:%3%n %tScan Type:%5%n %tScan Parameters:%7%n %tScan Resources:%11%n %tUser:%8\\%9\r\n"
  2952791017,  "%1 scan has finished.%n %tScan ID:%3%n %tScan Type:%5%n %tScan Parameters:%7%n %tUser:%8\\%9%n %tScan Time:%11:%12:%13\r\n"
  2952791018,  "%1 scan has been stopped before completion.%n %tScan ID:%3%n %tScan Type:%5%n %tScan Parameters:%7%n  %tUser:%8\\%9\r\n"
  2952791019,  "%1 scan has been paused.%n %tScan ID:%3%n %tScan Type:%5%n %tScan Parameters:%7%n %tUser:%8\\%9\r\n"
  2952791020,  "%1 scan has resumed.%n %tScan ID:%3%n  %tScan Type:%5%n %tScan Parameters:%7%n %tUser:%8\\%9\r\n"
  2952791021,  "%1 scan has encountered an error and terminated.%n %tScan ID:%3%n %tScan Type:%5%n %tScan Parameters:%7%n %tUser:%8\\%9%n %tError Code:%11%n %tError description:%12\r\n"
  2952791022,  "%1 has detected spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tPath Found:%16%n %tDetection Type:%22%n %tDetection Source:%5%n %tStatus:%20%n %tUser:%8\\%9%n %tProcess Name:%7\r\n"
  2952791023,  "%1 has taken action to protect this machine from spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tUser:%8\\%9%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tAction:%20%n %tStatus:%7\r\n"
  2952791024,  "%1 has encountered an error when taking action on spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tUser:%8\\%9%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tPath:%16%n %tAction:%20%n %tError Code:%21%n %tError description:%22%n %tStatus:%7\r\n"
  2952791025,  "%1 has restored an item from quarantine.%n For more information please see the following:%n%15%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tUser:%8\\%9\r\n"
  2952791026,  "%1 has encountered an error trying to restore an item from quarantine.%n For more information please see the following:%n%15%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tUser:%8\\%9%n %tError Code:%3%n %tError description:%4\r\n"
  2952791027,  "%1 has deleted an item from quarantine.%n For more information please see the following:%n%15%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tUser:%8\\%9\r\n"
  2952791028,  "%1 has encountered an error trying to delete an item from quarantine.%n For more information please see the following:%n%15%n %tName:%11%n %tID:%12%n %tSeverity:%25%n %tCategory:%26%n %tUser:%8\\%9%n %tError Code:%3%n %tError description:%4\r\n"
  2952791029,  "%1 has removed history of spyware and other potentially unwanted software.%n %tTime:%3%n %tUser:%8\\%9%n\r\n"
  2952791030,  "%1 has encountered an error trying to remove history of spyware and other potentially unwanted software.%n %tTime:%3%n %tUser:%8\\%9%n %tError Code:%4%n %tError description:%5\r\n"
  2952792016,  "%1 signature version has been updated.%n %tCurrent Signature Version:%3%n %tPrevious Signature Version:%4%n %tUpdate Source:%6%n %tSignature Type:%12%n %tUpdate Type:%14%n %tUser:%8\\%9%n %tCurrent Engine Version:%15%n %tPrevious Engine Version:%16\r\n"
  2952792017,  "%1 has encountered an error trying to update signatures.%n %tNew Signature Version:%3%n %tPrevious Signature Version:%4%n %tUpdate Source:%6%n %tSignature Type:%12%n %tUpdate Type:%14%n %tUser:%8\\%9%n %tCurrent Engine Version:%15%n %tPrevious Engine Version:%16%n %tError code:%17%n %tError description:%18\r\n"
  2952792018,  "%1 engine version has been updated.%n %tCurrent Engine Version:%3%n %tPrevious Engine Version:%4%n %tUpdate Source:%6%n %tUser:%8\\%9\r\n"
  2952792019,  "%1 has encountered an error trying to update the engine.%n %tNew Engine Version:%3%n %tPrevious Engine Version:%4%n %tUpdate Source:%6%n %tUser:%8\\%9%n %tError Code:%11%n %tError description:%12\r\n"
  2952792020,  "%1 has encountered an error trying to load signatures and will attempt reverting back to a known-good set of signatures.%n %tSignatures Attempted:%4%n %tError Code:%5%n %tError description:%6%n %tSignature version:%9%n %tEngine version:%10\r\n"
  2952793018,  "%1 Real-Time Protection feature has encountered an error and failed.%n %tFeature:%3%n %tError Code:%5%n %tError description:%6%n %tReason:%4\r\n"
  2952793023,  "%1 Real-time Protection feature has restarted. It is recommended that you run a full system scan to detect any items that may have been missed while this agent was down.%n %tFeature:%3%n %tReason:%4\r\n"
  2952795016,  "%1 Real-time Protection scanning for spyware and other potentially unwanted software was enabled.\r\n"
  2952795017,  "%1 Real-time Protection scanning for spyware and other potentially unwanted software was disabled.\r\n"
  2952795020,  "%1 Real-time Protection feature configuration has changed.%n %tFeature:%3%n %tConfiguration:%4\r\n"
  2952795023,  "%1 Configuration has changed. If this is an unexpected event you should review the settings as this may be the result of malware.%n %tOld value:%3%n %tNew value:%4\r\n"
  2952795024,  "%1 engine has been terminated due to an unexpected error.%n %tFailure Type:%5%n %tException code:%6%n %tResource:%3\r\n"
  2952795025,  "%1 scanning for spyware and other potentially unwanted software has been enabled.\r\n"
  2952795026,  "%1 scanning for spyware and other potentially unwanted software is disabled.\r\n"
  2952795027,  "%1 scanning for viruses has been enabled.\r\n"
  2952795028,  "%1 scanning for viruses is disabled.\r\n"
}
