#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Devices and Printers"
  2,  "Troubleshoot problems with devices and printers."
  7,  "Problem with PnP devices"
  8,  "There are problems with some PnP devices. Windows will take additional steps to further troubleshoot these devices."
  9,  "Problem with printer"
  10,  "There might be problems with %PRINTERNAME%. Windows will take additional steps to further troubleshoot."
  11,  "Select a device to troubleshoot"
  12,  "Please enter the container ID of the device you want to troubleshoot."
}

