#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  240,  "Helps protect users from malware and other potentially unwanted software"
  241,  "Microsoft Antimalware Service"
  242,  "Helps guard against intrusion attempts targeting known and newly discovered vulnerabilities in network protocols"
  243,  "Microsoft Network Inspection"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  300,  "Windows Defender"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  310,  "Windows Defender Service"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  320,  "Windows Defender Network Inspection Service"
  330,  "Windows Defender Mini-Filter Driver"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  340,  "Windows Defender On-Access Malware Protection Mini-Filter Driver"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  370,  "Windows Defender Network Inspection System Driver"
  380,  "Non critical files used by Windows Defender"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  390,  "Windows Defender Boot Driver"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "Windows Defender Boot Driver"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1000,  "Unknown"
  1001,  "Adware"
  1002,  "Spyware"
  1003,  "Password Stealer"
  1004,  "Trojan Downloader"
  1005,  "Worm"
  1006,  "Backdoor"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1008,  "Trojan"
  1009,  "Email Flooder"
  1011,  "Dialer"
  1012,  "Monitoring Software"
  1013,  "Browser Modifier"
  1019,  "Joke Program"
  1021,  "Software Bundler"
  1022,  "Trojan Notifier"
  1023,  "Settings Modifier"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1027,  "Potentially Unwanted Software"
  1030,  "Exploit"
  1031,  "File Sharing Program"
  1032,  "Malware Creation Tool"
  1033,  "Remote Control Software"
  1034,  "Tool"
  1036,  "Trojan Denial of Service"
  1037,  "Trojan Dropper"
  1038,  "Trojan Mass Mailer"
  1039,  "Trojan Monitoring Software"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1040,  "Trojan Proxy Server"
  1042,  "Virus"
  1043,  "Permitted"
  1044,  "Not Yet Classified"
  1046,  "Suspicious Behavior"
  1047,  "Vulnerability"
  1048,  "Policy"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2000,  "A system change was detected. This generally occurs when software is installed."
  2001,  "A program that displays advertisements. While some adware can be beneficial by subsidizing a program or service, other adware programs may display advertisements without adequate consent."
  2002,  "A program that collects information, such as the websites a user visits, without adequate consent. Unauthorized actions may include installing without prominent notice or running without a clear method to disable the program."
  2003,  "A Trojan that captures or transmits passwords to an attacker."
  2004,  "A Trojan that silently installs other programs without consent."
  2005,  "Self-propagating malicious code that can automatically distribute itself from one computer to another through network connections."
  2006,  "A Trojan used to bypass security policies or gain access to a computer."
  2008,  "A program that appears to be useful or harmless but contains hidden code designed to exploit or damage the system on which it is run."
  2009,  "A Trojan designed to overwhelm an e-mail user's inbox with messages."
  2011,  "A Trojan that uses the computer's modem to generate unauthorized telephone charges."
  2012,  "A program that monitors activity, such as keystrokes or screen images."
  2013,  "A program that changes browser settings, such as the home page, without adequate consent."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2019,  "A program designed to amuse or scare a user, such as imitating a virus without taking action."
  2021,  "A program that installs other potentially unwanted software, such as adware or spyware. The license agreement of the bundling program may require these other components in order to function."
  2022,  "A Trojan used to notify an attacker when the software has been installed."
  2023,  "A program that changes settings without adequate consent."
  2027,  "A program with potentially unwanted behavior that is brought to the user's attention for review. This behavior may impact the user's privacy, security, or computing experience."
  2030,  "A program that exploits a security vulnerability."
  2031,  "A program used to distribute and download files, often as part of a peer-to-peer (P2P) network."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2032,  "A tool used to create viruses, worms and other malware."
  2033,  "A program that provides access to a computer from a remote location. These programs are often installed by the computer owner or administrator, and are only a risk if unexpected."
  2034,  "A tool that can be abused by an attacker, and may be used to bypass or lower security."
  2036,  "A program that creates a Denial of Service attack."
  2037,  "A program that comes bundled with a Trojan."
  2038,  "A Trojan that sends large volumes of e-mail."
  2039,  "A Trojan that records user activity, such as keystrokes. This information may be sent to an attacker using e-mail or other methods."
  2040,  "A Trojan that installs a proxy server on a machine."
  2042,  "Malicious code that attempts to spread from computer to computer by attaching itself to a host program."
  2043,  "A program that has been classified and permitted to run."
  2044,  "A program that has not yet been classified."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3001,  "This program delivers potentially unwanted advertisements to your computer."
  3002,  "This program appears to be a spyware removal software, but does not disclose advertising behavior."
  3003,  "This program displays advertisements separate from the parent program."
  3004,  "This program displays pop-up advertisements."
  3005,  "This program displays advertisements based on Web browsing habits."
  3006,  "This program displays advertisements with adult content."
  3007,  "This program displays advertisements and is often bundled with other programs."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3008,  "This program displays advertisements and may be difficult to remove."
  3009,  "This program displays advertisements based on Web search habits."
  3010,  "This program delivers advertisements and tracks activity."
  3011,  "This program displays advertisements and may be delivered through unsolicited installation."
  3012,  "This program displays advertisements and runs without a user interface."
  3013,  "This program displays advertisements inside other software."
  3014,  "This program displays deceptive product messages."
  3015,  "This program displays advertisements and may install other software."
  3016,  "This program is used to bypass security policies."
  3017,  "This program changes various Web browser settings without adequate consent."
  3018,  "This program changes the default home page."
  3019,  "This program changes the default search engine and the homepage."
  3020,  "This program changes the default search engine, the homepage, and other browser settings."
  3021,  "This program redirects access to Web pages."
  3022,  "This program changes browser settings and displays advertisements."
  3023,  "This program modifies Web page content."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3024,  "This program changes Web page links."
  3025,  "This program adds links to adult content."
  3026,  "This program adds a browser toolbar and may be delivered through unsolicited installation."
  3027,  "This program adds a sidebar to the browser that displays advertisements."
  3028,  "This program displays adult content."
  3029,  "This program changes the default search engine."
  3030,  "This program changes browser settings and is often bundled with other programs."
  3035,  "This program dials toll numbers to create telephone charges."
  3036,  "This program dials toll numbers to gain access to adult content."
  3037,  "This program dials toll numbers and delivers advertisements for adult content."
  3038,  "This program can be used to perform a denial of service attack."
  3039,  "This program overwhelms a user's inbox with email messages."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3041,  "This program takes advantage of a security vulnerability."
  3042,  "This program allows users to download or share files."
  3046,  "This program is designed to amuse or scare the user."
  3047,  "This program monitors user activity, such as keystrokes typed."
  3049,  "This program is used to create viruses, worms or other malware."
  3050,  "This program monitors user information."
  3052,  "This program is dangerous and captures user passwords."
  3054,  "This program is often installed a bundle with other programs."
  3055,  "This program may have been installed without adequate user consent."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3056,  "This program runs automatically and without adequate user notification."
  3058,  "This program may update without adequate user consent and may be delivered through unsolicited installation."
  3059,  "This program updates automatically without adequate user consent."
  3061,  "This program does not adequately disclose potentially unwanted behavior."
  3062,  "This program is often distributed as a component of other potentially unwanted software."
  3063,  "This program has potentially unwanted behavior."
  3064,  "This program disables other software as part of its installation."
  3066,  "This program provides remote access to the computer it is installed on."
  3069,  "This program changes various computer settings without adequate consent."
  3070,  "This program installs other potentially unwanted software."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3072,  "This program may install other potentially unwanted software."
  3073,  "This program installs adware."
  3074,  "This program installs spyware."
  3075,  "This program installs browser modifiers."
  3076,  "This program installs software that displays adult content."
  3077,  "This program sends unauthorized e-mail."
  3078,  "This program collects user information."
  3079,  "This program tracks activity and delivers advertisements."
  3080,  "This program tracks activity and may disable other programs."
  3081,  "This program tracks activity and is often bundled with other programs."
  3082,  "This program tracks activity and may be difficult to remove."
  3083,  "This program tracks activity and all Web page content, including secure pages."
  3084,  "This program connects to the Internet in the background."
  3087,  "This program can be used for malicious purposes if unauthorized."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3089,  "This program is dangerous and exploits the computer on which it is run."
  3090,  "This program is dangerous, exploits the computer, and provides access to user files."
  3091,  "This program is dangerous, exploits the computer, and shares user information."
  3092,  "This program is dangerous and downloads other programs."
  3093,  "This program is dangerous and installs other programs."
  3095,  "This program is dangerous and records user activity."
  3096,  "This program silently informs a server when it has been installed."
  3097,  "This program is dangerous and acts as a proxy server."
  3100,  "This program is dangerous and self-propagates over a network connection."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3104,  "This program monitors user information, such as Web browsing habits."
  3105,  "This program changes various computer settings."
  3106,  "This program changes the system hosts file."
  3108,  "This program monitors sensitive information, such as keystrokes typed."
  3109,  "This program is dangerous and monitors user information."
  3110,  "This program is dangerous and replicates by infecting other files."
  3111,  "This program is dangerous and can hide programs or bypass security."
  3112,  "This program is dangerous and executes commands from an attacker."
  3113,  "A system change was detected. This generally occurs when software is installed."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4000,  "Permit this detected item only if you trust the program or the software publisher."
  4001,  "This software is typically benign when it runs on your computer, unless it was installed without your knowledge. If you're not sure whether to permit it, review the alert details or check if you recognize and trust the publisher of the software."
  4002,  "Review the alert details to see why the software was detected. If you do not like how the software operates or if you do not recognize and trust the publisher, consider blocking or removing the software."
  4004,  "Remove this software immediately."
  4005,  "Remove this software immediately."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5000,  "Not Yet Classified"
  5001,  "Low"
  5002,  "Medium"
  5004,  "High"
  5005,  "Severe"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  6000,  "A system change was detected. This generally occurs when software is installed."
  6001,  "Programs that are typically benign unless they are installed on your computer without your knowledge."
  6002,  "Programs that might affect your privacy or make changes to your computer that could negatively impact your computing experience, for example, by collecting personal information or changing settings."
  6004,  "Programs that might collect your personal information and negatively affect your privacy or damage your computer, for example, by collecting information or changing settings, typically without your knowledge or consent."
  6005,  "Widespread or exceptionally harmful programs, similar to viruses or worms, that negatively affect your privacy and your computer's security, and that damage your computer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7000,  "Unknown"
  7001,  "Clean"
  7002,  "Quarantine"
  7003,  "Remove"
  7004,  "Block"
  7005,  "Ignore"
  7006,  "Ignore Always"
  7007,  "Revert"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7008,  "Select Action"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  41101,  "Antimalware engine hang"
  41103,  "Application Name"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  41104,  "Application Version"
  41105,  "Engine Version"
  41106,  "Standalone System Sweeper has detected a hang in its scanning engine"
  41107,  "Microsoft Antimalware has detected a hang in its scanning engine"
  41108,  "Windows Defender has detected a hang in its scanning engine"
  41109,  "Microsoft Antimalware has detected a hang in its scanning engine"
  41110,  "Standalone System Sweeper"
  41111,  "Microsoft Antimalware"
  41112,  "Windows Defender"
  41114,  "Scan your system for malware, rootkits, and potentially unwanted software"
  41115,  "Protection against malicious and unwanted software"
  41116,  "Protection against spyware or other potentially unwanted software"
  41118,  "Microsoft Antimalware"
  41119,  "Microsoft Antimalware"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  41120,  "Protection against malicious and unwanted software"
  41121,  "Protection against malicious and unwanted software"
  41122,  "Microsoft Antimalware has detected a hang in its scanning engine"
  41123,  "Microsoft Antimalware has detected a hang in its scanning engine"
  41124,  "Periodic cleanup task."
  41125,  "Periodic verification task."
  41126,  "Periodic maintenance task."
  41127,  "Periodic scan task."
  41128,  "Periodic signature update task."
  41129,  "A scan required to complete remediation."
}

1 MESSAGETABLE
{
  2147550901,  "This program's service has stopped. You can start the service manually or restart your computer, which will start the service.\r\n"
  2147550906,  "This program's service has stopped. You can start the service manually or restart your computer, which will start the service.\r\n"
  2147550910,  "This program's service has stopped. You can start the service manually or restart your computer, which will start the service.\r\n"
  2147550911,  "This program's service has stopped. You can start the service manually or restart your computer, which will start the service.\r\n"
  2147942616,  "This version of the software is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need a x86 (32-bit) or x64 (64-bit) version of the program, and then contact the software publisher.\r\n"
  2147944001,  "The Windows Installer Service could not be accessed. Make sure that Windows Installer is installed and that you are not running Windows in safe mode, and then try again.\r\n"
  2149842944,  "An unexpected problem occurred while checking for updates. For information on installing or troubleshooting updates, see Help and Support.\r\n"
  2149842978,  "The program can't check for definition updates.\r\n"
  2152726528,  "An unexpected problem occurred. Install any available updates, and then try to start the program again. For information on installing updates, see Help and Support.\r\n"
  2152730625,  "One or more actions could not be completed successfully. For details, click on an individual item or go to History.\r\n"
  2152730626,  "The program can't find definition files that help detect unwanted software. Check for updates to the definition files, and then try again. For information on installing updates, see Help and Support.\r\n"
  2152759297,  "A problem is preventing the program from starting. Install any available updates, and then try to start the program again. For information on installing updates, see Help and Support.\r\n"
  2152759298,  "A problem is preventing the program from starting. Install any available updates, and then try to start the program again. For information on installing updates, see Help and Support.\r\n"
  2152759300,  "A problem is preventing the program from starting. Install any available updates, and then try to start the program again. For information on installing updates, see Help and Support.\r\n"
  2152759303,  "Your computer is low on memory. Close some programs and try again, or search Help and Support for information about preventing low memory problems.\r\n"
  2152759309,  "Some history items could not be displayed. Please wait a few minutes and try again. If that doesn't work, clear the history and then try again.\r\n"
  2152759310,  "To use this program, you need to install the latest updates for your computer. For information on installing updates, see Help and Support.\r\n"
  2152759313,  "An unexpected problem has prevented the program from scanning your computer for unwanted software. Try to scan your computer again.\r\n"
  2152759314,  "An unexpected problem has prevented the program from scanning your computer for unwanted software. Try to scan your computer again.\r\n"
  2152759315,  "An unexpected problem has prevented the program from scanning your computer for unwanted software. Try clearing the program history, and then scan your computer again.\r\n"
  2152759316,  "The quarantined item cannot be restored.\r\n"
  2152759319,  "Some actions couldn't be applied to potentially harmful items. The items might be stored in a read-only location. Delete the files or folders that contains the items or, for information on removing read-only permissions from files and folders, see Help and Support.\r\n"
  2152759321,  "The file or drive you are trying to scan does not exist on this computer. Choose another file or drive, and then scan your computer again.\r\n"
  2152759330,  "To finish removing malware and other potentially unwanted software, restart the computer.\r\n"
  2152759331,  "The program could not find the malware and other potentially unwanted software on this computer.\r\n"
  2152759332,  "To finish removing malware and other potentially unwanted software, you need to run a full scan. For information about scanning options, see Help and Support.\r\n"
  2152759333,  "To see how to finish removing malware and other potentially unwanted software, see the support article on the Microsoft Security website.\r\n"
  2152759334,  "This program can't remove a potentially harmful item from the contents of an archived file. To remove the item, you need to delete the archive. For more information, search for removing malware in Help and Support.\r\n"
  2152759335,  "This copy of Windows is not genuine. To receive the full protection of this program, you must verify that your copy of Windows is genuine. Until you successfully validate your copy of Windows, this program will only remove certain threats. Only users of genuine Microsoft software get access to the latest updates, features, and product support.\r\n"
  2152759336,  "Some e-mail components are stored in a location we were unable to modify. A list of infected e-mail messages are displayed in the details pane. You should try to remove these e-mail messages using your mail client.\r\n"
  2152759344,  "To finish removing malware and other potentially unwanted software, you need to run an offline scan. For information about scanning options, see Help and Support.\r\n"
  2152767489,  "The program can't find definition files that help detect unwanted software. Check for updates to the definition files, and then try again. For information on installing updates, see Help and Support.\r\n"
  2152767490,  "The program can't find definition files that help detect unwanted software. Check for updates to the definition files, and then try again. For information on installing updates, see Help and Support.\r\n"
  2152767491,  "This package does not contain up-to-date definition files for this program. For more information, see Help and Support.\r\n"
  2152767492,  "This package does not contain up-to-date definition files for this program. For more information, see Help and Support.\r\n"
  2152767493,  "The program can't find definition files that help detect unwanted software. Check for updates to the definition files, and then try again. For information on installing updates, see Help and Support.\r\n"
}
