#pragma code_page(65001)
#include <resources.h>

1 MESSAGETABLE
{
  800,  "AntiVirus%0\r\n"
  801,  "AntiSpyware%0\r\n"
  802,  "Antimalware%0\r\n"
  803,  "Full%0\r\n"
  804,  "Delta%0\r\n"
  805,  "Full Scan%0\r\n"
  806,  "Quick Scan%0\r\n"
  807,  "Custom Scan%0\r\n"
  808,  "Remove%0\r\n"
  809,  "Quarantine%0\r\n"
  810,  "Clean%0\r\n"
  811,  "Allow%0\r\n"
  812,  "Unknown%0\r\n"
  813,  "Suspended%0\r\n"
  814,  "Allowed%0\r\n"
  815,  "User%0\r\n"
  816,  "Scheduled%0\r\n"
  817,  "Signature Update Folder%0\r\n"
  818,  "Real-Time Protection%0\r\n"
  819,  "Downloads and attachments%0\r\n"
  820,  "System%0\r\n"
  821,  "Heuristics%0\r\n"
  822,  "Concrete%0\r\n"
  823,  "Generic%0\r\n"
  824,  "Current%0\r\n"
  825,  "Backup%0\r\n"
  826,  "Default%0\r\n"
  827,  "Windows Defender%0\r\n"
  828,  "Microsoft Forefront Endpoint Protection%0\r\n"
  829,  "Microsoft Standalone System Sweeper%0\r\n"
  830,  "Crash%0\r\n"
  831,  "Hang%0\r\n"
  832,  "Not Applicable%0\r\n"
  833,  "IE Downloads and Outlook Express Attachments%0\r\n"
  834,  "On Access%0\r\n"
  835,  "Behavior Monitoring%0\r\n"
  836,  "The filter driver has successfully restarted.%0\r\n"
  837,  "The filter driver was unloaded unexpectedly.%0\r\n"
  838,  "The filter driver skipped scanning items and is in pass through mode. This may be due to low resource conditions.%0\r\n"
  839,  "The filter driver has restarted scanning items and is out of pass through mode.%0\r\n"
  840,  "Real-time protection has stopped functioning for an unknown reason. Restart the service in order to recover.%0\r\n"
  841,  "Real-time protection has recovered from an unknown failure. It is recommended that you run a quick scan.%0\r\n"
  842,  "The filter driver requires an up-to-date engine in order to function. You must install the latest definition updates in order to enable real-time protection.%0\r\n"
  843,  "Suspicious%0\r\n"
  844,  "Unknown%0\r\n"
  845,  "Local machine%0\r\n"
  846,  "Network share%0\r\n"
  847,  "Internet%0\r\n"
  848,  "Executing%0\r\n"
  849,  "Internal Definition Update Server%0\r\n"
  850,  "File Share%0\r\n"
  851,  "Microsoft Malware Protection Center%0\r\n"
  852,  "Search%0\r\n"
  853,  "Download%0\r\n"
  854,  "Install%0\r\n"
  855,  "Low%0\r\n"
  856,  "Medium%0\r\n"
  857,  "High%0\r\n"
  858,  "Antimalware protection has stopped functioning for an unknown reason. In some instances, restarting the service may resolve the problem.%0\r\n"
  859,  "Microsoft Update Server%0\r\n"
  860,  "Microsoft Antimalware%0\r\n"
  861,  "Microsoft Antimalware%0\r\n"
  862,  "FastPath%0\r\n"
  863,  "Signature update%0\r\n"
  864,  "Signature disable notification%0\r\n"
  865,  "VDM version%0\r\n"
  866,  "Timestamp%0\r\n"
  867,  "No limit%0\r\n"
  868,  "Manual%0\r\n"
  869,  "Automatic%0\r\n"
  870,  "Duration%0\r\n"
  871,  "None%0\r\n"
  872,  "Grace period%0\r\n"
  873,  "Windows Activation Technologies genuine validation failed%0\r\n"
  874,  "Information Protection Control%0\r\n"
  875,  "Unknown%0\r\n"
  876,  "Detected%0\r\n"
  877,  "Cleaned%0\r\n"
  878,  "Quarantined%0\r\n"
  879,  "Removed%0\r\n"
  880,  "Allowed%0\r\n"
  881,  "Clean Failed%0\r\n"
  882,  "Quarantine Failed%0\r\n"
  883,  "Remove Failed%0\r\n"
  884,  "Allow Failed%0\r\n"
  885,  "Unknown%0\r\n"
  886,  "Network Inspection System%0\r\n"
  887,  "Not Applicable%0\r\n"
  888,  "Outgoing traffic%0\r\n"
  889,  "Incoming traffic%0\r\n"
  890,  "Block%0\r\n"
  891,  "Browser Script Scanning%0\r\n"
  892,  "The system is missing updates that are required for running Network Inspection System.  Install the required updates and restart the computer.%0\r\n"
  893,  "Early Launch Antimalware%0\r\n"
  894,  "TCG Log Inspection%0\r\n"
  895,  "Remote Server%0\r\n"
  896,  "The Network Inspection System did not successfully start due to an error.%0\r\n"
  1342177282,  "Error\r\n"
  1342177283,  "Warning\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Windows Defender\r\n"
  2952790117,  "Windows Defender state updated to %1.\r\n"
  2952791016,  "%1 scan has started.%n %tScan ID:%b%3%n %tScan Type:%b%5%n %tScan Parameters:%b%7%n %tScan Resources:%b%11%n %tUser:%b%8\\%9\r\n"
  2952791017,  "%1 scan has finished.%n %tScan ID:%b%3%n %tScan Type:%b%5%n %tScan Parameters:%b%7%n %tUser:%b%8\\%9%n %tScan Time:%b%11:%12:%13\r\n"
  2952791018,  "%1 scan has been stopped before completion.%n %tScan ID:%b%3%n %tScan Type:%b%5%n %tScan Parameters:%b%7%n  %tUser:%b%8\\%9\r\n"
  2952791019,  "%1 scan has been paused.%n %tScan ID:%b%3%n %tScan Type:%b%5%n %tScan Parameters:%b%7%n %tUser:%b%8\\%9\r\n"
  2952791020,  "%1 scan has resumed.%n %tScan ID:%b%3%n  %tScan Type:%b%5%n %tScan Parameters:%b%7%n %tUser:%b%8\\%9\r\n"
  2952791021,  "%1 scan has encountered an error and terminated.%n %tScan ID:%b%3%n %tScan Type:%b%5%n %tScan Parameters:%b%7%n %tUser:%b%8\\%9%n %tError Code:%b%11%n %tError description:%b%12\r\n"
  2952791022,  "%1 has detected spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tPath Found:%b%16%n %tDetection Type:%b%22%n %tDetection Source:%b%5%n %tStatus:%b%20%n %tUser:%b%8\\%9%n %tProcess Name:%b%7%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791023,  "%1 has taken action to protect this machine from spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tUser:%b%8\\%9%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tAction:%b%20%n %tStatus:%b%7%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791024,  "%1 has encountered an error when taking action on spyware or other potentially unwanted software.%n For more information please see the following:%n%15%n %tUser:%b%8\\%9%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tPath:%b%16%n %tAction:%b%20%n %tError Code:%b%21%n %tError description:%b%22%n %tStatus:%b%7%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791025,  "%1 has restored an item from quarantine.%n For more information please see the following:%n%15%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tUser:%b%8\\%9%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791026,  "%1 has encountered an error trying to restore an item from quarantine.%n For more information please see the following:%n%15%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tUser:%b%8\\%9%n %tError Code:%b%3%n %tError description:%b%4%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791027,  "%1 has deleted an item from quarantine.%n For more information please see the following:%n%15%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tUser:%b%8\\%9%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791028,  "%1 has encountered an error trying to delete an item from quarantine.%n For more information please see the following:%n%15%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tUser:%b%8\\%9%n %tError Code:%b%3%n %tError description:%b%4%n %tSignature Version:%b%27%n %tEngine Version:%b%28\r\n"
  2952791029,  "%1 has removed history of spyware and other potentially unwanted software.%n %tTime:%b%3%n %tUser:%b%8\\%9%n\r\n"
  2952791030,  "%1 has encountered an error trying to remove history of spyware and other potentially unwanted software.%n %tTime:%b%3%n %tUser:%b%8\\%9%n %tError Code:%b%4%n %tError description:%b%5\r\n"
  2952791031,  "%1 has detected a suspicious behavior.%n %tName:%b%11%n %tID:%b%12%n %tSeverity:%b%25%n %tCategory:%b%26%n %tPath Found:%b%16%n %tDetection Origin:%b%18%n %tDetection Type:%b%22%n %tDetection Source:%b%5%n %tStatus:%b%20%n %tUser:%b%8\\%9%n %tProcess Name:%b%7%n %tSignature ID:%b%30%n %tSignature Version:%b%27%n %tEngine Version:%b%28%n %tFidelity Label: %b%32%n %tTarget File Name: %b%36%n\r\n"
  2952791132,  "%1 has detected malware or other potentially unwanted software.%n For more information please see the following:%n%13%n %tName:%b%8%n %tID:%b%7%n %tSeverity:%b%10%n %tCategory:%b%12%n %tPath:%b%22%n %tDetection Origin:%b%24%n %tDetection Type:%b%28%n %tDetection Source:%b%18%n %tUser:%b%20%n %tProcess Name:%b%19%n %tSignature Version:%b%41%n %tEngine Version:%b%42\r\n"
  2952791133,  "%1 has taken action to protect this machine from malware or other potentially unwanted software.%n For more information please see the following:%n%13%n %tName:%b%8%n %tID:%b%7%n %tSeverity:%b%10%n %tCategory:%b%12%n %tPath:%b%22%n %tDetection Origin:%b%24%n %tDetection Type:%b%28%n %tDetection Source:%b%18%n %tUser:%b%39%n %tProcess Name:%b%19%n %tAction:%b%31%n %tAction Status: %b%38%n %tSignature Version:%b%41%n %tEngine Version:%b%42\r\n"
  2952791134,  "%1 has encountered a non-critical error when taking action on malware or other potentially unwanted software.%n For more information please see the following:%n%13%n %tName:%b%8%n %tID:%b%7%n %tSeverity:%b%10%n %tCategory:%b%12%n %tPath:%b%22%n %tDetection Origin:%b%24%n %tDetection Type:%b%28%n %tDetection Source:%b%18%n %tUser:%b%39%n %tProcess Name:%b%19%n %tAction:%b%31%n %tAction Status: %b%38%n %tError Code:%b%33%n %tError description:%b%34%n %tSignature Version:%b%41%n %tEngine Version:%b%42\r\n"
  2952791135,  "%1 has encountered a critical error when taking action on malware or other potentially unwanted software.%n For more information please see the following:%n%13%n %tName:%b%8%n %tID:%b%7%n %tSeverity:%b%10%n %tCategory:%b%12%n %tPath:%b%22%n %tDetection Origin:%b%24%n %tDetection Type:%b%28%n %tDetection Source:%b%18%n %tUser:%b%39%n %tProcess Name:%b%19%n %tAction:%b%31%n %tAction Status: %b%38%n %tError Code:%b%33%n %tError description:%b%34%n %tSignature Version:%b%41%n %tEngine Version:%b%42\r\n"
  2952792016,  "%1 signature version has been updated.%n %tCurrent Signature Version:%b%3%n %tPrevious Signature Version:%b%4%n %tSignature Type:%b%12%n %tUpdate Type:%b%14%n %tUser:%b%8\\%9%n %tCurrent Engine Version:%b%15%n %tPrevious Engine Version:%b%16\r\n"
  2952792017,  "%1 has encountered an error trying to update signatures.%n %tNew Signature Version:%b%3%n %tPrevious Signature Version:%b%4%n %tUpdate Source:%b%6%n %tSignature Type:%b%12%n %tUpdate Type:%b%14%n %tUser:%b%8\\%9%n %tCurrent Engine Version:%b%15%n %tPrevious Engine Version:%b%16%n %tError code:%b%17%n %tError description:%b%18\r\n"
  2952792018,  "%1 engine version has been updated.%n %tCurrent Engine Version:%b%3%n %tPrevious Engine Version:%b%4%n %tUser:%b%8\\%9\r\n"
  2952792019,  "%1 has encountered an error trying to update the engine.%n %tNew Engine Version:%b%3%n %tPrevious Engine Version:%b%4%n %tUser:%b%8\\%9%n %tError Code:%b%11%n %tError description:%b%12\r\n"
  2952792020,  "%1 has encountered an error trying to load signatures and will attempt reverting back to a known-good set of signatures.%n %tSignatures Attempted:%b%4%n %tError Code:%b%5%n %tError description:%b%6%n %tSignature version:%b%9%n %tEngine version:%b%10\r\n"
  2952792026,  "%1 used Dynamic Signature Service to retrieve additional signatures to help protect your machine.%n %tCurrent Signature Version:%b%3%n %tSignature Type:%b%12%n %tUser:%b%8\\%9%n %tCurrent Engine Version:%b%15%n %tDynamic Signature Type:%b%23%n %tPersistence Path:%b%24%n %tDynamic Signature Version:%b%25%n %tDynamic Signature Compilation Timestamp:%b%26%n %tPersistence Limit Type:%b%28%n %tPersistence Limit:%b%29\r\n"
  2952792027,  "%1 used Dynamic Signature Service to discard obsolete signatures.%n %tCurrent Signature Version:%b%3%n %tSignature Type:%b%12%n %tCurrent Engine Version:%b%15%n %tDynamic Signature Type:%b%23%n %tPersistence Path:%b%24%n %tDynamic Signature Version:%b%25%n %tDynamic Signature Compilation Timestamp:%b%26%n %tRemoval Reason:%b%31%n %tPersistence Limit Type:%b%28%n %tPersistence Limit:%b%29\r\n"
  2952792028,  "%1 has encountered an error trying to use Dynamic Signature Service.%n %tCurrent Signature Version:%b%3%n %tSignature Type:%b%12%n %tUser:%b%8\\%9%n %tCurrent Engine Version:%b%15%n %tError code:%b%17%n %tError description:%b%18 %tDynamic Signature Type:%b%23%n %tPersistence Path:%b%24%n %tDynamic Signature Version:%b%25%n %tDynamic Signature Compilation Timestamp:%b%26%n %tPersistence Limit Type:%b%28%n %tPersistence Limit:%b%29\r\n"
  2952792029,  "%1 discarded all Dynamic Signature Service signatures.%n %tUser:%b%8\\%9%n %tCurrent Engine Version:%b%15\r\n"
  2952793018,  "%1 Real-Time Protection feature has encountered an error and failed.%n %tFeature:%b%3%n %tError Code:%b%5%n %tError description:%b%6%n %tReason:%b%4\r\n"
  2952793023,  "%1 Real-time Protection feature has restarted. It is recommended that you run a full system scan to detect any items that may have been missed while this agent was down.%n %tFeature:%b%3%n %tReason:%b%4\r\n"
  2952795016,  "%1 Real-time Protection scanning for spyware and other potentially unwanted software was enabled.\r\n"
  2952795017,  "%1 Real-time Protection scanning for spyware and other potentially unwanted software was disabled.\r\n"
  2952795020,  "%1 Real-time Protection feature configuration has changed.%n %tFeature:%b%3%n %tConfiguration:%b%4\r\n"
  2952795023,  "%1 Configuration has changed. If this is an unexpected event you should review the settings as this may be the result of malware.%n %tOld value:%b%3%n %tNew value:%b%4\r\n"
  2952795024,  "%1 engine has been terminated due to an unexpected error.%n %tFailure Type:%b%5%n %tException code:%b%6%n %tResource:%b%3\r\n"
  2952795025,  "%1 scanning for spyware and other potentially unwanted software has been enabled.\r\n"
  2952795026,  "%1 scanning for spyware and other potentially unwanted software is disabled.\r\n"
  2952795027,  "%1 scanning for viruses has been enabled.\r\n"
  2952795028,  "%1 scanning for viruses is disabled.\r\n"
}
