#pragma code_page(65001)
#include <resources.h>

1 MESSAGETABLE
{
  3221225473,  "Windows Media Player is not installed properly and must be reinstalled.%n%nDo you want to install the Player from the Microsoft Web site?\r\n"
  3221225474,  "To finish installing Windows Media Player, restart your computer and then log on as an administrator or a member of the Administrators group.\r\n"
}
