1 MUI "Data_12.bin"


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
15030, 	"Keyboard"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
15051, 	"Keyboard"
15053, 	"Keypad"
15054, 	"Numbers"
15055, 	"Symbols"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
15056, 	"Web"
15057, 	"AuxPad"
15058, 	"OSKMenu"
15059, 	"OSKPred"
15060, 	"OSKNumPad"
}

1 MESSAGETABLE
{
268435505,  	"Response Time"
805306368,  	"Info"
805306369,  	"Start"
805306370,  	"Stop"
1342177284,  	"Information"
-1879048191,  	"Microsoft-Windows-TabletPC-TabletInputPanel"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Tablet PC Input Panel On-Screen Keyboard"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "tabskb.dll"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "tabskb.dll.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
		VALUE "OleSelfRegister", ""
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

