#pragma code_page(65001)
#include <resources.h>

3014 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "_POP_UP"
  {
    MENUITEM "Troubleshoot problems", 3107
    MENUITEM "Open Network and Sharing Center", 3109
  }
}

40101 DIALOGEX 0, 0, 317, 180
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "This computer is connected to a network. Windows will automatically apply the correct network settings based on the network's location.", 4294967295, Static, 0x50020000, 0, 0, 263, 20, 0x0
  CONTROL "Connecting to your network and applying settings...", 40325, Static, 0x40020001 | NOT WS_VISIBLE, 26, 81, 237, 9, 0x0
  CONTROL "", 40324, "msctls_progress32", 0x40000008 | NOT WS_VISIBLE, 26, 93, 237, 9, 0x0
  CONTROL "Home network\nIf all the computers on this network are at your home, and you recognize them, this is a trusted home network.  Don't choose this for public places such as coffee shops or airports.", 40310, Button, 0x5003000e, 4, 20, 280, 43, 0x0
  CONTROL "Work network\nIf all the computers on this network are at your workplace, and you recognize them, this is a trusted work network.  Don't choose this for public places such as coffee shops or airports.", 40311, Button, 0x5001000e, 4, 65, 280, 43, 0x0
  CONTROL "Public network\nIf you don't recognize all the computers on the network (for example, you're in a coffee shop or airport, or you have mobile broadband), this is a public network and is not trusted.", 40302, Button, 0x5001000e, 4, 110, 280, 43, 0x0
  CONTROL "Treat all future networks that I connect to as public, and don't ask me again.", 40312, Button, 0x50010003, 0, 160, 284, 9, 0x0
  CONTROL "<A>Help me choose</A>", 40303, "SysLink", 0x50010000, 0, 172, 240, 9, 0x8
}

40102 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 2407, 40401, Static, 0x50000003, 0, 0, 48, 48, 0x0
  CONTROL "Network name:", 4294967295, Static, 0x50020000, 40, 0, 60, 10, 0x0
  CONTROL "", 40307, Edit, 0x50000880, 110, 0, 170, 10, 0x0
  CONTROL "", 40306, Static, 0x50020000, 40, 10, 220, 50, 0x0
  CONTROL "Location type:", 40323, Static, 0x50020000, 40, 10, 60, 10, 0x0
  CONTROL "", 40308, Edit, 0x50000880, 110, 10, 170, 10, 0x0
  CONTROL "", 40309, Edit, 0x50000804, 110, 20, 170, 40, 0x0
  CONTROL "<A>View or change settings in Network and Sharing Center</A>", 40305, "SysLink", 0x50010000, 0, 60, 240, 15, 0x0
  CONTROL "<A>View computers and devices on the network</A>", 40304, "SysLink", 0x50010000, 0, 75, 240, 9, 0x0
  CONTROL "<A>View or change HomeGroup settings</A>", 40326, "SysLink", 0x40010000 | NOT WS_VISIBLE, 0, 75, 240, 9, 0x0
}

40103 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Network name:", 4294967295, Static, 0x50020000, 0, 3, 55, 10, 0x0
  CONTROL "", 40313, Edit, 0x50810080, 60, 0, 173, 14, 0x0
  CONTROL "Network Icon:", 40320, Static, 0x50020000, 0, 30, 49, 10, 0x0
  CONTROL 2407, 40401, Static, 0x50000003, 54, 23, 48, 48, 0x0
  CONTROL "Change", 40316, Button, 0x50010000, 88, 26, 50, 14, 0x0
  CONTROL "LUAShield", 40404, Static, 0x50000003, 0, 135, 16, 16, 0x0
  CONTROL "<A>Merge or delete network locations</A>", 40317, "SysLink", 0x50010000, 12, 135, 240, 10, 0x8
}

40104 DIALOGEX 40, 40, 193, 200
CAPTION "Change Network Icon"
STYLE 0x80c801c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Look for icons in this file:", 4294967295, Static, 0x50000000, 7, 7, 179, 10, 0x0
  CONTROL "", 40350, Edit, 0x50810080, 7, 17, 123, 14, 0x0
  CONTROL "&Browse...", 40351, Button, 0x50010000, 135, 17, 50, 14, 0x0
  CONTROL "&Select an icon from the list below:", 4294967295, Static, 0x50000000, 7, 36, 179, 10, 0x0
  CONTROL "", 40352, ListBox, 0x50911311, 7, 47, 179, 41, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 79, 179, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 136, 179, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Internet"
  2,  "Not Connected"
  3,  "Currently connected to:"
  7,  "Unknown"
  8,  "Internet access"
  9,  "Domain access only"
  10,  "Internet and domain access"
  15,  "Connection status: unknown"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "The service to detect this status is turned off.  "
  17,  "More information..."
  20,  "Signal strength:  Poor"
  21,  "Signal strength:  Fair"
  22,  "Signal strength:  Good"
  23,  "Signal strength:  Very good"
  24,  "Signal strength:  Excellent"
  31,  "Do you want to turn on %s?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "This service ""%s"""
  33,  "&Turn this on"
  34,  "Access: "
  35,  "No Internet access"
  36,  "No network access"
  37,  "You are currently not connected to any networks."
  38,  "Wireless networks are available."
  39,  "Network access might be limited"
  40,  "Network access might be limited until this computer meets <a>network requirements</a>"
  41,  "Network access might be limited until this computer meets security standards defined by your network administrator"
  47,  "Windows Networking"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  48,  "Network System Icon"
  49,  "Network"
  52,  "Connected to '%s' for the first time"
  53,  "Connected to this network for the first time"
  54,  "Click here if this network is at home, work, or another safe location. By default, it is considered to be in a public location."
  55,  "Waiting for users to connect to your adhoc network"
  56,  "Additional log on information may be required."
  57,  "Click to open your browser"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  600,  "Install the printer using the untrusted driver"
  601,  "Don't install the printer"
  602,  "Install Homegroup Printer"
  603,  "Do you want to install the printer on %s?"
  604,  "This printer has an untrusted driver.  <A>What does this mean?</A>"
  605,  "Install Homegroup Printer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3011,  "Network System Icon"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  40500,  "Select a location for the '%1' network"
  40502,  "Set Network Location"
  40503,  "Windows could not set the network settings"
  40504,  "&Close"
  40505,  "You can try to change this setting later in the Network and Sharing Center."
  40506,  "On Private networks, you can see other computers and devices on the network, and your computer is discoverable."
  40507,  "To help protect your computer on Public networks, discovery of other computers and devices on the network will be limited, and the use of the network by some programs might be restricted."
  40508,  "Private"
  40509,  "Public"
  40511,  "Invalid character"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  40512,  "A network name cannot contain \\, /, :, *, ?, <, >, |, "", spaces only or tab characters."
  40513,  "Domain"
  40514,  "This computer is joined to the domain on this network and may receive policy to turn on or turn off network discovery from the domain."
  40515,  "&OK"
  40516,  "Set Network Properties"
  40517,  "Type a network name and choose an icon"
  40518,  "On Home networks, you can see other computers and devices on the network, your computer is discoverable, and you can create or join a homegroup."
  40519,  "On Work networks, you can see other computers and devices on the network, and your computer is discoverable."
  40520,  "Home"
  40521,  "Work"
  40522,  "The network location is now %1"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  40550,  "Pick an icon for a network"
  40551,  "'%1!s!' does not contain any icon."
  40552,  "'%1!s!' contain too many icons. Maximum number of icons that can be loaded is %2!d!."
  40553,  "Not enough memory to load the icons from %1!s!."
  40554,  "Error loading image file '%1!s!."
  40555,  "Not enough memory to load the image file '%1!s!'."
  40556,  "Select an icon or an image file"
  40557,  "Image Files(*.bmp,*.gif,*.jpg,*.png,*.tiff,*.exif,*.wmf,*.emf)\0*.bmp;*.gif;*.jpg;*.png;*.tiff;*.exif;*.wmf;*.emf\0Icon Files(*.ico)\0*.ico\0Program Files(*.dll,*.exe)\0*.dll;*.exe"
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177282,  "Error\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-PrimaryNetworkIcon\r\n"
  2415919106,  "Microsoft-Windows-NetworkLocationWizard/Operational\r\n"
  2432696321,  "Microsoft-Windows-NetShell\r\n"
  2952790016,  "NetworkLocationDialog - Location Selected: Category %1 ElevationRequired: %2\r\n"
  2952790017,  "NetworkLocationDialog - Launched\r\n"
  2952790117,  "PrimaryNetworkIcon Initialized\r\n"
  2952790118,  "PrimaryNetworkIcon Resumed\r\n"
  2952790137,  "PrimaryNetworkIcon: State changed to Disconnected\r\n"
  2952790138,  "PrimaryNetworkIcon: State changed to Connecting\r\n"
  2952790139,  "PrimaryNetworkIcon: State changed to Limited\r\n"
  2952790140,  "PrimaryNetworkIcon: State changed to LocalConnected\r\n"
  2952790141,  "PrimaryNetworkIcon: State changed to InternetConnected\r\n"
  2952790142,  "PrimaryNetworkIcon: State changed to WirelessAvailable\r\n"
  2952790177,  "PrimaryNetworkIcon: Network and sharing center selected\r\n"
  2952790178,  "PrimaryNetworkIcon: VAN UI selected\r\n"
  2952790179,  "PrimaryNetworkIcon: Troubleshoot selected\r\n"
  2952790180,  "PrimaryNetworkIcon: Tooltip selected\r\n"
  2952790217,  "PrimaryNetworkIcon: RightClick Start\r\n"
  2952790218,  "PrimaryNetworkIcon: RightClick Stop\r\n"
  2952791017,  "Network location wizard has been suppressed by a system or user registry key.\r\n"
  2952791018,  "Network location wizard has been suppressed by a user through the UI.\r\n"
  2952791019,  "Network location wizard has been suppressed because the network is ad-hoc.\r\n"
  2952791020,  "RunNwCategoryWizard failed.  Details: %1\r\n"
  2952791021,  "XWizard failed to run the wizard.  Details: %1\r\n"
  2952791022,  "CanRunTask failed.  Details: %1\r\n"
  2952791023,  "Network location has been selected.  Network: %1 Location: %2\r\n"
  2952791024,  "Navigated directly to finish page.  Details: %1\r\n"
  2952791025,  "Network location selection has been canceled at elevation.  Network: %1 Location: %2\r\n"
  2952791026,  "Could not register for UI status events.  Details: %1\r\n"
  2952792017,  "PrimaryNetworkIcon: User notified for interface hotspot\r\n"
  2969575233,  "NetShell: folder displayed\r\n"
}
