#pragma code_page(65001)
#include <resources.h>

120 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "Tray"
  {
    MENUITEM "&Status...", 121
    MENUITEM "&Disconnect", 1043
  }
}

104 DIALOGEX 0, 0, 202, 86
CAPTION "Connected"
STYLE 0x80c809c0
EXSTYLE 0x40400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL 101, 1038, Static, 0x50000003, 8, 8, 20, 20, 0x0
  CONTROL "Call duration:", 1069, Static, 0x50020000, 45, 10, 54, 8, 0x0
  CONTROL "", 1039, Static, 0x50020000, 103, 10, 54, 8, 0x0
  CONTROL "Connect speed:", 1070, Static, 0x50020000, 45, 20, 54, 8, 0x0
  CONTROL "", 1040, Static, 0x50020000, 103, 20, 54, 8, 0x0
  CONTROL "Bytes received:", 1071, Static, 0x50020000, 45, 30, 54, 8, 0x0
  CONTROL "", 1041, Static, 0x50020000, 103, 30, 87, 8, 0x0
  CONTROL "Bytes sent:", 1072, Static, 0x50020000, 45, 40, 54, 8, 0x0
  CONTROL "", 1042, Static, 0x50020000, 103, 40, 87, 8, 0x0
  CONTROL "", 1044, Static, 0x50020001, 8, 50, 194, 8, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 45, 64, 56, 14, 0x0
  CONTROL "&Disconnect", 1043, Button, 0x50010000, 106, 64, 58, 14, 0x0
  CONTROL "\nYou are about to be disconnected. Press the ""Stay Online"" button to remain connected.", 1045, Static, 0x40020000 | NOT WS_VISIBLE, 45, 19, 152, 30, 0x0
}

123 DIALOGEX 0, 0, 186, 56
CAPTION "Reconnect"
STYLE 0x90c009c0
EXSTYLE 0x40000
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Yes", 1, Button, 0x50010001, 33, 34, 50, 14, 0x0
  CONTROL "&No", 2, Button, 0x50010000, 103, 34, 50, 14, 0x0
  CONTROL "", 1058, Static, 0x50020000, 35, 5, 142, 26, 0x0
  CONTROL 101, 1038, Static, 0x50000003, 6, 6, 21, 20, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11054,  "%s bps"
  11055,  "%02u:%02u:%02u"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11056,  "%s"
  11057,  "%s (%s cps)"
  11060,  "%u seconds until disconnect."
  11061,  "Stay Online"
  11062,  "Disconnect Now"
  11063,  "OK"
  11064,  "Disconnect"
  11065,  "Connected for %u seconds."
  11066,  "Connected for %u second."
  11067,  "Connected for %u seconds."
  11068,  "Connected for %u minute."
  11069,  "Connected for %u minute, %u second."
  11070,  "Connected for %u minute, %u seconds."
  11071,  "Connected for %u minutes."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11072,  "Connected for %u minutes, %u second."
  11073,  "Connected for %u minutes, %u seconds."
  11074,  "Connected for %u hour."
  11075,  "Connected for %u hour, %u second."
  11076,  "Connected for %u hour, %u seconds."
  11077,  "Connected for %u hour, %u minute."
  11078,  "Connected for %u hour, %u minute, %u second."
  11079,  "Connected for %u hour, %u minute, %u seconds."
  11080,  "Connected for %u hour, %u minutes."
  11081,  "Connected for %u hour, %u minutes, %u second."
  11082,  "Connected for %u hour, %u minutes, %u seconds."
  11083,  "Connected for %u hours."
  11084,  "Connected for %u hours, %u second."
  11085,  "Connected for %u hours, %u seconds."
  11086,  "Connected for %u hours, %u minute."
  11087,  "Connected for %u hours, %u minute, %u second."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11088,  "Connected for %u hours, %u minute, %u seconds."
  11089,  "Connected for %u hours, %u minutes."
  11090,  "Connected for %u hours, %u minutes, %u second."
  11091,  "Connected for %u hours, %u minutes, %u seconds."
  11094,  "Connection to %s was terminated.  Do you want to reconnect?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11208,  "Dial-up Adapter"
  11209,  "Disconnecting Connection Manager connections."
}

