1 MUI "Data_1026.bin"

99 DIALOGEX 132, 64, 227, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Save Scheme"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Save this cursor scheme as:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 144, 9 
   CONTROL "", 300, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 212, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 116, 39, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 169, 39, 50, 14 
}

100 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Buttons"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Button configuration", 94, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 238, 71 
   CONTROL "&Switch primary and secondary buttons", 101, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 17, 139, 14 
   CONTROL "", 103, "PropertyMouseButtonControl", 0x50020000, 173, 13, 65, 62 
   CONTROL "Select this check box to make the button on the right the one you use for primary functions such as selecting and dragging.", 95, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 33, 155, 37 
   CONTROL "Double-click speed", 97, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 79, 238, 66 
   CONTROL "Spee&d:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 119, 46, 9 
   CONTROL "Slow", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 119, 46, 9 
   CONTROL "Fast", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 141, 119, 15, 8 
   CONTROL "", 105, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 63, 119, 78, 16 
   CONTROL "Double-click the folder to test your setting. If the folder does not open or close, try using a slower setting.", 124, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 89, 158, 25 
   CONTROL "", 106, STATIC, SS_ICON | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 198, 100, 39, 37 
   CONTROL "ClickLock", 99, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 146, 238, 65 
   CONTROL "&Turn on ClickLock", 114, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 158, 72, 10 
   CONTROL "Enables you to highlight or drag without holding down the mouse button. To set, briefly press the mouse button. To release, click the mouse button again.", 125, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 173, 217, 25 
   CONTROL "S&ettings...", 115, BUTTON, BS_PUSHBUTTON | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 156, 63, 14 
}

101 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "Pointers"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "&Scheme", 94, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 178, 53 
   CONTROL "", 113, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 13, 21, 165, 160 
   CONTROL "Sa&ve As...", 111, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 39, 50, 14 
   CONTROL "&Delete", 112, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 39, 50, 14 
   CONTROL "", 110, STATIC, SS_ICON | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 191, 11, 53, 48 
   CONTROL "&Customize:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 66, 100, 9 
   CONTROL "", 101, LISTBOX, LBS_NOTIFY | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 77, 237, 103 
   CONTROL "&Enable pointer shadow", 114, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 184, 100, 10 
   CONTROL "Use De&fault", 103, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 184, 50, 14 
   CONTROL "&Browse...", 102, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 184, 50, 14 
   CONTROL "A&llow themes to change mouse pointers", 115, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 202, 200, 10 
}

102 DIALOGEX 0, 0, 94, 44
STYLE WS_CHILD | WS_CLIPSIBLINGS
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Preview:", 94, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 36, 9 
   CONTROL "", 400, STATIC, SS_ICON | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 44, 0, 45, 42 
}

103 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pointer Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Motion", 94, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 6, 238, 61 
   CONTROL 104, 106, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 17, 20, 20 
   CONTROL "Sele&ct a pointer speed:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 19, 120, 8 
   CONTROL "Slow", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 36, 17, 9 
   CONTROL "Fast", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 143, 36, 16, 9 
   CONTROL "", 101, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 61, 32, 80, 16 
   CONTROL "&Enhance pointer precision", 116, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 53, 151, 10 
   CONTROL "Snap To", 97, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 71, 238, 38 
   CONTROL "A&utomatically move pointer to the default button in a dialog box", 109, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 83, 182, 17 
   CONTROL 108, 110, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 83, 20, 20 
   CONTROL "Visibility", 98, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 113, 238, 98 
   CONTROL "&Display pointer trails", 103, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 126, 192, 13 
   CONTROL 600, 105, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 125, 20, 20 
   CONTROL "Short", 107, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 143, 17, 9 
   CONTROL "Long", 108, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 143, 143, 20, 8 
   CONTROL "", 104, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 61, 139, 80, 16 
   CONTROL 601, 112, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 160, 20, 20 
   CONTROL 602, 113, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 15, 185, 20, 20 
   CONTROL "&Hide pointer while typing", 114, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 165, 174, 10 
   CONTROL "&Show location of pointer when I press the CTRL key", 115, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 190, 196, 10 
}

104 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Speed"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Character repeat", 106, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 237, 146 
   CONTROL 105, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 21, 24, 18, 20 
   CONTROL "Long", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 56, 38, 17, 9 
   CONTROL "Short", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 210, 38, 17, 9 
   CONTROL "Repeat &delay:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 56, 24, 46, 9 
   CONTROL "", 100, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 38, 134, 18 
   CONTROL 106, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 21, 70, 18, 20 
   CONTROL "Slow", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 56, 84, 18, 9 
   CONTROL "Fast", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 210, 84, 16, 8 
   CONTROL "&Repeat rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 56, 70, 41, 9 
   CONTROL "", 101, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 84, 134, 18 
   CONTROL "Click here and hold down a key to &test repeat rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 115, 187, 9 
   CONTROL "", 102, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 21, 125, 209, 14 
   CONTROL "None", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 56, 176, 20, 9 
   CONTROL "Fast", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 210, 176, 16, 9 
   CONTROL "", 103, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 21, 174, 18, 20 
   CONTROL "", 104, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 29, 180, 1, 8 
   CONTROL "Cursor &blink rate", 107, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 157, 237, 49 
   CONTROL "", 105, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 176, 134, 18 
}

106 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
}

108 DIALOGEX 0, 0, 252, 218
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wheel"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "Vertical Scrolling", 94, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 238, 78 
   CONTROL 603, 101, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 18, 20, 20 
   CONTROL "Roll the wheel one notch to scroll:", 102, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 20, 140, 12 
   CONTROL "The following &number of lines at a time:", 103, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 42, 37, 195, 10 
   CONTROL "&One screen at a time", 104, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 42, 68, 197, 10 
   CONTROL "", 105, EDIT, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 69, 49, 50, 14 
   CONTROL "", 106, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 46, 11, 18 
   CONTROL "Horizontal Scrolling", 100, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 88, 238, 78 
   CONTROL 608, 108, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 99, 20, 20 
   CONTROL "&Tilt the wheel to scroll the following number of characters at a time:", 109, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 101, 140, 24 
   CONTROL "", 110, EDIT, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 69, 130, 50, 14 
   CONTROL "", 111, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 127, 11, 18 
}

116 DIALOGEX 0, 0, 188, 86
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Settings for ClickLock"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL 607, 111, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 21, 20 
   CONTROL "&Adjust how long you need to hold down a mouse or trackball button before your click is \"locked.\"", 117, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 7, 145, 40 
   CONTROL "Short", 118, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 29, 36, 28, 10 
   CONTROL "Long", 119, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 135, 36, 28, 10 
   CONTROL "", 120, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 59, 33, 74, 20 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 78, 65, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 65, 50, 14 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
100, 	"Mouse"
101, 	"Customize your mouse settings, such as the button configuration, double-click speed, mouse pointers, and motion speed."
102, 	"Keyboard"
103, 	"Customize your keyboard settings, such as the cursor blink rate and the character repeat rate."
110, 	"explorer.exe hcp://help/tshoot/tsInputDev.htm"
111, 	"explorer.exe hcp://help/tshoot/tsInputDev.htm"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
200, 	"Cursors (*.ani, *.cur)*.ani;*.curAnimated Cursors (*.ani)*.aniStatic Cursors (*.cur)*.curAll Files*.*"
201, 	"Confirm Scheme Removal"
204, 	"The %s file, which contains the '%s' cursor, is either missing or corrupt."
205, 	"Browse"
207, 	"Normal Select"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
208, 	"Busy"
209, 	"Working In Background"
210, 	"Unavailable"
211, 	"Text Select"
212, 	"Precision Select"
213, 	"Vertical Resize"
214, 	"Horizontal Resize"
215, 	"Diagonal Resize 1"
216, 	"Diagonal Resize 2"
217, 	"Move"
218, 	"Help Select"
219, 	"Handwriting"
220, 	"Alternate Select"
221, 	"(None)"
222, 	" (system scheme)"
223, 	"Replace Scheme?"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
224, 	"The Cursor Scheme name you selected is already in use.  Do you want to replace the original scheme?"
225, 	"Link Select"
230, 	"Are you sure you want to completely remove the scheme '%s' from your system?"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1007, 	"Magnified"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1011, 	"Windows Black"
1012, 	"Windows Black (extra large)"
1013, 	"Windows Black (large)"
1015, 	"Windows Inverted"
1016, 	"Windows Inverted (extra large)"
1017, 	"Windows Inverted (large)"
1018, 	"Windows Standard (extra large)"
1019, 	"Windows Standard (large)"
1020, 	"Windows Aero"
1021, 	"Windows Aero (large)"
1022, 	"Windows Aero (extra large)"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
2000, 	"Animated Cursor"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Mouse and Keyboard Control Panel Applets"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "main.cpl"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "main.cpl.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

