1 MUI "Data_1030.bin"

100 DIALOGEX 0, 0, 0, 0
STYLE WS_MINIMIZEBOX | WS_CAPTION | WS_VSCROLL | WS_HSCROLL | WS_SYSMENU
CAPTION "Windows Mobility Center"
CLASS  "MobilityCenterApp"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
}

101 DIALOGEX 0, 0, 0, 0
STYLE WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
CLASS  "MobilityCenterTile"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
90, 	"&Brightness"
91, 	"&Volume"
92, 	"B&attery Status"
93, 	"&Wireless Network"
94, 	"Screen &Orientation"
95, 	"E&xternal Display"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
96, 	"Sy&nc Center"
97, 	"&Presentation Settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
113, 	"Select a power plan. Your current selection is %1!s!"
120, 	"Orientation not available"
121, 	"Primary portrait"
122, 	"Primary landscape"
123, 	"Secondary portrait"
124, 	"Secondary landscape"
125, 	"&Rotate screen"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
130, 	"No display connected"
131, 	"&Connect display"
132, 	"Dis&connect display"
133, 	"Display connected"
140, 	"Display brightness"
141, 	"Display brightness is unavailable"
142, 	"Display Brightness"
143, 	"Are you trying to permanently change your screen brightness?"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
144, 	"Any screen brightness adjustments you make in Mobility Center are temporary.\n\nTo permanently change your screen brightness, click the icon on the Display Brightness tile, adjust the brightness level on the Change settings for the plan page, and then click Save changes.\n\nNote: Increasing the screen brightness decreases the life of your battery."
145, 	"&Don't show me this again"
150, 	"Wireless off"
151, 	"no signal"
152, 	"very poor"
153, 	"poor"
154, 	"medium"
155, 	"good"
156, 	"excellent"
157, 	"No wireless adapter found"
158, 	"Connected"
159, 	"Not connected"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
160, 	"&Turn wireless off"
161, 	"&Turn wireless on"
162, 	" and connection strength is "
163, 	"Ne&twork Center"
172, 	"No audio devices available"
173, 	"&Mute"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
180, 	"No errors, no conflicts"
181, 	"Sync complete"
182, 	"%1!u! errors, %2!u! conflicts"
184, 	"No device connected"
185, 	"No sync partnerships"
186, 	"Syncing (%1!s!)"
187, 	"&Sync"
188, 	"&Stop"
189, 	"&Sync settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
200, 	"Presenting"
201, 	"Not presenting"
202, 	"T&urn off"
203, 	"T&urn on"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
210, 	"Brightness"
211, 	"Volume"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
500, 	"Change display settings."
501, 	"Change Tablet PC settings."
502, 	"Change power settings."
503, 	"Change synchronization settings."
504, 	"Change wireless network settings."
505, 	"Change audio settings."
506, 	"Some settings are controlled by Group Policy. If a setting is unavailable, contact your system administrator."
507, 	"Current status is"
508, 	"Change presentation settings."
509, 	"No audio devices are recognized by your computer."
510, 	"Change display brightness settings for your power plan."
511, 	"%s: %s %s"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1001, 	"Customized by "
1002, 	"Windows Mobility Center"
1003, 	"Adjust display brightness, volume, power options, and other commonly used mobile PC settings."
1004, 	"Opens the Windows Mobility Center so you can adjust display brightness, volume, power options, and other mobile PC settings."
1005, 	"Windows Mobility Center is available only on laptops."
1006, 	"Windows Mobility Center"
1007, 	"Help"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1008, 	"Windows Mobility Center"
}

1 MESSAGETABLE
{
805306369,  	"Start"
805306370,  	"Stop"
1342177284,  	"Information"
-1879048191,  	"Microsoft-Windows-MobilityCenter"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Windows Mobility Center"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "MBLCTR.EXE"
		VALUE "LegalCopyright", "Copyright © 1998-2006 Microsoft Corp."
		VALUE "OriginalFilename", "MBLCTR.EXE.MUI"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
		VALUE "OleSelfRegister", ""
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

