#pragma code_page(65001)
#include <resources.h>

2304 DIALOGEX 0, 0, 212, 63
CAPTION "TCP/IP DNS Server"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&DNS server:", 4294967295, Static, 0x50020000, 7, 7, 84, 8, 0x0
  CONTROL "", 1055, "msctls_netaddress", 0x50810080, 7, 18, 176, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 42, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 42, 50, 14, 0x0
}

2305 DIALOGEX 0, 0, 227, 63
CAPTION "TCP/IP Domain Suffix"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Domain suffix:", 4294967295, Static, 0x50020000, 7, 7, 55, 8, 0x0
  CONTROL "", 1056, "msctls_netaddress", 0x50810080, 7, 18, 214, 14, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 117, 43, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 171, 43, 50, 14, 0x0
}

2308 DIALOGEX 0, 0, 252, 218
CAPTION "IP Settings"
STYLE 0x50c80048
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "IP add&resses", 4294967295, Button, 0x50000007, 7, 7, 238, 81, 0x0
  CONTROL "Generic1", 1016, "SysListView32", 0x5081800d, 16, 20, 220, 43, 0x0
  CONTROL "&Add...", 1017, Button, 0x50010000, 78, 67, 50, 14, 0x0
  CONTROL "&Edit...", 1018, Button, 0x50010000, 132, 67, 50, 14, 0x0
  CONTROL "Remo&ve", 1019, Button, 0x50010000, 186, 67, 50, 14, 0x0
  CONTROL "De&fault gateways:", 4294967295, Button, 0x50000007, 7, 92, 238, 81, 0x0
  CONTROL "Generic1", 1004, "SysListView32", 0x5081800d, 16, 105, 220, 43, 0x0
  CONTROL "A&dd...", 1020, Button, 0x50010000, 78, 152, 50, 14, 0x0
  CONTROL "Edi&t...", 1021, Button, 0x50010000, 132, 152, 50, 14, 0x0
  CONTROL "Re&move", 1022, Button, 0x50010000, 186, 152, 50, 14, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 180, 238, 31, 0x0
  CONTROL "A&utomatic metric", 1030, Button, 0x50010003, 13, 180, 66, 9, 0x0
  CONTROL "I&nterface metric:", 1073, Static, 0x50020000, 15, 195, 57, 8, 0x0
  CONTROL "", 1029, Edit, 0x50812080, 80, 193, 50, 12, 0x0
}

2309 DIALOGEX 0, 0, 212, 87
CAPTION "TCP/IP Gateway Address"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Gateway:", 4294967295, Static, 0x50020000, 7, 9, 55, 8, 0x0
  CONTROL "", 1027, "SysIPAddress32", 0x50010080, 80, 7, 83, 12, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 26, 198, 32, 0x0
  CONTROL "A&utomatic metric", 1090, Button, 0x50010003, 13, 26, 66, 9, 0x0
  CONTROL "&Metric:", 1091, Static, 0x50020000, 13, 40, 51, 8, 0x0
  CONTROL "", 1028, Edit, 0x50812080, 80, 38, 83, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 66, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 66, 50, 14, 0x0
}

2310 DIALOGEX 0, 0, 212, 70
CAPTION "TCP/IP Address"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&IP address:", 4294967295, Static, 0x50020000, 7, 9, 60, 8, 0x0
  CONTROL "", 1025, "SysIPAddress32", 0x50010080, 80, 7, 83, 12, 0x0
  CONTROL "&Subnet mask:", 4294967295, Static, 0x50020000, 7, 27, 63, 8, 0x0
  CONTROL "", 1026, "SysIPAddress32", 0x50010080, 80, 25, 83, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 49, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 49, 50, 14, 0x0
}

2322 DIALOGEX 0, 0, 252, 238
CAPTION "DNS"
STYLE 0x50c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "D&NS server addresses, in order of use:", 4294967295, Static, 0x50020000, 7, 7, 167, 8, 0x0
  CONTROL "", 1040, ListBox, 0x50a10103, 7, 17, 214, 36, 0x0
  CONTROL "&Add...", 1041, Button, 0x50010000, 63, 57, 50, 14, 0x0
  CONTROL "&Edit...", 1042, Button, 0x50010000, 117, 57, 50, 14, 0x0
  CONTROL "Remo&ve", 1043, Button, 0x50010000, 171, 57, 50, 14, 0x0
  CONTROL "Up", 1044, Button, 0x50010040, 227, 17, 18, 16, 0x0
  CONTROL "Down", 1045, Button, 0x50010040, 227, 37, 18, 16, 0x0
  CONTROL "The following three settings are applied to all connections with TCP/IP enabled. For resolution of unqualified names:", 1059, Static, 0x50020000, 7, 77, 224, 17, 0x0
  CONTROL "Append &primary and connection specific DNS suffixes", 1046, Button, 0x50032409, 7, 97, 230, 10, 0x0
  CONTROL "Append parent suffi&xes of the primary DNS suffix", 1047, Button, 0x50012403, 20, 109, 201, 10, 0x0
  CONTROL "Append t&hese DNS suffixes (in order):", 1048, Button, 0x50012409, 7, 121, 201, 10, 0x0
  CONTROL "", 1049, ListBox, 0x50a10103, 7, 133, 214, 36, 0x0
  CONTROL "A&dd...", 1050, Button, 0x50010000, 63, 173, 50, 14, 0x0
  CONTROL "Edi&t...", 1051, Button, 0x50010000, 117, 173, 50, 14, 0x0
  CONTROL "Re&move", 1052, Button, 0x50010000, 171, 173, 50, 14, 0x0
  CONTROL "Up", 1053, Button, 0x50010040, 227, 133, 18, 16, 0x0
  CONTROL "Down", 1054, Button, 0x50010040, 227, 153, 18, 16, 0x0
  CONTROL "DNS &suffix for this connection:", 1032, Static, 0x50020000, 7, 197, 100, 8, 0x0
  CONTROL "", 1031, "msctls_netaddress", 0x50810080, 108, 194, 113, 14, 0x0
  CONTROL "&Register this connection's addresses in DNS", 1057, Button, 0x50010003, 7, 209, 214, 12, 0x0
  CONTROL "&Use this connection's DNS suffix in DNS registration", 1058, Button, 0x50010003, 7, 220, 214, 12, 0x0
}

2323 DIALOGEX 0, 0, 252, 218
CAPTION "General"
STYLE 0x50c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "You can get IP settings assigned automatically if your network supports this capability. Otherwise, you need to ask your network administrator for the appropriate IP settings.", 1008, Static, 0x50020000, 7, 7, 229, 32, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 58, 238, 62, 0x0
  CONTROL "&Obtain an IP address automatically", 1000, Button, 0x50032409, 13, 44, 223, 10, 0x0
  CONTROL "U&se the following IP address:", 1001, Button, 0x50010409, 13, 57, 105, 10, 0x0
  CONTROL "&IP address:", 1005, Static, 0x50020000, 16, 72, 85, 8, 0x0
  CONTROL "", 1002, "SysIPAddress32", 0x50010080, 132, 70, 83, 12, 0x0
  CONTROL "S&ubnet mask:", 1006, Static, 0x50020000, 16, 88, 88, 8, 0x0
  CONTROL "", 1003, "SysIPAddress32", 0x50010080, 132, 86, 83, 12, 0x0
  CONTROL "&Default gateway:", 1007, Static, 0x50020000, 16, 104, 93, 8, 0x0
  CONTROL "", 1004, "SysIPAddress32", 0x50010080, 132, 102, 83, 12, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 141, 238, 46, 0x0
  CONTROL "O&btain DNS server address automatically", 1009, Button, 0x50032409, 13, 127, 223, 10, 0x0
  CONTROL "Us&e the following DNS server addresses:", 1010, Button, 0x50010409, 13, 140, 141, 10, 0x0
  CONTROL "&Preferred DNS server:", 1013, Static, 0x50020000, 16, 155, 93, 8, 0x0
  CONTROL "", 1011, "SysIPAddress32", 0x50010080, 132, 153, 83, 12, 0x0
  CONTROL "&Alternate DNS server:", 1014, Static, 0x50020000, 16, 171, 95, 8, 0x0
  CONTROL "", 1012, "SysIPAddress32", 0x50010080, 132, 169, 83, 12, 0x0
  CONTROL "Va&lidate settings upon exit", 1098, Button, 0x50010003, 16, 197, 150, 8, 0x0
  CONTROL "Ad&vanced...", 1015, Button, 0x50010000, 185, 197, 60, 14, 0x0
}

2324 DIALOGEX 0, 0, 252, 218
CAPTION "WINS"
STYLE 0x50c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&WINS addresses, in order of use:", 4294967295, Button, 0x50000007, 7, 7, 238, 78, 0x0
  CONTROL "", 1060, ListBox, 0x50a10103, 16, 20, 193, 39, 0x0
  CONTROL "&Add...", 1061, Button, 0x50010000, 51, 64, 50, 14, 0x0
  CONTROL "&Edit...", 1062, Button, 0x50010000, 105, 64, 50, 14, 0x0
  CONTROL "Remo&ve", 1063, Button, 0x50010000, 159, 64, 50, 14, 0x0
  CONTROL "&Up", 1064, Button, 0x50010040, 218, 20, 18, 16, 0x0
  CONTROL "&Down", 1065, Button, 0x50010040, 218, 40, 18, 16, 0x0
  CONTROL "If LMHOSTS lookup is enabled, it applies to all connections for which TCP/IP is enabled.", 1072, Static, 0x50020000, 7, 89, 238, 18, 0x0
  CONTROL "Enable &LMHOSTS lookup", 1066, Button, 0x50010003, 7, 111, 107, 10, 0x0
  CONTROL "I&mport LMHOSTS...", 1067, Button, 0x50010000, 155, 109, 90, 14, 0x0
  CONTROL "NetBIOS setting", 4294967295, Button, 0x50000007, 7, 131, 238, 80, 0x0
  CONTROL "Use NetBIOS setting from the DHCP server. If static IP address is used or the DHCP server does not provide NetBIOS setting, enable NetBIOS over TCP/IP.", 1074, Static, 0x50020000, 31, 152, 205, 27, 0x0
  CONTROL "De&fault:", 1070, Button, 0x50030009, 14, 142, 153, 10, 0x0
  CONTROL "E&nable NetBIOS over TCP/IP", 1068, Button, 0x50010009, 14, 182, 169, 10, 0x0
  CONTROL "Di&sable NetBIOS over TCP/IP", 1069, Button, 0x50010009, 14, 195, 169, 10, 0x0
}

2326 DIALOGEX 0, 0, 212, 62
CAPTION "TCP/IP WINS Server"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&WINS server:", 4294967295, Static, 0x50020000, 7, 7, 90, 8, 0x0
  CONTROL "", 1071, "SysIPAddress32", 0x50010080, 7, 17, 83, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 41, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 41, 50, 14, 0x0
}

2330 DIALOGEX 0, 0, 252, 218
CAPTION "IP Settings"
STYLE 0x40c80040
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "This checkbox only applies when you are connected to a local network and a dial-up network simultaneously.  When checked, data that cannot be sent on the local network is forwarded to the dial-up network.", 1033, Static, 0x50020000, 7, 7, 216, 35, 0x0
  CONTROL "", 1037, Button, 0x50000007, 7, 56, 238, 31, 0x0
  CONTROL "&Use default gateway on remote network", 1030, Button, 0x50012403, 14, 56, 142, 10, 0x0
  CONTROL "Disable class based route addition", 1092, Button, 0x50012003, 17, 70, 219, 10, 0x0
  CONTROL "", 1093, Button, 0x50000007, 7, 94, 238, 31, 0x0
  CONTROL "&Automatic metric", 1034, Button, 0x50010003, 13, 94, 66, 9, 0x0
  CONTROL "I&nterface metric:", 1035, Static, 0x50020000, 15, 107, 57, 8, 0x0
  CONTROL "", 1036, Edit, 0x50812080, 80, 105, 50, 12, 0x0
  CONTROL "PPP link", 1032, Button, 0x50000007, 7, 131, 238, 31, 0x0
  CONTROL "U&se IP header compression", 1031, Button, 0x50012403, 17, 143, 138, 10, 0x0
}

2331 DIALOGEX 0, 0, 252, 218
CAPTION "General"
STYLE 0x50c00040
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "You can get IP settings assigned automatically if your network supports this capability. Otherwise, you need to ask your network administrator for the appropriate IP settings.", 1008, Static, 0x50020000, 7, 7, 218, 29, 0x0
  CONTROL "", 65535, Button, 0x50000007, 7, 58, 238, 30, 0x0
  CONTROL "&Obtain an IP address automatically", 1000, Button, 0x50032409, 13, 44, 223, 10, 0x0
  CONTROL "U&se the following IP address:", 1001, Button, 0x50010409, 13, 57, 105, 10, 0x0
  CONTROL "&IP address:", 1005, Static, 0x50020000, 16, 72, 92, 8, 0x0
  CONTROL "", 1002, "SysIPAddress32", 0x50010080, 132, 70, 83, 12, 0x0
  CONTROL "", 65535, Button, 0x50000007, 7, 110, 238, 46, 0x0
  CONTROL "O&btain DNS server address automatically", 1009, Button, 0x50032409, 13, 96, 223, 10, 0x0
  CONTROL "Us&e the following DNS server addresses:", 1010, Button, 0x50010409, 13, 109, 141, 10, 0x0
  CONTROL "&Preferred DNS server:", 1013, Static, 0x50020000, 16, 124, 96, 8, 0x0
  CONTROL "", 1011, "SysIPAddress32", 0x50010080, 132, 122, 83, 12, 0x0
  CONTROL "&Alternate DNS server:", 1014, Static, 0x50020000, 16, 140, 96, 8, 0x0
  CONTROL "", 1012, "SysIPAddress32", 0x50010080, 132, 138, 83, 12, 0x0
  CONTROL "Ad&vanced...", 1015, Button, 0x50010000, 185, 162, 60, 14, 0x0
}

2334 DIALOGEX 0, 0, 252, 218
CAPTION "Alternate Configuration"
STYLE 0x50c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "If this computer is used on more than one network, enter the alternate IP settings below.", 4294967295, Static, 0x50020000, 7, 7, 238, 20, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 48, 238, 158, 0x0
  CONTROL "Au&tomatic private IP address", 1070, Button, 0x50030409, 16, 34, 213, 10, 0x0
  CONTROL "U&ser configured", 1071, Button, 0x50010409, 16, 48, 65, 10, 0x0
  CONTROL "&IP address:", 1072, Static, 0x50020000, 18, 64, 91, 8, 0x0
  CONTROL "", 1073, "SysIPAddress32", 0x50010000, 134, 62, 83, 12, 0x0
  CONTROL "S&ubnet mask:", 1074, Static, 0x50020000, 18, 80, 96, 8, 0x0
  CONTROL "", 1075, "SysIPAddress32", 0x50010000, 134, 78, 83, 12, 0x0
  CONTROL "&Default gateway:", 1076, Static, 0x50020000, 18, 96, 95, 8, 0x0
  CONTROL "", 1077, "SysIPAddress32", 0x50010000, 134, 94, 83, 12, 0x0
  CONTROL "&Preferred DNS server:", 1078, Static, 0x50020000, 17, 120, 97, 8, 0x0
  CONTROL "", 1079, "SysIPAddress32", 0x50010000, 133, 118, 83, 12, 0x0
  CONTROL "&Alternate DNS server:", 1080, Static, 0x50020000, 17, 136, 94, 8, 0x0
  CONTROL "", 1081, "SysIPAddress32", 0x50010000, 133, 134, 83, 12, 0x0
  CONTROL "Preferred &WINS server:", 1082, Static, 0x50020000, 18, 160, 98, 8, 0x0
  CONTROL "", 1083, "SysIPAddress32", 0x50010000, 134, 158, 83, 12, 0x0
  CONTROL "Alternate WI&NS server:", 1084, Static, 0x50020000, 18, 176, 96, 8, 0x0
  CONTROL "", 1085, "SysIPAddress32", 0x50010000, 134, 174, 83, 12, 0x0
  CONTROL "&Validate settings, if changed, upon exit", 1086, Button, 0x50010003, 18, 195, 150, 8, 0x0
}

2337 DIALOGEX 0, 0, 302, 70
CAPTION "TCP/IP Address"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&IPv6 address:", 4294967295, Static, 0x50020000, 7, 9, 60, 8, 0x0
  CONTROL "", 1025, "msctls_netaddress", 0x50810080, 80, 7, 176, 12, 0x0
  CONTROL "&Subnet prefix length:", 4294967295, Static, 0x50020000, 7, 27, 88, 8, 0x0
  CONTROL "", 1026, Edit, 0x50812080, 80, 25, 20, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 49, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 49, 50, 14, 0x0
}

2338 DIALOGEX 0, 0, 302, 87
CAPTION "TCP/IP Gateway Address"
STYLE 0x90c800c8
EXSTYLE 0x400
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Gateway:", 4294967295, Static, 0x50020000, 7, 9, 55, 8, 0x0
  CONTROL "", 1027, "msctls_netaddress", 0x50810080, 80, 7, 176, 12, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 26, 198, 32, 0x0
  CONTROL "A&utomatic metric", 1090, Button, 0x50010003, 13, 26, 66, 9, 0x0
  CONTROL "&Metric:", 1091, Static, 0x50020000, 13, 40, 51, 8, 0x0
  CONTROL "", 1028, Edit, 0x50812080, 80, 38, 83, 12, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 101, 66, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 155, 66, 50, 14, 0x0
}

2339 DIALOGEX 0, 0, 346, 218
CAPTION "General"
STYLE 0x50c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "You can get IPv6 settings assigned automatically if your network supports this capability. Otherwise, you need to ask your network administrator for the appropriate IPv6 settings.", 1008, Static, 0x50020000, 7, 7, 314, 32, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 58, 332, 62, 0x0
  CONTROL "&Obtain an IPv6 address automatically", 1000, Button, 0x50032409, 13, 44, 223, 10, 0x0
  CONTROL "U&se the following IPv6 address:", 1001, Button, 0x50010409, 13, 57, 112, 10, 0x0
  CONTROL "&IPv6 address:", 1005, Static, 0x50020000, 16, 72, 85, 8, 0x0
  CONTROL "", 1002, "msctls_netaddress", 0x50810080, 132, 70, 176, 12, 0x0
  CONTROL "S&ubnet prefix length:", 1006, Static, 0x50020000, 16, 88, 88, 8, 0x0
  CONTROL "", 1003, Edit, 0x50812080, 132, 86, 20, 12, 0x0
  CONTROL "&Default gateway:", 1007, Static, 0x50020000, 16, 104, 93, 8, 0x0
  CONTROL "", 1004, "msctls_netaddress", 0x50810080, 132, 102, 176, 12, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 7, 141, 332, 46, 0x0
  CONTROL "O&btain DNS server address automatically", 1009, Button, 0x50032409, 13, 127, 223, 10, 0x0
  CONTROL "Us&e the following DNS server addresses:", 1010, Button, 0x50010409, 13, 140, 141, 10, 0x0
  CONTROL "&Preferred DNS server:", 1013, Static, 0x50020000, 16, 155, 93, 8, 0x0
  CONTROL "", 1011, "msctls_netaddress", 0x50810080, 132, 153, 176, 12, 0x0
  CONTROL "&Alternate DNS server:", 1014, Static, 0x50020000, 16, 171, 95, 8, 0x0
  CONTROL "", 1012, "msctls_netaddress", 0x50810080, 132, 169, 176, 12, 0x0
  CONTROL "Va&lidate settings upon exit", 1098, Button, 0x50010003, 16, 197, 150, 8, 0x0
  CONTROL "Ad&vanced...", 1015, Button, 0x50010000, 272, 197, 67, 14, 0x0
}

2340 DIALOGEX 0, 0, 346, 198
CAPTION "General"
STYLE 0x50c00040
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "You can get IPv6 settings assigned automatically if your network supports this capability. Otherwise, you need to ask your network administrator for the appropriate IPv6 settings.", 1008, Static, 0x50020000, 7, 7, 314, 32, 0x0
  CONTROL "", 65535, Button, 0x50000007, 7, 58, 332, 45, 0x0
  CONTROL "&Obtain an IPv6 address automatically", 1000, Button, 0x50032409, 13, 44, 223, 10, 0x0
  CONTROL "U&se the following IPv6 address:", 1001, Button, 0x50010409, 13, 57, 112, 10, 0x0
  CONTROL "&IPv6 address:", 1005, Static, 0x50020000, 16, 72, 85, 8, 0x0
  CONTROL "", 1002, "msctls_netaddress", 0x50810080, 132, 70, 176, 12, 0x0
  CONTROL "S&ubnet prefix length:", 1006, Static, 0x50020000, 16, 88, 88, 8, 0x0
  CONTROL "", 1003, Edit, 0x50812080, 132, 86, 20, 12, 0x0
  CONTROL "", 65535, Button, 0x50000007, 7, 121, 332, 46, 0x0
  CONTROL "O&btain DNS server address automatically", 1009, Button, 0x50032409, 13, 107, 223, 10, 0x0
  CONTROL "Us&e the following DNS server addresses:", 1010, Button, 0x50010409, 13, 120, 141, 10, 0x0
  CONTROL "&Preferred DNS server:", 1013, Static, 0x50020000, 16, 135, 93, 8, 0x0
  CONTROL "", 1011, "msctls_netaddress", 0x50810080, 132, 133, 176, 12, 0x0
  CONTROL "&Alternate DNS server:", 1014, Static, 0x50020000, 16, 151, 95, 8, 0x0
  CONTROL "", 1012, "msctls_netaddress", 0x50810080, 132, 149, 176, 12, 0x0
  CONTROL "Ad&vanced...", 1015, Button, 0x50010000, 262, 177, 67, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23001,  "Microsoft TCP/IP"
  23002,  "The subnet mask that you have entered for the IP address is not valid.  Please enter a valid mask."
  23003,  "The adapter requires at least one IP address.  Please enter one."
  23004,  "You have entered an address that is missing its subnet mask.  Please add a subnet mask"
  23005,  "Invalid IP or subnet mask address."
  23006,  "IP addresses starting with %1 are not valid because they are reserved for loopback addresses. Please specify some other valid value between %2 and %3."
  23007,  "%1 is not a valid entry as the first field of a host IP address. Please specify a value between %2 and %3."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23008,  "DHCP protocol will attempt to automatically configure your workstation during system initialization. Any parameters specified in these property pages will override any values obtained by DHCP. Do you want to enable DHCP?"
  23009,  "IP address"
  23010,  "Subnet mask"
  23011,  "Subnet prefix length"
  23012,  "Invalid IP address"
  23013,  "Invalid default gateway address"
  23015,  "You have not selected an item. Select one first."
  23016,  "DHCP Enabled"
  23017,  "Automatic configuration only"
  23020,  "Domain name is not a valid name."
  23021,  "The current setting of search method requires at least one DNS suffix. Please enter one or change the setting."
  23022,  "Domain suffix is not a valid suffix."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23024,  "Advanced TCP/IP Settings"
  23027,  "IP security"
  23028,  "IP security protects the confidentiality, integrity and authenticity of IP packets between two computers on a network. IP security settings apply to all connections for which TCP/IP is enabled."
  23029,  "PPP settings"
  23030,  "PPP"
  23031,  "SLIP settings"
  23032,  "SLIP"
  23036,  "Cannot create file %1. Try again, providing a different filename."
  23037,  "Configuration failed to find the system path.  Copy the LMHOSTS file to the directory %SystemRoot%\\system32\\drivers\\etc."
  23038,  "Configuration was not able to copy the LMHOSTS file.  Please copy the LMHOSTS file to the directory %1\\drivers\\etc."
  23039,  "The static IP address that was just configured is already in use on the network. Please reconfigure a different IP address."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23040,  "In order to configure TCP/IP, you must install and enable a network adapter card."
  23041,  "%1 is not a valid entry.  Please specify a value between %2 and %3."
  23042,  "Out of memory."
  23043,  "Error"
  23046,  "IP addresses must be unique for each network card.  Please remove the duplicate IP address from the IP addresses list in the Advanced dialog box."
  23047,  "The IP address %1 you have entered for this network adapter is already assigned to another adapter '%2' on this computer. If the same address is assigned to both adapters and they both become active, only one of them will use this address.  This may result in incorrect system configuration. \n\nDo you want to fix the problem by entering a different IP address for this adapter in the list of IP addresses in the Advanced dialog box?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23061,  "The DNS server list is empty. The local IP address will be configured as the primary DNS server address because Microsoft DNS server is installed on this machine."
  23062,  "Metric"
  23063,  "Please enter a metric between 1 and %1."
  23064,  "Gateway"
  23065,  "The IP address %1 you have entered for this network adapter is already assigned to another adapter (%2) which is no longer present in the computer.  If the same address is assigned to both adapters and they both become active, only one of them will use this address.  This may result in incorrect system configuration. \n\nDo you want to remove the static IP configuration for the absent adapter?"
  23066,  "You entered an invalid subnet mask. The subnet mask has to be contiguous. Please enter a valid mask."
  23067,  "The DNS domain name '%1' is not a valid DNS name."
  23068,  "The '%1' in the answer file contains invalid DNS name.\nThe Domain Suffix '%2' is not a valid DNS name."
  23069,  "IP settings of '%1' in the answer file is invalid.\nInvalid IP or subnet mask address."
  23070,  "IP settings of '%1' in the answer file is invalid.\nDHCP is disabled and there are no static IP addresses."
  23071,  "IP settings of '%1' in the answer file is invalid.\nDHCP is disabled and there are no subnet masks for IP addresses."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23072,  "The DNS domain of '%1' in the answer file is not a valid DNS name."
  23073,  "The '%1' of '%2' in the answer file contains an invalid IP address '%3'."
  23074,  "The computer DNS domain name '%1' is not a valid DNS name."
  23075,  "%1%2"
  23077,  "The '%1' of '%2' in the answer file contains an invalid setting '%3'."
  23078,  "The DNS server '%1' is already on the list."
  23079,  "The DNS suffix '%1' is already on the list."
  23080,  "The WINS server '%1' is already on the list."
  23081,  "The IP address '%1' is already on the list."
  23082,  "The default gateway '%1' is already on the list."
  23083,  "The alternate DNS server cannot be the same as the preferred DNS server. Please enter a different IP address for the alternate DNS server."
  23084,  "The combination of IP address and subnet mask is invalid. All of the bits in the host address portion of the IP address are set to 1. Please enter a valid combination of IP address and subnet mask."
  23085,  "The combination of IP address and subnet mask is invalid. All of the bits in the host address portion of the IP address are set to 0. Please enter a valid combination of IP address and subnet mask."
  23086,  "The combination of IP address and subnet mask is invalid. All of the bits in the network address portion of the IP address are set to 0. Please enter a valid combination of IP address and subnet mask."
  23087,  "Automatic"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23088,  "Warning - Multiple default gateways are intended to provide redundancy to a single network (such as an intranet or the Internet). They will not function properly when the gateways are on two separate, disjoint networks (such as one on your intranet and one on the Internet). Do you want to save this configuration?"
  23089,  "Warning - The default gateway is not on the same network segment (subnet) that is defined by the IP address and subnet mask. Do you want to save this configuration?"
  23090,  "You entered an invalid prefix length. IPv6 prefix length must be between 0 and 128 (inclusive). Please enter a valid prefix length."
  23091,  "The DNS server '%1' is not a valid IP address."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  24002,  "All Files (*.*)"
  24005,  "Unknown network card."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  24500,  "Validate TCP/IP settings"
  24501,  "You have modified static TCP/IP settings. Would you like to validate them? To confirm, press 'Next'. To cancel, press 'Cancel'."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  50001,  "Transmission Control Protocol/Internet Protocol. The default wide area network protocol that provides communication across diverse interconnected networks."
  50002,  "TCP/IP version 6. The latest version of the internet protocol that provides communication across diverse interconnected networks."
  50003,  "TCP/IP Protocol Driver"
  50004,  "NetIO Legacy TDI Support Driver"
  50005,  "Message-oriented TCP/IP and TCP/IPv6 Protocol (SMB session)"
  50006,  "Microsoft NetbiosSmb Device Driver"
}

