#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  556,  "ie"
  557,  "6.0"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  700,  "This is being run in compatibility mode and not all features are enabled."
  701,  "Internet Explorer Compatibility mode"
  702,  "Internet Explorer"
  703,  "The RUNAS command is not supported."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  705,  "You must be an administrator to open Internet Explorer on this desktop.\n\nTo open Internet Explorer, right-click the Internet Explorer icon, and then click ""Run as administrator""."
  706,  "Windows Internet Explorer 9 provides an easier and more secure web browsing experience. Perform quick searches right from the toolbar, custom print your webpages, and discover, manage, and read RSS feeds."
  707,  "A Windows Security update is needed for Internet Explorer 9 to work correctly.\n\nClick OK to download the Windows security update (recommended).\n\nOnce the update has been installed, restart Internet Explorer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  723,  "Internet Explorer"
}

1 MESSAGETABLE
{
  1,  "An add-on has been enabled. Application: %1. Add-on: %2. Publisher: %3. Version:%4\r\n"
  2,  "An add-on has been disabled. Application: %1. Add-on: %2. Publisher: %3. Version:%4\r\n"
  285212721,  "Response Time\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  822083584,  "Info\r\n"
  1342177284,  "Information\r\n"
  1879048193,  "Enable Add-on\r\n"
  1879048194,  "Disable Add-on\r\n"
  2415919105,  "Application\r\n"
  2432696321,  "Microsoft-IEResp-IEFRAME\r\n"
  2449473537,  "Microsoft-IEFRAME\r\n"
}
