#pragma code_page(65001)
#include <resources.h>

5 DIALOGEX 150, 150, 359, 252
CAPTION "Disk Defragmenter"
STYLE 0x90ca00c0
EXSTYLE 0x0
FONT 9, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1102, Static, 0x50000803, 10, 7, 20, 20, 0x0
  CONTROL "Disk Defragmenter consolidates fragmented files on your computer's hard disk to improve system performance. <a>Tell me more about Disk Defragmenter.</a>", 1054, "SysLink", 0x50010002, 34, 7, 319, 25, 0x0
  CONTROL "", 1110, Static, 0x50000000, 58, 40, 296, 1, 0x0
  CONTROL "Schedule:", 4294967295, Static, 0x50020000, 7, 35, 45, 8, 0x0
  CONTROL "Scheduled defragmentation is turned on", 1027, Static, 0x5002c000, 19, 50, 232, 8, 0x0
  CONTROL "Configure &Schedule...", 1002, Button, 0x50010000, 232, 47, 109, 14, 0x0
  CONTROL "Run at 2:00 AM every Sunday", 1025, Static, 0x5002c000, 19, 61, 232, 8, 0x0
  CONTROL "Next scheduled run: Tuesday at 2:00 AM", 1026, Static, 0x5002c000, 19, 73, 232, 8, 0x0
  CONTROL "", 1108, Static, 0x50000000, 76, 91, 278, 1, 0x0
  CONTROL "C&urrent status:", 4294967295, Static, 0x50020000, 7, 87, 63, 8, 0x0
  CONTROL "", 1113, "SysListView32", 0x50810801, 7, 101, 346, 81, 0x0
  CONTROL "Only disks that can be defragmented are shown.\nTo best determine if your disks need defragmenting right now, you need to first analyze your disks.", 1106, Static, 0x50020000, 7, 187, 346, 26, 0x0
  CONTROL "&Analyze disk", 1104, Button, 0x50010000, 165, 213, 90, 14, 0x0
  CONTROL "&Defragment disk", 1001, Button, 0x50010000, 263, 213, 90, 14, 0x0
  CONTROL "", 1101, Static, 0x50000000, 0, 228, 369, 1, 0x0
  CONTROL "&Close", 1170, Button, 0x50010000, 302, 234, 50, 14, 0x0
}

134 DIALOGEX 0, 0, 242, 157
CAPTION "Disk Defragmenter: Modify Schedule"
STYLE 0x80c800c0
EXSTYLE 0x0
FONT 9, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1023, Static, 0x50000803, 8, 7, 20, 20, 0x0
  CONTROL "Disk defragmenter schedule configuration:", 1024, Static, 0x50020000, 38, 11, 186, 17, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 8, 31, 228, 93, 0x0
  CONTROL "  &Run on a schedule (recommended)", 1006, Button, 0x50010003, 16, 31, 147, 10, 0x0
  CONTROL "&Frequency:", 4294967295, Static, 0x50020000, 16, 48, 60, 8, 0x20
  CONTROL "", 800, ComboBox, 0x50210003, 101, 48, 128, 114, 0x0
  CONTROL "&Day:", 4294967295, Static, 0x50020000, 16, 66, 60, 15, 0x20
  CONTROL "", 802, ComboBox, 0x50210003, 101, 66, 128, 114, 0x0
  CONTROL "&Time:", 4294967295, Static, 0x50020000, 16, 84, 60, 8, 0x20
  CONTROL "", 803, ComboBox, 0x50210003, 101, 84, 128, 114, 0x0
  CONTROL "D&isks:", 4294967295, Static, 0x50020000, 16, 101, 60, 8, 0x20
  CONTROL "&Select disks...", 1115, Button, 0x50010000, 101, 101, 128, 14, 0x0
  CONTROL "", 1101, Static, 0x50000000, 0, 131, 242, 1, 0x0
  CONTROL "&OK", 1, Button, 0x58010001, 131, 138, 50, 14, 0x0
  CONTROL "&Cancel", 2, Button, 0x50010000, 186, 138, 50, 14, 0x0
}

1109 DIALOGEX 0, 0, 250, 185
CAPTION "Disk Defragmenter: Select Disks For Schedule"
STYLE 0x80c800c0
EXSTYLE 0x0
FONT 9, "Segoe UI", 400, 0, 0
{
  CONTROL "Select the checkbox for each disk you want to defragmented on a schedule.", 1112, Static, 0x50020020, 7, 7, 236, 19, 0x0
  CONTROL "&Disks to include in schedule:", 1114, Static, 0x50020020, 7, 26, 236, 11, 0x0
  CONTROL "", 1117, "SysListView32", 0x50b10000, 7, 37, 236, 91, 0x0
  CONTROL "&Automatically defragment new disks", 1116, Button, 0x50010003, 7, 135, 236, 10, 0x0
  CONTROL "", 1101, Static, 0x50000000, 0, 156, 250, 1, 0x0
  CONTROL "&OK", 1, Button, 0x58010001, 139, 164, 50, 14, 0x0
  CONTROL "&Cancel", 2, Button, 0x50010000, 193, 164, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  103,  "Disk Defragmenter"
  104,  "Next scheduled run: %1!s!"
  105,  "Disk Defragmenter is currently using customized settings created by another program. Before you can modify the schedule, you must remove the customized settings."
  106,  "Disk Defragmenter"
  107,  "Run at %1!s! every %2!s!"
  108,  "Run at %1!s! every day"
  109,  "DFRGLAYOUT"
  110,  "Run at %1!s! on day %2!s! of every month"
  111,  "Analyzing disks..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  117,  "Last run: %1!s!"
  118,  "At %1!s! on last day of every month"
  119,  "&Defragment disk"
  120,  "Stop &operation"
  121,  "Your file system performance is good"
  122,  "This may take a few minutes"
  123,  "This may take from a few minutes to a few hours"
  124,  "Disk Defragmenter was scheduled using another program"
  125,  "&Remove settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  172,  "Defragments your disks so that your computer runs faster and more efficiently."
  173,  "Never"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1050,  "Daily"
  1051,  "Weekly"
  1052,  "Monthly"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1058,  "%1!s! (midnight)"
  1059,  "%1!s!"
  1060,  "%1!s!"
  1061,  "%1!s!"
  1062,  "%1!s!"
  1063,  "%1!s!"
  1064,  "%1!s!"
  1065,  "%1!s!"
  1066,  "%1!s!"
  1067,  "%1!s!"
  1068,  "%1!s!"
  1069,  "%1!s!"
  1070,  "%1!s! (noon)"
  1071,  "%1!s!"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1072,  "%1!s!"
  1073,  "%1!s!"
  1074,  "%1!s!"
  1075,  "%1!s!"
  1076,  "%1!s!"
  1077,  "%1!s!"
  1078,  "%1!s!"
  1079,  "%1!s!"
  1080,  "%1!s!"
  1081,  "%1!s!"
  1085,  "Last day"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1103,  "Cancel"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1122,  "(Select all disks)"
  1129,  "Disk Defragmenter cannot start because the task scheduler service is not running. Start the task scheduler service and try again."
  1130,  "Disk Defragmenter"
  1131,  "Scheduled defragmentation is turned off"
  1132,  "Scheduled defragmentation is turned on"
  1133,  "&Turn on schedule..."
  1134,  "Configure &schedule..."
  1135,  "Disk Defragmenter"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1136,  "Disk Defragmenter requires administrator privileges"
  1137,  "To perform this task, you must log on using an administrator account."
  1138,  "The dialog could not be launched\n\nPlease try again."
  1139,  "Disk"
  1140,  "Last Run"
  1141,  "Progress"
  1142,  "%1!d!%% analyzed"
  1143,  "Pass %1!d!: %2!d!%% defragmented"
  1144,  "Pass %1!d!: %2!d!%% consolidated"
  1145,  "Pass %1!d!: %2!d!%% relocated"
  1146,  "Pass %1!d!: %2!d!%% shrunk"
  1147,  "Stopping..."
  1148,  "%1!s! (%2!d!%% fragmented)"
  1149,  "Running..."
  1150,  "Disk Defragmenter is currently defragmenting your disks. If you exit now, all defragmentation operations will be stopped. Are you sure you want to exit?"
  1151,  "Disk Defragmention In Progress"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1153,  "OK"
  1154,  "Never run"
  1162,  "&Defragment disks"
  1163,  "Stop &operations"
  1164,  "&Analyze disk"
  1165,  "&Analyze disks"
  1166,  "Disk Defragmenter is currently using customized settings created by another program. Before you can modify the schedule, you must remove the customized settings. To remove these settings, you must log on using an administrator account."
  1167,  "Cancelling..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1168,  "Disk Defragmenter encountered an error trying to save the schedule.\n\n%1!s!"
  1169,  "Disk Defragmenter encountered an error trying to save the schedule."
}

109 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  63  , 104, ASCII, ALT
  47  , 104, ASCII, ALT
}

