#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5001,  "Set up game updates and options"
  5002,  "Windows can provide additional information about the games installed on your computer by downloading information from the Internet."
  5003,  "Games folder options"
  5004,  "Some settings are managed by your system administrator."
  5005,  "More information"
  5006,  "&Download art and information about installed games"
  5007,  "&Collect most recently played game information"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5008,  "Clear &information"
  5009,  "&Unhide All Items"
  5010,  "We do not collect information that can be used to contact you."
  5011,  "Read the Privacy Statement online"
  5012,  "Game updates and news"
  5013,  "&Automatically check online for updates and news, then notify me when they're available"
  5014,  "&Never check online for updates or news; I'll do this manually"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10008,  "Play"
  10009,  "Play the game or select other play options"
  10010,  "Hardware"
  10011,  "Hardware"
  10012,  "Programs and Features"
  10013,  "Programs and Features"
  10014,  "Parental Controls"
  10015,  "Set up Parental Controls"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10016,  "To find out why this game is blocked, check your Parental Controls settings. If you need access to this game, ask permission from the person who set up Parental Controls."
  10017,  "Parental Controls has blocked this game"
  10018,  "Play"
  10019,  "Display Devices"
  10020,  "Display Devices"
  10021,  "Input Devices"
  10022,  "Input Devices"
  10023,  "Audio Devices"
  10024,  "Audio Devices"
  10025,  "Windows Firewall"
  10026,  "Windows Firewall"
  10027,  "Run as administrator"
  10029,  "Options"
  10030,  "Set up Games folder options"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10035,  "More Games from Microsoft"
  10036,  "Support"
  10037,  "Remove From List"
  10038,  "This will make the Games folder permanently inaccessible."
  10045,  "Windows Parental Controls"
  10046,  "Microsoft Games"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10050,  "Games"
  10051,  "Create link in %1"
  10054,  "Chess Titans"
  10055,  "FreeCell"
  10056,  "Hearts"
  10057,  "Minesweeper"
  10058,  "Purble Place"
  10059,  "Mahjong Titans"
  10060,  "Solitaire"
  10061,  "Spider Solitaire"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10073,  "Could not add additional play tasks."
  10074,  "Could not delete play task."
  10075,  "Hide This Game"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10080,  "Tools"
  10081,  "Access game-related tools"
  10082,  "Games Explorer"
  10083,  "Windows Marketplace Games"
  10084,  "Explore PC games on Windows Marketplace"
  10086,  "Pin to Start Menu"
  10087,  "Unpin from Start Menu"
  10088,  "Copy"
  10090,  "Play the game."
  10091,  "Visit the website to get more information about the game."
  10092,  "Visit the website to get more information about the game."
  10093,  "Copies the selected item to Clipboard. To put a shortcut in the new location, use the Paste Shortcut command."
  10094,  "Adds this item to the Start Menu."
  10095,  "Remove this item from the Start Menu."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10096,  "Customize Play menu items for this game."
  10097,  "Hide the selected item from list."
  10098,  "Remove the selected item from List."
  10099,  "Open the SavedGames folder."
  10101,  "Internet Checkers"
  10102,  "Internet Backgammon"
  10103,  "Internet Spades"
  10104,  "Pin to Taskbar"
  10105,  "Unpin from Taskbar"
  10106,  "Removes this item from the Taskbar."
  10107,  "Pins this item to the Taskbar."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10201,  "Check online for updates"
  10203,  "Download Update"
  10205,  "Cancel Download"
  10207,  "Install Update"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10209,  "More Games from Microsoft"
  10210,  "Hide This Game Provider"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10300,  "Play the classic strategy game of Checkers against online opponents. Be the first to capture all your opponent’s pieces, or leave them with no more moves, to win the game."
  10301,  "Enjoy the classic strategy game of Backgammon. Compete against players online and race to be the first to remove all your playing pieces from the board."
  10302,  "Compete with - and against - online opponents at the classic trick-taking, partnership card game of Spades. Score the most points to win."
  10303,  "Enjoy the classic strategy game of Chess. Play against the computer, or compete against a friend. The winner is the first to capture the opponent’s king."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10304,  "Move all the cards to the home cells using the free cells as placeholders. Stack the cards by suit and rank from lowest (ace) to highest (king)."
  10305,  "Hearts is a trick-based card game in which the goal is to get rid of cards while avoiding points. The player with the lowest number of points wins."
  10306,  "Overturn blank squares and avoid those that conceal hidden mines in this simple game of memory and reasoning. Once you click on a mine, the game is over."
  10307,  "Purble Place is an educational and entertaining game that comprises three distinct games that help teach colors, shapes and pattern recognition."
  10308,  "Mahjong Titans is a form of solitaire played with tiles instead of cards. Match pairs of tiles until all have been removed from the board in this classic game."
  10309,  "Solitaire is the classic, single-player card game. The aim is to collect all the cards in runs of alternating red and black suit colors, from ace through king."
  10310,  "The aim of the game in Spider Solitaire is to remove cards from play in the fewest moves possible. Line up runs of cards from king through ace, in the same suit, to remove them."
  10311,  "More Games from Microsoft"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20001,  "Game Name"
  20002,  "This text is the name of the game."
  20011,  "Game Content Rating System Logo"
  20012,  "This graphic displays the rating logo."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20021,  "Game Content Rating System Rating Name"
  20022,  "This text is the name of the rating system."
  20031,  "Game Content Rating Descriptors"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20032,  "This text is the game content descriptors."
  20033,  ", "
  20041,  "Game Content Rating Optional Descriptors"
  20042,  "This text is the optional game content descriptors."
  20043,  "For more information, go to %s's website."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20051,  "Check your computer's Performance Information:"
  20052,  "Check how well this game will perform on your computer:"
  20061,  "See <a>Performance Information and Tools</a> for more information."
  20062,  "Rate this computer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20071,  "Current System"
  20072,  "Current System"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20081,  "Required"
  20082,  "Required"
  20091,  "Recommended"
  20092,  "Recommended"
  20095,  "Update check complete."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20096,  "Scanning for game updates..."
  20097,  "Downloading update..."
  20098,  "Preparing to install..."
  20099,  "An update is available\nfor this game."
  20100,  "Download Now"
  20101,  "An update has been\ndownloaded."
  20102,  "Install Now"
  20103,  "Update available"
  20104,  "Update Downloaded"
  20105,  "An update is available."
  20106,  "Learn more"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20201,  "Push"
  20202,  "No, don't download"
  20203,  "Yes, download the update"
  20204,  "Game Updates"
  20205,  "Are you sure you want to download this update?"
  20206,  "If you click Yes, an update by %1 will be downloaded from %2."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20208,  "<a>Learn more from the publisher's website</a>"
  20210,  "No, don't install"
  20211,  "Yes, install the update"
  20212,  "Game Updates"
  20213,  "Are you sure you want to install this update?"
  20214,  "If you click Yes, an update by %1 will be installed from %2."
  20216,  "<a>Learn more from the publisher's website</a>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20300,  "Statistics"
  20301,  "News"
  20302,  "Ratings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20304,  "Learn more about ratings"
  20305,  "Game Providers"
  20306,  "Games"
  20307,  "No ratings available"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20320,  "Game Update Files"
  20321,  "Game News Files"
  20322,  "Game Statistics Files"
  20330,  "The Game Update Files are files created in the course of updating your Game Library Games. They are temporarily stored in a dedicated folder."
  20331,  "The Game News Files facilitate delivery of the RSS feeds to your Game Library."
  20332,  "The Game Statistics Files are created to aid maintenance of various game statistics."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  30000,  "Scan Update Error Message"
  30001,  "Microsoft Corporation"
  30002,  "Checks for updates for the currently installed games."
  30003,  "Game Updates"
  30004,  "Windows is unable to connect to the game updates server"
  30005,  "Check your network connection or try again later."
  30006,  "Windows is unable to install the requested update"
  30007,  "A problem is preventing Windows from installing the update you've selected. Contact the game publisher for more information."
  30008,  "Game Update"
  30009,  "Failed to cancel downloading update."
  30010,  "Failed to Install update."
  30011,  "Failed to download update."
  30012,  "More Games"
  30013,  "Game Updates"
  30014,  "Do you want to scan for updates automatically?"
  30015,  "Windows can routinely check online for game updates and notify you when they’re available. \n \n <a>Learn more about update scans</a> \n \n"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  30016,  "Yes, scan for updates automatically"
  30017,  "No, I'll handle scans myself"
  30018,  "Game Updates"
  30019,  "Are you sure you want to cancel this download?"
  30020,  "Yes, cancel"
  30021,  "No, continue downloading"
  30022,  "Check online for\nupdates"
  30023,  "Performance"
  30024,  "This computer's Performance Information has not been created."
  30025,  "Learn more about these scores"
  30026,  "Learn more"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  30100,  "Set up Games"
  30101,  "Do you want to use the recommended update and folder settings?"
  30102,  "Yes, use recommended settings"
  30103,  "No, I want to customize my settings"
  30104,  "Learn more"
  30105,  "Check online for game updates, news, art and information, and save my recently played game information."
}

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-GameUx\r\n"
}
