#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  50,  "Create a system image"
  51,  "Action Center"
  52,  "Setup Backup Now"
  53,  "Update the Backup"
  54,  "Change file backup settings"
  55,  "Turn off schedule"
  56,  "Enable Backup"
  57,  "Create a system repair disc"
  58,  "Windows Easy Transfer"
  59,  "Create a new, full backup"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Backup and restore your files and system. Monitor latest backup status and configuration."
  101,  "Backup and Restore"
  102,  "Backup And Restore CPL Main Window"
  103,  "Help"
  104,  "KB"
  105,  "MB"
  106,  "GB"
  107,  "TB"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  118,  "bytes"
  119,  "%1!s! on %2!s!"
  120,  "Never"
  121,  "Every %1!s! at %2!s!"
  122,  "Every day at %1!s!"
  123,  ",1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th,11th,12th,13th, 14th,15th,16th,17th,18th,19th,20th,21st,22nd,23rd,24th,25th,26th,27th,28th,29th,30th,31st"
  124,  "last"
  125,  "Every %1!s! day of every month at %2!s!"
  126,  "%1!s! free of %2!s!"
  127,  "Documents"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128,  "Music"
  129,  "Pictures"
  130,  "Videos"
  131,  "Email"
  132,  "Compressed Files"
  133,  "Additional Files"
  134,  "Not Available"
  135,  "The backup location is not available. Connect to your backup location or you can restore files from another location."
  136,  "Backup is currently in progress..."
  137,  "Files in libraries and personal folders for selected users"
  138,  "Files in libraries and personal folders for all users"
  139,  "System image"
  140,  "selected folders"
  141,  "Files in selected folders"
  142,  " and system image"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  144,  "In progress..."
  145,  "Not scheduled"
  146,  "There are no backups saved on the current backup location. You can restore files from another location."
  148,  "Windows could not find a backup for this computer."
  149,  "Data file restore has been disabled by your system administrator."
  150,  "Windows Backup has been disabled by the system administrator."
  151,  "Network path: "
  152,  "You can use the <a>Recovery Control Panel</a> to restore your computer to an earlier date."
  153,  "Windows Backup has detected that this computer has been restored to an earlier point in time. As a result, your backup settings might be out of date."
  154,  "The current backup location is locked byBitLocker.Unlock the drive to restore files from it."
  155,  "This computer has been upgraded from a previous version of Windows. Please set up backup."
  156,  "Get help"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  164,  "You need to reconfigure your backup settings because this computer has been upgraded from an earlier version of Windows."
  165,  "&Options"
  166,  "Run backup n&ow"
  167,  "Create a new bac&kup"
  168,  "Change L&ocation"
  171,  "Check backup settings"
  172,  "Back up your files"
  173,  "Check your network credentials"
  174,  "Your network user name or password has expired."
  175,  "Back up your files"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  176,  "The last scheduled backup did not run."
  177,  "Check your backup"
  178,  "The last backup did not complete successfully"
  179,  "Create a new, full backup"
  180,  "To save disk space, only files that are new or have changed since the last backup are backed up. You should create a new, full backup from time to time in case your old backups are lost or corrupted."
  181,  "Change backup location"
  182,  "The disk that your backup is saved on is about to fail."
  183,  "Check backup disk space"
  184,  "The disk that your backups are being saved on doesn't have enough free space."
  186,  "The last backup was cancelled."
  187,  "Windows cannot find the disk or network location where your backups are being saved."
  188,  "Your last backup did not complete successfully. Your files have not been backed up."
  189,  "Insert removable media"
  190,  "Windows backup needs a CD\\DVD or USB drive to continue."
  191,  "Your computer has been restored to an earlier point in time. As a result, your backup settings might be out of date."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  192,  "Check your backup results"
  193,  "The backup completed but some files were skipped."
  194,  "The last backup did not complete successfully because the backup location is locked by BitLocker."
  195,  "A backup is currently in progress.\n\n To create a new backup, cancel the current backup and try again."
  196,  "Windows Backup"
  197,  "&Set up backup"
  198,  "T&urn on schedule"
  199,  "&Change settings"
  200,  "&Manage space"
  201,  "&Back up now"
  202,  "V&iew Details"
  203,  "Select a&nother backup to restore files from"
  204,  "Recover s&ystem settings or your computer"
  205,  "Restore &all users' files"
  206,  "&Restore my files"
  207,  "How do I use Bit&Locker with Windows Backup?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "How do I restore a backup created on a &previous version of Windows?"
  209,  "Windows could not find a backup for this computer that was created using this version of Windows."
  210,  "M&ore information"
  211,  "%1!lu! bytes"
  212,  "%1 %2"
  213,  "%1 (%2)"
  214,  "(%1)"
  215,  "%1!s! and %2!s!"
  216,  "%1!s!, %2!s! and %3!s!"
  217,  "system image"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2500,  "Windows Backup has not been set up."
  2501,  "Backup "
  2503,  "Back up or restore your files"
  2506,  "Restore "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2516,  "You can restore your files that were backed up on the current location."
  2521,  "Next backup:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2537,  "Last backup:"
  2538,  "An internal error has occured"
  2541,  "Backup size: "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2545,  "Backup in progress..."
  2546,  "Schedule:"
  2548,  "None. Select Back up now to run backup manually."
  2550,  "Disconnected"
  2552,  "The backup location is not available. Connect to your backup location or you can restore files from another location."
  2553,  "Contents:"
  2557,  "Network Path: "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2563,  "Location:"
  2564,  "This drive is locked by BitLocker, and must be unlocked before you can use it."
}

