#pragma code_page(65001)
#include <resources.h>

3023 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "", 65000
    MENUITEM SEPARATOR
    MENUITEM "Set as desktop bac&kground", 41515
    MENUITEM SEPARATOR
    MENUITEM "Open f&ile location", 41516
    MENUITEM SEPARATOR
    MENUITEM "Rotate righ&t", 41517
    MENUITEM "Rotate &left", 41518
    MENUITEM SEPARATOR
    MENUITEM "&Copy", 41519
    MENUITEM "&Delete", 41520
    MENUITEM SEPARATOR
    MENUITEM "P&roperties", 41521
  }
}

14018 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "&File"
  {
    MENUITEM "&Delete\tDel", 60019
    MENUITEM "Ma&ke a Copy...", 60030
    MENUITEM SEPARATOR
    MENUITEM "&Copy\tCtrl+C", 60022
    MENUITEM SEPARATOR
    MENUITEM "Prope&rties\tAlt+Enter", 60027
    MENUITEM SEPARATOR
    MENUITEM "E&xit\t", 60029
  }
  POPUP "&Burn"
  {
    MENUITEM "D&ata Disc...", 60033
  }
  POPUP "&Print"
  {
    MENUITEM "&Print...\tCtrl+P", 60005
    MENUITEM "&Order prints...", 60035
    MENUITEM "O&rder prints from...", 60036
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3000,  "&Play"
  3001,  "P&ause"
  3002,  "&Next"
  3003,  "&Back"
  3004,  "&Exit"
  3005,  "Photo Viewer Slide Show"
  3006,  "Your computer can't display this theme."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3008,  "Loading..."
  3009,  "Windows Photo Viewer"
  3010,  "%1!s! - %2!s!"
  3015,  "S&huffle"
  3016,  "Slide Show Speed - &Slow"
  3017,  "Slide Show Speed - &Medium"
  3018,  "Slide Show Speed - &Fast"
  3019,  "Failed to save to the specified location. Make sure the file is not write-protected and there is enough space on the drive to save the image. Save aborted."
  3020,  "&Loop"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3024,  "Rotate right"
  3025,  "Rotate left"
  3026,  "Rotating..."
  3027,  "Waiting for user..."
  3028,  "Rotation"
  3029,  "You cannot rotate this image. Not enough space to perform the rotate. Please free up space by deleting unnecessary files on this image and try again."
  3030,  "You cannot rotate this image. It does not exist."
  3031,  "You cannot rotate this image. The file might be in use or open in another program, or the file or folder might be read-only."
  3033,  "You cannot rotate this image. Image format not recognized."
  3034,  "You cannot rotate this image. The image may not be in a standard format or may contain extra image information that prevents rotation by this program."
  3035,  "You cannot rotate this image. Rotating this image type is not supported."
  3037,  "Save File"
  3038,  "Do you want to save the current page of this picture?"
  3039,  "You are saving a multi-page picture in a single page format. If you continue, only the current page will be saved in the new file."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3040,  "&Save"
  3041,  "Renaming file..."
  3042,  "Changes to the tags, caption, rating or date taken could not be saved to this file."
  3043,  "Pre&view"
  3050,  "Rotate righ&t"
  3051,  "Rotate &left"
  3052,  "&Print"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3060,  "Opens the selected items in Windows Photo Viewer."
  3061,  "Sends the selected items to the printer."
  3062,  "Turns the selected items 90 degrees to the right."
  3063,  "Turns the selected items 90 degrees to the left. "
  3064,  "Displays the pictures and videos in this folder as a slide show."
  3066,  "View pictures"
  3067,  "Windows"
  3068,  "Windows Photo Viewer does not work in safe mode.  If you want to view pictures or videos, restart your computer normally."
  3069,  "Windows Photo Viewer is the built-in picture viewer that allows users to easily view pictures as well as e-mail and burn them to CDs."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4001,  "Play slide show (F11)"
  4005,  "Next (Right arrow)"
  4008,  "Previous (Left arrow)"
  4010,  "Rotate counterclockwise (Ctrl+,)"
  4013,  "Rotate clockwise (Ctrl+.)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4016,  "Delete (Del)"
  4020,  "Changes the display size"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4125,  "Fit to window (Ctrl+0)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  4180,  "Actual size (Ctrl+Alt+0)"
  4181,  "Navigation Pane"
  4182,  "Navigation Bar"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7000,  "Windows Photo Viewer Wallpaper"
  7001,  "The file %s could not be written.\n\nPlease check permissions on this file and try again."
  7002,  "The Desktop Wallpaper could not be changed because there is not enough disk space.\n\nPlease delete some files and try again."
  7003,  "File names may not contain the following characters:\r\n\t\\ / : * ? "" < > |"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7013,  "Burn a disc"
  7014,  "You don't have a disc drive capable of burning files to CD or DVD."
  7017,  "Make a Copy"
  7018,  "This image can't be set as wallpaper. The file may be corrupt."
  7019,  "This image can't be set as wallpaper. It may be an unsupported file type."
  7020,  "This image can't be set as wallpaper. An internal error occurred."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8008,  "Windows Photo Viewer can't save this picture because an unknown error occurred."
  8010,  "Windows Photo Viewer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8035,  "Windows Photo Viewer can't save changes to this picture. Verify that the picture is not set to read-only and make sure you have permission to save to the file location, and then try again."
  8039,  "Windows Photo Viewer can't save the changes to this picture because there's a problem with the picture's file properties."
  8042,  "Why can't I save this picture?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8050,  "No pictures are selected. Select one or more pictures, and then try again."
  8051,  "Windows Photo Viewer can't open this picture because the file appears to be damaged, corrupted, or is too large."
  8063,  "Windows Photo Viewer can't save the changes to this picture because the file isn't available. The picture might have been deleted or you might have lost your network connection."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8088,  "Windows Photo Viewer can't open this picture because either the picture is deleted, or it's in a location that isn't available."
  8094,  "Windows Photo Viewer can't save the changes to this picture because the picture is already open in another program."
  8095,  "Windows Photo Viewer can't open this picture because the picture is being edited in another program."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8096,  "Windows Photo Viewer can't open this picture because you don't have the correct permissions to access the file location."
  8099,  "Windows Photo Viewer can't display this picture because the file is empty."
  8100,  "Windows Photo Viewer can't display this picture because there might not be enough memory available on your computer.  Close some programs that you aren't using or free some hard disk space (if it's almost full), and then try again."
  8101,  "Loading..."
  8103,  "How do I use Photo Gallery?"
  8104,  "How do I change a picture's file format?"
  8105,  "How do I change a read-only file?"
  8106,  "Saving..."
  8108,  "Windows Photo Viewer can't open this picture because either Photo Viewer doesn't support this file format, or you don't have the latest updates to Photo Viewer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  9001,  "Next Page (Page Down)"
  9003,  "Previous Page (Page Up)"
  9005,  "Page %1!d! of %2!d!"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11002,  "An error is preventing this Slide Show from playing."
  11003,  "Slide Show can't start because your selection contains only videos."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11011,  "Your video card doesn't have enough memory to play this slide show. You can disable transparent glass or close other programs that are using video memory and then try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11024,  "Exit"
  11025,  "Shuffle"
  11026,  "Loop"
  11027,  "Slow"
  11028,  "Medium"
  11029,  "Fast"
  11030,  "Themes"
  11031,  "Settings"
  11032,  "Slideshow Navigation Bar"
  11033,  "Play"
  11034,  "Pause"
  11035,  "Next"
  11036,  "Previous"
  11037,  "Slide Show is already running. Please close your first Slide Show and try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11042,  "Slide Show"
  11043,  "How can I improve my Slide Show's visuals?"
  11046,  "Segoe UI"
  11047,  "12"
  11048,  "Mute"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14004,  "&Choose Program..."
  14005,  "No application is available."
  14008,  "&File"
  14011,  "&Print"
  14013,  "&E-mail"
  14014,  "&Open"
  14015,  "Display additional commands"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14016,  "Help"
  14031,  "Open Wit&h..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14032,  "Open Wit&h"
  14033,  "O&rder prints from %s..."
  14045,  "B&urn"
}

3021 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32  , 41000, VIRTKEY, NOINVERT
  27  , 41004, VIRTKEY, NOINVERT
  VK_DELETE  , 41004, VIRTKEY, NOINVERT
  VK_BACK  , 41004, VIRTKEY, NOINVERT
  VK_T  , 41513, VIRTKEY, NOINVERT, CONTROL
  VK_S  , 41514, VIRTKEY, NOINVERT, CONTROL
}

4150 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_F11  , 42000, VIRTKEY, NOINVERT
  188  , 42003, VIRTKEY, NOINVERT, CONTROL
  190  , 42004, VIRTKEY, NOINVERT, CONTROL
  VK_RETURN  , 42017, VIRTKEY, NOINVERT, ALT
  VK_D  , 42005, VIRTKEY, NOINVERT, CONTROL
  187  , 42007, VIRTKEY, NOINVERT, CONTROL
  189  , 42008, VIRTKEY, NOINVERT, CONTROL
  187  , 42007, VIRTKEY, NOINVERT
  189  , 42008, VIRTKEY, NOINVERT
  107  , 42007, VIRTKEY, NOINVERT, CONTROL
  109  , 42008, VIRTKEY, NOINVERT, CONTROL
  107  , 42007, VIRTKEY, NOINVERT
  109  , 42008, VIRTKEY, NOINVERT
  48  , 42010, VIRTKEY, NOINVERT, CONTROL
  96  , 42010, VIRTKEY, NOINVERT, CONTROL
  48  , 42032, VIRTKEY, NOINVERT, CONTROL, ALT
  96  , 42032, VIRTKEY, NOINVERT, CONTROL, ALT
  VK_C  , 42031, VIRTKEY, NOINVERT, CONTROL
  VK_DELETE  , 42005, VIRTKEY, NOINVERT
  VK_DELETE  , 42005, VIRTKEY, NOINVERT, SHIFT
  37  , 42034, VIRTKEY, NOINVERT
  39  , 42035, VIRTKEY, NOINVERT
}

9006 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  34  , 49000, VIRTKEY, NOINVERT
  33  , 49001, VIRTKEY, NOINVERT
}

14035 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_P  , 60005, VIRTKEY, NOINVERT, CONTROL
  VK_S  , 60007, VIRTKEY, NOINVERT, CONTROL
  VK_P  , 60037, VIRTKEY, NOINVERT, ALT
  VK_O  , 60040, VIRTKEY, NOINVERT, ALT
}

