#pragma code_page(65001)
#include <resources.h>

101 DIALOGEX 0, 0, 224, 233
CAPTION "Shim Layer Property Page"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "If you have problems with this program and it worked correctly on an earlier version of Windows, select the compatibility mode that matches that earlier version.", 1013, Static, 0x50020000, 7, 7, 210, 24, 0x0
  CONTROL "Run this program in compatibility mode for:", 5000, Button, 0x50010003, 13, 49, 193, 10, 0x0
  CONTROL "", 1005, ComboBox, 0x58210003, 13, 63, 152, 14, 0x0
  CONTROL "Reduced color mode", 5001, Button, 0x50010003, 13, 102, 196, 10, 0x0
  CONTROL "", 1006, ComboBox, 0x58210003, 13, 116, 100, 14, 0x0
  CONTROL "Run in 640 x 480 screen resolution", 5002, Button, 0x50010003, 13, 134, 195, 10, 0x0
  CONTROL "Disable display scaling on high DPI settings", 5008, Button, 0x50010003, 13, 148, 193, 10, 0x0
  CONTROL "Run this program as an administrator", 5005, Button, 0x50012003, 13, 183, 197, 10, 0x0
  CONTROL "Compatibility mode", 5006, Button, 0x50000007, 7, 38, 210, 46, 0x0
  CONTROL "Settings", 5007, Button, 0x50000007, 7, 91, 210, 74, 0x0
  CONTROL "Privilege Level", 65535, Button, 0x50000007, 7, 172, 210, 28, 0x0
}

5011 DIALOGEX 0, 0, 224, 250
CAPTION "Shim Layer Property Page"
STYLE 0x48c00048
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "Recommended Option: <A>Run the compatibility troubleshooter to choose the setting</A>", 1000, "SysLink", 0x50010000, 7, 7, 210, 16, 0x0
  CONTROL "Run this program in compatibility mode for:", 5000, Button, 0x50010003, 13, 41, 193, 10, 0x0
  CONTROL "", 1005, ComboBox, 0x58210003, 13, 55, 152, 14, 0x0
  CONTROL "Reduced color mode", 5001, Button, 0x50010003, 13, 94, 196, 10, 0x0
  CONTROL "", 1006, ComboBox, 0x58210003, 13, 108, 100, 14, 0x0
  CONTROL "Run in 640 x 480 screen resolution", 5002, Button, 0x50010003, 13, 126, 195, 10, 0x0
  CONTROL "Disable display scaling on high DPI settings", 5008, Button, 0x50010003, 13, 140, 193, 10, 0x0
  CONTROL "Run this program as an administrator", 5005, Button, 0x50012003, 13, 175, 197, 10, 0x0
  CONTROL "Change settings for all users", 5010, Button, 0x50010000, 7, 229, 120, 14, 0x0
  CONTROL "Compatibility mode", 5006, Button, 0x50000007, 7, 30, 210, 46, 0x0
  CONTROL "Settings", 5007, Button, 0x50000007, 7, 83, 210, 74, 0x0
  CONTROL "Privilege Level", 4294967295, Button, 0x50000007, 7, 164, 210, 28, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "SlayerXP"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2000,  "Windows 95"
  2001,  "Windows 98 / Windows Me"
  2005,  "Compatibility modes cannot be set permanently on this program because it is on a network drive."
  2006,  "Compatibility modes cannot be set on this program because it is part of this version of Windows."
  2007,  "Compatibility"
  2010,  "Windows XP (Service Pack 2)"
  2011,  "While running in safe mode, you cannot change the selected compatibility mode, although you may disable it."
  2012,  "Compatibility modes cannot be applied in safe mode, but existing compatibility settings can be disabled."
  2015,  "The 'Run this program as an administrator' compatibility setting cannot be used in combination with other compatibility settings."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2016,  "Program Compatibility"
  2017,  "8-bit (256) color"
  2018,  "16-bit (65536) color"
  2020,  "Windows Vista"
  2021,  "The operation was blocked by group policy. For more information, contact your system administrator."
  2022,  "Troubleshoot compatibilit&y"
  2023,  "Troubleshoot"
  2024,  "Windows XP (Service Pack 3)"
  2025,  "Windows Vista (Service Pack 1)"
  2026,  "Windows Vista (Service Pack 2)"
  2027,  "Previous version of Windows"
  2029,  "Windows 7"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5012,  "%s"
  5013,  "Compatibility for all users"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  6001,  "Shortcut"
  6002,  "Windows Batch File"
  6003,  "Windows Command Script"
  6004,  "Application"
  6005,  "Shortcut to MS-DOS Program"
  6006,  "Program Compatibility"
}

