#pragma code_page(65001)
#include <resources.h>

300 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Open Action Center", 3001
    MENUITEM SEPARATOR
    MENUITEM "&Troubleshoot a problem", 3002
    MENUITEM "Open Windows &Update", 3003
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Status not available"
  10,  "Action Center"
  11,  "New messages are available"
  12,  "Click to view messages about your computer."
  13,  "View messages in Action Center"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  200,  "Action Center Flyout"
  205,  "Windows User Account Control Settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  210,  "Action Center"
  211,  "No current issues detected"
  212,  "Solve PC issues: %1"
  213,  " "
  214,  "1 important message"
  215,  "%u important messages"
  216,  " "
  217,  "1 message"
  218,  "%u messages"
  219,  "%u total messages"
  220,  "Open Action Center"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  230,  "You can use Action Center to review recent messages about your computer's status and find solutions to problems."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  240,  " "
  241,  " (Important)"
  242,  "Good"
  243,  "%1\n%2"
  244,  "%1%2"
  245,  "Action Center is working"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1000,  "Backup"
  1001,  "Not set up"
  1002,  "Check your network credentials"
  1003,  "Back up your files"
  1004,  "Check your backup"
  1005,  "Create a new, full backup"
  1006,  "Backup succeeded"
  1007,  "Change backup location"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1008,  "Check backup disk space"
  1009,  "Check backup settings"
  1010,  "Backup in progress"
  1011,  "Back up your files"
  1012,  "Back up your files"
  1013,  "Check backup settings"
  1014,  "Back up your files"
  1015,  "Backup is not being monitored"
  1016,  "Check backup settings"
  1017,  "Insert removable media"
  1018,  "Check backup settings"
  1019,  "Check your backup results"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1031,  "Your files are not being backed up."
  1032,  "Your network user name or password has expired.\nBackup date: %2"
  1033,  "The last scheduled backup did not run."
  1034,  "The last backup did not complete successfully.\nBackup date: %2"
  1035,  "To save disk space, only files that are new or have changed since the last backup are backed up. You should create a new, full backup from time to time in case your old backups are lost or corrupted."
  1036,  "Backup date: %2"
  1037,  "The disk that your backup is saved on is about to fail."
  1038,  "The disk that your backup is saved on doesn't have enough free space.\nBackup date: %2"
  1039,  "Backup completed but one of the drives was skipped.\nBackup date: %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1040,  "Windows Backup is running"
  1041,  "The last backup was cancelled.\nBackup date: %2"
  1042,  "At least %2 days have passed since your last backup."
  1043,  "Windows cannot find the disk or network location where your backups are being saved.\nBackup date: %2"
  1044,  "Your last backup did not complete successfully. Your files have not been backed up.\nBackup date: %2"
  1045,  "Monitoring Windows Backup through Action Center has been turned off by an administrator or another program."
  1046,  "Your system settings have been restored to an earlier point in time. We recommend that you review your backup settings."
  1047,  "Windows backup needs a CD\\DVD or USB drive to continue."
  1048,  "Your computer has been restored to an earlier point in time. As a result, your backup settings might be out of date."
  1049,  "Your computer has been upgraded to a new version of Windows. As a result you need to re-configure your backup settings."
  1050,  "The backup completed but some files were skipped."
  1051,  "The last backup did not complete because the backup location is locked by BitLocker."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1061,  "Your network user name or password has expired. Click to change credentials."
  1062,  "The last backup did not complete successfully. Click to troubleshoot."
  1063,  "The disk that your backup is saved on doesn't have enough free space. Click to manage backup disk space."
  1064,  "Backup completed but one of the drives was skipped. Click to check backup settings."
  1065,  "At least %2 days have passed since your last backup. Click to run backup now."
  1066,  "Windows cannot find the disk or network location where your backups are being saved. Click to check backup settings."
  1067,  "Windows backup needs a CD\\DVD or USB drive to continue. Insert the required one."
  1068,  "Your files are not being backed up. Click to set up backup."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1081,  "Set up backup"
  1082,  "Optio&ns"
  1083,  "R&un backup now"
  1084,  "Chan&ge location"
  1086,  "Check settings"
  1087,  "Details"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1089,  "Chan&ge credentials"
  1090,  "Set &up backup"
  1092,  "Det&ails"
  1093,  "Create &new backup"
  1094,  "M&ore information"
  1100,  "Troubleshooting: System Maintenance"
  1101,  "Action needed"
  1102,  "No action needed"
  1103,  "Windows found issues requiring your attention."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1104,  "Windows is actively checking your system for maintenance problems."
  1105,  "System Maintenance"
  1106,  "Clean up disk space, fix broken shortcuts and perform other maintenance tasks."
  1107,  "Perform system mai&ntenance"
  1108,  "Change troubleshooting settings"
  1109,  "Off"
  1110,  "Windows is not checking your system for maintenance problems."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1200,  "Network Access Protection"
  1201,  "Network Access Protection Agent service is not running"
  1202,  "Network Access Protection is active"
  1203,  "Your network access might be limited unless you update your computer"
  1204,  "Network access might be limited"
  1205,  "Off"
  1206,  "On"
  1207,  "Network Access Protection"
  1208,  "Network Access Protection"
  1213,  "Your network access might be limited unless you update your computer"
  1214,  "Network access might be limited"
  1215,  "This computer doesn't meet security standards defined by your network administrator."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1216,  "This computer doesn't meet security standards defined by your network administrator."
  1217,  "Vie&w solution"
  1218,  "Vie&w solution"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1300,  "Windows Defender"
  1301,  "Not available"
  1302,  "View"
  1303,  "Disabled"
  1304,  "Windows Defender has items that need your attention."
  1305,  "Windows Defender is not actively protecting your computer."
  1306,  "Service stopped"
  1307,  "To help protect your computer, Windows Defender is running its scheduled scan."
  1308,  "On"
  1309,  "Windows Defender service stopped"
  1310,  "Windows Defender service needs to run to help protect your computer."
  1311,  "View det&ails"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1312,  "Scheduled Scan"
  1313,  "Scheduled Scan in progress."
  1314,  "View &progress"
  1315,  "Potentially harmful software detected"
  1316,  "Click Clean system to remove the items or View details for more information."
  1317,  "Potentially harmful software detected"
  1318,  "Click to review and take action"
  1319,  "View det&ails"
  1320,  "Clean System"
  1324,  "Windows Defender needs to scan your computer"
  1325,  "Scanning on a regular basis helps improve the security of your computer."
  1326,  "Sc&an now"
  1327,  "Microsoft needs more information about this software"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1328,  "Sending this information can improve how Windows Defender protects the security of your computer."
  1329,  "View det&ails"
  1330,  "Send information"
  1331,  "Restart required"
  1332,  "To complete the cleaning process you need to restart your computer."
  1333,  "Rest&art"
  1334,  "Review files that Windows Defender will send to Microsoft"
  1335,  "Sending this information can improve how Windows Defender protects the security of your computer. Click to view details."
  1336,  "Detected threats are being cleaned.  No action needed."
  1337,  "Click View details for more information"
  1338,  "Detected threats are being cleaned."
  1339,  "No action needed."
  1340,  "View det&ails"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1400,  "Action Needed"
  1401,  "No action needed"
  1402,  "Check for up&dates"
  1403,  "Windows Update does not require any action."
  1404,  "Windows could not check for updates automatically."
  1405,  "Click to check for updates now."
  1406,  "Check for updates"
  1407,  "These updates will be installed the next time you shut down your computer or at %3 %2. Installing updates might cause your computer to restart, so please save your work. Click to learn more."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1408,  "Windows will install updates as scheduled"
  1409,  "These updates will be installed the next time you shut down your computer or at %3 %2. Installing updates might cause your computer to restart, so please save your work."
  1410,  "Learn more"
  1411,  "Installing updates might cause your computer to restart, so please save your work. These updates will be installed at %3 %2, or the next time you shut down your computer."
  1412,  "Updates ready to install"
  1413,  "Open Windows Update to finish installing updates"
  1414,  "To finish installing updates, your computer must be restarted. Open Windows Update to finish installing any new updates, and restart your computer."
  1415,  "Open Windows Update"
  1416,  "Restart needed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1500,  "HomeGroup"
  1501,  "Homegroup password was reset"
  1502,  "To reconnect to the homegroup, type the new password."
  1503,  "Type the password"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1504,  "HomeGroup is sharing files"
  1505,  "Sharing settings are being applied to your homegroup files and folders."
  1506,  "View homegroup settings"
  1507,  "You belong to a homegroup"
  1508,  "This computer belongs to a homegroup."
  1509,  "View homegroup settings"
  1510,  "A homegroup is available"
  1511,  "Share your files and printers with other people on your network."
  1512,  "Join now"
  1513,  "A homegroup can be created"
  1514,  "Share your files and printers with other people on your network."
  1515,  "Create a homegroup"
  1516,  "HomeGroup isn't available"
  1517,  "You can't access or create a homegroup right now."
  1518,  "View homegroup settings"
  1519,  "Untrusted printer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1520,  "An untrusted printer can't be shared through HomeGroup."
  1521,  "View homegroup settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1601,  "Windows Activation"
  1602,  "OK"
  1603,  "Windows is activated"
  1604,  "View details in Windows Activation"
  1605,  "Windows is unable to activate. Go to Windows Activation to resolve this issue."
  1606,  "Go to &Windows Activation"
  1607,  "Activate Windows now"
  1608,  "Windows installation is incomplete. Activation is required to ensure that Windows is Genuine. Go to Windows Activation to activate Windows."
  1609,  "Upgrade Windows"
  1610,  "This pre-release version of Windows will expire soon. Go to Windows Activation to purchase and install a released version of Windows."
  1611,  "This pre-release version of Windows has expired. Windows will restart your computer every 2 hours and you will need to backup your data before it restarts. Go to Windows Activation to purchase and install a released version of Windows"
  1612,  "Address a problem with Windows Activation"
  1613,  "Windows has detected a change to the system that prevents Windows activation. Go to Windows Activation for more information on this problem and see how you can resolve it."
  1614,  "The license to use Windows will expire soon. Go to Windows Activation to activate Windows."
  1615,  "Go to Windows Activation"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1700,  "File History"
  1702,  "Off"
  1703,  "Disabled by Group Policy"
  1704,  "Action needed"
  1705,  "On"
  1706,  "Running"
  1710,  "File History is off."
  1711,  "Repair errors"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1712,  "Windows found errors in your File History settings. To try to repair these errors, click Repair."
  1713,  "Change your File History drive"
  1714,  "Your File History drive is out of space. To continue saving copies of your files, connect a new drive."
  1715,  "File History is currently copying your files\nYour File History drive is out of space. To continue saving copies of your files, connect a new drive."
  1716,  "Files last copied on: %2\nYour File History drive is out of space. To continue saving copies of your files, connect a new drive."
  1717,  "Change your File History settings"
  1718,  "Your File History drive is almost out of space. To continue saving copies of your files, connect a new drive."
  1719,  "File History is currently copying your files.\nYour File History drive is almost out of space. To continue saving copies of your files, connect a new drive."
  1720,  "Files last copied on: %2\nYour File History drive is almost out of space. To continue saving copies of your files, connect a new drive."
  1721,  "Reconnect your File History drive"
  1722,  "Your PC is out of room for temporary file storage. To continue saving copies of your files, reconnect your external drive and then click Run now."
  1723,  "File History is currently copying your files.\nYour PC is out of room for temporary file storage. To continue saving copies of your files, reconnect your external drive and then click Run now."
  1724,  "Files last copied on: %2\nYour PC is out of room for temporary file storage. To continue saving copies of your files, reconnect your external drive and then click Run now."
  1725,  "File History is currently copying your files."
  1726,  "Files last copied on: %2"
  1727,  "Your File History drive is out of space. To continue saving copies of your files, change settings or connect a new drive."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1728,  "File History is currently copying your files.\nYour File History drive is out of space. To continue saving copies of your files, change settings or connect a new drive."
  1729,  "Files last copied on: %2\nYour File History drive is out of space. To continue saving copies of your files, change settings or connect a new drive."
  1730,  "Your File History drive is almost out of space. To continue saving copies of your files, change settings or connect a new drive."
  1731,  "File History is currently copying your files.\nYour File History drive is almost out of space. To continue saving copies of your files, change settings or connect a new drive."
  1732,  "Files last copied on: %2\nYour File History drive is almost out of space. To continue saving copies of your files, change settings or connect a new drive."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1750,  "Turn on"
  1751,  "Repair"
  1752,  "Change drive"
  1753,  "Change settings"
  1754,  "Run now"
  1755,  "Change settings"
  1756,  "Restore personal files"
  1757,  "Stop"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1800,  "Automatic Maintenance"
  1801,  "No action needed"
  1802,  "Action needed"
  1803,  "Maintenance in progress"
  1804,  "Maintenance is stopping"
  1805,  "Last run date: Unknown\nWindows was unable to determine the last date maintenance was run."
  1806,  "Last run date: %2\nWindows automatically schedules maintenance activities to run on your computer."
  1807,  "Last run date: %2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1809,  "Start maintenance"
  1810,  "Change maintenance settings"
  1811,  "Stop maintenance"
  1813,  "Automatic Maintenance was delayed. Maintenance tasks will run at the next scheduled time, or you can start maintenance now."
  1814,  "Run Automatic Maintenance now to optimize your computer"
  1815,  "Run maintenance"
  1816,  "Run maintenance"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1900,  "File System"
  1901,  "Ok"
  1902,  "All file system volumes are working properly."
  1903,  "Scan Needed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1904,  "Windows detected possible file system errors on a volume and needs to scan it."
  1905,  "Run scan"
  1906,  "Windows detected possible file system errors on a volume and needs to scan it.  You can continue using your computer while Windows is scanning.  When the scan is complete, you'll need to restart your computer to repair any errors."
  1907,  "Scan a volume"
  1908,  "Scan your drives for file system errors"
  1909,  "Click to scan drives"
  1910,  "Restart Needed"
  1911,  "Windows detected file system errors on a volume.  We recommend restarting your computer as soon as possible to repair errors and prevent loss of data on the volume."
  1912,  "Restart"
  1913,  "Windows detected file system errors on a volume.  We recommend restarting your computer as soon as possible to repair errors and prevent loss of data on the volume."
  1914,  "Repair file system errors"
  1915,  "Restart your computer to repair file system errors"
  1916,  "Click to restart this computer"
  1917,  "Restart Needed"
  1918,  "Windows detected file system errors on a volume.  We recommend restarting your computer as soon as possible to repair errors and prevent loss of data on the volume."
  1919,  "Restart"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1920,  "Windows detected file system errors on a volume.  We recommend restarting your computer as soon as possible to repair errors and prevent loss of data on the volume.  This could take several minutes or longer to complete."
  1921,  "Repair file system errors"
  1922,  "Restart your computer to repair file system errors"
  1923,  "Click to restart this computer"
  1924,  "Scanning a Volume"
  1925,  "Windows detected possible file system errors on a drive and is scanning it.  You can continue using your computer while Windows is scanning.  When the scan is complete, you'll need to restart your computer to repair any errors."
  1926,  "Run scan"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2000,  "Windows Live ID"
  2001,  "Action needed"
  2002,  "The password you signed in with is different from your password for your Windows Live ID. To keep your settings in sync, sign in again using your current password, or reset it."
  2003,  "Reset password"
  2004,  "Sign in with your current password"
  2005,  "Your PC and online passwords don't match. Sign in with your current password, or reset it."
  2006,  "Action needed"
  2007,  "You changed your Windows Live ID online, so you need to update it on this PC, too."
  2008,  "Update"
  2009,  "Update your Windows Live ID"
  2010,  "You changed your Windows Live ID online, so you need to update it on this PC, too."
  2011,  "Action needed"
  2012,  "You need to get a parent's permission to finish setting up your Windows Live account."
  2013,  "Ask a parent"
  2014,  "Ask a parent for permission"
  2015,  "You need a parent's permission to finish setting up your Windows Live account."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2016,  "Action needed"
  2017,  "You didn't use your Windows Live ID for a while, so it expired. Sign in with a different Windows Live ID-you can make a new one-or create an account only for this PC."
  2018,  "Update your account"
  2019,  "Update your account"
  2020,  "You didn't use your Windows Live ID for a while, so it expired."
  2021,  "Action needed"
  2022,  "Someone might have misused your Windows Live ID, so we suspended your account to help protect it."
  2023,  "Get it back"
  2024,  "Get your Windows Live ID back"
  2025,  "To help protect your Windows Live ID, we suspended your account-but you can fix this."
  2026,  "Action needed"
  2027,  "To finish setting up your Windows Live ID, you need to verify your email address."
  2028,  "Verify email address"
  2029,  "Finish setting up your Windows Live ID"
  2030,  "To finish setting up your Windows Live ID, you need to verify your email address."
  2031,  "Action needed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2032,  "We need a little more info from you if you want to keep using your Windows Live ID."
  2033,  "Add info"
  2034,  "Add missing Windows Live account info"
  2035,  "We need a little more info from you if you want to keep using your Windows Live ID."
  2036,  "Not complete"
  2037,  "We noticed that some changes were made to your Windows Live account, and we want to make sure it was you who made them."
  2038,  "Yes, it was me"
  2039,  "Confirm that you changed your account"
  2040,  "We noticed that some changes were made to your Windows Live account, and we want to make sure it was you who made them."
  2041,  "Not complete"
  2042,  "Adding some more info to your account can help you get it back if you forget your password or lose access some other way."
  2043,  "Add info"
  2044,  "Help make your Windows Live account more secure"
  2045,  "Adding some more info to your account can help you get it back if you forget your password or lose access some other way."
  2046,  "Not complete"
  2047,  "To help make your account more secure and make it easier to sync your shared settings, let us know that this PC is yours."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2048,  "Yes, it's mine"
  2049,  "Claim this PC"
  2050,  "To help make your account more secure and make it easier to sync your shared settings, let us know that this PC is yours."
  2051,  "OK"
  2052,  "Your Windows Live ID is working properly."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  2098,  "Get permission to set up an account"
  2099,  "View Windows Live ID settings"
  2100,  "Online Account"
  2101,  "Change to an online account"
  2102,  "Online accounts enable advanced capabilities of Windows such as roaming your settings."
  2103,  "Get an Online Account"
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177282,  "Error\r\n"
  1342177283,  "Warning\r\n"
  1342177284,  "Information\r\n"
  1342177285,  "Verbose\r\n"
  2415919105,  "Microsoft-Windows-HealthCenter\r\n"
  2952790017,  "The check provider %1 has been disabled.  HRESULT=%2.\r\n"
  2952790018,  "Icon message received: %1.\r\n"
  2952790019,  "Notification already exists: %1.\r\n"
  2952790020,  "An event specifying unknown check %1 (version %2) was found in the channel %3\r\n"
  2952790021,  "An event specifying unknown state %1 for check with canonical name %2 was found\r\n"
  2952790022,  "Failed to set state (%1) for check with canonical name %2: HRESULT = %3.\r\n"
  2952790023,  "Worker thread failure during initialization: HRESULT=%1.\r\n"
  2952790024,  "Failed to set icon state when adding new notification: HRESULT=%1.\r\n"
  2952790025,  "Icon processing of new notification failed: HRESULT=%1.\r\n"
  2952790026,  "Icon processing of notification removal failed: HRESULT=%1.\r\n"
  2952790027,  "Cache read for check provider %1: HRESULT=%2.\r\n"
  2952790028,  "Cache written for check provider %1: HRESULT=%2.\r\n"
  2952790029,  "Failed to process new crimson event from channel %1: HRESULT=%2.\r\n"
  2952790030,  "Failed to set bookmark for channel %1: HRESULT=%2.\r\n"
  2952790031,  "Error event in channel %1.\r\n"
  2952790032,  "Failed to process an existing event for channel %1: HRESULT=%2.\r\n"
  2952790033,  "Failed failed while reading existing events for channel %1: HRESULT=%2.\r\n"
  2952790034,  "Failed to resolve %1: HRESULT=%2.\r\n"
  2952790035,  "Failed to load settings for check with canonical name %1: HRESULT=%2.\r\n"
  2952790036,  "Added notification with canonical name %1.\r\n"
  2952790037,  "Removed notification with canonical name %1.\r\n"
}
