#pragma code_page(65001)
#include <resources.h>

501 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Pre&view", 1
    MENUITEM "&Print", 2
    MENUITEM "&Show", 3
  }
}

502 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Pre&view", 1
    MENUITEM "&Print", 2
    MENUITEM "&Hide", 4
  }
}

503 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Pre&view", 1
    MENUITEM "&Print", 2
    MENUITEM "&Show", 3
    MENUITEM "&Hide", 4
  }
}

1004 DIALOGEX 0, 0, 200, 71
CAPTION "Installing Fonts"
STYLE 0x90c80ac4
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Installing fonts...", 1006, Static, 0x50020080, 7, 7, 186, 8, 0x0
  CONTROL "", 1005, "msctls_progress32", 0x50800001, 7, 19, 186, 8, 0x0
  CONTROL "Stop", 2, Button, 0x50010001, 150, 54, 43, 12, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7,  "Αβγ"
  8,  "Ⲁⲃⲅ"
  9,  "Абф"
  10,  "Աբգ"
  11,  "אגץ"
  13,  "أ​ب​ج"
  14,  "ߊ​ߋ​ߌ"
  15,  "अबक"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "অবক"
  17,  "ਅਬਕ"
  18,  "અબક"
  19,  "ଅବକ"
  20,  "அஇஉ"
  21,  "అబక"
  22,  "ಅಬಕ"
  23,  "അബക"
  24,  "กคฎ"
  25,  "ະບ\0OE81"
  26,  "აბგ"
  27,  "ᬅᬩᬓ"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  38,  "∑√≠"
  47,  "✓✗✉"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  49,  "あいう"
  50,  "アイウ"
  51,  "ㄅㄆㄇ"
  53,  "ꡝꡎꡀ"
  56,  "한글"
  58,  "႐0႐1႐2"
  59,  "文字美"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  70,  "ཱབཀ"
  71,  "ܐ​ܒ​ܓ"
  72,  "ހބޗ"
  73,  "අබක"
  74,  "အဗက"
  75,  "ግዕዝ"
  76,  "ᏣᎳᎩ"
  77,  "ᐊᕕᒋ"
  78,  "ᚃᚍᚒ"
  79,  "ᚠᚸᛥ"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  80,  "ាបឡ"
  81,  "ᠠ​ᠡ​ᠢ"
  82,  "⠁⠃⠉"
  83,  "ꆇꉙ"
  84,  "ᜀᜊᜃ"
  85,  "ူ0ူ1ူ2"
  86,  "ဳ0ဳ1ဳ2"
  87,  "၀C၃5၃6"
  88,  "ᴑEᴒ2ᴖ0"
  93,  "ᤠᤒᤁ"
  94,  "ᥐᥑᥒ"
  95,  "ᦱᦥᦂ"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  96,  "ᨀᨁᨂ"
  97,  "Ⰰⰱⰲ"
  98,  "ⴲⴵⵒ"
  99,  "䷀䷁䷂"
  100,  "ꠀꠛꠇ"
  103,  "း0း1း2"
  104,  "်0်3်4"
  105,  "၅0၅1၅2"
  106,  "၈0၈1၈2"
  108,  "Ⴀ0Ⴂ6Ⴁ0"
  109,  "ᴰ0ᴰ1ᴰ2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  130,  "Abg"
  131,  "한글"
  132,  "简体字"
  133,  "繁體字"
  135,  "あイう"
  136,  "あア亜"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  150,  "68,148,182"
  151,  "5,6,7"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  199,  "Windows Font Previewer"
  200,  "Windows Font Folder"
  201,  " & "
  205,  "The specified path points to a font file that may not be available during later Windows sessions.\n\nDo you want to continue?"
  206,  "The '%s' font is already installed. Do you want to replace it?"
  207,  "Cannot install %1!s!"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "The file '%1!s!' is a 'PFB' file for a Type 1 font and cannot be installed directly. Please install the associated 'PFM' file."
  209,  "Fonts"
  210,  "You do not have permission to install a font from this network.\nCopy the font file to your computer and install it from there."
  211,  "The file '%1!s!' does not appear to be a valid font."
  212,  "Installing Fonts"
  213,  "Stop"
  214,  "Installing %1!s! (%2!u! of %3!u! fonts)"
  215,  "Fonts"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  330,  "A#*.otf;*.ttf;*.tt_;*.fon;*.fo_;*.inf;*.ttc;*.pfm#"
  331,  "A#*.fon;*.fo_#"
  332,  "No fonts found."
  333,  "Retrieving font names: %02d%%"
  334,  "(TrueType)"
  335,  "(Type 1)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  336,  "No font sample available"
  337,  "The quick brown fox"
  338,  "12"
  340,  "&Install"
  341,  "Installs selected fonts"
  342,  "(OpenType)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1283,  "abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  1284,  "1234567890.:,; '  (!?) +-*/="
  1285,  "The quick brown fox jumps over the lazy dog. 1234567890"
  1286,  "Preview, delete, or show and hide the fonts installed on your computer"
  1288,  "Preview"
  1289,  "Open the selected files in the Font Viewer"
  1290,  "&Delete"
  1291,  "Delete"
  1292,  "Delete selected fonts"
  1293,  "Font family details"
  1294,  "Preview, delete, or show and hide the individual fonts in this font family."
  1295,  "Show"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1296,  "Hide"
  1297,  "Show the selected fonts in your programs"
  1298,  "Hide the selected fonts in your programs"
  1299,  "Install as &shortcut"
  1300,  "Installs selected fonts as shortcuts"
  1301,  "Installable"
  1302,  "Restricted license"
  1303,  "Print and preview"
  1304,  "Editable"
  1305,  "No subsetting"
  1306,  "Bitmap embedding only"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1500,  "Unknown"
  1501,  "Raster"
  1502,  "Type 1"
  1503,  "TrueType"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1504,  "TrueType Collection"
  1505,  "OpenType"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  7000,  "Show"
  7001,  "Hide"
  7002,  "Mixed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8001,  "Preview, delete, or show and hide fonts"
  8002,  "Find a character"
  8003,  "Change font size"
  8004,  "Text Services and Input Language"
  8005,  "Personalization"
  8007,  "Font settings"
  8015,  "&Restore default font settings"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8018,  "Font settings"
  8019,  "&Allow fonts to be installed using a shortcut (advanced)"
  8020,  "Adjust ClearType text"
  8021,  "Font settings"
  8022,  "Windows can hide fonts that are not designed for your input language settings. If you choose this option, only fonts that are designed for your language settings will be listed in your programs."
  8023,  "&Hide fonts based on language settings"
  8025,  "Installation settings"
  8026,  "<A>Help me choose font settings</A>"
  8027,  "OK"
  8028,  "Show and hide fonts (These settings might not apply to all of your programs)"
  8029,  "To save space on your computer, you can choose to install a shortcut to a font file instead of the file itself. If the font file becomes unavailable, you might not be able to use the font."
  8030,  "Get more font information online"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8100,  "Are you sure you want to delete these %d fonts permanently?"
  8101,  "If you delete these fonts, some text might not appear as you intended."
  8102,  "Delete Fonts"
  8103,  "Delete Font"
  8104,  "Are you sure you want to delete this font permanently?"
  8105,  "%s\n\nIf you delete this font, some text might not appear as you intended."
  8106,  "%s is a font collection and deleting it will delete all fonts that are part of it."
  8107,  "&Yes, I want to delete this entire font collection from my computer"
  8108,  "&No, I don’t want to delete the font collection"
  8109,  "Are you sure you want to delete this font collection?"
  8110,  "Delete Collection"
  8111,  "&Do this for all selected font collections"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  8112,  "%s cannot be deleted because it's in use"
  8113,  "&Try Again"
  8114,  "&Skip"
  8115,  "&Always Skip"
  8116,  "Close any open programs, and then click Try Again."
  8117,  "%s cannot be deleted because it is a protected system font"
  8118,  "&Don't show for remaining items"
  8119,  "Install Font"
  8120,  "&Do this for all current items"
  8121,  "Preview Fonts"
  8122,  "Print Fonts"
  8123,  "Do you want to open %1!d! font windows?"
  8124,  "Each font currently selected will open in its own window. Opening many windows may take a long time and might impact your system performance."
  8125,  "&Don't show this message again"
}

