#pragma code_page(65001)
#include <resources.h>

45001 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "You can share files and printers with other computers. You can also stream media to devices.\n\nThe homegroup is protected with a password, and you'll always be able to choose what you share.", 45121, Static, 0x50020000, 0, 0, 300, 60, 0x0
  CONTROL "", 45110, Static, 0x5000000e, 200, 70, 20, 20, 0x0
}

45002 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Type your own password or use this one:", 4294967295, Static, 0x50020001, 55, 10, 195, 25, 0x0
  CONTROL "", 45111, Edit, 0x50810000, 70, 22, 150, 16, 0x0
  CONTROL "Refresh", 45112, Button, 0x50010080, 222, 22, 16, 16, 0x0
  CONTROL "", 45130, "msctls_progress32", 0x50000008, 70, 53, 168, 9, 0x0
}

45003 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "A password helps prevent unauthorized access to homegroup files and printers. You can get the password from the person who set up your homegroup.", 45122, Static, 0x50020000, 0, 0, 300, 25, 0x0
  CONTROL "<A>Where can I find the homegroup password?</A>", 45129, "SysLink", 0x50010000, 0, 25, 263, 15, 0x0
  CONTROL "Type the password:", 45126, Static, 0x50020001, 55, 40, 195, 25, 0x0
  CONTROL "", 45111, Edit, 0x50810000, 79, 52, 150, 16, 0x0
  CONTROL "", 45130, "msctls_progress32", 0x50000008, 79, 83, 150, 9, 0x0
  CONTROL "HomeGroup encountered an error.", 45131, Static, 0x40020000 | NOT WS_VISIBLE, 0, 79, 280, 25, 0x0
  CONTROL "<A>Start the HomeGroup troubleshooter</A>", 45132, "SysLink", 0x40010000 | NOT WS_VISIBLE, 0, 89, 263, 15, 0x0
}

45004 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Before you can access files and printers located on other computers, add those computers to your homegroup. You'll need the following password.", 45123, Static, 0x50020000, 0, 0, 300, 25, 0x0
  CONTROL "Write down this password:", 4294967295, Static, 0x50020001, 55, 40, 195, 25, 0x0
  CONTROL "", 45111, Edit, 0x50810801, 90, 52, 125, 20, 0x0
  CONTROL "<A>Print password and instructions</A>", 45127, "SysLink", 0x50010000, 105, 85, 195, 25, 0x0
  CONTROL "If you ever forget your homegroup password, you can view or change it by opening HomeGroup in Control Panel.", 4294967295, Static, 0x50020000, 0, 113, 300, 15, 0x0
  CONTROL "<A>How can other computers join my homegroup?</A>", 45114, "SysLink", 0x50010000, 0, 133, 300, 10, 0x0
}

45005 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "You can begin accessing files and printers shared by other people in the homegroup.", 4294967295, Static, 0x50020000, 0, 0, 300, 25, 0x0
  CONTROL "<A>How can I access files and printers on other computers?</A>", 45115, "SysLink", 0x50010000, 0, 20, 263, 15, 0x0
}

45006 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 45117, Static, 0x50000803, 0, 0, 20, 20, 0x0
  CONTROL "If you leave the homegroup, you cannot access or share homegroup files and printers.", 4294967295, Static, 0x50020000, 15, 0, 280, 25, 0x0
  CONTROL "Leave the homegroup", 45118, Button, 0x5001000f, 0, 20, 300, 25, 0x0
  CONTROL "Don't leave, and don't change anything", 45119, Button, 0x5001000e, 0, 50, 300, 25, 0x0
  CONTROL "Don't leave, but change what I'm sharing\nInstead of leaving the homegroup, you can stop sharing certain files.", 45120, Button, 0x5001000e, 0, 80, 300, 35, 0x0
  CONTROL "", 45130, "msctls_progress32", 0x50000008, 31, 60, 237, 9, 0x0
  CONTROL "", 45124, Static, 0x50000803, 0, 125, 15, 15, 0x0
  CONTROL "", 45125, Static, 0x50020000, 15, 125, 280, 18, 0x0
}

45007 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Your files are no longer shared with the homegroup.", 45123, Static, 0x50020000, 0, 0, 300, 25, 0x0
}

45008 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 45117, Static, 0x50000803, 0, 0, 20, 20, 0x0
  CONTROL "Make sure all homegroup computers are on and are not asleep or hibernating when you change the password. After you change the password, immediately go to each homegroup computer and type the new password.", 4294967295, Static, 0x50020000, 15, 0, 280, 25, 0x0
  CONTROL "Change the password", 45118, Button, 0x5001000f, 0, 35, 300, 25, 0x0
  CONTROL "Don't change the password", 45119, Button, 0x5001000e, 0, 65, 300, 25, 0x0
}

45010 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Your computer belongs to a domain. Make sure your new password meets domain password strength requirements.", 45122, Static, 0x50020000, 0, 0, 300, 25, 0x0
  CONTROL "Type your own password or use this one:", 4294967295, Static, 0x50020001, 55, 25, 195, 25, 0x0
  CONTROL "", 45111, Edit, 0x50810000, 70, 37, 150, 16, 0x0
  CONTROL "Refresh", 45112, Button, 0x50010080, 222, 37, 16, 16, 0x0
  CONTROL "", 45130, "msctls_progress32", 0x50000008, 70, 53, 168, 9, 0x0
}

45011 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 45117, Static, 0x50000803, 0, 0, 20, 20, 0x0
  CONTROL "Make sure all homegroup computers are on and are not asleep or hibernating when you change the password. After you change the password, immediately go to each homegroup computer and type the new password.", 4294967295, Static, 0x50020000, 15, 0, 280, 25, 0x0
  CONTROL "Change the password\nYour computer belongs to a domain. Make sure your new password meets domain password strength requirements.", 45118, Button, 0x5001000f, 0, 35, 300, 43, 0x0
  CONTROL "Don't change the password", 45119, Button, 0x5001000e, 0, 85, 300, 25, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "HomeGroup"
  2,  "View HomeGroup settings, choose sharing options, and view or change the password."
  3,  "This program is blocked by Group Policy. For more information, contact your network administrator."
  4,  "Advanced sharing settings"
  5,  "On"
  6,  "Off"
  7,  "Off (no printers installed)"
  8,  "\nThere are no printers attached to this computer."
  9,  "Share with other home computers"
  10,  "Accessing homegroups with a domain-joined computer"
  12,  "Change homegroup settings"
  14,  "There is currently no homegroup on the network."
  15,  "%1 on %2 has created a homegroup on the network."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "You've been invited to join a homegroup."
  18,  "This computer belongs to a homegroup."
  19,  "This computer can't connect to a homegroup."
  20,  "With a homegroup, you can share files and printers with other computers on your home network. You can also stream media to devices.\n\nThe homegroup is protected with a password, and you'll always be able to choose what you share."
  21,  "Because this computer also belongs to a domain, you can’t create your own homegroup, but you can join one created by someone on your network.\n\nA homegroup links computers on your home network so that you can share pictures, music, videos, documents, and printers. The homegroup is protected with a password, and you'll always be able to choose what you share."
  22,  "A homegroup links computers on your home network so that you can share pictures, music, videos, documents, and printers. The homegroup is protected with a password, and you'll always be able to choose what you share.\n\nYou can't create your own homegroup with this edition of Windows, but you can join one created by someone else."
  23,  "Create a homegroup"
  24,  "Join now"
  25,  "Your homegroup password has been changed. To continue using homegroup resources, make sure that someone who has already entered the new password is online, and then type the new password."
  26,  "Windows detected another homegroup on your network. With a homegroup, you can share files and printers with other computers. You can also stream media to devices."
  27,  "%1 has changed your homegroup password. To continue using homegroup resources, make sure that someone who has already entered the new password is online, and then type the new password."
  29,  "Type new password"
  30,  "Join now"
  31,  "Where can I find the homegroup password?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "Before you create or join a homegroup, you must first connect to a network."
  33,  "Connect to an existing network"
  34,  "To create or join a homegroup, your computer's network location must be set to Private."
  35,  "Change network location"
  37,  "Sharing options for Private"
  38,  "Sharing options for Public"
  39,  "Sharing options for Domain"
  40,  "Private"
  41,  "Private (current profile)"
  42,  "Public"
  43,  "Public (current profile)"
  44,  "Domain"
  45,  "Domain (current profile)"
  46,  "Media streaming is on."
  47,  "Media streaming is off."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  56,  "Cancel"
  63,  "OK"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  64,  "View and print your homegroup password"
  65,  "24pt;;;Consolas"
  66,  "Date printed: %1 %2"
  67,  "View and print your homegroup password"
  68,  "Password:"
  69,  "Use this password to connect other computers to the homegroup."
  70,  "On each computer:"
  71,  "Note: Computers that are turned off or sleeping will not appear in the homegroup."
  72,  "1. Click Start, and then click Control Panel."
  73,  "2. Under Network and Internet, click Choose homegroup and sharing options."
  74,  "3. Click Join now, and then follow the HomeGroup wizard to enter the password."
  75,  "Click Start, and then click Control Panel."
  76,  "Your homegroup password couldn't be printed"
  77,  "An error occurred while Windows was trying to print your homegroup password. (Error code: %1!u!)"
  78,  "You're not currently connected to your home network. To view files and resources on other homegroup computers, first connect to your home network."
  79,  "%1 has joined your computer to a homegroup. You haven't shared any libraries with your homegroup. Click the link below to change what you are sharing. Don't shut down or restart your computer until sharing is finished."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  80,  "You haven't shared any libraries with your homegroup. Click the link below to change what you're sharing. Don't shut down or restart your computer until sharing is finished."
  81,  "HomeGroup is currently sharing libraries on this computer. Some HomeGroup options will be unavailable until sharing completes. Please don't shut down or restart your computer until sharing completes."
  82,  "Under Network and Internet, click Choose homegroup and sharing options."
  83,  "There is currently no homegroup on your network."
  84,  "Click Join now, and then follow the HomeGroup wizard to enter the password."
  85,  "Click here to install."
  86,  "Windows found a homegroup printer"
  88,  "Introducing HomeGroup"
  89,  "%1 (current profile)"
  90,  "To join a homegroup, your computer's network location must be set to Private."
  91,  "1."
  92,  "2."
  93,  "3."
  94,  "HomeGroup is not ready yet. Please try again in a few minutes. If this message continues to appear, click the link to start the HomeGroup troubleshooter."
  95,  "Start the HomeGroup troubleshooter"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  96,  "Tell me more about homegroups"
  97,  "Get more information about HomeGroup and other features"
  98,  "HomeGroup Password"
  99,  "Guest accounts can't change HomeGroup settings."
  100,  "HomeGroup found a new shared printer on your home network. Installing it will make it available to everyone on this computer."
  101,  "Install printer"
  102,  "The homegroup is not available because you're not connected to your home network."
  103,  "The homegroup is not available because you're not connected to your home network."
  104,  "Before you join a homegroup, you must first connect to a network."
  105,  "HomeGroup image"
  106,  "Choose what you want to share, and view the homegroup password"
  109,  "Remove %1 from the homegroup"
  110,  "Cancel"
  111,  "Remove homegroup member"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  112,  "%1 will be removed from the homegroup"
  113,  "All homegroup members who joined with the password will need to enter the password again."
  114,  "Printers & Devices"
  115,  "Change %1 homegroup members"
  116,  "The homegroup password was reset"
  117,  "HomeGroup is sharing files"
  118,  "This computer belongs to a homegroup"
  119,  "A homegroup is available to join"
  120,  "A homegroup can be created"
  121,  "HomeGroup isn't available"
  122,  "Untrusted printer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  200,  "Add Member"
  201,  "User Icon"
  202,  "Full name"
  203,  "User ID"
  204,  "Progress Bar"
  205,  "Folder Icon"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  220,  "Share libraries and devices"
  221,  "Select the libraries that you want to share with the other people on your homegroup."
  222,  "Change homegroup settings"
  223,  "To change homegroup settings, open HomeGroup in Control Panel."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  224,  "Homegroup settings"
  225,  "Change your homegroup settings in Control Panel or use the HomeGroup troubleshooter."
  226,  "Start troubleshooter"
  227,  "Use the HomeGroup troubleshooter to find and fix problems with your homegroup."
  228,  "View password"
  229,  "View or print your homegroup password."
  230,  "Join homegroup"
  231,  "Join the homegroup on this network."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  530,  "Change advanced sharing settings..."
  541,  "Network discovery"
  542,  "When network discovery is on, this computer can see other network computers and devices and is visible to other network computers. <a href=""mshelp://windows/?id=0e5f2e0c-9906-4518-b7c7-d3632105dcad"">What is network discovery?</a>"
  543,  "Turn on network discovery"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  544,  "Turn off network discovery"
  545,  "File and printer sharing"
  546,  "When file and printer sharing is on, files and printers that you have shared from this computer can be accessed by people on the network."
  547,  "Turn on file and printer sharing"
  548,  "Turn off file and printer sharing"
  549,  "Public folder sharing"
  550,  "When Public folder sharing is on, people on the network, including homegroup members, can access files in the Public folders. <a href=""mshelp://windows/?id=9636e0f2-0223-45d2-89cb-3e317c450905"">What are the Public folders?</a>"
  552,  "Turn on sharing so anyone with network access can read and write files in the Public folders"
  553,  "Turn off Public folder sharing (people logged on to this computer can still access these folders)"
  554,  "Change sharing options for different network profiles"
  559,  "Media streaming"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  560,  "When media streaming is on, people and devices on the network can access pictures, music, and videos on this computer. This computer can also find media on the network."
  564,  "Cancel"
  567,  "Save changes"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  584,  "Windows creates a separate network profile for each network you use. You can choose specific options for each profile."
  585,  "HomeGroup Warning Icon"
  586,  "Libraries and devices you are sharing from this computer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  595,  "Other homegroup actions"
  600,  "View or print the homegroup password"
  601,  "Your system administrator does not allow access to homegroups."
  602,  "Why can't I change some settings?"
  604,  "Change the password..."
  605,  "Leave the homegroup..."
  607,  "Choose media streaming options..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  608,  "Because this computer belongs to a domain, settings for sharing its libraries and devices with other computers in the homegroup are not available."
  609,  "Password protected sharing"
  610,  "When password protected sharing is on, only people who have a user account and password on this computer can access shared files, printers attached to this computer, and the Public folders. To give other people access, you must turn off password protected sharing."
  611,  "Turn on password protected sharing"
  612,  "Turn off password protected sharing"
  613,  "Print this page"
  614,  "Allow devices on this network to access my shared media"
  615,  "Private"
  616,  "Guest or Public"
  617,  "Domain"
  619,  "HomeGroup connections"
  620,  "Typically, Windows manages the connections to other homegroup computers. But if you have the same user accounts and passwords on all of your computers, you can have HomeGroup use your account instead. <a href=""mshelp://windows/?id=12e2db71-77bc-48da-88ad-8e3d7cb80da2"">Help me decide</a>"
  621,  "Allow Windows to manage homegroup connections (recommended)"
  622,  "Use user accounts and passwords to connect to other computers"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  624,  "Start the HomeGroup troubleshooter"
  627,  "File sharing connections"
  628,  "Windows uses 128-bit encryption to help protect file sharing connections. Some devices don't support 128-bit encryption and must use 40- or 56-bit encryption."
  629,  "Use 128-bit encryption to help protect file sharing connections (recommended)"
  630,  "Enable file sharing for devices that use 40- or 56-bit encryption"
  631,  "All Networks"
  632,  "Change what you share from this PC to the homegroup"
  637,  "Close"
  639,  "HomeGroup Remote Access"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  640,  "Other homegroup members can connect back to the homegroup from any location through your computer."
  641,  "Disable remote homegroup access through this computer"
  642,  "Enable remote homegroup access through this computer"
  648,  "Choose files and devices you want to share, and set permission levels."
  649,  "Library or folder"
  650,  "Permissions"
  652,  "Turn on automatic setup of network connected devices."
  653,  "<a href=""mshelp://windows/?id=0e5f2e0c-9906-4518-b7c7-d3632105dcad"">What is automatic setup?</a>"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  46000,  "HomeGroup"
  46004,  "Choose a password for your homegroup"
  46005,  "Type the homegroup password"
  46006,  "&Create now"
  46007,  "&Join now"
  46008,  "Use this password to add other computers to your homegroup"
  46009,  "You have joined the homegroup"
  46010,  "<A>Tell me more about homegroups</A>"
  46011,  "HomeGroup"
  46012,  "Windows can't set up a homegroup on this computer."
  46013,  "Because this computer belongs to a domain, settings for sharing its libraries with other computers in the homegroup are not available."
  46014,  "The password must contain at least eight characters, not including leading or trailing spaces."
  46015,  "The password is incorrect.\nPlease try again. Passwords are case-sensitive."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  46016,  "All homegroup connections on this computer will be disconnected"
  46017,  "You have successfully left the homegroup"
  46018,  "Change what you're sharing with the homegroup"
  46019,  "You can share photos, videos, music, documents, and printers with other computers in your home."
  46020,  "&Make changes"
  46021,  "Changing the homegroup password will disconnect everyone"
  46022,  "Type a new password for your homegroup"
  46023,  "&Change password"
  46024,  "Your homegroup password was successfully changed"
  46025,  "The homegroup password was changed"
  46026,  "Type the homegroup password"
  46027,  "Your homegroup password has been changed. To continue using homegroup resources, make sure that someone who has already entered the new password is online, and then type the new password."
  46028,  "Shared"
  46029,  "Windows couldn't remove your computer from the homegroup."
  46030,  "%1 has changed your homegroup password. To continue using homegroup resources, make sure that someone who has already entered the new password is online, and then type the new password."
  46031,  "A password helps prevent unauthorized access to homegroup files and printers. You can get the password from %1 on %2 or another member of the homegroup."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  46032,  "A password helps prevent unauthorized access to homegroup files and printers. You can get the password from %1 on %2 or another member of the homegroup."
  46033,  "Consolas"
  46034,  "Create a Homegroup"
  46035,  "Join a Homegroup"
  46036,  "Change Your Homegroup Password"
  46037,  "Leave the Homegroup"
  46038,  "Before you can access files and printers located on other computers, add those computers to your homegroup. You'll need the following password."
  46039,  "Type the new homegroup password:"
  46040,  "Update password"
  46041,  "Back up all homegroup PCs to the local data protection target"
  46042,  "Use the homegroup data protection target to back up my PC"
  46043,  "Not shared"
  46044,  "A homegroup can only be created on a private network.\nTo change your network location setting, open Network and Sharing Center in Control Panel."
  46045,  "Windows no longer detects a homegroup on this network. To create a new homegroup, click OK, and then open HomeGroup in Control Panel."
  46046,  "Windows just detected an existing homegroup.\nTo join it, click OK, and then open HomeGroup in Control Panel."
  46047,  "The HomeGroup service is starting. Please try again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  46048,  "Your sharing settings have been updated"
  46049,  "The files and resources you chose are being shared with the homegroup."
  46050,  "You've successfully updated the homegroup password"
  46051,  "You've joined the homegroup"
  46052,  "You can now access shared files and devices. The files and devices you're sharing haven't changed."
  46053,  "You can begin accessing files and printers shared by other people in the homegroup."
  46054,  "Update Your Homegroup Password"
  46055,  "Join a Homegroup"
  46056,  "Type the new homegroup password from %1:"
  46057,  "The clocks on all homegroup computers must be set no more than 24 hours apart. Make sure your computer clocks are synchronized, and then try joining the homegroup again."
  46058,  "The password doesn't meet your domain's password strength requirements. Type a password that does, or use a different homegroup computer to change the password."
  46059,  "The password can't be reset because you're not connected to the private network.\nConnect to the private network, and then try again."
  46060,  "You're not connected to a private network.\nTo change your network location setting, open Network and Sharing Center in Control Panel."
  46061,  "Share with other home computers"
  46062,  "You can share files and printers with other computers. You can also stream media to devices.\n\nThe homegroup is protected with a password, and you'll always be able to choose what you share."
  46063,  "Use this password to add other computers to your homegroup"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  46064,  "Before you can access files and printers located on other computers, add those computers to your homegroup. You'll need the following password."
  46065,  "Your network connection must have IPv6 enabled to create or join a homegroup. To enable IPv6, start the HomeGroup troubleshooter."
  46066,  "Add people to the homegroup"
  46067,  "Configure homegroup data protection"
  46068,  "Multiple homegroups detected"
  46069,  "Share with other homegroup members"
  46070,  "Documents"
  46071,  "Pictures"
  46072,  "Music"
  46073,  "Video"
  46074,  "Printers & Devices"
  46075,  "Change Homegroup Sharing Settings"
  46076,  "%1 Sharing"
  46077,  "Verifying your password..."
}

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177282,  "Error\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-HomeGroup Control Panel\r\n"
  2415919106,  "Microsoft-Windows-HomeGroup Control Panel/Operational\r\n"
  2952795017,  "Core initialization failed.  Details: %1\r\n"
  2952795018,  "Page initialization failed.  Details: %1 Page: %2\r\n"
  2952795019,  "GetHomeGroupStatus failed.  Details: %1\r\n"
  2952795020,  "GetSharingFlags failed.  Details: %1\r\n"
  2952795021,  "PopulateSharedFolderList failed.  Details: %1\r\n"
  2952795022,  "Retrieve network discovery failed.  Details: %1\r\n"
  2952795023,  "Retrieve file sharing failed.  Details: %1\r\n"
  2952795024,  "Retrieve public folder failed.  Details: %1\r\n"
  2952795025,  "Retrieve printer sharing failed.  Details: %1\r\n"
  2952795026,  "Retrieve media sharing failed.  Details: %1\r\n"
  2952795027,  "Commit network discovery failed.  Details: %1  Context: %2\r\n"
  2952795028,  "Commit file sharing failed.  Details: %1  Context: %2\r\n"
  2952795029,  "Commit public folder failed.  Details: %1  Context: %2\r\n"
  2952795030,  "Commit printer sharing failed.  Details: %1  Context: %2\r\n"
  2952795031,  "Commit media sharing failed.  Details: %1  Context: %2\r\n"
  2952795032,  "Share folder failed.  Details: %1  FolderId: %2  Context: %3\r\n"
  2952795033,  "Retrieve printer sharing failed.  Details: %1\r\n"
  2952795034,  "Commit password protection failed.  Details: %1  Context: %2\r\n"
  2952795036,  "Commit public folder failed.  Details: %1  Context: %2\r\n"
  2952795037,  "Retrieving UI status from SSO failed.  Details: %1\r\n"
  2952795038,  "Failed to initialize homegroup printer monitor.  Details: %1\r\n"
  2952795039,  "Successfully installed homegroup printer\r\n"
  2952795040,  "Successfully removed homegroup printer\r\n"
  2952795041,  "Failed to install homegroup printer. Details: %1\r\n"
  2952795042,  "Starting printer monitor\r\n"
  2952795043,  "Stopping printer monitor\r\n"
  2952795044,  "Shared printer message received. Attempting to install.\r\n"
  2952795045,  "Shared printer message removed. Attempting to uninstall.\r\n"
  2952795046,  "Failed to install printer.  Notifying user.\r\n"
  2952798017,  "The homegroup state has changed. Old state: %2. New state: %3.\r\n"
}
