#pragma code_page(65001)
#include <resources.h>

600 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&percentage", 32800
    MENUITEM "&decibels", 32801
  }
}

601 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Configure &Speakers", 32787
    MENUITEM "Test", 32789
    MENUITEM "Connect", 32793
    MENUITEM "Disconnect", 32794
    MENUITEM "Disable", 32788
    MENUITEM "Set as Default &Device", 32777
    MENUITEM "Set as Default &Communication Device", 32779
    MENUITEM SEPARATOR
    MENUITEM "Show Disabled Devices", 32790
    MENUITEM "Show Disconnected Devices", 32791
    MENUITEM SEPARATOR
    MENUITEM "About Software &MIDI Synthesizer", 32792
    MENUITEM "&Properties", 32786
  }
}

602 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Configure &Speech Recognition", 32787
    MENUITEM "Connect", 32793
    MENUITEM "Disconnect", 32794
    MENUITEM "Disable", 32788
    MENUITEM "Set as Default &Device", 32777
    MENUITEM "Set as Default &Communication Device", 32779
    MENUITEM SEPARATOR
    MENUITEM "Show Disabled Devices", 32790
    MENUITEM "Show Disconnected Devices", 32791
    MENUITEM SEPARATOR
    MENUITEM "&Properties", 32786
  }
}

603 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Show Disabled Devices", 32790
    MENUITEM "Show Disconnected Devices", 32791
  }
}

604 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "Default &Device", 32777
    MENUITEM "Default &Communication Device", 32779
  }
}

110 DIALOGEX 0, 0, 252, 218
CAPTION "Playback"
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Select a playback device below to modify its settings:", 4294967295, Static, 0x50020000, 7, 7, 245, 12, 0x0
  CONTROL "", 1000, "SysListView32", 0x5003010c, 7, 21, 238, 171, 0x200
  CONTROL "&Configure", 1001, Button, 0x58010000, 7, 199, 50, 14, 0x0
  CONTROL "&Set Default", 1002, Button, 0x5801000c, 131, 199, 60, 14, 0x0
  CONTROL "&Properties", 1003, Button, 0x58010000, 195, 199, 50, 14, 0x0
}

111 DIALOGEX 0, 0, 252, 218
CAPTION "Recording"
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Select a recording device below to modify its settings:", 4294967295, Static, 0x50020000, 7, 7, 245, 12, 0x0
  CONTROL "", 1000, "SysListView32", 0x5003010c, 7, 21, 238, 171, 0x200
  CONTROL "&Configure", 1001, Button, 0x58010000, 7, 199, 50, 14, 0x0
  CONTROL "&Set Default", 1002, Button, 0x5801000c, 131, 199, 60, 14, 0x0
  CONTROL "&Properties", 1003, Button, 0x58010000, 195, 199, 50, 14, 0x0
}

112 DIALOGEX 0, 0, 252, 218
CAPTION "Sounds"
STYLE 0x10cb0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "A sound theme is a set of sounds applied to events in Windows and programs.  You can select an existing scheme or save one you have modified.", 4294967295, Static, 0x50020000, 10, 7, 232, 29, 0x0
  CONTROL "Sound Sc&heme:", 4294967295, Static, 0x50020000, 10, 35, 100, 8, 0x0
  CONTROL "", 1100, ComboBox, 0x50210103, 10, 47, 125, 95, 0x0
  CONTROL "Sa&ve As...", 1101, Button, 0x50010000, 140, 46, 50, 14, 0x0
  CONTROL "&Delete", 1102, Button, 0x50010000, 192, 46, 50, 14, 0x0
  CONTROL "To change sounds, click a program event in the following list and then select a sound to apply.  You can save the changes as a new sound scheme.", 4294967295, Static, 0x50020000, 10, 64, 232, 26, 0x0
  CONTROL "Program &Events:", 4294967295, Static, 0x50020000, 10, 91, 232, 8, 0x0
  CONTROL "", 1103, "SysTreeView32", 0x50010023, 10, 103, 232, 60, 0x204
  CONTROL "&Play Windows Startup sound", 1108, Button, 0x58010003, 10, 169, 232, 8, 0x0
  CONTROL "&Sounds:", 1104, Static, 0x50020000, 10, 183, 40, 8, 0x0
  CONTROL "", 1105, ComboBox, 0x50210103, 10, 194, 125, 95, 0x0
  CONTROL "&Test", 1106, Button, 0x50010000, 140, 194, 50, 14, 0x0
  CONTROL "&Browse...", 1107, Button, 0x50010000, 192, 194, 50, 14, 0x0
}

113 DIALOGEX 0, 0, 252, 218
CAPTION "Communications"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1150, Static, 0x50000803, 7, 14, 48, 40, 0x0
  CONTROL "Windows can automatically adjust the volume of different sounds when you are using your PC to place or receive telephone calls.", 4294967295, Static, 0x50020000, 34, 12, 210, 27, 0x0
  CONTROL "When Windows detects communications activity:", 4294967295, Static, 0x50020000, 7, 49, 200, 8, 0x0
  CONTROL "Mute all other sounds", 1151, Button, 0x50000009, 11, 70, 200, 8, 0x0
  CONTROL "Reduce the volume of other sounds by 80%", 1153, Button, 0x50000009, 11, 84, 200, 8, 0x0
  CONTROL "Reduce the volume of other sounds by 50%", 1152, Button, 0x50000009, 11, 98, 200, 8, 0x0
  CONTROL "Do nothing", 1154, Button, 0x50000009, 11, 112, 200, 8, 0x0
}

115 DIALOGEX 9, 23, 234, 57
CAPTION "Save Scheme As"
STYLE 0x90c800c4
EXSTYLE 0x0
FONT 8, "Segoe UI", 0, 0, 0
{
  CONTROL "&Save this sound scheme as:", 65535, Static, 0x50020000, 7, 7, 95, 9, 0x0
  CONTROL "", 1110, Edit, 0x50810080, 7, 17, 218, 14, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 121, 36, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 175, 36, 50, 14, 0x0
}

121 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 0, 0, 0
{
  CONTROL "", 1201, Edit, 0x50810080, 74, 10, 164, 12, 0x0
  CONTROL "", 1200, Static, 0x50000803, 22, 10, 64, 64, 0x0
  CONTROL "Change &Icon", 1204, Button, 0x50010000, 74, 25, 64, 14, 0x0
  CONTROL "Controller Information", 4294967295, Button, 0x50000007, 7, 50, 238, 42, 0x0
  CONTROL "", 1202, Static, 0x50000803, 22, 64, 16, 16, 0x0
  CONTROL "", 1207, Static, 0x5002400c, 21, 64, 165, 11, 0x0
  CONTROL "&Properties", 1208, Button, 0x50010000, 188, 61, 50, 14, 0x0
  CONTROL "No Controller Information Available", 1203, Button, 0x50010000, 21, 76, 165, 12, 0x0
  CONTROL "Jack Information", 1205, Button, 0x50000007, 7, 98, 238, 32, 0x0
  CONTROL "No Jack Information Available", 1206, Static, 0x50020000, 20, 113, 213, 11, 0x0
  CONTROL "", 1210, Static, 0x40020002 | NOT WS_VISIBLE, 10, 109, 40, 10, 0x0
  CONTROL "", 1211, Static, 0x40020002 | NOT WS_VISIBLE, 10, 120, 40, 10, 0x0
  CONTROL "", 1212, Static, 0x40020002 | NOT WS_VISIBLE, 10, 131, 40, 10, 0x0
  CONTROL "", 1213, Static, 0x40020002 | NOT WS_VISIBLE, 10, 142, 40, 10, 0x0
  CONTROL "", 1214, Static, 0x40020002 | NOT WS_VISIBLE, 10, 153, 40, 10, 0x0
  CONTROL "", 1215, Static, 0x40020002 | NOT WS_VISIBLE, 10, 164, 40, 10, 0x0
  CONTROL "", 1220, Static, 0x40020000 | NOT WS_VISIBLE, 72, 109, 166, 10, 0x0
  CONTROL "", 1221, Static, 0x40020000 | NOT WS_VISIBLE, 72, 120, 166, 10, 0x0
  CONTROL "", 1222, Static, 0x40020000 | NOT WS_VISIBLE, 72, 131, 166, 10, 0x0
  CONTROL "", 1223, Static, 0x40020000 | NOT WS_VISIBLE, 72, 142, 166, 10, 0x0
  CONTROL "", 1224, Static, 0x40020000 | NOT WS_VISIBLE, 72, 153, 166, 10, 0x0
  CONTROL "", 1225, Static, 0x40020000 | NOT WS_VISIBLE, 72, 164, 166, 10, 0x0
  CONTROL "Device usage:", 4294967295, Static, 0x50020000, 9, 201, 70, 14, 0x0
  CONTROL "", 1209, ComboBox, 0x50210003, 82, 199, 162, 100, 0x0
}

123 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 4294967295, Static, 0x40020000 | NOT WS_VISIBLE, 0, 0, 10, 10, 0x0
}

124 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1507, Static, 0x50000010, 7, 60, 238, 1, 0x200
  CONTROL "", 1508, Static, 0x5000000a, 5, 72, 150, 150, 0x0
}

125 DIALOGEX 0, 0, 10, 10
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
}

126 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Default Format", 4294967295, Button, 0x50000007, 7, 7, 238, 60, 0x0
  CONTROL "Select the sample rate and bit depth to be used when running in shared mode.", 4294967295, Static, 0x50020000, 16, 20, 221, 24, 0x0
  CONTROL "", 1410, ComboBox, 0x50210003, 16, 44, 168, 72, 0x0
  CONTROL "&Test", 1300, Button, 0x50010000, 188, 43, 50, 14, 0x0
  CONTROL "Exclusive Mode", 4294967295, Button, 0x50000007, 7, 74, 238, 46, 0x0
  CONTROL "Allow applications to take exclusive control of this device", 1411, Button, 0x50010003, 16, 89, 220, 10, 0x0
  CONTROL "Give exclusive mode applications priority", 1412, Button, 0x50010003, 16, 103, 220, 10, 0x0
  CONTROL "Signal Enhancements", 1413, Button, 0x50000007, 7, 127, 238, 46, 0x0
  CONTROL "Allows extra signal processing by the audio device", 1414, Static, 0x50020000, 16, 140, 221, 12, 0x0
  CONTROL "Enable audio enhancements", 1415, Button, 0x50010003, 16, 156, 220, 10, 0x0
  CONTROL "Audio Buffer Size", 1418, Button, 0x50000007, 7, 127, 238, 54, 0x0
  CONTROL "Use system default buffer size if device is glitching", 1419, Static, 0x50020000, 16, 140, 221, 12, 0x0
  CONTROL "", 1420, ComboBox, 0x50210003, 16, 156, 100, 10, 0x0
  CONTROL "Hardware Acceleration", 1421, Button, 0x50000007, 7, 127, 238, 27, 0x0
  CONTROL "Allow hardware acceleration of audio with this device", 1422, Button, 0x50010003, 16, 137, 221, 12, 0x0
  CONTROL "Restore &Defaults", 1416, Button, 0x50010000, 7, 196, 80, 14, 0x0
}

127 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "&Encoded formats", 4294967295, Button, 0x50000007, 7, 7, 238, 82, 0x0
  CONTROL "Which of the following formats is your Digital Receiver able to decode?", 4294967295, Static, 0x50020000, 15, 19, 223, 20, 0x0
  CONTROL "", 1350, "SysListView32", 0x5003000f, 15, 41, 159, 40, 0x20000
  CONTROL "&Test", 1351, Button, 0x50010000, 181, 41, 50, 14, 0x0
  CONTROL "Sample &Rates", 4294967295, Button, 0x50000007, 7, 95, 238, 82, 0x0
  CONTROL "Which of the following sample rates are supported by your Digital Receiver?", 4294967295, Static, 0x50020000, 15, 107, 223, 20, 0x0
  CONTROL "", 1352, "SysListView32", 0x5003000f, 15, 129, 159, 40, 0x20000
  CONTROL "&Test", 1353, Button, 0x50010000, 181, 129, 50, 14, 0x0
}

128 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "You can listen to a portable music player or other device through this %1 jack.", 1604, Static, 0x50020080, 7, 14, 235, 31, 0x0
  CONTROL "", 1602, Static, 0x50000803, 82, 48, 32, 24, 0x0
  CONTROL "", 1609, Static, 0x50000803, 119, 51, 48, 40, 0x0
  CONTROL "", 1603, Static, 0x50000803, 156, 48, 32, 24, 0x0
  CONTROL "Listen to this device", 1601, Button, 0x50010003, 7, 78, 120, 10, 0x0
  CONTROL "Playback through this device:", 4294967295, Static, 0x50020000, 7, 94, 150, 8, 0x0
  CONTROL "", 1600, ComboBox, 0x50210003, 7, 104, 180, 73, 0x0
  CONTROL "Power Management", 4294967295, Button, 0x50000007, 7, 122, 238, 40, 0x0
  CONTROL "Continue running when on battery power", 1606, Button, 0x50000009, 13, 136, 192, 10, 0x0
  CONTROL "Disable automatically to save power", 1607, Button, 0x50000009, 13, 148, 190, 10, 0x0
  CONTROL "Device Detection", 1608, Button, 0x50000007, 7, 172, 238, 32, 0x0
  CONTROL "Do not prompt when this device is plugged in", 1605, Button, 0x50010003, 13, 186, 190, 10, 0x0
}

129 DIALOGEX 0, 0, 252, 218
CAPTION ""
STYLE 0x40000048 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1364, Static, 0x50000803, 22, 10, 64, 64, 0x0
  CONTROL "No HDMI sink description found", 1365, Static, 0x50020000, 60, 20, 238, 15, 0x0
  CONTROL "The following audio formats are currently supported:", 4294967295, Static, 0x50020000, 10, 45, 223, 15, 0x0
  CONTROL "Max Number of Channels:", 4294967295, Static, 0x50020000, 10, 57, 223, 15, 0x0
  CONTROL "0", 1359, Static, 0x50020000, 120, 57, 100, 15, 0x0
  CONTROL "HDCP:", 4294967295, Static, 0x50020000, 10, 69, 40, 15, 0x0
  CONTROL "Not supported", 1360, Static, 0x50020000, 120, 69, 100, 15, 0x0
  CONTROL "Bit Depths:", 4294967295, Static, 0x50020000, 10, 80, 100, 15, 0x0
  CONTROL "None", 1366, Static, 0x50020000, 120, 80, 100, 10, 0x0
  CONTROL "", 1367, Static, 0x50020000, 120, 88, 100, 10, 0x0
  CONTROL "", 1368, Static, 0x50020000, 120, 96, 100, 10, 0x0
  CONTROL "Sample Rates:", 4294967295, Static, 0x50020000, 10, 101, 70, 10, 0x0
  CONTROL "", 1356, "SysListView32", 0x5083200f, 7, 111, 230, 34, 0x0
  CONTROL "Encoded Formats:", 4294967295, Static, 0x50020000, 10, 150, 120, 15, 0x0
  CONTROL "", 1354, "SysListView32", 0x5083480d, 7, 160, 230, 52, 0x0
}

130 DIALOGEX 0, 0, 314, 143
CAPTION ""
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Select the environment below that is most like your speaker surroundings.", 4294967295, Static, 0x50020000, 0, 0, 276, 19, 0x0
  CONTROL "", 1302, Static, 0x50000000, 150, 0, 146, 129, 0x0
}

131 DIALOGEX 0, 0, 314, 143
CAPTION ""
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Select the speaker setup below that is most like the configuration on your computer.", 4294967295, Static, 0x50020000, 0, 0, 168, 30, 0x0
  CONTROL "Audio channels:", 4294967295, Static, 0x50020000, 0, 29, 140, 14, 0x0
  CONTROL "", 1303, ListBox, 0x50a10101, 0, 40, 106, 60, 0x0
  CONTROL "", 1302, Static, 0x50000000, 168, 0, 146, 129, 0x0
  CONTROL "&Test", 1300, Button, 0x50010000, 0, 111, 50, 14, 0x0
  CONTROL "Click any speaker above to test it.", 4294967295, Static, 0x50020001, 168, 133, 146, 10, 0x0
}

132 DIALOGEX 0, 0, 314, 143
CAPTION ""
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Check the boxes below to indicate which speakers are present in your surround configuration.", 4294967295, Static, 0x50020000, 0, 0, 168, 30, 0x0
  CONTROL "Optional speakers:", 4294967295, Static, 0x50020000, 0, 35, 140, 14, 0x0
  CONTROL "&Center", 1305, Button, 0x50010003, 7, 47, 100, 10, 0x0
  CONTROL "&Subwoofer", 1306, Button, 0x50010003, 7, 59, 100, 10, 0x0
  CONTROL "&Side pair", 1307, Button, 0x50010003, 7, 71, 100, 10, 0x0
  CONTROL "&Rear pair", 1308, Button, 0x50010003, 7, 83, 100, 10, 0x0
  CONTROL "", 1302, Static, 0x50000000, 168, 0, 146, 129, 0x0
  CONTROL "Click any speaker above to test it.", 4294967295, Static, 0x50020001, 168, 133, 146, 10, 0x0
}

133 DIALOGEX 0, 0, 314, 143
CAPTION ""
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "Satellite speakers usually have a limited dynamic range and require that they be used with a subwoofer.  If your configuration includes full-range speakers, select them below.", 4294967295, Static, 0x50020000, 0, 0, 168, 60, 0x0
  CONTROL "Full-range speakers:", 4294967295, Static, 0x50020000, 0, 51, 140, 14, 0x0
  CONTROL "&Front left and right", 1310, Button, 0x50010003, 7, 63, 100, 10, 0x0
  CONTROL "&Surround speakers", 1311, Button, 0x50010003, 7, 75, 100, 10, 0x0
  CONTROL "", 1302, Static, 0x50000000, 168, 0, 146, 129, 0x0
  CONTROL "Click any speaker above to test it.", 4294967295, Static, 0x50020001, 168, 133, 146, 10, 0x0
}

136 DIALOGEX 0, 0, 314, 143
CAPTION ""
STYLE 0x10cf0048
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "If you click ""Finish"" your new settings will be applied to this audio device.  To make further changes, you can use the Properties dialog or run this wizard again.", 4294967295, Static, 0x50020000, 0, 0, 276, 60, 0x0
}

140 DIALOGEX 0, 0, 160, 50
CAPTION ""
STYLE 0x50000048 | NOT WS_CAPTION
EXSTYLE 0x10000
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1500, Button, 0x50000007, 0, 0, 160, 50, 0x0
  CONTROL "", 1501, "msctls_trackbar32", 0x50010409, 28, 8, 100, 20, 0x0
  CONTROL "-00 dB", 1502, Static, 0x50020002, 4, 31, 33, 8, 0x0
  CONTROL "0 dB", 1503, Static, 0x50020001, 65, 31, 33, 8, 0x0
  CONTROL "+00 dB", 1504, Static, 0x50020000, 119, 31, 33, 8, 0x0
}

141 DIALOGEX 0, 0, 230, 30
CAPTION ""
STYLE 0x50000048 | NOT WS_CAPTION
EXSTYLE 0x10000
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "", 1510, Button, 0x50000007, 0, 0, 230, 30, 0x0
  CONTROL "", 1511, "msctls_trackbar32", 0x50010454, 8, 10, 116, 16, 0x0
  CONTROL "-6 dB", 1516, Static, 0x50020002, 124, 11, 34, 10, 0x20000
  CONTROL "&Mute", 1512, Button, 0x50011043, 164, 10, 16, 14, 0x0
  CONTROL "&Balance", 1513, Button, 0x50010000, 184, 10, 40, 14, 0x0
}

144 DIALOGEX 0, 0, 200, 12
CAPTION ""
STYLE 0x50000048 | NOT WS_CAPTION
EXSTYLE 0x20000
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "L", 1524, Static, 0x50020002, 0, 2, 68, 8, 0x0
  CONTROL "", 1525, "msctls_trackbar32", 0x50010418, 70, 0, 76, 13, 0x0
  CONTROL "-6 dB", 1526, Static, 0x50020002, 148, 1, 50, 10, 0x20000
}

145 DIALOGEX 0, 0, 180, 100
CAPTION "Balance"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "Segoe UI", 400, 0, 0
{
  CONTROL "L", 1520, Static, 0x50020002, 0, 10, 16, 8, 0x0
  CONTROL "", 1521, "msctls_trackbar32", 0x50010454, 18, 8, 66, 13, 0x0
  CONTROL "-6 dB", 1522, Static, 0x50020002, 86, 9, 34, 10, 0x20000
  CONTROL "&OK", 1, Button, 0x50010001, 207, 261, 50, 14, 0x0
}

150 DIALOGEX 0, 0, 236, 152
CAPTION "Microsoft GS Software Wavetable Synthesizer"
STYLE 0x80c800c0
EXSTYLE 0x0
FONT 8, "Segoe UI", 0, 0, 0
{
  CONTROL "Microsoft Software Wavetable Synthesizer\nFeaturing Roland Sound Canvas digital samples.", 65535, Static, 0x50020000, 37, 9, 163, 17, 0x0
  CONTROL "Sound Canvas Sample Set:", 65535, Button, 0x50000007, 7, 37, 222, 70, 0x0
  CONTROL 4000, 65535, Static, 0x50000003, 108, 85, 20, 20, 0x0
  CONTROL 250, 65535, Static, 0x5000000e, 77, 49, 81, 14, 0x0
  CONTROL "GM/GS(R) Sound Set Copyright 1996 Roland Corporation U.S.", 65535, Static, 0x50020001, 55, 67, 125, 19, 0x0
  CONTROL "OK", 1, Button, 0x50010001, 93, 130, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  300,  "Sound"
  301,  "Configure your audio devices or change the sound scheme for your computer."
  302,  "Audio Devices"
  303,  "Sound Events"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  304,  "Policy Options"
  305,  "Default Playback Device"
  306,  "Default Recording Device"
  307,  "General"
  308,  "&Test"
  309,  "S&top"
  311,  "General"
  312,  "Configuration"
  313,  "Tone"
  314,  "Levels"
  315,  "Advanced"
  316,  "Supported Formats"
  317,  "Custom"
  318,  "Listen"
  319,  "Supported Formats"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  320,  "Lowest Quality"
  321,  "Telephone Quality"
  322,  "Dictation Quality"
  323,  "Tape Recorder Quality"
  324,  "AM Radio Quality"
  325,  "FM Radio Quality"
  326,  "CD Quality"
  327,  "DVD Quality"
  328,  "Studio Quality"
  330,  "Use this device (enable)"
  331,  "Don't use this device (disable)"
  335,  "Ready"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  336,  "Not plugged in"
  337,  "Disabled"
  338,  "Disabled, unplugged"
  339,  "Currently unavailable"
  340,  "Enable"
  341,  "Stop Testing"
  342,  "Disconnected"
  343,  "Disabled, disconnected"
  344,  "Not Present"
  345,  "%d channel, %d bit, %d Hz (%s)"
  346,  "%d bit, %d Hz (%s)"
  347,  "%d channel, %d bit, %d Hz"
  348,  "%d bit, %d Hz"
  350,  "Front Left"
  351,  "Front Right"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  352,  "Front Center"
  353,  "Subwoofer"
  354,  "Rear Left"
  355,  "Rear Right"
  356,  "Front Left of Center"
  357,  "Front Right of Center"
  358,  "Rear Center"
  359,  "Side Left"
  360,  "Side Right"
  361,  "Top Center"
  362,  "Top Front Left"
  363,  "Top Front Center"
  364,  "Top Front Right"
  365,  "Top Back Left"
  366,  "Top Back Center"
  367,  "Top Back Right"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  370,  "L"
  371,  "R"
  372,  "C"
  373,  "Sub"
  374,  "RL"
  375,  "RR"
  376,  "FLC"
  377,  "FRC"
  378,  "R"
  379,  "SL"
  380,  "SR"
  381,  "TC"
  382,  "TFL"
  383,  "TFC"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  384,  "TFR"
  385,  "TBL"
  386,  "TBC"
  387,  "TBR"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "Mono"
  401,  "Stereo"
  402,  "Quadraphonic"
  403,  "Surround"
  404,  "3.1 Surround"
  405,  "5.1 Surround"
  406,  "6.1 Surround"
  407,  "7.1 Surround"
  408,  "Failed to start the Windows Audio Service.  Some functionality will be unavailable."
  409,  "Failed to start the Windows Audio Service"
  410,  "This computer cannot play audio because the Windows Audio Service is not enabled.\n\nWould you like to enable the Windows Audio Service?"
  411,  "Audio Service Not Running"
  412,  "Audio Enhancements Problem"
  413,  "Windows has detected that audio enhancements for the following device are causing problems:\n\n\t%s\n\nWould you like to disable Driver Enhancements for this device?"
  414,  "The device you are configuring has been removed."
  415,  "Did you hear anything?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  416,  "Did you hear a sound from the receiver?"
  417,  "Warning"
  418,  "Windows was unable to play the test tone.  Support for this format will be disabled."
  419,  "No compressed formats found."
  420,  "(None)"
  421,  "Main volume"
  422,  "No audio devices are installed"
  423,  "%s (modified)"
  424,  "Browse for new %s sound."
  425,  "Wave Files (*.wav)\0*.wav"
  430,  "Change Scheme"
  431,  "A scheme with that name already exists. Do you want to replace the existing scheme?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  432,  "Save previous scheme"
  433,  "If you choose a new scheme, your previous scheme will be lost because you did not save it. Do you want to save the previous scheme?"
  434,  "Scheme"
  435,  "Are you sure you want to remove the %s sound scheme?"
  440,  " "
  441,  "0.0 dB"
  442,  "%+.1f dB"
  443,  "%s kHz"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  450,  "General Usage"
  451,  "Music and Movies"
  452,  "Communications"
  459,  "Speaker Setup"
  460,  "Choose your environment"
  461,  "Choose your configuration"
  462,  "Customize your configuration"
  463,  "Select full-range speakers"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  464,  "Configuration complete"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  490,  "Use System Default"
  491,  "Use Device Default"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  500,  "Error!"
  501,  "Failed to set audio engine processing period."
  502,  "Format not supported by the device."
  503,  "Failed to play test tone."
  504,  "Only files with extension .WAV can be used for notifications"
  505,  "The format is not supported by this device"
  506,  "The device is being used by another application.  If you continue, that application may stop working.\nDo you want to continue?"
  507,  "The device is being used by another application.  Please close any devices that are playing audio to this device and then try again."
  508,  "Device In Use"
  510,  " "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  512,  "3.5 mm Jack"
  513,  "Quarter Inch Jack"
  514,  "Internal Connector"
  515,  "RCA Jack"
  516,  "Optical Jack"
  517,  "Digital Jack"
  518,  "Analog Jack"
  519,  "Multichannel Analog DIN Jack"
  520,  "XLR Pro Jack"
  521,  "RJ-11 Modem Jack"
  522,  "Combo Jack"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  530,  "Drivebay"
  531,  "Rear Panel"
  532,  "Front Panel"
  533,  "Left Panel"
  534,  "Right Panel"
  535,  "Top Panel"
  536,  "Bottom"
  537,  "Rear Panel"
  538,  "Riser"
  539,  "InsideMobileLid"
  541,  "HDMI"
  542,  "OutsideMobileLid"
  543,  "ATAPI"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  550,  "Main Box"
  551,  "Internal"
  552,  "Separate Module"
  554,  "Jack"
  555,  "Integrated Device"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  560,  "%1 %2"
  561,  "Supported"
  562,  "Not supported"
  570,  "Default Output Device"
  571,  "You can listen to a portable music player or other device through this %1 jack."
  572,  "You can listen to a portable music player or other device through this %1 jack.  If you connect a microphone, you may hear feedback."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  590,  "Default Device"
  591,  "Default Device"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  592,  "Default Communications Device"
  593,  "Default Multimedia Device"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1361,  "16-bit"
  1362,  "20-bit"
  1363,  "24-bit"
}

