#pragma code_page(65001)
#include <resources.h>

1 MENUEX
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "&Open", 0, MFT_STRING, MFS_ENABLED
    MENUITEM "&Explore", 1, MFT_STRING, MFS_ENABLED
  }
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "&Open", 0, MFT_STRING, MFS_ENABLED
  }
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "Copy To &Folder...", 2, MFT_STRING, MFS_ENABLED
  }
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "&Copy", 9, MFT_STRING, MFS_ENABLED
    MENUITEM "&Paste", 10, MFT_STRING, MFS_ENABLED
    MENUITEM "", -1, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "&Delete", 12, MFT_STRING, MFS_ENABLED
    MENUITEM "Rena&me", 13, MFT_STRING, MFS_ENABLED
    MENUITEM "", -1, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "P&roperties", 14, MFT_STRING, MFS_ENABLED
  }
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "Login &As...", 4, MFT_STRING, MFS_ENABLED
    POPUP "&New", 0, MFT_STRING, MFS_ENABLED, 0
    {
      MENUITEM "&Folder", 5, MFT_STRING, MFS_ENABLED
    }
    MENUITEM "", -1, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "P&roperties", 3, MFT_STRING, MFS_ENABLED
  }
}

2 MENUEX
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "", 33024, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "FTP Server &Welcome Message...", 6, MFT_STRING, MFS_ENABLED
    MENUITEM "", -1, MFT_SEPARATOR, MFS_ENABLED
  }
}

3 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Copy Here", 1
    MENUITEM "&Move Here", 2
    MENUITEM SEPARATOR
    MENUITEM "Cancel", 0
  }
}

1 DIALOGEX 0, 0, 280, 141
CAPTION "Confirm File Replace"
STYLE 0x90c80acc
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Yes", 6, Button, 0x50010001, 46, 120, 53, 14, 0x0
  CONTROL "Yes to &All", 32, Button, 0x50010000, 104, 120, 53, 14, 0x0
  CONTROL "&No", 7, Button, 0x50010000, 161, 120, 53, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 219, 120, 53, 14, 0x0
  CONTROL 8, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "This folder already contains a file called '%s'.", 110, Static, 0x50020080, 41, 10, 222, 22, 0x0
  CONTROL "Would you like to replace the existing file", 4294967295, Static, 0x50020080, 41, 35, 180, 10, 0x0
  CONTROL "(no details available)", 123, Static, 0x50020080, 79, 51, 194, 8, 0x0
  CONTROL "", 124, Static, 0x50020080, 79, 59, 194, 8, 0x0
  CONTROL "", 122, Static, 0x50000043, 51, 49, 21, 20, 0x0
  CONTROL "with this one?", 4294967295, Static, 0x50020080, 41, 75, 180, 10, 0x0
  CONTROL "(no details available)", 113, Static, 0x50020080, 79, 91, 194, 8, 0x0
  CONTROL "", 114, Static, 0x50020080, 79, 99, 194, 8, 0x0
  CONTROL "", 112, Static, 0x50000043, 51, 89, 21, 20, 0x0
}

2 DIALOGEX 0, 0, 275, 73
CAPTION "Confirm File Delete"
STYLE 0x90c80acc
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Yes", 6, Button, 0x50010001, 147, 51, 58, 14, 0x0
  CONTROL "&No", 7, Button, 0x50010000, 210, 51, 58, 14, 0x0
  CONTROL 5, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "Are you sure you want to delete the file '%s'? \n\n", 110, Static, 0x50020080, 41, 10, 220, 28, 0x0
}

3 DIALOGEX 0, 0, 275, 73
CAPTION "Confirm Folder Delete"
STYLE 0x90c80acc
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Yes", 6, Button, 0x50010001, 147, 51, 58, 14, 0x0
  CONTROL "&No", 7, Button, 0x50010000, 210, 51, 58, 14, 0x0
  CONTROL 5, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "Are you sure you want to delete the folder '%s'?\n(Deleting a folder will delete all of its contents)", 110, Static, 0x50020080, 41, 10, 220, 36, 0x0
}

4 DIALOGEX 0, 0, 275, 65
CAPTION "Confirm Multiple File Delete"
STYLE 0x90c80acc
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "&Yes", 6, Button, 0x50010001, 147, 43, 58, 14, 0x0
  CONTROL "&No", 7, Button, 0x50010000, 210, 43, 58, 14, 0x0
  CONTROL 5, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "Are you sure you want to delete these %u items?  \n(Deleting a folder will delete all of its contents)", 117, Static, 0x50020000, 41, 14, 224, 24, 0x0
}

32 DIALOGEX 0, 0, 227, 200
CAPTION "General"
STYLE 0x80c001cc
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "", 112, Static, 0x50000043, 7, 7, 21, 20, 0x0
  CONTROL "", 110, Edit, 0x50000880, 48, 14, 172, 14, 0x0
  CONTROL "", 111, Edit, 0x50810080, 48, 12, 172, 14, 0x0
  CONTROL "", 4294967295, Static, 0x50000010, 7, 32, 213, 1, 0x0
  CONTROL "Type:", 4294967295, Static, 0x50020000, 7, 40, 40, 9, 0x0
  CONTROL "", 115, Edit, 0x50000880, 48, 40, 172, 14, 0x0
  CONTROL "Location:", 4294967295, Static, 0x50020000, 7, 53, 40, 9, 0x0
  CONTROL "", 116, Edit, 0x50000880, 48, 53, 172, 14, 0x0
  CONTROL "Size:", 133, Static, 0x50020000, 7, 66, 24, 9, 0x0
  CONTROL "", 113, Static, 0x50020000, 48, 66, 172, 10, 0x0
  CONTROL "", 4294967295, Static, 0x50000010, 7, 84, 213, 1, 0x0
  CONTROL "Modified:", 134, Static, 0x50020000, 7, 92, 40, 9, 0x0
  CONTROL "(unknown)", 114, Edit, 0x50000880, 48, 92, 152, 14, 0x0
}

40 DIALOGEX 0, 0, 320, 190
CAPTION "Log On As"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL 9, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "Either the server does not allow anonymous logins or the e-mail address was not accepted.", 45, Static, 0x50020000, 38, 12, 287, 24, 0x0
  CONTROL "To log on to this FTP server, type a user name and password.", 46, Static, 0x50020000, 38, 12, 287, 16, 0x0
  CONTROL "Could not login to the FTP server with the user name and password specified.", 47, Static, 0x50020000, 38, 12, 287, 16, 0x0
  CONTROL "FTP server:", 4294967295, Static, 0x50020000, 38, 36, 39, 8, 0x0
  CONTROL "", 41, Edit, 0x50000880, 90, 36, 183, 8, 0x0
  CONTROL "&User name:", 4294967295, Static, 0x50020000, 38, 52, 42, 8, 0x0
  CONTROL "", 43, ComboBox, 0x50210102, 90, 50, 193, 300, 0x0
  CONTROL "", 44, Edit, 0x58810080, 90, 50, 193, 12, 0x0
  CONTROL "&Password:", 50, Static, 0x50020000, 38, 70, 42, 8, 0x0
  CONTROL "", 48, Edit, 0x508100a0, 90, 68, 193, 12, 0x0
  CONTROL "&E-mail Address:", 51, Static, 0x50020000, 38, 70, 50, 8, 0x0
  CONTROL "", 49, Edit, 0x50810080, 90, 68, 193, 12, 0x0
  CONTROL "After you log on, you can add this server to your Favorites and return to it easily.", 52, Static, 0x50020000, 38, 88, 270, 24, 0x0
  CONTROL "After you log on, you can add this server to your Favorites and return to it easily.  The FTP server will use the e-mail address to identify anonymous users.", 53, Static, 0x50020000, 38, 88, 270, 24, 0x0
  CONTROL 12, 57, Static, 0x50000043, 21, 105, 11, 11, 0x0
  CONTROL "FTP does not encrypt or encode passwords or data before sending them to the server.  To protect the security of your passwords and data, use WebDAV instead.", 56, Static, 0x50020000, 38, 104, 270, 24, 0x0
  CONTROL "Log on &anonymously", 42, Button, 0x50010003, 38, 156, 101, 8, 0x0
  CONTROL "&Save password", 54, Button, 0x50010003, 145, 156, 65, 10, 0x0
  CONTROL "&Log On", 1, Button, 0x50010001, 193, 171, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 247, 171, 50, 14, 0x0
}

80 DIALOGEX 0, 0, 250, 175
CAPTION "FTP Server Welcome Message"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL 2, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "The FTP server provided the following message:", 4294967295, Static, 0x50020000, 36, 17, 200, 8, 0x0
  CONTROL "", 81, Edit, 0x503008c4, 10, 36, 233, 111, 0x20000
  CONTROL "&Close", 1, Button, 0x50010001, 193, 154, 50, 14, 0x0
}

110 DIALOGEX 20, 20, 225, 135
CAPTION "FTP proxy warning"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL 2, 4294967295, Static, 0x50000043, 10, 10, 21, 20, 0x0
  CONTROL "", 110, Static, 0x50020000, 38, 12, 180, 72, 0x0
  CONTROL "&Do not show me this message in the future", 4610, Button, 0x50010003, 38, 96, 180, 8, 0x0
  CONTROL "&Close", 1, Button, 0x50010001, 168, 114, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  0,  "Opens the selected items."
  1,  "Explores the selected items."
  2,  "Copies the selected items to this computer."
  3,  "Open the properties for the current folder."
  4,  "Login using a different user name and password."
  5,  "Create a new folder."
  6,  "Opens the FTP Server Welcome Message."
  8,  "Delete the selected item(s) when they are pasted into another folder."
  9,  "Copy the selected files or folders."
  10,  "Paste previously copied or cut files or folders."
  11,  "Create a link to the selected item."
  12,  "Delete the selected files or folders."
  13,  "Rename the selected file or folder."
  14,  "Get the properties on the selected item(s)."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  26,  "Inserts the items you have copied or cut into the selected location."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "Name"
  33,  "Size"
  34,  "Type"
  35,  "Modified"
  40,  "Sorts items alphabetically by name."
  41,  "Sorts items by size, from smallest to largest."
  42,  "Sorts items by type."
  43,  "Sorts items by date, from oldest to most recent."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  65,  "Connecting to %s"
  66,  "Looking for folder %s"
  67,  "Getting contents of folder"
  68,  "Deleting '%s'"
  69,  "Renaming '%s'"
  71,  "Copying '%s'"
  72,  "Copying '%s'"
  73,  "From '%1!ls!' to '%2!ls!'"
  74,  "Copying..."
  76,  "Deleting..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  258,  "Microsoft Internet Explorer FTP"
  262,  "FTP"
  263,  "%2!ls! on %1!ls!"
  264,  "Multiple Items"
  266,  "New Folder"
  267,  "New Folder (%d)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  286,  "Folder"
  287,  "FTP Server"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  288,  "Calculating the time required to upload the files."
  289,  "Calculating the time required to delete the files."
  290,  "Calculating the time required to copy the files."
  291,  "You are currently in offline mode.  Do you want to go Online?"
  292,  "Moving items from an FTP server to the Recycle Bin will cause them to be deleted permanently.  Are you sure you want to continue?"
  293,  "%1 (%2 bytes)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  340,  "Unknown Zone"
  350,  "User: %s"
  351,  "Anonymous"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  352,  "You are logged in as %s.  This login will determine your permissions and your actions may be logged."
  353,  "You are logged in anonymously.  Select 'Log in as...' in the File menu to log in as another user.  Your email name is used as your password and that can be changed in 'FTP Options' in the View menu."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  400,  "FTP Folder"
  401,  "FTP Folder Error"
  403,  "\n\nDetails:\n%s"
  405,  "An error occurred copying a file to the FTP Server.  Make sure you have permission to put files on the server."
  406,  "An error occurred creating a folder on the FTP Server.  Make sure you have permission to put files on the server."
  407,  "An error occurred renaming the file or folder on the FTP Server.  Make sure you have permission to make this modification."
  408,  "An error occurred opening the folder on the FTP Server.  Make sure you have permission to access this folder."
  409,  "An error occurred deleting the file or folder on the FTP Server.  Make sure you have permission to access this folder."
  410,  "An error occurred opening that folder on the FTP Server.  Make sure you have permission to access that folder."
  411,  "An error occurred reading all of the contents of this folder on the FTP Server."
  412,  "An error occurred creating a new folder on the FTP Server."
  413,  "The item could not be transferred.  Make sure you have permission to store files here and that the file name is valid."
  414,  "This operation could not be completed because some characters in the file name are not allowed on the FTP Server."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  417,  "Windows cannot access this folder. Make sure you typed the file name correctly and that you have permission to access the folder."
  418,  "An error occurred copying the selected items from the FTP Server."
  420,  "If you change a file name extension, the file may become unusable.\n\nAre you sure you want to change it?"
  421,  "Rename"
  422,  "The folder '%s' is read-only because the proxy server is not set up to allow full access.\n\nTo move, paste, rename, or delete files, you must use a different proxy.  For information on changing your proxy, contact your administrator."
  423,  "An error occurred changing the permissions on the file or folder on the FTP Server.  Make sure you have permission to change this item."
  424,  "The selected items can not be downloaded to the specified folder.  Please choose another folder."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  500,  "Copy the selected item(s) to the folder:"
}

