#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "OK"
  101,  "Cancel"
  102,  "&Abort"
  103,  "&Retry"
  104,  "&Ignore"
  105,  "&Yes"
  106,  "&No"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  300,  "S&ettings..."
  301,  "&Opaque"
  302,  "&Low Transparency"
  303,  "&High Transparency"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  304,  "Sh&ow Text"
  305,  "H&ide Text"
  306,  "&Break to debugger"
  307,  "&Cancel"
  308,  "Restore the Language bar"
  311,  "&Restore Defaults"
  312,  "&Transparency"
  313,  "Te&xt Labels"
  314,  "&Minimize"
  315,  "&Close the Language bar"
  316,  "You have minimized the language bar."
  317,  "More buttons are available.\r\nTo see them, click the arrow."
  318,  "&Additional icons in taskbar"
  319,  "You cannot remove the last button from the language bar. Do you want to close the language bar?\r\nYou can always restore the language bar from Text Services control panel."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  320,  "Language bar"
  321,  "&Restore the Language bar"
  322,  "Menu Window"
  324,  "&Vertical"
  325,  "Language bar"
  326,  "A&djust the Language band position"
  327,  "@%SystemRoot%\\System32\\msutb.dll,-328"
  328,  "Language &bar"
  329,  "Press"
  330,  "Execute"
  331,  "A&uto Adjust"
  332,  "Language bar"
  333,  "Language bar"
  334,  "Gripper"
  335,  "Gripper"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  336,  "You have closed the Language bar."
  337,  "To use the Language bar later, check ""Show the Language bar on the desktop"" in the Language Bar Settings dialog, which you can find within the Regional and Language Options control panel."
  338,  "You have minimized the Language bar."
  339,  "To restore it, just click the Language bar icon (near the clock) and select ""Restore the Language bar"" from the pop-up menu."
  340,  "&Do not show me this message again."
  341,  "&Language Bar Help"
  342,  "Other Languages"
  343,  "&Show the Language bar"
  344,  "Correction"
  345,  "Correction"
  346,  "IME"
  347,  "IME"
  348,  "Language"
  349,  "Language Button"
  350,  "Input Language Button"
  351,  "Help"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  352,  "Help"
  353,  "Help Button"
  354,  "Keyboard"
  355,  "Speech"
  356,  "Handwriting"
  357,  "Reference"
  358,  "Proofing"
  359,  "Action"
  360,  "Other"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1100,  "Minimize"
  1101,  "Options"
  1102,  "Kana status"
  1103,  "Caps status"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1104,  "Restore"
  1105,  "The Minimize button is not available on the language bar that is attached to a remote program (TS RemoteApp)."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1200,  "Minimize"
  1201,  "Options"
  1202,  "Kana lock"
  1203,  "Caps lock"
  1204,  "Restore"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1300,  "Minimize"
  1301,  "Options"
  1302,  "Kana lock status"
  1303,  "Caps lock status"
  1304,  "Restore"
}

1 MESSAGETABLE
{
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-TSF-msutb\r\n"
}
