#pragma code_page(65001)
#include <resources.h>

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Turn on index...", 1
    MENUITEM SEPARATOR
    MENUITEM "&Don't show this message again", 4
  }
}

2 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Help about search", 3
  }
}

4 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Help about search", 3
    MENUITEM "&Don't show this message again", 4
  }
}

5 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&View indexing status...", 2
    MENUITEM SEPARATOR
    MENUITEM "&Don't show this message again", 4
  }
}

6 MENUEX
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "", 0, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "S&ave search", 6, MFT_STRING, MFS_ENABLED
  }
}

7 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Diagnose network connectivity problem...", 1
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  9022,  "Save these search criteria as a Saved Search."
  9023,  "Saved Search"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  9024,  "Error Saving Search"
  9025,  "The search cannot be saved. Try using a different name or saving to a different location."
  9028,  "Stack"
  9030,  "Displays properties for this folder."
  9031,  "Games Explorer"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10384,  "%s (%s)"
  10385,  "%s & %s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23809,  "AND"
  23810,  "OR"
  23811,  "Advanced Search"
  23812,  " Search"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  23860,  "Subfolders"
  23861,  "Subfolders"
  23862,  "Search again and include subfolders"
  23863,  "No items match your search."
  23864,  "This folder is empty."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  29441,  "Searching..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  30523,  "Search"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  30581,  "Search Results"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  31488,  "This location is restricted and cannot be searched."
  31489,  "You do not have permission to search this location."
  31490,  "This location cannot be searched because it no longer exists or is temporarily unavailable. Click to diagnose..."
  31491,  "This location cannot be searched because of a web server error. Click to diagnose..."
  31492,  "Search results are incomplete because the server returned invalid data."
  31493,  "One or more locations cannot be searched."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  31524,  "Unspecified"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32816,  "Recent Music"
  32817,  "Recent Documents"
  32818,  "Recent Pictures and Videos"
  32819,  "Recent E-mail"
  32820,  "Indexed Locations"
  32821,  "Recently Changed"
  32822,  "Everywhere"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  34132,  "Search Results in %s"
  34133,  "Start Menu Search Results in %s"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  38256,  "These results might not be accurate because of a problem with this search.  Click to get help..."
  38257,  "This search can't be completed because there is something wrong with this saved search."
  38258,  "Results might be incomplete because a location could not be reached: %1!s!.  Click to get help..."
  38260,  "Network locations and connected devices are searched more slowly than indexed locations. Click to get help..."
  38263,  "Your searches might be slow because the index is not running.  Click to turn on the index..."
  38271,  "Update Indexer Status"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  38272,  "Add to Index"
  38273,  "Do you want to index this location?"
  38274,  "Do you want to index these locations?"
  38275,  "Add to index"
  38276,  "Cancel"
  38277,  "If you index this location, future searches will be faster. It might take a long time to index this location, and search results might be incomplete until indexing is finished."
  38278,  "If you index these locations, future searches will be faster. It might take a long time to index this location, and search results might be incomplete until indexing is finished."
  38279,  "\n\n"
  38280,  "\n"
  38281,  "Turn on Index"
  38282,  "Do you want to turn on the index?"
  38283,  "Turn on index"
  38284,  "Cancel"
  38285,  "Searches will be faster if you turn on the index."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  38291,  "Your searches might be slow because the index is not running. Click to get help..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  38304,  "No Title"
  38305,  "<No information available>"
  38306,  "<For details, open this link to view the feed.>"
  38307,  "This item was blocked because of your Internet security settings:"
}

