#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Default Programs"
  2,  "Set Associations"
  3,  "Choose a default"
  4,  "Set Default Programs"
  7,  "Set Program Associations"
  10,  "Choose which programs you want Windows to use for activities like web browsing, editing photos, sending e-mail, and playing music."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  200,  "Program Defaults Control Panel Error"
  201,  "There was a problem loading the 'Set a Default Program' page. (Error code: %1!lX!)"
  202,  "(Select a program for more information)"
  203,  "Name"
  204,  "Description"
  205,  "Current Default"
  206,  "Programs"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  210,  "Extensions"
  211,  "Protocols"
  212,  "MAPI"
  220,  "Send mail"
  221,  "Send mail command"
  222,  "Unknown application"
  223,  "This program has all its defaults"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  224,  "This program has %1!lu! out of %2!lu! defaults"
  225,  "Not selected"
  226,  "Use the selected program to open all file types and protocols it can open by default."
  227,  "Choose which file types and protocols the selected program opens by default."
  228,  "Programs and Features"
  229,  "Parental Controls"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1169,  "Choose the programs that Windows uses by default"
  1170,  "Set your default programs"
  1171,  "Make a program the default for all file types and protocols it can open."
  1172,  "Associate a file type or protocol with a program"
  1173,  "Make a file type or protocol (such as .mp3 or http://) always open in a specific program."
  1174,  "Change AutoPlay settings"
  1175,  "Play CDs or other media automatically"
  1176,  "Set program access and computer defaults"
  1177,  "Control access to certain programs and set defaults for this computer."
  1180,  "OK"
  1183,  "Set your default programs"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1184,  "Set associations for a program"
  1185,  "Select the extensions you want this program to open by default, and then click Save."
  1186,  "Save"
  1187,  "Cancel"
  1190,  "Programs List"
  1192,  "Select All"
  1193,  "To set a program as the default for all file types and protocols it can open, click the program and then click Set as default."
  1194,  "Associate a file type or protocol with a specific program"
  1195,  "Click on an extension to view the program that currently opens it by default. To change the default program, click Change program."
  1196,  "Change program..."
  1197,  "No extension or protocol selected"
  1198,  "Close"
  1199,  "List of available programs to change default settings."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1200,  "Program description"
  1201,  "Program Association List"
  1202,  "Select the extensions you want this program to open by default, and then click Save."
  1203,  "No extension or protocol selected"
  1205,  "Extensions List"
  1206,  "Click on an extension to view the program that currently opens it by default. To change the default program, click Change program."
  1207,  "&Set this program as default"
  1208,  "&Choose defaults for this program"
  1209,  "Set your default programs"
  1210,  "Associate a file type or protocol with a program"
  1211,  "Change AutoPlay settings"
  1212,  "Set program access and computer defaults"
  1213,  "Default Programs"
  1214,  "Default Programs"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1216,  "Set your default programs"
  1217,  "Set your default programs"
  1218,  "Set associations for a program"
  1219,  "Set associations for a program"
  1220,  "Associate a file type or protocol with a specific program"
  1221,  "Associate a file type or protocol with a specific program"
  1230,  "Loading..."
  1231,  "Loading..."
}

1 MESSAGETABLE
{
  268435508,  "SQM\r\n"
  805306368,  "Info\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Shell-DefaultPrograms\r\n"
}
