#pragma code_page(65001)
#include <resources.h>

2000 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "CONTEXT"
  {
    MENUITEM "Copy\tCtrl+C", 2001
    MENUITEM SEPARATOR
    MENUITEM "Select All\tCtrl+A", 2002
  }
}

2050 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "CONTEXT"
  {
    MENUITEM "Show Progress", 2051
    MENUITEM "Cancel", 2052
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  206,  "View problem details"
  207,  "Hide problem details"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  209,  "Windows is checking for a solution to the problem..."
  210,  "Saving problem information..."
  211,  "This will allow you to check for a solution later."
  212,  "%s is trying to recover your information..."
  213,  "This might take several minutes."
  214,  "%s is restarting..."
  215,  "Check for a solution"
  216,  "Problem signature:\r\n"
  217,  "Additional information about the problem:\r\n"
  218,  "Read our privacy statement online:\r\n"
  219,  "If the online privacy statement is not available, please read our privacy statement offline:\r\n"
  220,  "Files that help describe the problem:\r\n"
  221,  "Windows is trying to determine why %s is not working..."
  223,  "Do you want to send information to check for a solution?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  224,  "Windows will notify you if there are steps you can take to solve the problem."
  225,  "&Check for a solution"
  226,  "Do you want to send more information about the problem?"
  227,  "Additional details about what went wrong can help Microsoft create a solution."
  228,  "&Send information"
  230,  "%s has stopped working"
  233,  "Windows is collecting more information about the problem.  This might take several minutes..."
  234,  "Sending problem information"
  236,  "Restart the program"
  237,  "Debug the program"
  238,  "Check online for a solution and close the program"
  239,  "Check online for a solution later and close the program"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  240,  "Close the program"
  242,  "&Check for solution"
  244,  "Windows Error Reporting"
  246,  "A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available."
  247,  "Try to recover my information only"
  248,  "Restart the program"
  249,  "Windows can check online for a solution to the problem."
  250,  "Windows can check online for a solution to the problem and try to recover your information."
  251,  "Windows can check online for a solution to the problem and try to restart the program."
  252,  "Windows can check online for a solution to the problem and try to recover your information and restart the program."
  253,  "Windows can check online for a solution to the problem the next time you go online."
  254,  "Windows can check online for a solution to the problem the next time you go online and try to recover your information."
  255,  "Windows can check online for a solution to the problem the next time you go online and try to restart the program."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  256,  "Windows can check online for a solution to the problem the next time you go online and try to recover your information and restart the program."
  257,  "Check online for a solution and close the program"
  258,  "Check online for a solution and restart the program"
  259,  "Check online for a solution and restart the program"
  260,  "Check online for a solution later"
  261,  "Check online for a solution later and restart the program"
  262,  "Check online for a solution later and restart the program"
  264,  "Do you want to automatically send more information about unsolved problems?"
  265,  "Sending information can help Microsoft create solutions.  To see what types of information Windows can send, <a href=""privacy link is in the code"">read our privacy statement online</a>."
  266,  "Yes, send more information automatically (recommended)"
  267,  "No, ask me each time"
  268,  "Problem Event Name"
  269,  "&Check later"
  270,  "Generating report signatures. Please wait..."
  271,  "Description:\r\n"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  274,  "%s was closed"
  275,  "To help protect your computer, Data Execution Prevention has closed %s.  Click to learn more."
  278,  "No files were found"
  280,  "Windows is trying to identify the problem..."
  281,  "Windows is checking online for a solution to the problem"
  282,  "&Debug"
  283,  "Cancel"
  284,  "&Close program"
  286,  "Windows will try to restart the program."
  287,  "A problem caused the program to stop working correctly. Please close the program."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  288,  "Windows can try to recover your information and restart the program."
  289,  "Windows can try to restart the program."
  290,  "Windows can try to recover your information."
  291,  "Windows is sending information to Microsoft that can help solve the problem.\r\n\r\nPreparing information to send: %u%%\r\nSending information:  %u%%"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1012,  "%s has stopped working"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3014,  "&Send information"
  3016,  "Sending problem information..."
  3017,  "Wait for the program to respond"
  3018,  "View Details"
  3019,  "Hide Details"
}

