#pragma code_page(65001)
#include <resources.h>

200 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "An ad hoc network (sometimes called a computer-to-computer network) is a temporary network used for sharing files, presentations, or an Internet connection among multiple computers and devices.", 4294967295, Static, 0x50020000, 0, 5, 270, 40, 0x0
  CONTROL "Computers and devices in ad hoc networks must be within 30 feet of each other.", 4294967295, Static, 0x50020000, 0, 35, 270, 20, 0x0
  CONTROL "If you're currently connected to a wireless network, you might be disconnected when you set up this network.", 4294967295, Static, 0x50020000, 0, 50, 270, 20, 0x0
  CONTROL "", 1061, Static, 0x5000000d, 40, 75, 187, 68, 0x20
  CONTROL "", 1021, ComboBox, 0x50210003, 0, 75, 150, 60, 0x0
}

201 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Ne&twork name:", 4294967295, Static, 0x50020000, 0, 10, 60, 8, 0x0
  CONTROL "", 1001, Edit, 0x50810080, 90, 10, 100, 10, 0x0
  CONTROL "&Security type:", 4294967295, Static, 0x50020000, 0, 30, 60, 8, 0x0
  CONTROL "", 1012, ComboBox, 0x50210103, 90, 30, 100, 60, 0x0
  CONTROL "<A>Help me choose</A>", 1027, "SysLink", 0x50010000, 200, 30, 100, 10, 0x0
  CONTROL "S&ecurity key:", 1013, Static, 0x50020000, 0, 50, 90, 8, 0x0
  CONTROL "", 1002, Edit, 0x508100a0, 90, 50, 100, 10, 0x0
  CONTROL "&Hide characters", 1018, Button, 0x50010003, 200, 50, 100, 10, 0x0
  CONTROL "&Current location:", 1003, Static, 0x50020000, 0, 70, 70, 8, 0x0
  CONTROL "", 1004, ComboBox, 0x50210103, 90, 70, 100, 60, 0x0
  CONTROL "<A>Why is my location important?</A>", 1005, "SysLink", 0x50010000, 200, 70, 110, 8, 0x0
  CONTROL "Sa&ve this network", 1006, Button, 0x50010003, 16, 88, 206, 10, 0x0
  CONTROL 236, 1061, Static, 0x50000803, 0, 100, 16, 16, 0x0
  CONTROL "Save this network for &all users of this computer", 1058, Button, 0x50030009, 12, 99, 250, 10, 0x0
  CONTROL "Save this network for &me only", 1059, Button, 0x50010009, 12, 111, 250, 10, 0x0
  CONTROL "D&on't save this network", 1060, Button, 0x50010009, 12, 123, 250, 10, 0x0
}

203 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 1100, 4294967295, Static, 0x50000803, 56, 10, 48, 48, 0x0
  CONTROL 1101, 4294967295, Static, 0x50000803, 88, 10, 118, 48, 0x0
  CONTROL 1104, 4294967295, Static, 0x50000803, 210, 10, 48, 48, 0x0
  CONTROL "", 1015, "msctls_progress32", 0x50800008, 74, 62, 152, 8, 0x0
}

204 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "This network will appear in the list of wireless networks and will stay active until everyone disconnects from it. Give the network name and security key (if any) to people you want to connect to this network.", 4294967295, Static, 0x50020000, 0, 0, 270, 30, 0x0
  CONTROL "", 4294967295, Button, 0x50000007, 20, 30, 260, 40, 0x0
  CONTROL "Wireless network name:", 4294967295, Static, 0x50020002, 21, 40, 107, 10, 0x0
  CONTROL "Name", 1009, Static, 0x50020000, 134, 40, 140, 10, 0x0
  CONTROL "Network security key:", 1014, Static, 0x50020002, 21, 53, 107, 10, 0x0
  CONTROL "Name", 1011, Static, 0x50020000, 134, 53, 124, 16, 0x0
  CONTROL "Recommended options:", 1058, Static, 0x50020000, 0, 91, 166, 10, 0x0
  CONTROL "Turn on Internet connection sharing", 1016, Button, 0x5001000e, 0, 104, 280, 25, 0x0
  CONTROL "<A>Share an Internet connection on an ad hoc network</A>", 1063, "SysLink", 0x50010000, 0, 133, 280, 10, 0x0
  CONTROL "To share files, open <A>Network and Sharing Center</A> in Control Panel and turn on file sharing.", 1062, "SysLink", 0x50010000, 0, 76, 280, 10, 0x0
}

205 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 1100, 4294967295, Static, 0x50000803, 56, 10, 48, 48, 0x0
  CONTROL 1101, 4294967295, Static, 0x50000803, 88, 10, 118, 48, 0x0
  CONTROL 1105, 4294967295, Static, 0x50000803, 210, 10, 48, 48, 0x0
  CONTROL "Available options", 4294967295, Static, 0x50020000, 30, 70, 60, 8, 0x0
  CONTROL "", 1020, ComboBox, 0x50210003, 90, 70, 150, 60, 0x0
}

206 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 1100, 4294967295, Static, 0x50000803, 56, 10, 48, 48, 0x0
  CONTROL 1101, 4294967295, Static, 0x50000803, 88, 10, 118, 48, 0x0
  CONTROL 1105, 4294967295, Static, 0x50000803, 210, 10, 48, 48, 0x0
  CONTROL "", 1015, "msctls_progress32", 0x50800008, 74, 62, 152, 8, 0x0
}

207 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 1100, 4294967295, Static, 0x50000803, 56, 10, 48, 48, 0x0
  CONTROL 1101, 4294967295, Static, 0x50000803, 88, 10, 118, 48, 0x0
  CONTROL 1105, 1056, Static, 0x50000803, 210, 10, 48, 48, 0x0
  CONTROL 1106, 1057, Static, 0x50000803, 210, 10, 48, 48, 0x0
}

208 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 1043, Static, 0x50020000, 5, 0, 300, 27, 0x0
  CONTROL "Choose a different name.\nReturn to the setup page and choose a different name.", 1055, Button, 0x5001000e, 15, 37, 300, 40, 0x0
}

400 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Diagnose the problem", 1023, Button, 0x5001000e, 0, 20, 280, 30, 0x0
  CONTROL "<A>Tell me how to set up ICS on my own</A>", 1059, "SysLink", 0x50010000, 0, 125, 200, 10, 0x0
}

10101 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "N&etwork name:", 4294967295, Static, 0x50020000, 0, 5, 60, 8, 0x0
  CONTROL "", 10303, Edit, 0x50810080, 90, 4, 100, 10, 0x0
  CONTROL "&Security type:", 4294967295, Static, 0x50020000, 0, 25, 60, 8, 0x0
  CONTROL "", 10305, ComboBox, 0x50210003, 90, 25, 100, 60, 0x0
  CONTROL "Enc&ryption type:", 4294967295, Static, 0x50020000, 0, 45, 60, 8, 0x0
  CONTROL "", 10306, ComboBox, 0x50210003, 90, 45, 100, 60, 0x0
  CONTROL "Se&curity Key:", 4294967295, Static, 0x50020000, 0, 65, 60, 8, 0x0
  CONTROL "", 10304, Edit, 0x508100a0, 90, 64, 100, 10, 0x0
  CONTROL "&Hide characters", 10307, Button, 0x50010003, 200, 65, 75, 10, 0x0
  CONTROL 10407, 10335, Static, 0x50000803, 0, 85, 16, 16, 0x0
  CONTROL "Save this network for &all users of this computer", 10336, Button, 0x50030009, 12, 84, 250, 10, 0x0
  CONTROL "Save this network for &me only", 10337, Button, 0x50010009, 12, 96, 250, 10, 0x0
  CONTROL "S&tart this connection automatically", 10328, Button, 0x50010003, 12, 113, 206, 10, 0x0
  CONTROL "C&onnect even if the network is not broadcasting", 10334, Button, 0x50010003, 12, 127, 250, 10, 0x0
  CONTROL "Warning: If you select this option, your computer’s privacy might be at risk.", 10339, Static, 0x50020000, 22, 139, 250, 9, 0x0
}

10102 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "&Manually create a network profile\nThis creates a new network profile or locates an existing network and saves a profile for the network on your computer. You need to know the network name (SSID) and security key (if applicable).", 10309, Button, 0x5001000e, 4, 0, 280, 52, 0x0
  CONTROL "&Create an ad hoc network\nThis creates a temporary network for sharing files or an Internet connection", 10310, Button, 0x5001000e, 4, 70, 280, 35, 0x0
}

10103 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 10404, 4294967295, Static, 0x50000803, 56, 10, 48, 48, 0x0
  CONTROL 10405, 4294967295, Static, 0x50000803, 88, 10, 118, 48, 0x0
  CONTROL 10406, 4294967295, Static, 0x50000803, 210, 10, 48, 48, 0x0
  CONTROL "", 10301, "msctls_progress32", 0x50800008, 74, 62, 152, 8, 0x0
}

10104 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "C&hange connection settings\nOpen the connection properties so that I can change the settings.", 10314, Button, 0x5001000e, 10, 10, 250, 35, 0x0
}

10105 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "&Diagnose and check for solutions", 10315, Button, 0x5001000e, 0, 30, 280, 30, 0x0
}

10106 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 4294967295, Static, 0x50020000, 1, 1, 1, 1, 0x0
  CONTROL "", 10316, ComboBox, 0x50210003, 5, 10, 150, 60, 0x0
}

10107 DIALOGEX 0, 0, 317, 143
CAPTION "Connect to a network"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "General options", 4294967295, Static, 0x50020000, 2, 10, 54, 10, 0x0
  CONTROL "Display the SSIDs of saved networks", 10317, Button, 0x50010003, 2, 30, 237, 10, 0x0
  CONTROL "Display hidden networks that I have connected to before", 10318, Button, 0x50010003, 2, 45, 237, 10, 0x0
  CONTROL "Network detail options", 4294967295, Static, 0x50020000, 2, 65, 150, 10, 0x0
  CONTROL "Display the MAC address of the access point", 10329, Button, 0x58010003, 2, 80, 237, 10, 0x0
  CONTROL "Display the Channel number being used to connect", 10330, Button, 0x58010003, 2, 95, 237, 10, 0x0
}

10108 DIALOGEX 0, 0, 317, 143
CAPTION ""
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 10321, Static, 0x50020000, 5, 0, 250, 20, 0x0
  CONTROL "&Use the existing network\nOpen the ""Connect to a network"" dialog so I can connect.", 10323, Button, 0x5001000e, 15, 20, 250, 40, 0x0
  CONTROL "&Choose a different name\nReturn to the setup page and choose a different name.", 10324, Button, 0x5001000e, 15, 65, 250, 45, 0x0
}

20060 DIALOGEX 0, 0, 260, 79
CAPTION "Manage Wireless Networks"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 20061, 4294967295, Static, 0x50000003, 5, 5, 25, 25, 0x0
  CONTROL "Are you sure you want to remove this network?\n\nIf you remove it, you can't connect to it anymore unless you\ncreate a new profile.", 20062, Static, 0x50020000, 30, 5, 250, 50, 0x0
  CONTROL "&Yes", 1, Button, 0x50010000, 150, 60, 50, 14, 0x0
  CONTROL "&No", 2, Button, 0x50010000, 205, 60, 50, 14, 0x0
}

20063 DIALOGEX 0, 0, 260, 79
CAPTION "Manage Wireless Networks"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 20061, 4294967295, Static, 0x50000003, 5, 5, 25, 25, 0x0
  CONTROL "Are you sure you want to rename this network?\n\nThe network will be renamed for all users of this computer. This might make it difficult for other users to find and connect to this network in the future.", 20064, Static, 0x50020000, 30, 5, 220, 50, 0x0
  CONTROL "&Yes", 1, Button, 0x50010000, 150, 60, 50, 14, 0x0
  CONTROL "&No", 2, Button, 0x50010000, 205, 60, 50, 14, 0x0
}

20068 DIALOGEX 0, 0, 350, 149
CAPTION "Wireless Network Profile Type"
STYLE 0x80c800c8
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL 20073, 4294967295, Static, 0x50000003, 10, 10, 20, 20, 0x0
  CONTROL "Choose the type of profile to assign to new wireless networks", 20069, Static, 0x50020000, 40, 10, 300, 20, 0x0
  CONTROL "By default, connections to wireless networks from your computer can be accessed by anyone with a user account on the computer (all-user). If you change this setting, users can create connections that can only be accessed and modified by them (per-user).", 20070, Static, 0x50020000, 40, 35, 300, 25, 0x0
  CONTROL "Use all-user profiles only (recommended)", 20075, Button, 0x50020009, 40, 65, 200, 10, 0x0
  CONTROL "Use all-user and per-user profiles", 20076, Button, 0x50000009, 40, 79, 200, 10, 0x0
  CONTROL 20061, 4294967295, Static, 0x50000003, 50, 92, 16, 16, 0x0
  CONTROL "Using per-user profiles can cause a loss of network connectivity when logging off or switching between users", 20071, Static, 0x50020000, 74, 92, 265, 30, 0x0
  CONTROL "Save", 1, Button, 0x50010001, 232, 127, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 292, 127, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  211,  "Setting up the %1 network..."
  212,  "Set Up an Ad Hoc Network"
  213,  "The network name must not be empty."
  214,  "The network name '%1' is too long. It exceeds 32 characters."
  215,  "The passphrase must be one of the following:\n8 to 63 case-sensitive characters\n64 characters using digits 0-9 and letters A-F."
  216,  "Invalid passphrase"
  217,  "&Set up"
  218,  "The %1 network is ready to use"
  219,  "Print settings ..."
  220,  "Give your network a name and choose security options"
  221,  "Invalid WEP key. The WEP key must be one of the following:\n5 or 13 case-sensitive characters.\n10 or 26 hexadecimal characters."
  222,  "Network security key:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  225,  "Share my Internet connection with people on %1"
  226,  "The %1 network will stay active until everyone disconnects from it."
  227,  "Select the Internet connection you want to share"
  228,  "Public"
  229,  "802.11 ad hoc connection public folder"
  230,  "Automatic (default)"
  231,  "Windows could not detect any wireless network interfaces"
  232,  "Windows could not set up %1"
  233,  "Windows could not set up Internet connection sharing (ICS)"
  234,  "unsecured"
  235,  "Sharing your Internet connection..."
  237,  "Internet connection sharing is enabled"
  238,  "A network called %1 already exists"
  239,  "The %1 network is controlled by group policy and cannot be modified"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  240,  "Replace the existing network"
  241,  "Overwrite the settings for the existing network"
  242,  "Select a different name"
  243,  "Return to the setup page and select a different name"
  244,  "Create a different network"
  245,  "Return to the setup page and create a different network"
  246,  "Try again"
  247,  "Start over from the beginning of the adhoc wizard"
  248,  "You don't have enough privileges to configure Internet connection sharing"
  249,  "Cleanup 802.11 adhoc settings after the adhoc network terminates."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  259,  "Set up a wireless ad hoc (computer-to-computer) network"
  260,  "Set up a temporary network for sharing files or an Internet connection."
  261,  "Set up a wireless ad hoc network"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  420,  "&Next"
  421,  "&Close"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  500,  "To protect your network, type a strong password"
  501,  "A WEP key is one of the following:\r\n5 case-sensitive characters\r\n13 case-sensitive characters\r\n10 hexadecimal [0-9a-f] case-insensitive characters\r\n26 hexadecimal [0-9a-f] case-insensitive characters"
  502,  "A WPA2-Personal password must be one of the following:\n8~63 case-sensitive characters\n64 characters using digits 0-9 and letters A-F"
  503,  "A network name contains 1~32 case-sensitive characters"
  504,  "Wrong password"
  505,  "The Windows wireless service is not running"
  506,  "Cannot create %1"
  507,  "An unexpected error occurred"
  508,  "Cancelling..."
  509,  " "
  510,  "Your system administrator does not allow you to create the %1 network. For more information, contact your system administrator."
  511,  "The policies of your network are preventing you from creating the %1 network. For more information, contact your system administrator."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  512,  "Your system administrator does not allow you to create ad hoc (computer-to-computer) networks. For more information, contact your system administrator."
  513,  "The policies of your network prevent the creation of ad hoc (computer-to-computer) networks. For more information, contact your system administrator."
  514,  "Access is denied"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1249,  "Close"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  5200,  "Manage Wireless Networks"
  5201,  "Adhoc Wireless Network"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10902,  "Manually connect to a wireless network"
  10903,  "Connect to a hidden network or create a new wireless profile."
  10904,  "No authentication (Open)"
  10905,  "WPA-Personal"
  10906,  "WPA2-Personal"
  10907,  "None"
  10908,  "WEP"
  10909,  "TKIP"
  10910,  "AES"
  10911,  "Enter information for the wireless network you want to add"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10912,  "How do you want to add a network?"
  10913,  "Close"
  10914,  "An unexpected error occurred"
  10915,  "Choose a wireless adapter"
  10916,  "&Advanced settings"
  10917,  "&Next"
  10918,  "Invalid Network Name"
  10921,  "Select options for the Connect to a network dialog box"
  10922,  "Successfully added %1"
  10924,  "802.1x"
  10926,  "The %1 network is controlled by group policy and cannot be modified"
  10927,  "A network called %1 already exists"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  10928,  "Access is denied"
  10929,  "The Windows wireless service is not running"
  10930,  "Windows cannot detect any wireless network interfaces"
  10935,  "Adding %1..."
  10936,  "WPA-Enterprise"
  10937,  "WPA2-Enterprise"
  10938,  "A WPA-Personal password must be one of the following:\n8~63 case-sensitive characters\n64 characters using digits 0-9 and letters A-F"
  10939,  "[Choose an option]"
  10940,  "Choose a security type"
  10941,  " "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  19001,  "Unsecured"
  19002,  "Automatically connect"
  19003,  "Manually connect"
  19004,  "Any supported"
  19005,  "Default"
  19006,  "WEP"
  19007,  "WPA-Personal"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  19008,  "WPA-Enterprise"
  19009,  "WPA2-Personal"
  19010,  "WPA2-Enterprise"
  19011,  "802.1x"
  19012,  "Vendor defined"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20001,  "Manage Wireless Networks"
  20002,  "Set the order in which Windows connects to wireless networks"
  20003,  "Manage wireless networks that use (%1)"
  20004,  "Manage wireless networks"
  20005,  "Windows tries to connect to these networks in the order listed below. \n\nTo see networks that use a different wireless network adapter, click Change adapter below."
  20006,  "Windows tries to connect to these networks in the order listed below. "
  20007,  "Wireless is not currently enabled."
  20009,  "Name"
  20010,  "Priority"
  20011,  "Security"
  20012,  "Type"
  20013,  "Managed"
  20014,  "Mode"
  20015,  "Networks you can view"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20016,  "Networks you can view, modify, and reorder"
  20017,  "Properties"
  20018,  "Edit this network's properties."
  20019,  "Remove network"
  20020,  "Remove this network from the list."
  20021,  "Rename"
  20022,  "Rename this network."
  20023,  "Move up"
  20024,  "Move down"
  20025,  "Move this network up in the list."
  20026,  "Move this network down in the list."
  20027,  "This network's priority is locked and cannot be moved in the list"
  20028,  "To change this network's priority, move this item up in the list"
  20029,  "To change this network's priority, move this item down in the list"
  20030,  "To change this network's priority, move this item up or down in the list"
  20031,  "Manage Wireless Networks"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20032,  "These tasks apply to the selected network"
  20033,  "Connect to"
  20034,  "Connect to an available wireless network"
  20035,  "Add"
  20036,  "Add a wireless network"
  20037,  "Remove"
  20038,  "Remove the selected network"
  20039,  "Change adapter"
  20040,  "View networks for a different wireless adapter"
  20041,  "Adapter properties"
  20042,  "View properties for the wireless adapter"
  20043,  "Network and Sharing Center"
  20044,  "Provides network status, and gives access to network settings"
  20045,  "Move up"
  20046,  "Increase the priority of this network"
  20047,  "Move down"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20048,  "Decrease the priority of this network"
  20049,  "wlanpref.dll,0"
  20050,  "wlanpref.dll,7"
  20051,  "wlanpref.dll,8"
  20052,  "wlanpref.dll,3"
  20053,  "wlanpref.dll,4"
  20054,  "wlanpref.dll,5"
  20055,  "wlanpref.dll,5"
  20056,  "wlanpref.dll,6"
  20057,  "netcenter.dll,0"
  20058,  "If you remove this network from the list\nyou will no longer be able to connect\nto it automatically.\n\nDo you wish to proceed?"
  20059,  "Warning"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  20065,  "Profile types"
  20066,  "Enable or disable the ability to create Per User Profiles"
  20067,  "wlanpref.dll,9"
  20077,  "You do not have the permissions required to perform this task. Contact your network administrator."
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-WlanPref\r\n"
}
