#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x2
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Windows Authentication UI"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "AUTHUI"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "AUTHUI.DLL.MUI"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

2000 DIALOGEX 0, 0, 305, 242
CAPTION "Shut Down Windows"
STYLE 0x80c008c8
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL 1008, 2027, Static, 0x50020043, 13, 7, 21, 20, 0x0
  CONTROL "&What do you want the computer to do?", 2028, Static, 0x50020000, 44, 6, 204, 10, 0x0
  CONTROL "", 2001, ComboBox, 0x50210003, 44, 20, 211, 57, 0x0
  CONTROL "", 2002, Static, 0x50020000, 44, 40, 211, 30, 0x0
  CONTROL "&Planned", 2005, Button, 0x50010003, 206, 104, 54, 10, 0x0
  CONTROL "&Option:", 2009, Static, 0x50020000, 44, 104, 103, 8, 0x0
  CONTROL "", 2003, ComboBox, 0x50210003, 44, 116, 201, 57, 0x0
  CONTROL "", 2004, Static, 0x50020000, 44, 134, 201, 25, 0x0
  CONTROL "Comm&ent:", 2008, Static, 0x50020000, 44, 162, 201, 8, 0x0
  CONTROL "", 2006, Edit, 0x50810044, 44, 173, 201, 32, 0x0
  CONTROL "Select the option that best describes why you want to shut down the computer", 2007, Static, 0x50020000, 44, 81, 204, 17, 0x0
  CONTROL "Shutdown Event Tracker", 2010, Button, 0x50000007, 8, 72, 289, 141, 0x0
  CONTROL "OK", 1, Button, 0x50030001, 139, 219, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 193, 219, 50, 14, 0x0
  CONTROL "&Help", 9, Button, 0x50010000, 247, 219, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3000,  "Deleted User Folder"
  3001,  "Domain account"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3008,  "Shut down"
  3009,  "Sh&ut down"
  3011,  "Closes all open programs, shuts down Windows, and then turns off your computer."
  3012,  "Restart"
  3013,  "&Restart"
  3015,  "Closes all open programs, shuts down Windows, and then starts Windows again."
  3016,  "Sleep"
  3017,  "&Sleep"
  3019,  "Keeps your session in memory and puts the computer in a low-power state so that you can quickly resume working."
  3020,  "Sleep (with wakeup events disabled)"
  3021,  "Keeps your session in memory and puts the computer in a low-power state so that you can quickly resume working."
  3022,  "Hibernate"
  3023,  "&Hibernate"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3025,  "Saves your session and turns off the computer. When you turn on the computer, Windows restores your session."
  3026,  "Sleep"
  3027,  "&Sleep"
  3029,  "Saves your session and puts the computer in a low-power state so that you can quickly resume working."
  3030,  "Install updates and shut down"
  3031,  "&Install updates and shut down"
  3033,  "Installs updates and then shuts down your computer."
  3034,  "Log off"
  3035,  "Close programs and log off."
  3036,  "Restart in MS-DOS mode"
  3037,  "Ends your session, shuts down Windows, and starts MS-DOS mode."
  3038,  "Disconnect"
  3039,  "Disconnects your session. You can reconnect to this session when you log on again."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3040,  "&Disconnect"
  3041,  "&Log off"
  3042,  "Lock"
  3043,  "L&ock"
  3044,  "Lock this computer."
  3045,  "Undock"
  3046,  "U&ndock"
  3047,  "Removes your laptop or notebook computer from a docking station."
  3050,  "The system administrator has disabled some power states for this user account."
  3052,  "Switch user"
  3053,  "Switch users without closing programs."
  3054,  "S&witch user"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11400,  "User Picture"
  11401,  "The passwords you entered did not match."
  11402,  "Please enter a user name and password."
  11403,  "Caps Lock is on"
  11404,  "Download my profile on a slow connection"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11600,  "Status: %08X/%08X"
  11601,  "The user name or password is incorrect."
  11602,  "Your account has time restrictions that prevent you from logging on at this time.  Please try again later."
  11603,  "Your account is configured to prevent you from using this computer.  Please try another computer."
  11604,  "Your account has been disabled.  Please see your system administrator."
  11605,  "Your account has expired.  Please see your system administrator."
  11606,  "To log on to this remote computer, you must be granted the Allow log on through Terminal Services right. By default, members of the Administrators group have this right. If you are not a member of the Administrators group or another group that has this right, or if the Administrators group does not have this right, you must be granted this right manually."
  11607,  "To log on to this remote computer, you must be granted the Allow log on through Terminal Services right. By default, members of the Remote Desktop Users group have this right. If you are not a member of the Remote Desktop Users group or another group that has this right, or if the Remote Desktop Users group does not have this right, you must be granted this right manually."
  11608,  "Unable to log you on because of an account restriction."
  11609,  "The password on this account cannot be changed at this time."
  11610,  "The password for this account has expired. To change the password, click OK, click Switch User, and then log on."
  11611,  "Your password has expired and must be changed."
  11612,  "You cannot log on because the logon method you are using is not allowed on this computer. Please see your network administrator for more information."
  11613,  "Your password has been changed."
  11614,  "You must use a smart card to log on to this computer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  11800,  "9;normal;shadow;Segoe UI"
  11801,  "9;normal;shadow|underline;Segoe UI"
  11802,  "11;normal;shadow;Segoe UI"
  11803,  "12;normal;shadow;Segoe UI"
  11804,  "18;normal;shadow;Segoe UI"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12000,  "Error"
  12001,  "Please wait..."
  12002,  "Press CTRL + ALT + DELETE to unlock this computer"
  12004,  "%2 (%1) is logged on."
  12005,  "%1 is logged on."
  12007,  "Press CTRL + ALT + DELETE to log on"
  12008,  "Windows Security"
  12009,  "Logged on: %s"
  12010,  "Emergency restart"
  12011,  "Click OK to immediately restart your computer.  Any un-saved data will be lost.  Use this only as a last resort."
  12012,  "Windows Logon"
  12013,  "Select a user to disconnect so that you may login"
  12014,  "There are too many users logged in"
  12015,  "Force disconnect of this user"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12016,  "Please wait for %1\\%2 to respond to your request"
  12017,  "%1\\%2\nAway"
  12018,  "%1\\%2\nActive"
  12019,  "%1\\%2\n%3"
  12028,  "Windows Logon"
  12029,  "Select a session to reconnect to"
  12030,  "You already have active remote desktop connections on this computer"
  12031,  "%1\n%2"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12032,  "Logon Message"
  12033,  "Another user is currently logged on to this computer. If you continue, this user's Windows Session will end and any un-saved data will be lost. Do you want to continue?"
  12034,  "Another user is currently logged on to this computer. If you continue, this user has to disconnect from this computer. Do you want to continue?"
  12035,  "Press CTRL + ALT + DELETE or use the Windows Security button to unlock this computer"
  12036,  "Press CTRL + ALT + DELETE or use the Windows Security button to log on"
  12037,  "Windows Logon"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12070,  "Idle for 1 minute"
  12071,  "Idle for %1 minutes"
  12072,  "Idle for 1 hour"
  12073,  "Idle for %1 hours"
  12074,  "Idle for 1 day"
  12075,  "Idle for %1 days"
  12076,  "Idle for 1 day and 1 hour"
  12077,  "Idle for 1 day and %1 hours"
  12078,  "Idle for %1 days and 1 hour"
  12079,  "Idle for %1 days and %2 hours"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12080,  "Idle for 1 hour and 1 minute"
  12081,  "Idle for 1 hour and %1 minutes"
  12082,  "Idle for %1 hours and 1 minute"
  12083,  "Idle for %1 hours and %2 minutes"
  12084,  "Session logged on for 1 minute"
  12085,  "Session logged on for %1 minutes"
  12086,  "Session logged on for 1 hour"
  12087,  "Session logged on for %1 hours"
  12088,  "Session logged on for 1 day"
  12089,  "Session logged on for %1 days"
  12090,  "Session logged on for 1 day and 1 hour"
  12091,  "Session logged on for 1 day and %1 hours"
  12092,  "Session logged on for %1 days and 1 hours"
  12093,  "Session logged on for %1 days and %2 hours"
  12094,  "Session logged on for 1 hour and 1 minute"
  12095,  "Session logged on for 1 hour and %1 minutes"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12096,  "Session logged on for %1 hours and 1 minute"
  12097,  "Session logged on for %1 hours and %2 minutes"
  12098,  "Disconnected for 1 minute"
  12099,  "Disconnected for %1 minutes"
  12100,  "Disconnected for 1 hour"
  12101,  "Disconnected for %1 hours"
  12102,  "Disconnected for 1 day"
  12103,  "Disconnected for %1 days"
  12104,  "Disconnected for 1 day and 1 hour"
  12105,  "Disconnected for 1 day and %1 hours"
  12106,  "Disconnected for %1 days and 1 hours"
  12107,  "Disconnected for %1 days and %2 hours"
  12108,  "Disconnected for 1 hour and 1 minute"
  12109,  "Disconnected for 1 hour and %1 minutes"
  12110,  "Disconnected for %1 hours and 1 minute"
  12111,  "Disconnected for %1 hours and %2 minutes"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12112,  "Segoe UI"
  12113,  "Loc&k this computer"
  12114,  "&Log off"
  12115,  "&Change a password..."
  12116,  "Start &Task Manager"
  12117,  "Line up"
  12118,  "Page up"
  12119,  "Position"
  12120,  "Page down"
  12121,  "Line down"
  12122,  "Ease of access"
  12123,  "S&witch User"
  12124,  "Cancel"
  12125,  "OK"
  12126,  "Yes"
  12127,  "No"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12128,  "Shut down"
  12129,  "&Other Credentials"
  12130,  "Connecting..."
  12131,  "Shut down options"
  12132,  "Logon Frame"
  12133,  "Shut down and install updates"
  12134,  "Network logon"
  12135,  "Disconnect"
  12136,  "Lock this computer"
  12137,  "Log off"
  12138,  "Change a password"
  12139,  "Start Task Manager"
  12140,  "Switch User"
  12141,  "Other Credentials"
  12142,  "Toggle the visibility of the touch keyboard"
  12143,  "Welcome Screen Background"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  12144,  "Choose background for the Welcome screen"
  12145,  "The Welcome screen is where you log on to Windows."
  12146,  "Use the background that came with my computer"
  12147,  "Use the Windows background"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  13000,  "User name"
  13001,  "Password"
  13002,  "Old password"
  13003,  "New password"
  13004,  "Confirm password"
  13005,  "Friendly name"
  13006,  "User status"
  13007,  "Logged on"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  13008,  "Logged on remotely from %s"
  13009,  "Other User"
  13010,  "Unlock the computer"
  13011,  "Change a password"
  13012,  "Use another account"
  13013,  "User tile picture"
  13014,  "OK"
  13015,  "How do I log on to another domain?"
  13016,  "To log on to another domain, type domain name\\domain user name. \n\nTo log on to your computer (not a domain), type %1\\local user name."
  13017,  "Log on to: %s"
  13018,  "Log on to"
  13019,  "Locked"
  13020,  "Domain: %s"
  13021,  "Domain"
  13022,  "Password Hint"
  13023,  "Reset password..."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  13024,  "Create a password reset disk..."
  13025,  "Password Hint: %s"
  13026,  "Remember my credentials"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14050,  "Windows Security"
  14051,  "User Account Control"
  14053,  "Do you want to allow the following program to make changes to this computer?"
  14054,  "Do you want to allow the following program to make changes to this computer?"
  14055,  "Do you want to allow the following program to install software on this computer?"
  14056,  "Do you want to allow the following program to remove software from this computer?"
  14057,  "Do you want to allow the following program to update software on this computer?"
  14058,  "Do you want to allow the following program from an unknown publisher to make changes to this computer?"
  14059,  "This program has been blocked for your protection"
  14060,  "User Account Control helps stop unauthorized changes to your computer."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14067,  "An administrator has blocked you from running this program. For more information, contact the administrator."
  14069,  "Push"
  14070,  "Show &details"
  14071,  "Cancel"
  14072,  "Close"
  14073,  "OK"
  14074,  "&Yes"
  14075,  "&Allow"
  14076,  "I don't know where this program is from or what it's for."
  14077,  "I trust this program. I know where it's from or I've used it before."
  14078,  "Remember my credentials"
  14079,  "Caps Lock is on"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14080,  "Do not continue"
  14081,  "&No"
  14082,  "Hide &details"
  14085,  "Program name:"
  14086,  "Verified publisher:"
  14087,  "Program location:"
  14088,  "CLSID:"
  14089,  "Publisher:"
  14090,  "Unknown program"
  14091,  "Microsoft Windows"
  14092,  "Unknown"
  14093,  "Not trusted"
  14094,  "File origin:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14096,  "Looking for credential tiles..."
  14100,  "Select the profile you want to use to connect"
  14101,  "To continue, type an administrator password, and then click Yes."
  14108,  "Press Control+Alt+Delete to enter your credentials"
  14109,  "Press Control+Alt+End to enter your credentials"
  14110,  "Windows Security"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14112,  "I want to complete this action by entering my credentials on the authentic Windows logon screen"
  14113,  "I don't want to complete this action"
  14114,  "A previous secure request must be completed or cancelled before a new request can be made."
  14115,  "User Account Control"
  14116,  "User Account Control: Press Control+Alt+Delete to enter your credentials"
  14117,  "Windows Security: Press Control+Alt+Delete to enter your credentials"
  14118,  "Windows Security: Press Control+Alt+End to enter your credentials"
  14119,  "User Account Control: Press Control+Alt+End to enter your credentials"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14200,  "9;normal;none;Segoe UI"
  14201,  "9;bold;none;Segoe UI"
  14202,  "12;normal;none;Segoe UI"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14303,  "Downloaded from the Internet"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  14304,  "Removable media on this computer"
  14305,  "Hard drive on this computer"
  14306,  "Network drive"
  14307,  "CD/DVD drive"
  14309,  "<A href=""Settings"">Change when these notifications appear</A>"
  14311,  "Change when these notifications appear"
  14312,  "<A href=""ShowCertificate"">Show information about this publisher's certificate</A>"
  14313,  "View this publisher's certificate"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  15000,  "Remote Desktop Connection"
  15001,  "%1 wants to connect to this machine.\n\nClick OK to disconnect your session immediately or click cancel to stay connected.\n\nOtherwise, you will be disconnected in %2 seconds."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16000,  "Change a network password"
  16001,  "Provider\\User name"
  16002,  "Old password"
  16003,  "New password"
  16004,  "Confirm password"
  16005,  "OK"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  17900,  "User name"
  17901,  "Password"
  17902,  "Remember my credentials"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  24464,  "Logon Language Bar"
  24465,  "Logon Language Bar"
  24466,  "Press"
}

1 MESSAGETABLE
{
  268435505,  "Response Time\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177282,  "Error\r\n"
  1342177283,  "Warning\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-Authentication User Interface\r\n"
  2415919106,  "Microsoft-Windows-Authentication User Interface/Operational\r\n"
  2415919107,  "Microsoft-Windows-Shell-AuthUI-CredUI/Diagnostic\r\n"
  2415919108,  "Microsoft-Windows-Shell-AuthUI-Logon/Diagnostic\r\n"
  2415919109,  "Microsoft-Windows-Shell-AuthUI-Common/Diagnostic\r\n"
  2415919110,  "Microsoft-Windows-Shell-AuthUI-Shutdown/Diagnostic\r\n"
  2415919111,  "Microsoft-Windows-Shell-AuthUI-PasswordProvider/Diagnostic\r\n"
  2415919112,  "Microsoft-Windows-Shell-AuthUI-BootAnim/Diagnostic\r\n"
  2952795017,  "Logon user interface creation failed.  Details: %1\r\n"
  2952795018,  "Logon user interface RPC server startup failed.  Details: %1\r\n"
  2952795019,  "The username/password credential provider failed to enumerate tiles.\r\n"
  2952795020,  "Autologon failed.  Details: %1\r\n"
  2952795021,  "The autologon password could not be loaded.\r\n"
  2952795022,  "The autologon password could not be loaded.  Details: %1\r\n"
  2952795023,  "The OEM background could not be loaded for resolution %2 x %3.  Details: %1\r\n"
  2952795024,  "The OEM background %1 was loaded but its aspect ratio does not match the primary display resolution %2 x %3.\r\n"
  2952795025,  "The OEM background %1 was not loaded because the file is larger than %2 bytes.\r\n"
}
