#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Boot String Resource Library"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "bootstr.exe"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "bootstr.exe.mui"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

1 MESSAGETABLE
{
  1,  "Windows Setup%0\r\n"
  2,  "Windows Memory Diagnostic%0\r\n"
  3,  "Windows 7%0\r\n"
  4,  "Windows Server 2008 R2%0\r\n"
  5,  "Windows PreInstallation Environment%0\r\n"
  6,  "Earlier Version of Windows%0\r\n"
}
