1 MUI "Data_413.bin"

120 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "Tray"
{
	MENUITEM "&Status...",  121
	MENUITEM "&Disconnect",  1043
}
}

104 DIALOGEX 0, 0, 202, 86
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP | WS_EX_APPWINDOW
CAPTION "Connected"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL 101, 1038, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 8, 20, 20 
   CONTROL "Call duration:", 1069, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 10, 54, 8 
   CONTROL "", 1039, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 10, 54, 8 
   CONTROL "Connect speed:", 1070, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 20, 54, 8 
   CONTROL "", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 20, 54, 8 
   CONTROL "Bytes received:", 1071, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 30, 54, 8 
   CONTROL "", 1041, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 30, 87, 8 
   CONTROL "Bytes sent:", 1072, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 40, 54, 8 
   CONTROL "", 1042, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 40, 87, 8 
   CONTROL "", 1044, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 50, 194, 8 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 64, 56, 14 
   CONTROL "&Disconnect", 1043, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 64, 58, 14 
   CONTROL "\nYou are about to be disconnected. Press the \"Stay Online\" button to remain connected.", 1045, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 45, 19, 152, 30 
}

123 DIALOGEX 0, 0, 186, 56
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_APPWINDOW
CAPTION "Reconnect"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "&Yes", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 33, 34, 50, 14 
   CONTROL "&No", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 34, 50, 14 
   CONTROL "", 1058, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 5, 142, 26 
   CONTROL 101, 1038, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 6, 6, 21, 20 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11054, 	"%s bps"
11055, 	"%02u:%02u:%02u"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11056, 	"%s"
11057, 	"%s (%s cps)"
11060, 	"%u seconds until disconnect."
11061, 	"Stay Online"
11062, 	"Disconnect Now"
11063, 	"OK"
11064, 	"Disconnect"
11065, 	"Connected for %u seconds."
11066, 	"Connected for %u second."
11067, 	"Connected for %u seconds."
11068, 	"Connected for %u minute."
11069, 	"Connected for %u minute, %u second."
11070, 	"Connected for %u minute, %u seconds."
11071, 	"Connected for %u minutes."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11072, 	"Connected for %u minutes, %u second."
11073, 	"Connected for %u minutes, %u seconds."
11074, 	"Connected for %u hour."
11075, 	"Connected for %u hour, %u second."
11076, 	"Connected for %u hour, %u seconds."
11077, 	"Connected for %u hour, %u minute."
11078, 	"Connected for %u hour, %u minute, %u second."
11079, 	"Connected for %u hour, %u minute, %u seconds."
11080, 	"Connected for %u hour, %u minutes."
11081, 	"Connected for %u hour, %u minutes, %u second."
11082, 	"Connected for %u hour, %u minutes, %u seconds."
11083, 	"Connected for %u hours."
11084, 	"Connected for %u hours, %u second."
11085, 	"Connected for %u hours, %u seconds."
11086, 	"Connected for %u hours, %u minute."
11087, 	"Connected for %u hours, %u minute, %u second."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11088, 	"Connected for %u hours, %u minute, %u seconds."
11089, 	"Connected for %u hours, %u minutes."
11090, 	"Connected for %u hours, %u minutes, %u second."
11091, 	"Connected for %u hours, %u minutes, %u seconds."
11094, 	"Connection to %s was terminated.  Do you want to reconnect?"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
11208, 	"Dial-up Adapter"
11209, 	"Disconnecting Connection Manager connections."
}


1 VERSIONINFO
FILEVERSION 7,2,7600,16385
PRODUCTVERSION 7,2,7600,16385
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Microsoft Connection Manager Monitor"
		VALUE "FileVersion", "7.02.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "CMMON32"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "CMMON32.exe.mui"
		VALUE "ProductName", "Microsoft(R) Connection Manager"
		VALUE "ProductVersion", "7.02.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

