1 MUI "Data_492.bin"

100 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP ""
{
	MENUITEM "&Identify",  101
	MENUITEM "&Properties",  102
}
}

1012 DIALOGEX 20, 20, 252, 151
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Custom DPI Setting"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 130, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 130, 50, 14 
   CONTROL "For a custom DPI setting, select a percentage from the list, or drag the ruler with your mouse.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 7, 210, 16 
   CONTROL "&Scale to this percentage of normal size:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 31, 130, 8 
   CONTROL "", 1843, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 28, 38, 200 
   CONTROL "", 1842, "DragSizeWindow", 0x50000000, 12, 43, 221, 35 
   CONTROL "", 1841, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 83, 221, 40 
   CONTROL "Use Windows &XP style DPI scaling", 1850, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 133, 125, 8 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1, 	"Display"
2, 	"Change your display settings and make it easier to read what's on your screen."
3, 	"Microsoft Display DPI Settings"
4, 	"S&creen resolution"
8, 	"This program is blocked by group policy. For more information, contact your system administrator."
9, 	"Display Control Panel"
11, 	"Personalization Related Tasks Pane"
12, 	"Security icon"
14, 	"Preview image"
15, 	"Warning"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
16, 	"Adjust resolution"
17, 	"Connect to a projector"
18, 	"Change display settings"
19, 	"Set custom text size (DPI)"
20, 	"Change desktop background"
21, 	"Change color scheme"
22, 	"Change screen saver"
24, 	"Personalization"
25, 	"Devices and Printers"
26, 	"Adjust brightness"
27, 	"&Smaller - 100% (default)"
28, 	"&Medium - 125% (default)"
29, 	"&Larger - 150% (default)"
30, 	"Calibrate color"
31, 	"Adjust ClearType text"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
200, 	"Change DPI Setting"
201, 	"Windows Setup has not changed the requested settings.  You may not have the required Administrative privilege to install or uninstall new files or drivers.  Please contact your Administrator."
202, 	"&Custom - %1!d!%%"
203, 	"Segoe UI"
204, 	"9 point %s at %d pixels per inch."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
210, 	"Do you want to keep these display settings?"
211, 	"Reverting to previous display settings in %d seconds."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
300, 	"Screen Resolution"
301, 	"Unknown Monitor"
302, 	"Multiple Monitors"
303, 	"(recommended)"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
304, 	"Some settings are managed by your system administrator. \n<a href=\"mshelp://windows/?id=ca607790-adf6-41a7-abd8-0a1f2feb70b1\">Why can't I change some settings?</a>"
305, 	"Some settings are managed by your system administrator. Why can't I change some settings?"
306, 	"The display settings can't be changed from a remote session."
307, 	"Another display\nnot detected"
310, 	"Landscape"
311, 	"Portrait"
312, 	"Landscape (flipped)"
313, 	"Portrait (flipped)"
315, 	"No display detected"
316, 	"Primary desktop"
317, 	"Extend desktop to this display"
318, 	"Extend desktop on %d and %d"
319, 	"Duplicate desktop on %d and %d"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
320, 	"Duplicate these displays"
321, 	"Disconnect this display"
322, 	"Disconnected"
323, 	"Show desktop only on %d"
324, 	"Try to connect anyway on: %s"
325, 	"Multiple displays"
326, 	"Extend these displays"
327, 	"Remove this display"
330, 	"Available display output on: %1"
331, 	"Available display output on: default adapter"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
337, 	"%1. Display device on: %2"
338, 	"%1. %2"
339, 	"Other"
340, 	"VGA"
341, 	"S-Video"
342, 	"Composite"
343, 	"Component"
344, 	"DVI"
345, 	"HDMI"
346, 	"Mobile PC Display"
347, 	"TV"
348, 	"SDI"
349, 	"DisplayPort"
350, 	"Mobile PC Display"
351, 	"UDI"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
352, 	"Mobile PC Display"
353, 	"TV"
354, 	"Mobile PC Display"
356, 	"%1!d! ? %2!d!"
357, 	"%1!d! ? %2!d! (recommended)"
358, 	"%1!d!. %2 on %3"
359, 	"%1!d!|%2!d!"
360, 	"%1"
361, 	"Change Settings"
364, 	"Unable to save display settings."
365, 	"Windows could not change your display to this resolution. Try a different resolution."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
369, 	"If your resolution is below %d x %d, some items may not fit on the screen."
370, 	"High"
371, 	"Low"
372, 	"You can change the size of text and other items on your screen by choosing one of these options. To temporarily enlarge just part of the screen, use the <a href=\"magnify.exe\">Magnifier</a> tool."
373, 	"You can change the size of text and other items on your screen by choosing one of these options. To temporarily enlarge just part of the screen, use the Magnifier tool."
374, 	"Resolution Slider"
375, 	"Resolution Slider Pane"
376, 	"%1!d! by %2!d!"
377, 	"%1!d! by %2!d! (recommended)"
378, 	"You must restart to apply these changes. Do you want to continue?"
379, 	"%1!d!, %2!d!"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
390, 	"Display Settings"
391, 	"&Keep changes"
392, 	"&Revert"
393, 	"Windows adjusted these settings to match your hardware capabilities."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
400, 	"%1. Unknown display device"
410, 	"Display %1"
411, 	"Undetected display"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
535, 	"&Smaller - 100%"
536, 	"&Medium - 125%"
537, 	"&Larger - 150%"
539, 	"&Custom"
543, 	"Preview "
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
549, 	"Make it easier to read what's on your screen"
551, 	"This change will take effect the next time you log on."
552, 	"&Apply"
553, 	"Help"
554, 	"Help"
556, 	"Dete&ct"
557, 	"&Identify"
558, 	"Di&splay:"
559, 	"&Resolution:"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
560, 	"&Orientation:"
561, 	"&Multiple displays:"
562, 	"This is currently your main display."
563, 	"Advanced settings"
564, 	"What display settings should I choose?"
566, 	"OK"
567, 	"Cancel"
568, 	"&Apply"
569, 	"Ma&ke this my main display"
570, 	" (or press the"
571, 	"key and tap P)"
572, 	"Windows Key logo"
573, 	"Change the appearance of your display"
574, 	"Change the appearance of your displays"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
576, 	"Display"
578, 	"Orientation"
580, 	"Multiple displays"
581, 	"Monitor layout"
585, 	"Resolution"
586, 	"Choose resolution."
587, 	"Header"
589, 	"Open"
590, 	"More options"
591, 	"click"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
592, 	"click"
593, 	"Click"
594, 	"Click"
595, 	"click"
596, 	"You must select Apply before making additional changes."
597, 	"If you try to connect, other display changes you have made won't be saved."
598, 	"Connect to a projector"
599, 	"Make text and other items larger or smaller"
600, 	"Some items may not fit on your screen if you choose this setting while your display is set to this resolution."
601, 	"You can't change this setting because the height of your display is less than 600 pixels."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
}

1 MESSAGETABLE
{
268435505,  	"Response Time"
805306368,  	"Info"
805306369,  	"Start"
805306370,  	"Stop"
805306398,  	"Update preview image"
805306399,  	"Hide preview image"
805306400,  	"Show preview image"
805306401,  	"DPI Selection change"
805306402,  	"Show restart prompt"
1342177284,  	"Information"
-1879048191,  	"Microsoft-Windows-DisplayCpl"
-1342177179,  	"Initializing Display CPL Page - Start"
-1342177178,  	"Initializing Display CPL Page - Finish"
-1342177177,  	"Initializing Display CPL - Start"
-1342177176,  	"Initializing Display CPL - Finish"
-1342177175,  	"Opening Custom DPI Dialog - Start"
-1342177174,  	"Opening Custom DPI Dialog - Finish"
-1342177173,  	"Changing Selection - Start"
-1342177172,  	"Updating the Preview Image"
-1342177171,  	"Hiding the Preview Image"
-1342177170,  	"Showing the preview image"
-1342177169,  	"Changing Selection - Finish"
-1342177167,  	"Apply Button Clicked - Start"
-1342177166,  	"Apply Button Clicked - Show the Restart prompt"
-1342177165,  	"Apply Button Clicked - Finish"
-1342177164,  	"Display Settings Page Initializing - Start"
-1342177163,  	"Display Settings Page Initializing - Finish"
-1342177162,  	"Display Settings Page Applying Settings - Start"
-1342177161,  	"Display Settings Page Applying Settings - Finish"
-1342177160,  	"Display Settings Page Enumerating Displays - Start"
-1342177159,  	"Display Settings Page Enumerating Displays - Finish"
-1342177158,  	"Display Settings Page Layout - Start"
-1342177157,  	"Display Settings Page Layout - Stop"
-1342177156,  	"Resolution Control Clicked"
-1342177155,  	"Resolution Control - Item Added"
-1342177154,  	"Resolution Control - Selection Changed"
-1342177153,  	"Resolution Slider - Created"
-1342177152,  	"Resolution Slider - Closed"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Display Control Panel"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "DISPLAY"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "DISPLAY.DLL.MUI"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

