#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x2
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Control Panel DLL"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "CONTROL"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "INTL.CPL.MUI"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

101 DIALOGEX 0, 0, 252, 236
CAPTION "Formats"
STYLE 0x90c001c4
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "", 1039, Static, 0x50020000, 7, 7, 235, 8, 0x0
  CONTROL "", 1021, ComboBox, 0x50210103, 7, 17, 238, 60, 0x0
  CONTROL "<A>Change sorting method</A>", 1033, "SysLink", 0x50010000, 7, 30, 119, 8, 0x0
  CONTROL "Date and time formats", 4294967295, Button, 0x50000007, 7, 42, 238, 99, 0x0
  CONTROL "&Short date:", 4294967295, Static, 0x50020000, 12, 56, 64, 8, 0x0
  CONTROL "", 1028, ComboBox, 0x50210003, 77, 54, 163, 60, 0x0
  CONTROL "&Long date:", 4294967295, Static, 0x50020000, 12, 71, 64, 8, 0x0
  CONTROL "", 1029, ComboBox, 0x50210003, 77, 69, 163, 60, 0x0
  CONTROL "S&hort time:", 4294967295, Static, 0x50020000, 12, 86, 64, 8, 0x0
  CONTROL "", 1030, ComboBox, 0x50210003, 77, 84, 163, 60, 0x0
  CONTROL "L&ong time:", 4294967295, Static, 0x50020000, 12, 101, 64, 8, 0x0
  CONTROL "", 1031, ComboBox, 0x50210003, 77, 99, 163, 60, 0x0
  CONTROL "First day of &week:", 4294967295, Static, 0x50020000, 12, 116, 64, 8, 0x0
  CONTROL "", 1032, ComboBox, 0x50210003, 77, 114, 163, 60, 0x0
  CONTROL "<A>What does the notation mean?</A>", 1034, "SysLink", 0x50010000, 12, 129, 228, 8, 0x0
  CONTROL "Examples", 4294967295, Button, 0x50000007, 7, 144, 238, 60, 0x0
  CONTROL "Short date:", 4294967295, Static, 0x50020000, 12, 154, 64, 8, 0x0
  CONTROL "", 1035, Static, 0x50020000, 77, 154, 163, 8, 0x0
  CONTROL "Long date:", 4294967295, Static, 0x50020000, 12, 166, 64, 8, 0x0
  CONTROL "", 1036, Static, 0x50020000, 77, 166, 163, 8, 0x0
  CONTROL "Short time:", 4294967295, Static, 0x50020000, 12, 178, 64, 8, 0x0
  CONTROL "", 1037, Static, 0x50020000, 77, 178, 163, 8, 0x0
  CONTROL "Long time:", 4294967295, Static, 0x50020000, 12, 190, 64, 8, 0x0
  CONTROL "", 1038, Static, 0x50020000, 77, 190, 163, 8, 0x0
  CONTROL "A&dditional settings...", 1024, Button, 0x50010000, 165, 208, 80, 13, 0x0
  CONTROL "<A>Go online to learn about changing languages and regional formats</A>", 1040, "SysLink", 0x50010000, 7, 223, 238, 13, 0x0
}

102 DIALOGEX 0, 0, 252, 236
CAPTION "Keyboards and Languages"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Keyboards and other input languages", 1001, Button, 0x50000007, 5, 8, 242, 52, 0x0
  CONTROL "To change your keyboard or input language click Change keyboards.", 1171, Static, 0x50020000, 12, 18, 230, 10, 0x0
  CONTROL "&Change keyboards...", 1172, Button, 0x50030000, 145, 32, 95, 14, 0x0
  CONTROL "<A>How do I change the keyboard layout for the Welcome screen?</A>", 1042, "SysLink", 0x50010000, 12, 48, 233, 10, 0x0
  CONTROL "Display language", 1180, Button, 0x50000007, 5, 62, 242, 156, 0x0
  CONTROL "Install or uninstall languages that Windows can use to display text and where supported recognize speech and handwriting.", 1181, Static, 0x50020000, 14, 74, 225, 20, 0x0
  CONTROL "&Install/uninstall languages...", 1182, Button, 0x50030000, 125, 96, 115, 14, 0x0
  CONTROL "As a guest user you cannot change the display language:", 1150, Static, 0x50020000, 14, 113, 225, 10, 0x0
  CONTROL "Display language selection is blocked by group policy.", 1179, Static, 0x50020000, 14, 113, 225, 10, 0x0
  CONTROL "C&hoose a display language:", 1177, Static, 0x50020000, 14, 113, 225, 10, 0x0
  CONTROL "", 1178, ComboBox, 0x50210043, 14, 125, 225, 40, 0x0
  CONTROL "&Some text is not translated into the language you selected. Select another language for Windows to use to display this text:", 1173, Static, 0x50020000, 14, 143, 225, 17, 0x0
  CONTROL "This language is only partially translated and you might see some text displayed in:", 1151, Static, 0x50020000, 14, 143, 225, 20, 0x0
  CONTROL "", 1174, ComboBox, 0x50210043, 14, 163, 225, 40, 0x0
  CONTROL "&This language is also only partially translated. Select a third language for Windows to use when displaying the remaining text:", 1175, Static, 0x50020000, 14, 180, 225, 17, 0x0
  CONTROL "This language is also only partially translated and you might see some text displayed in: ", 1152, Static, 0x50020000, 14, 180, 225, 20, 0x0
  CONTROL "", 1176, ComboBox, 0x50210043, 14, 199, 225, 40, 0x0
  CONTROL "<A>How can I install additional languages?</A>", 1041, "SysLink", 0x50010000, 7, 223, 238, 13, 0x0
}

104 DIALOGEX 0, 0, 252, 236
CAPTION "Administrative"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Welcome screen and new user accounts", 4294967295, Button, 0x50000007, 5, 8, 242, 73, 0x0
  CONTROL "View and copy your international settings to the welcome screen, system accounts and new user accounts.", 2107, Static, 0x50020000, 14, 20, 223, 23, 0x0
  CONTROL "C&opy settings...", 2104, Button, 0x50030000, 160, 51, 80, 14, 0x0
  CONTROL "<A>Tell me more about these accounts</A>", 1044, "SysLink", 0x50010000, 14, 69, 223, 10, 0x0
  CONTROL "Language for non-Unicode programs", 4294967295, Button, 0x50000007, 5, 83, 242, 91, 0x0
  CONTROL "This setting (system locale) controls the language used when displaying text in programs that do not support Unicode.", 1050, Static, 0x50020000, 14, 95, 225, 26, 0x0
  CONTROL "Current language for non-Unicode programs:", 1051, Static, 0x50020000, 14, 120, 223, 10, 0x0
  CONTROL "<systemLocale>", 2100, Static, 0x50020000, 25, 132, 200, 10, 0x0
  CONTROL "&Change system locale...", 2102, Button, 0x50030000, 140, 144, 100, 14, 0x0
  CONTROL "<A>What is system locale?</A>", 1043, "SysLink", 0x50010000, 14, 162, 223, 10, 0x0
}

105 DIALOGEX 0, 0, 252, 254
CAPTION "Numbers"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Example", 1009, Button, 0x50000007, 5, 7, 242, 48, 0x0
  CONTROL "Positive:", 1007, Static, 0x50020000, 10, 20, 30, 10, 0x0
  CONTROL "", 1005, Edit, 0x50800880, 42, 18, 80, 14, 0x0
  CONTROL "Negative:", 1008, Static, 0x50020000, 128, 20, 31, 10, 0x0
  CONTROL "", 1006, Edit, 0x50800880, 162, 18, 80, 14, 0x0
  CONTROL "Positive:", 1012, Static, 0x50020000, 10, 38, 30, 10, 0x0
  CONTROL "", 1010, Edit, 0x50800882, 42, 36, 80, 14, 0x3000
  CONTROL "Negative:", 1013, Static, 0x50020000, 128, 38, 31, 10, 0x0
  CONTROL "", 1011, Edit, 0x50800882, 162, 36, 80, 14, 0x3000
  CONTROL "&Decimal symbol:", 4294967295, Static, 0x50020000, 20, 61, 96, 9, 0x0
  CONTROL "", 1070, ComboBox, 0x50210102, 128, 59, 100, 100, 0x0
  CONTROL "&No. of digits after decimal:", 4294967295, Static, 0x50020000, 20, 77, 96, 9, 0x0
  CONTROL "", 1072, ComboBox, 0x50210103, 128, 75, 100, 100, 0x0
  CONTROL "D&igit grouping symbol:", 4294967295, Static, 0x50020000, 20, 93, 96, 9, 0x0
  CONTROL "", 1073, ComboBox, 0x50210102, 128, 91, 100, 100, 0x0
  CONTROL "Di&git grouping:", 4294967295, Static, 0x50020000, 20, 109, 96, 9, 0x0
  CONTROL "", 1074, ComboBox, 0x50210103, 128, 107, 100, 100, 0x0
  CONTROL "N&egative sign symbol:", 4294967295, Static, 0x50020000, 20, 125, 96, 9, 0x0
  CONTROL "", 1076, ComboBox, 0x50210102, 128, 123, 100, 100, 0x0
  CONTROL "Nega&tive number format:", 4294967295, Static, 0x50020000, 20, 141, 96, 9, 0x0
  CONTROL "", 1078, ComboBox, 0x50210103, 128, 139, 100, 100, 0x0
  CONTROL "Dis&play leading zeros:", 4294967295, Static, 0x50020000, 20, 157, 96, 9, 0x0
  CONTROL "", 1080, ComboBox, 0x50210103, 128, 155, 100, 100, 0x0
  CONTROL "&List separator:", 4294967295, Static, 0x50020000, 20, 173, 96, 9, 0x0
  CONTROL "", 1079, ComboBox, 0x50210102, 128, 171, 100, 100, 0x0
  CONTROL "&Measurement system:", 4294967295, Static, 0x50020000, 20, 189, 96, 9, 0x0
  CONTROL "", 1081, ComboBox, 0x50210103, 128, 187, 100, 100, 0x0
  CONTROL "&Standard digits:", 1082, Static, 0x50020000, 20, 205, 96, 9, 0x0
  CONTROL "", 1083, ComboBox, 0x50210103, 128, 203, 100, 100, 0x0
  CONTROL "&Use native digits:", 1084, Static, 0x50020000, 20, 221, 96, 9, 0x0
  CONTROL "", 1085, ComboBox, 0x50210103, 128, 219, 100, 100, 0x0
  CONTROL "Click Reset to restore the system default settings for numbers, currency, time, and date.", 1047, Static, 0x50020000, 7, 236, 185, 16, 0x0
  CONTROL "&Reset", 1046, Button, 0x50010000, 196, 237, 50, 13, 0x0
}

106 DIALOGEX 0, 0, 252, 254
CAPTION "Currency"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Example", 1009, Button, 0x50000007, 5, 7, 242, 40, 0x0
  CONTROL "Positive:", 1007, Static, 0x50020000, 10, 25, 30, 10, 0x0
  CONTROL "", 1005, Edit, 0x50800880, 42, 23, 80, 14, 0x0
  CONTROL "Negative:", 1008, Static, 0x50020000, 128, 25, 31, 10, 0x0
  CONTROL "", 1006, Edit, 0x50800880, 162, 23, 80, 14, 0x0
  CONTROL "&Currency symbol:", 4294967295, Static, 0x50020000, 20, 61, 96, 9, 0x0
  CONTROL "", 1071, ComboBox, 0x50210102, 128, 59, 100, 100, 0x0
  CONTROL "&Positive currency format:", 4294967295, Static, 0x50020000, 20, 78, 96, 9, 0x0
  CONTROL "", 1077, ComboBox, 0x50210103, 128, 76, 100, 100, 0x0
  CONTROL "&Negative currency format:", 4294967295, Static, 0x50020000, 20, 95, 96, 9, 0x0
  CONTROL "", 1078, ComboBox, 0x50210103, 128, 93, 100, 100, 0x0
  CONTROL "&Decimal symbol:", 4294967295, Static, 0x50020000, 20, 121, 96, 9, 0x0
  CONTROL "", 1070, ComboBox, 0x50210102, 128, 119, 100, 100, 0x0
  CONTROL "N&o. of digits after decimal:", 4294967295, Static, 0x50020000, 20, 138, 96, 9, 0x0
  CONTROL "", 1072, ComboBox, 0x50210103, 128, 136, 100, 100, 0x0
  CONTROL "Di&git grouping symbol:", 4294967295, Static, 0x50020000, 20, 166, 96, 9, 0x0
  CONTROL "", 1073, ComboBox, 0x50210102, 128, 164, 100, 100, 0x0
  CONTROL "D&igit grouping:", 4294967295, Static, 0x50020000, 20, 183, 96, 9, 0x0
  CONTROL "", 1074, ComboBox, 0x50210103, 128, 181, 100, 100, 0x0
  CONTROL "Click Reset to restore the system default settings for numbers, currency, time, and date.", 1047, Static, 0x50020000, 7, 236, 185, 16, 0x0
  CONTROL "&Reset", 1046, Button, 0x50010000, 196, 237, 50, 13, 0x0
}

107 DIALOGEX 0, 0, 252, 254
CAPTION "Time"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Examples", 4294967295, Button, 0x50000007, 5, 7, 242, 47, 0x0
  CONTROL "Short time:", 4294967295, Static, 0x50020000, 13, 20, 54, 10, 0x0
  CONTROL "", 1006, Edit, 0x50800880, 68, 18, 84, 14, 0x0
  CONTROL "", 1011, Edit, 0x50800882, 156, 18, 84, 14, 0x2000
  CONTROL "Long time:", 4294967295, Static, 0x50020000, 13, 36, 54, 10, 0x0
  CONTROL "", 1005, Edit, 0x50800880, 68, 34, 84, 14, 0x0
  CONTROL "", 1010, Edit, 0x50800882, 156, 34, 84, 14, 0x2000
  CONTROL "Time formats", 4294967295, Button, 0x50000007, 5, 57, 242, 82, 0x0
  CONTROL "&Short time:", 4294967295, Static, 0x50020000, 13, 70, 54, 10, 0x0
  CONTROL "", 1093, ComboBox, 0x50210142, 68, 68, 84, 100, 0x0
  CONTROL "&Long time:", 4294967295, Static, 0x50020000, 13, 86, 54, 10, 0x0
  CONTROL "", 1090, ComboBox, 0x50210142, 68, 84, 84, 100, 0x0
  CONTROL "A&M symbol:", 4294967295, Static, 0x50020000, 13, 106, 54, 10, 0x0
  CONTROL "", 1091, ComboBox, 0x50210102, 68, 104, 84, 100, 0x0
  CONTROL "&PM symbol:", 4294967295, Static, 0x50020000, 13, 123, 54, 10, 0x0
  CONTROL "", 1092, ComboBox, 0x50210102, 68, 121, 84, 100, 0x0
  CONTROL "What the notations mean:\n\nh = hour   m = minute\ns = second (long time only)\ntt = A.M. or P.M.\n\nh/H = 12/24 hour\n\nhh, mm, ss = display leading zero\nh, m, s = do not display leading zero", 4294967295, Static, 0x50020000, 13, 144, 226, 89, 0x0
  CONTROL "Click Reset to restore the system default settings for numbers, currency, time, and date.", 4294967295, Static, 0x50020000, 7, 236, 185, 16, 0x0
  CONTROL "&Reset", 1046, Button, 0x50010000, 196, 237, 50, 13, 0x0
}

108 DIALOGEX 0, 0, 252, 254
CAPTION "Date"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Example", 1001, Button, 0x50000007, 5, 7, 242, 51, 0x0
  CONTROL "Short date:", 1007, Static, 0x50020000, 13, 20, 63, 10, 0x0
  CONTROL "", 1005, Edit, 0x50800880, 77, 18, 110, 14, 0x0
  CONTROL "Long date:", 1008, Static, 0x50020000, 13, 37, 61, 10, 0x0
  CONTROL "", 1006, Edit, 0x50800880, 77, 35, 110, 14, 0x0
  CONTROL "Date formats", 1002, Button, 0x50000007, 5, 65, 242, 70, 0x0
  CONTROL "&Short date:", 4294967295, Static, 0x50020000, 13, 77, 60, 10, 0x0
  CONTROL "", 1106, ComboBox, 0x50210142, 77, 75, 161, 100, 0x0
  CONTROL "&Long date:", 4294967295, Static, 0x50020000, 13, 95, 60, 10, 0x0
  CONTROL "", 1107, ComboBox, 0x50210142, 77, 92, 161, 100, 0x0
  CONTROL "What the notations mean:\nd, dd = day;  ddd, dddd = day of week;  M = month;  y = year", 1009, Static, 0x50020000, 13, 111, 226, 20, 0x0
  CONTROL "Calendar", 1003, Button, 0x50000007, 5, 143, 242, 85, 0x0
  CONTROL "W&hen a two-digit year is entered, interpret it as a year between:", 4294967295, Static, 0x50020000, 13, 154, 225, 8, 0x0
  CONTROL "", 1102, Edit, 0x58812080, 18, 165, 36, 12, 0x0
  CONTROL "and", 4294967295, Static, 0x50020000, 58, 167, 17, 8, 0x0
  CONTROL "", 1103, Edit, 0x50812000, 77, 165, 37, 12, 0x0
  CONTROL "", 1104, "msctls_updown32", 0x500000b7, 113, 165, 10, 12, 0x0
  CONTROL "&First day of week:", 4294967295, Static, 0x50020000, 13, 183, 60, 10, 0x0
  CONTROL "", 1109, ComboBox, 0x50210003, 77, 181, 161, 100, 0x0
  CONTROL "&Calendar type:", 1100, Static, 0x50020000, 13, 199, 56, 10, 0x0
  CONTROL "", 1101, ComboBox, 0x50210103, 77, 197, 161, 100, 0x0
  CONTROL "A&djust Hijri date to:", 1108, Static, 0x50020000, 13, 215, 63, 10, 0x0
  CONTROL "", 1105, ComboBox, 0x50210003, 77, 213, 161, 100, 0x0
  CONTROL "Click Reset to restore the system default settings for numbers, currency, time, and date.", 1047, Static, 0x50020000, 7, 236, 185, 16, 0x0
  CONTROL "&Reset", 1046, Button, 0x50010000, 196, 237, 50, 13, 0x0
}

109 DIALOGEX 0, 0, 252, 254
CAPTION "Sorting"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "You can control the way some programs sort characters, words, files, and folders.", 1121, Static, 0x50020000, 7, 15, 227, 20, 0x0
  CONTROL "&Select the sorting method:", 1122, Static, 0x50020000, 7, 38, 228, 8, 0x0
  CONTROL "", 1120, ComboBox, 0x50210043, 7, 48, 230, 40, 0x0
  CONTROL "Click Reset to restore the system default settings for numbers, currency, time, and date.", 1047, Static, 0x50020000, 7, 236, 185, 16, 0x0
  CONTROL "&Reset", 1046, Button, 0x50010000, 196, 237, 50, 13, 0x0
}

600 DIALOGEX 0, 0, 252, 236
CAPTION "Location"
STYLE 0x90c001cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Some software, including Windows, may provide you with additional content for a particular location. Some services provide local information such as news and weather.", 1022, Static, 0x50020000, 5, 8, 242, 24, 0x0
  CONTROL "&Current location:", 1027, Static, 0x50020000, 5, 38, 150, 10, 0x0
  CONTROL "", 1023, ComboBox, 0x50210103, 5, 50, 237, 60, 0x0
  CONTROL "See also", 1014, Static, 0x50020000, 5, 203, 150, 10, 0x0
  CONTROL "<A>Default location</A>", 1045, "SysLink", 0x50010000, 5, 215, 238, 13, 0x0
}

700 DIALOGEX 0, 0, 260, 298
CAPTION "Welcome screen and new user accounts settings"
STYLE 0x80c800c4
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "The &settings for the current user, welcome screen (system accounts) and new user accounts are displayed below.", 4294967295, Static, 0x50020000, 8, 7, 244, 16, 0x0
  CONTROL "", 2110, "SysListView32", 0x50814001, 8, 26, 244, 180, 0x0
  CONTROL "* Custom locale", 1026, Static, 0x50020000, 8, 206, 244, 8, 0x0
  CONTROL "Copy your current settings to:", 4294967295, Static, 0x50020000, 8, 220, 244, 8, 0x0
  CONTROL "&Welcome screen and system accounts", 1055, Button, 0x50012403, 18, 232, 232, 10, 0x0
  CONTROL "&New user accounts", 1054, Button, 0x50012403, 18, 244, 232, 10, 0x0
  CONTROL "The new user accounts display language is currently inherited from the welcome screen display language.", 3040, Static, 0x50020000, 18, 256, 234, 16, 0x0
  CONTROL "OK", 1, Button, 0x50010000, 144, 276, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 202, 276, 50, 14, 0x0
}

800 DIALOGEX 0, 0, 252, 100
CAPTION "Region and Language Settings"
STYLE 0x80c800cc
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 0
{
  CONTROL "Select which language (system locale) to use when displaying text in programs that do not support Unicode. This setting affects all user accounts on the computer.", 1050, Static, 0x50020000, 5, 7, 239, 26, 0x0
  CONTROL "&Current system locale:", 2101, Static, 0x50020000, 5, 37, 239, 10, 0x0
  CONTROL "", 1052, ComboBox, 0x50210103, 5, 47, 239, 100, 0x0
  CONTROL "* Custom locale", 1026, Static, 0x50020000, 5, 67, 225, 16, 0x0
  CONTROL "OK", 1, Button, 0x50010000, 140, 80, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 194, 80, 50, 14, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Region and Language"
  2,  "Customize settings for the display of languages, numbers, times, and dates."
  3,  "Customize Format"
  4,  "One or more of your regional settings are invalid. To fix this problem review and correct the customizable settings."
  8,  ".7"
  9,  "0.7"
  10,  "Metric"
  11,  "U.S."
  12,  "One or more of the characters you entered in this field are invalid. Try using different characters."
  13,  "One or more of the characters you entered for %s are invalid. Try using a different character or enter a blank space."
  14,  "Decimal Symbol"
  15,  "Negative Sign"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "Grouping Symbol"
  18,  "AM Symbol"
  19,  "PM Symbol"
  21,  "Currency Symbol"
  22,  "Currency Decimal Symbol"
  23,  "Currency Grouping Symbol"
  24,  "One or more of the characters you entered for the %s format are invalid. Try using different characters."
  25,  "Long Time"
  26,  "Short Date"
  27,  "Long Date"
  28,  "The value in this field must be a number between 99 and 9999. Try using a different number."
  29,  "Short Time"
  30,  "&Format:"
  31,  "&Format: (* Custom Locale)"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  55,  "H"
  56,  "h"
  57,  "M"
  58,  "m"
  59,  "s"
  60,  "t"
  61,  "d"
  62,  "y"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  69,  "System locale has been changed. You must restart Windows for the changes to take effect."
  70,  "Change Regional Options"
  71,  "Setup was unable to install the chosen locale.  Please contact your system Administrator."
  72,  "System display language has been changed. You must restart Windows for the changes to take effect."
  77,  "Remove all customizations for the current format?"
  78,  "Would you like to apply your region and language changes?"
  79,  "Restart now"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  80,  "Cancel"
  81,  "Make sure you save your work and close all open programs before restarting."
  82,  "Change System Locale"
  83,  "Windows could not properly load the %s keyboard layout."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  96,  "Spanish (Spain)"
  100,  "You must log off for display language changes to take effect"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  201,  "Make sure you save your work and close all open programs before you log off."
  202,  "Log off now"
  203,  "Cancel"
  204,  "Change Display Language"
  205,  "To ensure that the computer reflects these changes we recommend that you apply them before making any further system changes."
  206,  "Apply"
  207,  "Cancel"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  208,  "The task cannot be completed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  250,  "Current user"
  251,  "Welcome screen"
  252,  "New user accounts"
  253,  "Display language:"
  254,  "Input language:"
  255,  "Format:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  256,  "Location:"
  257,  "Setting could not be read"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  900,  "Context"
  901,  "Never"
  902,  "National"
}

1 MESSAGETABLE
{
  805306388,  "RLOUI operations\r\n"
  1342177282,  "Error\r\n"
  1342177284,  "Information\r\n"
  1879048222,  "Region and Language control panel\r\n"
  2415919105,  "Microsoft-Windows-International-RegionalOptionsControlPanel\r\n"
  2415919106,  "Operational\r\n"
  2952805016,  "The user changed their user locale to ""%1"".\r\n"
  2952805017,  "The user reset all customizations for the user locale ""%1"" to the system default.\r\n"
  2952805018,  "The user changed the user locale setting ""%1"" to ""%2"".\r\n"
  2952805019,  "The user changed their alternate sort to ""%1"".\r\n"
  2952805020,  "The user changed their calendar to ""%1"".\r\n"
  2952805021,  "The user changed their TwoDigitYearMax to %1.\r\n"
  2952805022,  "The user changed their location preference (GeoID) to %1.\r\n"
  2952805023,  "The system locale was changed to ""%1"".\r\n"
  2952805024,  "The user chose to copy their settings to the default user account.\r\n"
  2952805025,  "The user chose to copy their settings to the system accounts.\r\n"
  2952805026,  "The user has changed their UI Language to ""%1"".\r\n"
  2952805027,  "The user has changed their UI Language fallback order to ""%1"".\r\n"
  2952806016,  "Failed to change UI Language to ""%1"". Status code is: %2.\r\n"
  2952806017,  "Failed to change UI Language fallback order to ""%1"". Status code is: %2.\r\n"
  2952806018,  "The system locale could not be changed to ""%1"".\r\n"
  2952806019,  "The user does not have permission to change the calendar.\r\n"
}
