#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x0
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Notepad"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "Notepad"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "NOTEPAD.EXE.MUI.MUI"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "&File"
  {
    MENUITEM "&New\tCtrl+N", 1
    MENUITEM "&Open...\tCtrl+O", 2
    MENUITEM "&Save\tCtrl+S", 3
    MENUITEM "Save &As...", 4
    MENUITEM SEPARATOR
    MENUITEM "Page Set&up...", 5
    MENUITEM "&Print...\tCtrl+P", 6
    MENUITEM SEPARATOR
    MENUITEM "E&xit", 7
  }
  POPUP "&Edit"
  {
    MENUITEM "&Undo\tCtrl+Z", 16
    MENUITEM SEPARATOR
    MENUITEM "Cu&t\tCtrl+X", 768, GRAYED
    MENUITEM "&Copy\tCtrl+C", 769, GRAYED
    MENUITEM "&Paste\tCtrl+V", 770, GRAYED
    MENUITEM "De&lete\tDel", 771, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Find...\tCtrl+F", 21
    MENUITEM "Find &Next\tF3", 22
    MENUITEM "&Replace...\tCtrl+H", 23
    MENUITEM "&Go To...\tCtrl+G", 24
    MENUITEM SEPARATOR
    MENUITEM "Select &All\tCtrl+A", 25
    MENUITEM "Time/&Date\tF5", 26
  }
  POPUP "F&ormat"
  {
    MENUITEM "&Word Wrap", 32
    MENUITEM "&Font...", 33
  }
  POPUP "&View"
  {
    MENUITEM "&Status barra", 27
  }
  POPUP "&Дапамога"
  {
    MENUITEM "View &Help", 64
    MENUITEM SEPARATOR
    MENUITEM "&About Notepad", 65
  }
}

11 DIALOGEX 20, 20, 200, 64
CAPTION "Notepad"
STYLE 0x90c800c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 1
{
  CONTROL "Cancel", 2, Button, 0x50030001, 84, 44, 32, 14, 0x0
  CONTROL "Now Printing", 4294967295, Static, 0x50020001, 0, 8, 200, 8, 0x0
  CONTROL "", 20, Static, 0x50028001, 0, 18, 200, 8, 0x0
  CONTROL "", 21, Static, 0x50020001, 0, 28, 200, 8, 0x0
}

12 DIALOGEX 0, 0, 356, 196
CAPTION "Page Setup"
STYLE 0x90c800c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 1
{
  CONTROL "Paper", 1073, Button, 0x50020007, 8, 8, 224, 56, 0x0
  CONTROL "Si&ze:", 1089, Static, 0x50020000, 16, 24, 36, 8, 0x0
  CONTROL "", 1137, ComboBox, 0x50230103, 64, 23, 160, 160, 0x0
  CONTROL "&Source:", 1090, Static, 0x50020000, 16, 45, 36, 8, 0x0
  CONTROL "", 1138, ComboBox, 0x50230103, 64, 42, 160, 160, 0x0
  CONTROL "Orientation", 1072, Button, 0x50020007, 8, 69, 64, 56, 0x0
  CONTROL "P&ortrait", 1056, Button, 0x50030009, 16, 82, 52, 12, 0x0
  CONTROL "L&andscape", 1057, Button, 0x50000009, 16, 103, 52, 12, 0x0
  CONTROL "Margins", 1075, Button, 0x50020007, 80, 69, 152, 56, 0x0
  CONTROL "&Left:", 1102, Static, 0x50020000, 88, 85, 32, 8, 0x0
  CONTROL "", 1155, Edit, 0x50830000, 120, 82, 28, 12, 0x0
  CONTROL "&Right:", 1103, Static, 0x50020000, 164, 85, 32, 8, 0x0
  CONTROL "", 1157, Edit, 0x50830000, 196, 82, 28, 12, 0x0
  CONTROL "&Top:", 1104, Static, 0x50020000, 88, 104, 32, 8, 0x0
  CONTROL "", 1156, Edit, 0x50830000, 120, 103, 28, 12, 0x0
  CONTROL "&Bottom:", 1105, Static, 0x50020000, 164, 104, 32, 8, 0x0
  CONTROL "", 1158, Edit, 0x50830000, 196, 103, 28, 12, 0x0
  CONTROL "&Header:", 32, Static, 0x50020000, 8, 135, 29, 8, 0x0
  CONTROL "", 30, Edit, 0x50810080, 56, 134, 174, 12, 0x0
  CONTROL "&Footer:", 33, Static, 0x50020000, 8, 154, 29, 8, 0x0
  CONTROL "", 31, Edit, 0x50810080, 56, 153, 174, 12, 0x0
  CONTROL "OK", 1, Button, 0x50030001, 190, 174, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 244, 174, 50, 14, 0x0
  CONTROL "&Printer...", 1026, Button, 0x50010000, 298, 174, 50, 14, 0x0
  CONTROL "Preview", 4294967295, Button, 0x50000007, 240, 8, 108, 158, 0x0
  CONTROL "", 1080, Static, 0x50000006, 254, 46, 80, 80, 0x0
  CONTROL "", 1081, Static, 0x50000005, 334, 50, 4, 80, 0x0
  CONTROL "", 1082, Static, 0x50000005, 262, 122, 80, 4, 0x0
}

14 DIALOGEX 0, 0, 166, 60
CAPTION "Go To Line"
STYLE 0x80c800c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 1
{
  CONTROL "&Line number:", 1200, Static, 0x50020000, 7, 7, 115, 8, 0x0
  CONTROL "", 258, Edit, 0x50812080, 7, 18, 151, 14, 0x0
  CONTROL "Go To", 1, Button, 0x50010001, 55, 39, 50, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010000, 109, 39, 50, 14, 0x0
}

15 DIALOGEX 30, 17, 300, 22
CAPTION ""
STYLE 0x44c00440
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 1
{
  CONTROL "&Encoding:", 259, Static, 0x50000000, 68, 1, 40, 40, 0x0
  CONTROL "", 257, ComboBox, 0x50230003, 130, 0, 164, 100, 0x0
}

51200 DIALOGEX 0, 0, 324, 140
CAPTION "Software Licensing"
STYLE 0x40c00040
EXSTYLE 0x0
FONT 9, "Segoe UI", 0, 0, 1
{
  CONTROL "To use this feature without interruption, this computer needs to be running genuine Windows.", 4294967295, Static, 0x50020000, 0, 10, 250, 20, 0x0
  CONTROL "With genuine Windows you have access to all Windows updates and can be confident that your Windows software has the latest security and reliability enhancements from Microsoft.", 4294967295, Static, 0x50020000, 0, 35, 250, 30, 0x0
  CONTROL 51209, 4294967295, Static, 0x5000000e, 260, 10, 100, 55, 0x0
  CONTROL "&Resolve online now", 4294952961, Button, 0x50000000, 256, 0, 75, 250, 0x18
  CONTROL "<a>Read the privacy statement online</a>", 4294952962, "SysLink", 0x50010000, 0, 128, 120, 10, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1,  "Cannot open the %% file.\n\nMake sure a disk is in the drive you specified."
  2,  "Cannot find the %% file.\n\nDo you want to create a new file?"
  3,  "The text in the %% file has changed.\n\nDo you want to save the changes?"
  4,  "Untitled"
  5,  "%1 - Notepad"
  6,  "Cannot find zz"
  7,  "Not enough memory available to complete this operation. Quit one or more applications to increase available memory, and then try again."
  8,  "The %% file is too large for Notepad.\n\nUse another editor to edit the file."
  9,  "Notepad"
  10,  "Failed to initialize file dialogs. Change the file name and try again."
  11,  "Failed to initialize print dialogs. Make sure that your printer is connected properly and use Control Panel to verify that the printer is configured properly."
  12,  "Cannot print the %% file. Be sure that your printer is connected properly and use Control Panel to verify that the printer is configured properly."
  13,  "Not a valid file name."
  14,  "Cannot create the %% file.\n\nMake sure that the path and file name are correct."
  15,  "Cannot carry out the Word Wrap command because there is too much text in the file."
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  16,  "%%"
  17,  "notepad.hlp"
  18,  "&f"
  19,  "Page &p"
  20,  "Text Documents (*.txt)"
  21,  "All Files "
  22,  "Open"
  23,  "Save As"
  24,  "You cannot shut down or log off Windows because\nthe Save As dialog box in Notepad is open. Switch to\nNotepad, close this dialog box, and then try shutting\ndown or logging off Windows again."
  25,  "Cannot access your printer.\nBe sure that your printer is connected properly and use Control Panel to verify that the printer is configured properly."
  26,  "zznYou do not have permission to open this file.  See the owner of the file or an administrator to obtain permission."
  27,  "zzn This file contains characters in Unicode format which will be lost if you save this file as an ANSI encoded text file. To keep the Unicode information, click Cancel below and then select one of the Unicode options from the Encoding drop down list. Continue?"
  28,  "Page too small to print one line.\nTry printing using smaller font."
  29,  "Common Dialog error (0x%04x)"
  30,  "Notepad - Goto Line"
  31,  "The line number is beyond the total number of lines"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32,  "ANSI"
  33,  "Unicode"
  34,  "Unicode big endian"
  35,  "UTF-8"
  36,  "Page %d"
  37,  "   Ln %d, Col %d  "
  38,  " Compressed,"
  39,  " Encrypted,"
  40,  " Hidden,"
  41,  " Offline,"
  42,  " ReadOnly,"
  43,  " System,"
  44,  " File"
  45,  "fFpPtTdDcCrRlL"
  46,  "&Encoding:"
  47,  "Notepad was running in a transaction which has completed.\n\nWould you like to save the %% file non-transactionally?"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  469,  "Text Document"
  470,  "New Text Document"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3000,  "Notepad"
  3001,  "Do you want to save changes to %%?"
  3002,  "&Save"
  3003,  "Do&n't Save"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  51203,  "This computer is not running genuine Windows"
  51204,  "Software Licensing"
  51205,  "mshelp://windows/?id=6f58b1c8-e296-4498-8454-99558fde70bf"
  51206,  "http://go.microsoft.com/fwlink/?LinkId=125824"
  51207,  "http://go.microsoft.com/fwlink/?LinkId=125723"
  51208,  "http://go.microsoft.com/fwlink/?LinkId=122082"
}

MAINACC ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_INSERT  , 769, VIRTKEY, CONTROL
  VK_F1  , 64, VIRTKEY
  VK_F3  , 22, VIRTKEY
  VK_F5  , 26, VIRTKEY
}

SLIPUPACC ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_INSERT  , 769, VIRTKEY, CONTROL
  VK_F1  , 64, VIRTKEY
  VK_F3  , 22, VIRTKEY
  VK_F5  , 26, VIRTKEY
}

