#pragma code_page(65001)
#include <resources.h>

110 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Properties", 108
  }
}

111 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Open", 105
    MENUITEM "&Explore", 106
    MENUITEM SEPARATOR
    MENUITEM "&Properties", 108
  }
}

112 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Properties", 108
  }
}

113 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Open", 105
    MENUITEM "&Explore", 106
    MENUITEM SEPARATOR
    MENUITEM "&Properties", 108
  }
}

114 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Restore", 107
  }
}

115 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP ""
  {
    MENUITEM "&Properties", 108
  }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  102,  "Find files which were backed up and restore them."
  103,  "File Backup Index"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  117,  "Backup"
  118,  "Backup on %1!s!"
  120,  "Name"
  121,  "Size"
  122,  "Date created"
  123,  "Date modified"
  124,  "Backup date"
  125,  "Backup of %1!s!"
}

