1 MUI "Data_1562.bin"

200 DIALOGEX 0, 0, 270, 166
STYLE WS_POPUP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Volume Mixer"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
   CONTROL "No audio device is installed", 306, STATIC, SS_LEFT | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_GROUP, 4, 4, 300, 12 
   CONTROL "", 301, "ToolbarWindow32", 0x5601994C, 10, 36, 56, 16 
   CONTROL "Main &Volume", 303, STATIC, SS_CENTER | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_GROUP, 13, 39, 48, 16 
   CONTROL "", 300, "ToolbarWindow32", 0x5601A94C, 25, 16, 25, 20 
   CONTROL "Main &Volume", 302, STATIC, SS_CENTER | WS_CHILD | WS_GROUP, 12, 32, 40, 10 
   CONTROL "", 304, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_TABSTOP, 28, 55, 17, 75 
   CONTROL "", 305, "ToolbarWindow32", 0x5601A948, 27, 130, 24, 24 
   CONTROL "", 412, STATIC, SS_BLACKFRAME | WS_CHILD, 73, 18, 189, 139 
   CONTROL "Applications", 411, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN, 71, 6, 193, 153 , 0x00010000
   CONTROL "&Device", 410, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN, 6, 6, 64, 153 
}

201 DIALOGEX 0, 0, 39, 154
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
   CONTROL " ", 306, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 2, 4, 300, 12 
   CONTROL "", 300, "ToolbarWindow32", 0x5601A948, 8, 6, 24, 24 
   CONTROL "Main &Volume", 301, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_GROUP, 2, 27, 42, 16 
   CONTROL "Main &Volume", 302, STATIC, SS_CENTER | WS_CHILD | WS_GROUP, 2, 7, 40, 10 
   CONTROL "", 304, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_TABSTOP, 11, 30, 17, 75 
   CONTROL "", 305, "ToolbarWindow32", 0x5601A948, 10, 105, 24, 24 
   CONTROL "Mi&xer", 307, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_TABSTOP, 0, 129, 39, 16 
}

202 DIALOGEX 0, 0, 63, 131
STYLE WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 400, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN, 20, 0, 18, 17 
   CONTROL "", 401, "ToolbarWindow32", 0x5601A94C, 19, 0, 25, 20 
   CONTROL "Application Volume", 301, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_GROUP, 3, 20, 58, 16 
   CONTROL "Application Volume", 302, STATIC, SS_CENTER | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_GROUP, 0, 16, 62, 16 
   CONTROL "", 304, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_TABSTOP, 21, 37, 17, 75 
   CONTROL "", 305, "ToolbarWindow32", 0x5601A948, 20, 112, 24, 24 
}

203 DIALOGEX 0, 0, 266, 232
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Volume Control Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "Select which devices show their own volume control", 430, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_GROUP, 10, 10, 242, 11 
   CONTROL "The default sound device will always show its own volume control.", 431, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_GROUP, 10, 32, 242, 20 
   CONTROL "&All devices currently playing sound", 425, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 58, 242, 10 
   CONTROL "The default &communication device", 426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 78, 230, 10 
   CONTROL "Sound devices:", 432, STATIC, SS_LEFT | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 97, 235, 10 
   CONTROL "", 428, "SysListView32", LVS_LIST | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 107, 250, 100 , 0x00000200
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 213, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 213, 50, 14 
   CONTROL "Apply", 429, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 213, 50, 14 
}

204 DIALOGEX 0, 0, 88, 146
STYLE DS_FIXEDSYS | WS_POPUP | WS_CLIPCHILDREN | WS_BORDER | WS_THICKFRAME
EXSTYLE WS_EX_TOPMOST
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
500, 	"Volume"
501, 	"Mute %1"
502, 	"Volume for %1"
503, 	"Mute for %1"
504, 	"Name Not Available"
505, 	"Show Application Volume Controls for %s"
506, 	"Volume Mixer - %s"
508, 	"Unmute %1"
509, 	"Listening to %1"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Volume Mixer"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "Volume Control Applet"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "SndVol.exe.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

