1 MUI "Data_1826.bin"

600 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP ""
{
	MENUITEM "&Delete theme",  601
}
}

610 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP ""
{
	MENUITEM "&Save theme",  611
	MENUITEM "Save &theme for sharing",  612
}
}

700 DIALOGEX 0, 0, 224, 54
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Save Theme As"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "&Theme name:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 96, 10 
   CONTROL "", 701, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 210, 12 
   CONTROL "Save", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 110, 33, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 33, 50, 14 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1, 	"Personalization"
2, 	"Change the pictures, colors, and sounds for this computer."
3, 	"Personalization Related Tasks Pane"
4, 	"Personalization Main Task Pane"
5, 	"Window Color and Appearance"
6, 	"Change the color of your window borders, Start menu, and taskbar"
7, 	"Theme Gallery"
10, 	"Pe&rsonalize"
11, 	"Get help"
13, 	"Save Theme Pack As"
14, 	"Theme Pack (*.themepack)|*.themepack"
15, 	"Save Theme Error"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
16, 	"Windows could not save your theme. You may need to save the theme to a different location or free up disk space. You can also try searching Help and Support for more information about this error: %1\n\nSelected location: %2"
17, 	"None"
18, 	"Custom"
19, 	"Windows Classic"
20, 	"High Contrast"
21, 	"Slide Show"
22, 	"Solid Color"
23, 	"One or more of the settings on this page has been disabled by the system administrator."
24, 	"One or more of the themes has been disabled by Remote Desktop Connection settings."
25, 	"One or more of the settings on this page has been disabled by the system administrator and Remote Desktop Connection settings."
28, 	"Save theme"
29, 	"Get more themes online"
30, 	"My Themes"
31, 	"Aero Themes"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32, 	"Basic and High Contrast Themes"
33, 	"Installed Themes"
40, 	"Desktop Background"
41, 	"Browse"
42, 	"All Picture Files|*.bmp;*.jpg;*.jpeg;*.dib"
44, 	"This file can't be used as a background picture"
45, 	"This file is not one of the supported file types, which include .bmp, .jpg, .jpeg and .dib. Please close this dialog and select a different picture for your background."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
67, 	"Textures"
69, 	"Vistas"
71, 	"Light Auras"
72, 	"Solid Colors"
73, 	"Nature"
74, 	"Windows Desktop Backgrounds"
79, 	"Change desktop icons"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
80, 	"Change mouse pointers"
81, 	"Display"
82, 	"Taskbar and Start Menu"
83, 	"Ease of Access Center"
84, 	"Change your account picture"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
101, 	"Sky"
102, 	"Twilight"
103, 	"Sea"
104, 	"Leaf"
105, 	"Lime"
106, 	"Sun"
107, 	"Pumpkin"
108, 	"Ruby"
109, 	"Fuchsia"
110, 	"Blush"
111, 	"Violet"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
112, 	"Lavender"
113, 	"Taupe"
114, 	"Chocolate"
115, 	"Slate"
116, 	"Frost"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
130, 	"Customized"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
200, 	"Personalization Control Panel Error"
201, 	"Desktop Composition is disabled."
202, 	"To change appearance properties, please click the 'Open classic appearance properties' link."
203, 	"There was a problem loading a pre-set color."
204, 	"There was a problem previewing your color."
205, 	"There was a problem saving your color."
206, 	"There was a problem reverting to your original color."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
220, 	"This page is not available in this edition of Windows."
221, 	"Windows Anytime Upgrade"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
300, 	"Security Shield Icon"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
400, 	"Photo ListView"
401, 	"Select a photo or solid color to set as your background."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
504, 	"Fit"
505, 	"Fill"
506, 	"Stretch"
507, 	"Tile"
508, 	"Center"
509, 	"10 seconds"
510, 	"30 seconds"
511, 	"1 minute"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
512, 	"3 minutes"
513, 	"5 minutes"
514, 	"10 minutes"
515, 	"15 minutes"
516, 	"20 minutes"
517, 	"30 minutes"
518, 	"1 hour"
519, 	"2 hours"
520, 	"3 hours"
521, 	"4 hours"
522, 	"6 hours"
523, 	"12 hours"
524, 	"1 day"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
620, 	"Top Rated Photos"
621, 	"Pictures Library"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
630, 	"Browse to the folder containing the pictures you want to use for your desktop background."
631, 	"Browse to the folder containing the picture you want to set as your desktop background."
632, 	"Windows Server"
633, 	"Harmony"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1100, 	"Click a theme to change the desktop background, window color, sounds, and screen saver all at once."
1101, 	"Change the visuals and sounds on your computer"
1103, 	"Troubleshoot problems with transparency and other Aero effects"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1104, 	"click"
1105, 	"Loading..."
1106, 	"Desktop Background"
1107, 	"Loading"
1108, 	"Window Color"
1109, 	"Loading"
1110, 	"Sounds"
1111, 	"Loading"
1112, 	"Screen Saver"
1113, 	"Loading"
1114, 	"This feature has been disabled"
1115, 	"Please contact your system administrator for details."
1116, 	"Desktop Composition is disabled"
1117, 	"Advanced appearance settings..."
1118, 	"Current color: "
1119, 	"E&nable transparency"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1120, 	"This option controls the transparent effect of windows, menus, the Start menu, and the taskbar."
1121, 	"check"
1122, 	"Performance Information"
1123, 	"Enabling transparency on this computer might affect performance. <a>Help me decide</a>"
1124, 	"click"
1125, 	"Color &intensity:"
1126, 	"Color intensity"
1127, 	"Adjust the color intensity of your window borders."
1128, 	"Toggle color mixer"
1129, 	"Show or hide the color mixer."
1130, 	"Hide color mi&xer"
1131, 	"Show color mi&xer"
1132, 	"H&ue:"
1133, 	"Hue"
1134, 	"Adjust the color of your window borders."
1135, 	"&Saturation:"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1136, 	"Saturation"
1137, 	"Adjust the saturation of your window borders."
1138, 	"&Brightness:"
1139, 	"Brightness"
1140, 	"Adjust the brightness of your window borders."
1141, 	"click"
1142, 	"Save changes"
1143, 	"press"
1144, 	"Cancel"
1145, 	"press"
1146, 	"This feature has been disabled"
1147, 	"Please contact your system administrator for details."
1148, 	"Failed to load page"
1149, 	"Please return to Control Panel to change your background settings."
1150, 	"Desktop background is turned off during remote connections"
1151, 	"To show the desktop background, open Remote Desktop Connection settings and select the Desktop background check box. If you can't change your settings, they might be managed by Group Policy. Contact your administrator for assistance."
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1152, 	"Choose your desktop background"
1153, 	"Click a picture to make it your desktop background."
1154, 	"Click a picture to make it your desktop background, or select more than one picture to create a slide show."
1155, 	"Picture &location:"
1156, 	"Picture Location"
1157, 	"&Browse..."
1158, 	"Select &all"
1159, 	"&Clear all"
1160, 	"Picture &position:"
1161, 	"Background Position"
1162, 	"Change background color"
1163, 	"click"
1164, 	"Color swatch"
1165, 	"press"
1166, 	"&More..."
1167, 	"Choose a different color"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1168, 	"click"
1169, 	"Cha&nge picture every:"
1170, 	"Change picture every"
1171, 	"&Shuffle"
1172, 	"Shuffle"
1173, 	"Shuffle pictures in the slide show."
1174, 	"&When using battery power, pause the slide show to save power"
1175, 	"PauseSlideshow"
1176, 	"Save changes"
1177, 	"click"
1178, 	"Cancel"
1179, 	"click"
}

1 MESSAGETABLE
{
268435505,  	"Response Time"
268435508,  	"SQM"
805306368,  	"Info"
805306369,  	"Start"
805306370,  	"Stop"
1342177284,  	"Information"
-1879048191,  	"Microsoft-Windows-ThemeCPL"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Personalization CPL"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "THEMECPL"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "THEMECPL.DLL.MUI"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

