1 MUI "Data_1808.bin"

1 MESSAGETABLE
{
9000,  	"HB_MSG_FIRST"
9001,  	"An unexpected error has occurred."
9002,  	"A fatal error occurred processing the restoration data."
9003,  	"Resuming Windows"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Resume From Hibernate boot application"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "hiberrsm.exe"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "hiberrsm.exe.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

RESUME.XSL 23 "Data_1809.bin"

