1 MUI "Data_1816.bin"

10 DIALOGEX 20, 20, 232, 134
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "End Program - "
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 257, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 8, 185, 16 
   CONTROL "To return to Windows and check the status of the program, click Cancel.", 258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 32, 185, 16 
   CONTROL "If you choose to end the program immediately, you will lose any unsaved data. To end the program now, click End Now.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 60, 185, 30 
   CONTROL "&End Now", 259, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 123, 112, 46, 14 
   CONTROL "Cancel", 2, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 112, 46, 14 
}

20 DIALOGEX 0, 0, 266, 224
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "Segoe UI"
{
   CONTROL "The following programs need to close:", 261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 20, 266, 14 
   CONTROL "", 269, STATIC, SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 46, 266, 1 
   CONTROL "", 266, STATIC, SS_USERITEM | WS_CHILD | WS_VISIBLE, 0, 52, 256, 85 
   CONTROL "", 268, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 256, 52, 10, 85 
   CONTROL "", 270, STATIC, SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 143, 266, 1 
   CONTROL "To close the program that is preventing Windows from\nshutting down, click Cancel, and then close the program.", 262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 152, 266, 30 
   CONTROL "&Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 191, 70, 13 
   CONTROL "&Force shut down", 260, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 191, 70, 13 
   CONTROL "If you force shut down you may lose work that you haven't saved.\nDo you still want to force shutdown?", 271, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 152, 266, 30 
   CONTROL "&No", 7, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 191, 70, 13 
   CONTROL "&Yes", 6, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 191, 70, 13 
}

21 DIALOGEX 0, 0, 256, 29
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "", 257, STATIC, SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 8, 18, 15 
   CONTROL "", 258, STATIC, SS_LEFT | SS_WORDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 9, 228, 10 
}

22 DIALOGEX 0, 0, 256, 39
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "", 257, STATIC, SS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 0, 8, 18, 15 
   CONTROL "", 258, STATIC, SS_LEFT | SS_WORDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 5, 228, 10 
   CONTROL "", 259, STATIC, SS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 17, 228, 17 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1025, 	"To close the program that is preventing Windows from\nlogging off, click Cancel, and then close the program."
1026, 	"&Force log off"
1027, 	"To close the program that is preventing Windows from\nrestarting, click Cancel, and then close the program."
1028, 	"&Force restart"
1029, 	"This program is preventing Windows from shutting down."
1030, 	"This program is preventing Windows from logging off."
1031, 	"This program is preventing Windows from restarting."
1032, 	"Closing programs and shutting down."
1033, 	"Closing programs and logging off."
1034, 	"Closing programs and restarting."
1035, 	"(Waiting for)"
1036, 	"Waiting for background programs to close."
1037, 	"If you force log off you may lose work that you haven't saved.\nDo you still want to force log off?"
1038, 	"If you force restart you may lose work that you haven't saved.\nDo you still want to force restart?"
1039, 	"%d programs still need to close:"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1040, 	"1 program still needs to close:"
1041, 	"%d programs still need to close:"
1042, 	"1 program still needs to close:"
1043, 	"%d programs still need to close:"
1044, 	"1 program still needs to close:"
}

1 MESSAGETABLE
{
100,  	"Microsoft-Windows-Winsrv"
10001,  	"The following application attempted to veto the shutdown: %1."
10002,  	"The following application was terminated because it was hung: %1."
805306368,  	"Info"
805306369,  	"Start"
805306370,  	"Stop"
1342177284,  	"Information"
-1879048191,  	"Application"
1,  	"Click on OK to terminate the program"
2,  	"Click on CANCEL to debug the program"
3,  	"Windows"
4,  	"unknown software exception"
5,  	"Success"
6,  	"System Information"
7,  	"System Warning"
8,  	"System Error"
11,  	"AutoEndTasks"
13,  	"AllowBlockingAppsAtShutdown"
14,  	"QuickResolverTimeout"
18,  	"Windows cannot end this program. It may need more time to complete an operation."
19,  	"This program is not responding."
20,  	"Ending Program...Please wait"
21,  	"The system cannot end this program because it is waiting for a response from you."
22,  	"ProcessTerminateTimeout"
23,  	"Request for Connection"
24,  	"is trying to connect to this computer. If you allow, you will be disconnected, but you can resume later. Do you want to allow this connection?"
25,  	"CriticalAppShutdownTimeout"
26,  	"CriticalAppShutdownCleanupTimeout"
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Multi-User Windows Server DLL"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "winsrv"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "winsrv.dll.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

