#pragma code_page(65001)
#include <resources.h>

1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x2
FILESUBTYPE 0x0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Multi-User Windows Server DLL"
      VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
      VALUE "InternalName", "winsrv"
      VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
      VALUE "OriginalFilename", "winsrv.dll.mui"
      VALUE "ProductName", "Microsoft® Windows® Operating System"
      VALUE "ProductVersion", "6.1.7600.16385"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409 0x4b0
  }
}

10 DIALOGEX 20, 20, 232, 134
CAPTION "End Program - "
STYLE 0x80c808c0
EXSTYLE 0x0
FONT 8, "MS Shell Dlg", 0, 0, 0
{
  CONTROL "", 257, Static, 0x50020000, 36, 8, 185, 16, 0x0
  CONTROL "To return to Windows and check the status of the program, click Cancel.", 258, Static, 0x50020000, 36, 32, 185, 16, 0x0
  CONTROL "If you choose to end the program immediately, you will lose any unsaved data. To end the program now, click End Now.", 65535, Static, 0x50020000, 36, 60, 185, 30, 0x0
  CONTROL "&End Now", 259, Button, 0x50010000, 123, 112, 46, 14, 0x0
  CONTROL "Cancel", 2, Button, 0x50010001, 175, 112, 46, 14, 0x0
}

20 DIALOGEX 0, 0, 266, 224
CAPTION ""
STYLE 0x40000040 | NOT WS_CAPTION
EXSTYLE 0x0
FONT 10, "Segoe UI", 0, 0, 0
{
  CONTROL "The following programs need to close:", 261, Static, 0x50020000, 0, 20, 266, 14, 0x0
  CONTROL "", 269, Static, 0x5000000d, 0, 46, 266, 1, 0x0
  CONTROL "", 266, Static, 0x5000000a, 0, 52, 256, 85, 0x0
  CONTROL "", 268, ScrollBar, 0x50000001, 256, 52, 10, 85, 0x0
  CONTROL "", 270, Static, 0x5000000d, 0, 143, 266, 1, 0x0
  CONTROL "To close the program that is preventing Windows from\nshutting down, click Cancel, and then close the program.", 262, Static, 0x50020000, 0, 152, 266, 30, 0x0
  CONTROL "&Cancel", 2, Button, 0x5003000b, 193, 191, 70, 13, 0x0
  CONTROL "&Force shut down", 260, Button, 0x5001000b, 115, 191, 70, 13, 0x0
  CONTROL "If you force shut down you may lose work that you haven't saved.\nDo you still want to force shutdown?", 271, Static, 0x50020000, 0, 152, 266, 30, 0x0
  CONTROL "&No", 7, Button, 0x5003000b, 193, 191, 70, 13, 0x0
  CONTROL "&Yes", 6, Button, 0x5001000b, 115, 191, 70, 13, 0x0
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1025,  "To close the program that is preventing Windows from\nlogging off, click Cancel, and then close the program."
  1026,  "&Force log off"
  1027,  "To close the program that is preventing Windows from\nrestarting, click Cancel, and then close the program."
  1028,  "&Force restart"
  1029,  "This program is preventing Windows from shutting down."
  1030,  "This program is preventing Windows from logging off."
  1031,  "This program is preventing Windows from restarting."
  1032,  "Closing programs and shutting down."
  1033,  "Closing programs and logging off."
  1034,  "Closing programs and restarting."
  1035,  "(Waiting for)"
  1036,  "Waiting for background programs to close."
  1037,  "If you force log off you may lose work that you haven't saved.\nDo you still want to force log off?"
  1038,  "If you force restart you may lose work that you haven't saved.\nDo you still want to force restart?"
  1039,  "%d programs still need to close:"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1040,  "1 program still needs to close:"
  1041,  "%d programs still need to close:"
  1042,  "1 program still needs to close:"
  1043,  "%d programs still need to close:"
  1044,  "1 program still needs to close:"
}

1 MESSAGETABLE
{
  100,  "Microsoft-Windows-Winsrv\r\n"
  10001,  "The following application attempted to veto the shutdown: %1.\r\n"
  10002,  "The following application was terminated because it was hung: %1.\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Application\r\n"
  1,  "Click on OK to terminate the program\r\n"
  2,  "Click on CANCEL to debug the program\r\n"
  3,  "Windows\r\n"
  4,  "unknown software exception\r\n"
  5,  "Success\r\n"
  6,  "System Information\r\n"
  7,  "System Warning\r\n"
  8,  "System Error\r\n"
  11,  "AutoEndTasks\r\n"
  13,  "AllowBlockingAppsAtShutdown\r\n"
  14,  "QuickResolverTimeout\r\n"
  18,  "Windows cannot end this program. It may need more time to complete an operation.\r\n"
  19,  "This program is not responding.\r\n"
  20,  "Ending Program...Please wait\r\n"
  21,  "The system cannot end this program because it is waiting for a response from you.\r\n"
  22,  "ProcessTerminateTimeout\r\n"
  23,  "Request for Connection\r\n"
  24,  "is trying to connect to this computer. If you allow, you will be disconnected, but you can resume later. Do you want to allow this connection?\r\n"
  25,  "CriticalAppShutdownTimeout\r\n"
  26,  "CriticalAppShutdownCleanupTimeout\r\n"
}
