#pragma code_page(65001)
#include <resources.h>

1 MESSAGETABLE
{
  3221225473,  "%1!.1023s!Windows Media Player is not installed properly and must be reinstalled.%n%nDo you want to install the Player from the Microsoft Web site?\r\n"
  3221225474,  "To finish installing Windows Media Player, restart your computer and then log on as an administrator or a member of the Administrators group.\r\n"
  3221225475,  "The file %1!.1023S! has a version number of %2!d!.%3!d!.%4!d!.%5!d! where %6!d!.%7!d!.%8!d!.%9!d! was expected.%n\r\n"
  3221225476,  "To use Windows Media Player, log off from Windows, log back on, and then start Windows Media Player.%n\r\n"
}
