#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  100,  "Windows Media Player Network Sharing Service"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1001,  "Microsoft Corporation"
  1002,  "This task updates the cached list of folders and the security permissions on any new files in a user’s shared media library."
}

