1 MUI "Data_127.bin"

999 DIALOGEX 0, 0, 307, 237
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Scanners and Cameras"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "If you do not see your device in the list, make sure it is connected to the computer and turned on, then choose Refresh.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 292, 16 
   CONTROL "", 1078, "SysListView32", LVS_ICON | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 28, 292, 137 
   CONTROL "&Refresh", 1114, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 172, 50, 14 
   CONTROL "&Add Device...", 999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 172, 68, 14 
   CONTROL "&Scan Profiles", 1001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 172, 63, 14 
   CONTROL "&Properties", 998, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 172, 57, 14 
   CONTROL "<a>Do I need to use this to install my scanner or camera?</a>", 1118, "SysLink", 0x50010002, 7, 193, 293, 9 
   CONTROL "&Close", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 250, 216, 50, 14 
}

1045 DIALOGEX 0, 0, 259, 265
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Import Settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "&Settings for: ", 1102, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS, 7, 9, 245, 169 
   CONTROL "", 1095, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 7, 147, 90 
   CONTROL "Use &custom location and naming settings", 1096, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 26, 196, 10 
   CONTROL "&Import to:", 1097, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 44, 52, 8 
   CONTROL "", 1047, "ComboBoxEx32", 0x50210003, 69, 42, 121, 96 
   CONTROL "&Browse...", 1048, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 41, 50, 14 
   CONTROL "&Folder name:", 1098, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 63, 52, 8 
   CONTROL "folder name", 1105, "ComboBoxEx32", 0x50210003, 69, 61, 174, 96 
   CONTROL "File &name:", 1099, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 82, 52, 8 
   CONTROL "file name", 1107, "ComboBoxEx32", 0x50210003, 69, 80, 174, 96 
   CONTROL "Example:", 1116, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 99, 52, 8 
   CONTROL "Static", 1115, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 69, 99, 174, 8 
   CONTROL "Other options:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 114, 218, 8 
   CONTROL "&Prompt for a tag on import", 1104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 125, 218, 10 
   CONTROL "Always &erase from device after importing", 1052, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 137, 218, 10 
   CONTROL "&Rotate pictures on import", 1055, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 149, 218, 10 
   CONTROL "&Open Windows Explorer after import", 1051, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 161, 218, 10 
   CONTROL "<a>Change default AutoPlay options</a>", 1094, "SysLink", 0x5003000A, 7, 184, 245, 9 
   CONTROL "Res&tore defaults", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 200, 62, 14 
   CONTROL "Pl&ugins", 1089, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 73, 200, 50, 14 
   CONTROL "<a>How do I change my import settings?</a>", 1103, "SysLink", 0x5001000A, 7, 221, 245, 9 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 244, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 244, 50, 14 
}

1046 DIALOGEX 0, 0, 264, 284
STYLE DS_MODALFRAME | WS_POPUP | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Import Settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "&Settings for: ", 1102, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS, 7, 9, 249, 188 
   CONTROL "", 1095, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 7, 147, 90 
   CONTROL "Use &custom location and naming settings", 1096, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 26, 196, 10 
   CONTROL "&Import images to:", 1097, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 44, 60, 8 
   CONTROL "", 1047, "ComboBoxEx32", 0x50210003, 73, 42, 121, 96 
   CONTROL "&Browse...", 1048, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 41, 50, 14 
   CONTROL "Import &videos to:", 1119, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 63, 60, 8 
   CONTROL "", 1049, "ComboBoxEx32", 0x50210003, 73, 61, 121, 96 
   CONTROL "Bro&wse...", 1050, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 60, 50, 14 
   CONTROL "&Folder name:", 1098, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 82, 52, 8 
   CONTROL "folder name", 1105, "ComboBoxEx32", 0x50210003, 73, 80, 174, 96 
   CONTROL "File &name:", 1099, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 101, 52, 8 
   CONTROL "file name", 1107, "ComboBoxEx32", 0x50210003, 73, 99, 174, 96 
   CONTROL "Example:", 1116, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 118, 52, 8 
   CONTROL "Static", 1115, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 73, 118, 174, 8 
   CONTROL "Other options:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 133, 218, 8 
   CONTROL "&Prompt for a tag on import", 1104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 144, 218, 10 
   CONTROL "Always &erase from device after importing", 1052, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 156, 218, 10 
   CONTROL "&Rotate pictures on import", 1055, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 168, 218, 10 
   CONTROL "&Open Windows Explorer after import", 1051, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 180, 218, 10 
   CONTROL "<a>Change default AutoPlay options</a>", 1094, "SysLink", 0x5003000A, 7, 203, 245, 9 
   CONTROL "Res&tore defaults", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 219, 62, 14 
   CONTROL "Pl&ugins", 1089, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 73, 219, 50, 14 
   CONTROL "<a>How do I change my import settings?</a>", 1103, "SysLink", 0x5001000A, 7, 240, 245, 9 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 263, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 263, 50, 14 
}

1062 DIALOGEX 0, 0, 231, 94
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "<Title>"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1117, "SysLink", 0x48010000, 7, 76, 146, 9 
   CONTROL "Cancel", 1072, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 73, 50, 14 
}

1063 DIALOGEX 0, 0, 230, 66
STYLE DS_CONTROL | DS_CENTER | WS_CHILD | WS_SYSMENU
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1001, STATIC, SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 7, 7, 60, 52 
   CONTROL "<Caption>", 1074, STATIC, SS_SIMPLE | SS_NOPREFIX | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 76, 13, 147, 8 
   CONTROL "", 1000, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 76, 25, 147, 9 
   CONTROL "<Caption>", 1002, STATIC, SS_SIMPLE | SS_NOPREFIX | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 76, 37, 147, 8 
   CONTROL "Looking in", 1127, STATIC, SS_SIMPLE | SS_NOPREFIX | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 76, 49, 147, 8 
   CONTROL "", 1126, STATIC, SS_LEFT | SS_NOPREFIX | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 111, 49, 112, 8 
   CONTROL "<Caption>", 1070, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 49, 147, 10 
}

1064 DIALOGEX 0, 0, 230, 66
STYLE DS_CONTROL | DS_CENTER | WS_CHILD | WS_SYSMENU
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1001, STATIC, SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 7, 7, 60, 52 
   CONTROL "<Caption>", 1074, STATIC, SS_LEFTNOWORDWRAP | SS_ENDELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 76, 13, 147, 8 
   CONTROL "", 1075, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 76, 25, 147, 72 
}

1071 DIALOGEX 0, 0, 335, 214
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import Pictures and Videos"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "If you do not see your device in the list, make sure it is connected to the computer and turned on, then choose Refresh.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 292, 16 
   CONTROL "", 1078, "SysListView32", LVS_ICON | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 28, 320, 130 
   CONTROL "&Refresh", 1114, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 165, 50, 14 
   CONTROL "I&mport", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 193, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 278, 193, 50, 14 
}

1106 DIALOGEX 0, 0, 291, 99
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import Pictures and Videos"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1083, STATIC, SS_BLACKFRAME | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 7, 7, 38, 31 
   CONTROL "{Error Message -- Don't Localize}", 1084, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 7, 236, 8 
   CONTROL "What do you want to do?", 1085, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 15, 236, 8 
   CONTROL "&Try again", 1080, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 57, 30, 220, 10 
   CONTROL "&Skip this file", 1081, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 57, 42, 220, 10 
   CONTROL "Skip &all files with errors", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 57, 54, 220, 10 
   CONTROL "&Continue", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 180, 78, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 234, 78, 50, 14 
   CONTROL "", 1086, STATIC, SS_ETCHEDHORZ | WS_CHILD, 7, 72, 277, 1 
}

1109 DIALOGEX 0, 0, 256, 166
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import Plugins"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "&Available plugins:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 185, 8 
   CONTROL "", 1087, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 242, 93 
   CONTROL "Move &up", 1090, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 117, 50, 14 
   CONTROL "Move &down", 1091, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 117, 50, 14 
   CONTROL "&Settings...", 1088, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 117, 50, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 145, 145, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 145, 50, 14 
}

1112 DIALOGEX 0, 0, 257, 237
STYLE WS_CHILD | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1095, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 7, 147, 90 
   CONTROL "&Settings for: ", 1102, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS, 7, 9, 245, 169 
   CONTROL "Use &custom location and naming settings", 1096, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 26, 196, 10 
   CONTROL "&Import to:", 1097, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 44, 52, 8 
   CONTROL "", 1047, "ComboBoxEx32", 0x50210003, 69, 42, 121, 96 
   CONTROL "&Browse...", 1048, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 41, 50, 14 
   CONTROL "&Folder name:", 1098, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 63, 52, 8 
   CONTROL "", 1105, "ComboBoxEx32", 0x50210003, 69, 61, 174, 96 
   CONTROL "File &name:", 1099, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 82, 52, 8 
   CONTROL "", 1107, "ComboBoxEx32", 0x50210003, 69, 80, 174, 96 
   CONTROL "Example:", 1116, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 99, 52, 8 
   CONTROL "Static", 1115, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 69, 99, 174, 8 
   CONTROL "Other options:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 114, 218, 8 
   CONTROL "&Prompt for a tag on import", 1104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 125, 218, 10 
   CONTROL "Always &erase from device after importing", 1052, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 137, 218, 10 
   CONTROL "&Rotate pictures on import", 1055, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 149, 218, 10 
   CONTROL "&Open Windows Explorer after import", 1051, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 161, 218, 10 
   CONTROL "<a>Change default AutoPlay options</a>", 1094, "SysLink", 0x5003000A, 7, 184, 245, 9 
   CONTROL "Res&tore defaults", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 200, 62, 14 
   CONTROL "Pl&ugins", 1089, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 73, 200, 50, 14 
   CONTROL "<a>How do I change my import settings?</a>", 1103, "SysLink", 0x5001000A, 7, 221, 245, 9 
}

1113 DIALOGEX 0, 0, 261, 256
STYLE WS_CHILD | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", FW_NORMAL, FALSE, 0
{
   CONTROL "", 1095, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 7, 147, 90 
   CONTROL "&Settings for: ", 1102, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS, 7, 9, 249, 188 
   CONTROL "Use &custom location and naming settings", 1096, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 26, 196, 10 
   CONTROL "&Import images to:", 1097, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 44, 60, 8 
   CONTROL "", 1047, "ComboBoxEx32", 0x50210003, 73, 42, 121, 96 
   CONTROL "&Browse...", 1048, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 41, 50, 14 
   CONTROL "Import &videos to:", 1119, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 63, 60, 8 
   CONTROL "", 1049, "ComboBoxEx32", 0x50210003, 73, 61, 121, 96 
   CONTROL "Bro&wse...", 1050, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 60, 50, 14 
   CONTROL "&Folder name:", 1098, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 81, 52, 8 
   CONTROL "", 1105, "ComboBoxEx32", 0x50210003, 73, 80, 174, 96 
   CONTROL "File &name:", 1099, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 101, 52, 8 
   CONTROL "", 1107, "ComboBoxEx32", 0x50210003, 73, 99, 174, 96 
   CONTROL "Example:", 1116, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 118, 52, 8 
   CONTROL "Static", 1115, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 73, 118, 174, 8 
   CONTROL "Other options:", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 133, 218, 8 
   CONTROL "&Prompt for a tag on import", 1104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 144, 218, 10 
   CONTROL "Always &erase from device after importing", 1052, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 156, 218, 10 
   CONTROL "&Rotate pictures on import", 1055, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 168, 218, 10 
   CONTROL "&Open Windows Explorer after import", 1051, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 180, 218, 10 
   CONTROL "<a>Change default AutoPlay options</a>", 1094, "SysLink", 0x5003000A, 7, 203, 245, 9 
   CONTROL "Res&tore defaults", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 219, 62, 14 
   CONTROL "Pl&ugins", 1089, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 73, 219, 50, 14 
   CONTROL "<a>How do I change my import settings?</a>", 1103, "SysLink", 0x5001000A, 7, 240, 245, 9 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
102, 	"Importing item %u of %u"
103, 	"The following plugin caused a failure and will be disabled:\n\n%s"
104, 	"I&mport"
105, 	"&Tag these pictures (optional):"
106, 	"Import Pictures and Videos"
107, 	"Do you want Windows to try to correct picture rotation every time you import?"
108, 	"<a>Import settings</a>"
109, 	"Properties are not available for this item"
110, 	"Locating pictures and videos"
111, 	"Erasing item %u of %u"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
112, 	"For these changes to take effect, Import Pictures and Videos will now be restarted."
113, 	"Erasing Pictures and Videos"
114, 	"No new pictures or videos were found on this device."
115, 	"The following error occurred while erasing pictures and videos:\n%s"
116, 	"One or more files were copied to your computer.  Do you want to remove them?"
117, 	"Are you sure you want to cancel importing?"
118, 	"Tags help you find and organize your pictures. You can add tags in Windows Explorer after importing."
119, 	"One or more imported items could not be deleted.  The most recent error was:\n%s"
120, 	"This device:\n\n%s\n\nis already being used by \"%s\".\n\nIf another Import Pictures and Videos window is already open, please close it and then try again."
121, 	"This device:\n\n%s\n\nis already in use."
122, 	"Erase pictures and videos from device after they have been copied to your computer."
123, 	"Unable to start importing pictures due to the following error:\n%s"
124, 	"Properties for %ws"
125, 	"Digital Video Cameras"
126, 	"This plugin doesn't have any configuration options"
127, 	"An error occurred displaying configuration settings"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
128, 	"Import Plugins"
129, 	"Choose a location to store your pictures and videos:"
130, 	"The following error occurred while erasing %s:\n%s"
131, 	"For these changes to take effect, close Import Pictures and Videos and then start importing again."
132, 	"Unable to connect to the device due to the following error:\n\n%s"
133, 	"You have entered an invalid command"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
300, 	"The following error occurred while importing:\n%s"
301, 	"The exact error is unknown.  Make a note of this error code, which might be useful if you seek additional help to resolve this problem: %X\n"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
304, 	"The following error occurred while finding pictures and videos to import:\n%s"
305, 	"The following error occurred while importing %s:\n%s"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
400, 	"Import pictures and videos"
401, 	"Windows"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
700, 	"Date Imported + Tag"
701, 	"Date Taken + Tag"
702, 	"Date Taken Range + Tag"
703, 	"Tag + Date Imported"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
704, 	"Tag + Date Taken"
705, 	"Tag + Date Taken Range"
706, 	"Tag"
707, 	"Tag"
708, 	"Original File Name"
709, 	"Original File Name (Preserve Folders)"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
800, 	"{DATE_ACQUIRED} Himalayas"
801, 	"{DATE_TAKEN_2} Himalayas"
802, 	"{DATE_TAKEN_1} - {DATE_TAKEN_2} Himalayas"
803, 	"Himalayas {DATE_ACQUIRED}"
804, 	"Himalayas {DATE_TAKEN_2}"
805, 	"Himalayas {DATE_TAKEN_1} - {DATE_TAKEN_2}"
806, 	"Himalayas"
807, 	"Himalayas 001.JPG"
808, 	"DSC_1234.JPG"
809, 	"Folder\\DSC_1234.JPG"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1036, 	"Cameras and Portable Devices"
1037, 	"Scanners"
1038, 	"CDs and DVDs"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1040, 	"Picture Import Settings"
1041, 	"Help is not available on this topic"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1070, 	"&Erase after importing"
1071, 	"Found %d pictures and videos"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1100, 	"Other Devices"
1103, 	"Scanners and Cameras"
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1120, 	"Picture"
1121, 	"Imported Pictures and Videos"
1122, 	"Choose a location to store your pictures:"
1123, 	"Choose a location to store your videos:"
1124, 	"Import Pictures and Videos"
1125, 	"Pictures and videos that were previously synced to this device weren’t imported. You can manually copy them to your computer using Windows Explorer."
}


1 VERSIONINFO
FILEVERSION 6,1,7600,16385
PRODUCTVERSION 6,1,7600,16385
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Photo Acquisition"
		VALUE "FileVersion", "6.1.7600.16385 (win7_rtm.090713-1255)"
		VALUE "InternalName", "PhotoAcq"
		VALUE "LegalCopyright", "© Microsoft Corporation. All rights reserved."
		VALUE "OriginalFilename", "PhotoAcq.dll.mui"
		VALUE "ProductName", "Microsoft® Windows® Operating System"
		VALUE "ProductVersion", "6.1.7600.16385"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

