#pragma code_page(65001)
#include <resources.h>

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-TabletPC-Platform-Manipulations\r\n"
}
