#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  1001,  "Play To"
  1002,  "Allow streaming to this device"
  1003,  "Block streaming to this device"
  1004,  "Play To failed"
  1005,  "Error occurred"
  1006,  "Media streaming options"
}

1 MESSAGETABLE
{
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1342177284,  "Information\r\n"
  2415919105,  "Microsoft-Windows-WMPNSSUI\r\n"
}
