#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  101,  "Windows Media Player Network Sharing Service"
  102,  "Shares Windows Media Player libraries to other networked players and media devices using Universal Plug and Play"
  103,  "Unknown Error %1!d!"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  199,  "Unknown Device (%1)"
  203,  "Windows Media Player Sharing"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  402,  "Invalid Args"
  404,  "Invalid Var"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  501,  "Action Failed"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  701,  "No such object"
  702,  "Invalid currentTagValue"
  703,  "Invalid newTagValue"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  704,  "Required tag"
  705,  "Read only tag"
  706,  "Parameter Mismatch"
  708,  "Unsupported or invalid search criteria"
  709,  "Unsupported or invalid sort criteria"
  710,  "No such container"
  711,  "Restricted object"
  712,  "Bad metadata"
  713,  "Restricted parent object"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  720,  "Cannot process the request"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  801,  "Access denied"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  850,  "Invalid Certificate"
  851,  "Revoked Certificate"
  854,  "Transmitter Failure"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3000,  "Configure power settings for when devices and computers are playing media from your computer."
  3001,  "Multimedia settings"
  3002,  "Specify what your computer does when a device or computer is playing media from your computer."
  3003,  "When sharing media"
  3004,  "Devices and computers will not be able to play media from your computer while it sleeps."
  3005,  "Allow the computer to sleep"
  3006,  "Devices and computers will be able to play media from your computer unless you put it to sleep."
  3007,  "Prevent idling to sleep"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  3008,  "Devices and computers will be able to play media from your computer while it is in Away Mode."
  3009,  "Allow the computer to enter Away Mode"
  3010,  "Media Sharing has been enabled through Windows Media Player."
}

1 MESSAGETABLE
{
  268435512,  "Classic\r\n"
  805306368,  "Info\r\n"
  805306369,  "Start\r\n"
  805306370,  "Stop\r\n"
  1074607992,  "'%1' service was installed.\r\n"
  1074607993,  "'%1' service is already installed.\r\n"
  1074607994,  "'%1' service was uninstalled.\r\n"
  1074607995,  "'%1' service was uninstalled; however, you might need to restart your computer to complete the process.\r\n"
  1074607996,  "Service '%1' started.\r\n"
  1074607997,  "Service '%1' stopped.\r\n"
  1074607998,  "Media server '%1' was successfully initialized and is sharing media with network media devices.\r\n"
  1074607999,  "Media server '%1' was removed and has stopped sharing media with network media devices.\r\n"
  1074608000,  "Proximity detection succeeded.  The best proximity time detected was %1 milliseconds.\r\n"
  1074608001,  "A device with IP address '%1!S!' successfully registered itself for protected content retrieval.\r\n"
  1074608002,  "The monitored folders on media server '%1!S!' changed.  Windows Media Player is updating security permissions for any included folders to enable media sharing.\r\n"
  1342177284,  "Information\r\n"
  2148349716,  "IPv4 support has been disabled in WMPNetworkSvc because network address change monitoring encountered error '%1'.\r\n"
  2148349717,  "Invalid request code %1.\r\n"
  2148349718,  "While uninstalling service '%1', the type library was not unregistered due to error '%2'.\r\n"
  2148349719,  "While uninstalling service '%1', the registry key 'HKLM\\SOFTWARE\\Microsoft\\Windows Media Player NSS\\3.0' was not deleted due to error '%2'. You must remove this registry key manually.\r\n"
  2148349720,  "The Windows Media Player Network Sharing Service cannot process the request for URI '%1!S!' from IP address '%2!S!' due to error '%3'.\r\n"
  2148349721,  "Unused media renderer devices were not removed from the list of devices because required DRM components cannot run while a debugger is attached. Detach the debugger from the machine or from the WMPNetworkSvc service, and then restart the WMPNetworkSvc service.\r\n"
  2415919105,  "Windows Media Player Network Sharing Service\r\n"
  3222091740,  "Service '%1' was not installed because OpenSCManager encountered access denied error '%2'. Try using an elevated administrator account to reinstall the service.\r\n"
  3222091741,  "Service '%1' was not installed because OpenSCManager encountered unknown error '%2'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091742,  "Service '%1' was not installed because CreateService encountered error '%2'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091743,  "Service '%1' was not installed because RegOpenKey(HKLM\\SYSTEM\\CurrentControlSet\\Services\\%1) encountered error '%2'. Verify that this key exists and that the Administrators group has permission to modify this key, and then try to reinstall the service.\r\n"
  3222091744,  "Service '%1' was not installed because RegisterTypeLib() encountered error '%3'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091745,  "Service '%1' was not installed because LoadTypeLib() encountered error '%3'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091746,  "Service '%1' was not installed because registry keys under 'HKLM\\SOFTWARE\\Microsoft\\Windows Media Player NSS\\3.0' could not be created due to error '%2'. Verify that the Administrators group has permission to modify this key and its parent keys, and then try to reinstall the service.\r\n"
  3222091747,  "Service '%1' was not installed because the ACL required to register with the Windows HTTP server could not be created (error '%2'). Restart your computer, and then try to reinstall the service.\r\n"
  3222091748,  "Service '%1' was not installed because HttpInitialize encountered error '%2'. Try using an elevated administrator account to reinstall the service.\r\n"
  3222091749,  "Service '%1' was not installed because HTTP reservation encountered error '%2'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091750,  "Service '%1' was not installed because HttpTerminate encountered error '%2'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091751,  "Service '%1' was not uninstalled because OpenSCManager encountered access denied error '%2'. Try using an elevated administrator account to uninstall the service.\r\n"
  3222091752,  "Service '%1' was not uninstalled because OpenSCManager encountered unknown error '%2'. Restart your computer, and then try to reinstall the service.\r\n"
  3222091753,  "Service '%1' was not uninstalled because OpenService encountered unknown error '%2'. Restart your computer, and then try to uninstall the service.\r\n"
  3222091754,  "Service '%1' was not uninstalled because DeleteService encountered unknown error '%2'. Restart your computer, and then try to uninstall the service.\r\n"
  3222091755,  "The control handler for service '%1' could not be registered due to error %2. Restart your computer, and then try to restart the service.\r\n"
  3222091756,  "Service '%1' was not initialized because CoInitializeEx encountered error %2. Restart your computer, and then try to restart the service.\r\n"
  3222091757,  "Service '%1' was not initialized because CoInitializeSecurity encountered error %2. Restart your computer, and then try to restart the service.\r\n"
  3222091758,  "Service '%1' was not initialized due to unknown error %2. Restart your computer, and then try to restart the service.\r\n"
  3222091759,  "Service '%1' did not start because Group Policy is preventing Windows Media Player from sharing media with other devices.\r\n"
  3222091760,  "Service '%1' is shutting down because Group Policy is preventing Windows Media Player from sharing media with other devices.\r\n"
  3222091761,  "Service '%1' did not start correctly due to out-of-memory error '%2'. Close other programs or restart your computer and then try to restart the service.\r\n"
  3222091762,  "Service '%1' did not start correctly because MFStartup encountered error '%2'. If possible, reinstall Windows Media Player.\r\n"
  3222091763,  "Service '%1' did not start correctly because MFCreateWMPMDEOpCenter encountered error '%2'. If possible, reinstall Windows Media Player.\r\n"
  3222091764,  "Service '%1' did not start correctly because CoCreateInstance(WindowsMediaPlayer) encountered error '%2'. If possible, reinstall Windows Media Player.\r\n"
  3222091765,  "Service '%1' did not start correctly because QueryService encountered error '%2'. In Windows Media Player, turn off media sharing, and then turn it back on.\r\n"
  3222091766,  "Service '%1' did not start correctly because the event database creation encountered error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091767,  "Service '%1' did not start correctly because worker thread intialization encountered error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091768,  "Service '%1' did not start correctly because a handle to a worker thread could not be added due to error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091769,  "Service '%1' did not start correctly because the registry could not be updated due to error '%2'. If possible, reinstall Windows Media Player.\r\n"
  3222091770,  "Service '%1' did not start correctly because the service is running the wrong binary or is running with the wrong account (error '%2'). The service binary should be wmpnetwk.exe and the account should be 'NT AUTHORITY\\NetworkService'. If possible, reinstall Windows Media Player.\r\n"
  3222091771,  "Service '%1' did not start correctly because CoInitialize encountered error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091772,  "Service '%1' did not start correctly because CoCreateInstance(CLSID_UPnPDeviceFinder) encountered error '%2'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091773,  "Service '%1' did not start correctly due to error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091774,  "Service '%1' did not start correctly because IUPnPDeviceFinder::CreateAsyncFind(MediaRenderer) encountered error '%2'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091775,  "Service '%1' did not start correctly because IUPnPDeviceFinder::CreateAsyncFind(MediaServer) encountered error '%2'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091776,  "Service '%1' did not start correctly because IUPnPDeviceFinder::StartAsyncFind(MediaRenderer) encountered error '%2'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091777,  "Service '%1' did not start correctly because CreateMediaDevices encountered error '%2'. Restart your computer, and then try to restart the service.\r\n"
  3222091778,  "A new media server was not initialized because CoCreateInstance(CLSID_UPnPRegistrar) encountered error '%1'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091779,  "A new media server was not initialized because QueryInterface(IUPnPReregistrar) encountered error '%1'. Verify that the UPnPHost service is running and that the UPnPHost component of Windows is installed properly.\r\n"
  3222091780,  "A new media server was not initialized because GetFriendlyName() encountered error '%1'. In Windows Media Player, turn off media sharing, change the name of the shared library, and then turn sharing back on.\r\n"
  3222091781,  "A new media server was not initialized because GetSerialNumber() encountered error '%1'. In Windows Media Player, turn off media sharing, and then turn it back on.\r\n"
  3222091782,  "A new media server was not initialized because the model name could not be retrieved due to error '%1'. Delete the value 'ModelName' in the registry key HKLM\\SOFTWARE\\Microsoft\\Windows Media Player NSS\\3.0, and then restart the WMPNetworkSvc service.\r\n"
  3222091783,  "A new media server was not initialized due to out-of-memory error '%1'. Close other programs or restart your computer and then restart the WMPNetworkSvc service.\r\n"
  3222091784,  "A new media server was not initialized because WMCreateDeviceRegistration() encountered error '%1'. The Windows Media DRM components on your computer might be corrupted. Verify that protected files play correctly in Windows Media Player, and then restart the WMPNetworkSvc service.\r\n"
  3222091785,  "A new media server was not initialized because device document generation encountered error '%1'. Restart your computer, and then restart the WMPNetworkSvc service. If the problem persists, reinstall Windows Media Player if possible.\r\n"
  3222091786,  "A new media server was not initialized because RegisterRunningDevice() encountered error '%1'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091787,  "A new media server was not initialized because the registry key 'HKLM\\SOFTWARE\\Microsoft\\Windows Media Player NSS\\3.0\\Media Servers' could not be updated (error '%1'). Delete this registry key, and then restart the WMPNetworkSvc service.\r\n"
  3222091788,  "A new media server was not initialized due to error '%1'. Restart your computer, and then restart the WMPNetworkSvc service. If the problem persists, in Windows Media Player, turn off media sharing, and then turn it back on.\r\n"
  3222091789,  "A new media server was not initialized because the Windows Media Delivery Engine did not initialize due to error '%1'. Restart your computer, and then restart the WMPNetworkSvc service. If the problem persists, reinstall Windows Media Player if possible.\r\n"
  3222091790,  "A new media server could not be initialized because required DRM components cannot run while a debugger is attached. Detach the debugger from the machine or from the WMPNetworkSvc service, and then restart the WMPNetworkSvc service.\r\n"
  3222091791,  "A media delivery engine with ID '%1' was not initialized because the content provider's serial number could not be retrieved due to error '%2'. In Windows Media Player, turn off media sharing, and then turn it back on. If the problem persists, reinstall Windows Media Player if possible.\r\n"
  3222091792,  "A media delivery engine with ID '%1' was not initialized due to error '%2'. Restart your computer, and then restart the WMPNetworkSvc service. If the problem persists, reinstall Windows Media Player if possible.\r\n"
  3222091793,  "A media delivery engine with ID '%1' was not initialized due to error '%2' when adding the URL '%3!S!'. Restart your computer, and then restart the WMPNetworkSvc service. If the problem persists, reinstall Windows Media Player if possible.\r\n"
  3222091794,  "A media delivery engine with ID '%1' was not initialized due to out-of-memory error '%2'. Close other programs or restart your computer and then try to restart the WMPNetworkSvc service.\r\n"
  3222091795,  "A media delivery engine with ID '%1' was not initialized because MFCreateNetVRoot() encountered error '%2'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091796,  "A media delivery engine with ID '%1' was not initialized because RegisterDelegate() encountered error '%2'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091797,  "A media delivery engine with ID '%1' was not initialized because GetSupportedProfiles() encountered error '%2'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091798,  "A media delivery engine with ID '%1' was not initialized because enumeration of content profiles encountered error '%2'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091799,  "A media delivery engine with ID '%1' was not initialized because AddProfile() encountered error '%2'. Restart your computer, and then restart the WMPNetworkSvc service.\r\n"
  3222091800,  "IPv4 support has been disabled in WMPNetworkSvc because NotifyAddrChange encountered error '%1'. To enable IPv4 support, restart the WMPNetworkSvc service.\r\n"
  3222091801,  "IPv4 support has been disabled in WMPNetworkSvc because IP address table retrieval encountered error '%1'. To enable IPv4 support, restart the WMPNetworkSvc service.\r\n"
  3222091802,  "Proximity detection failed because the service could not open a network port to communicate with the device. Wait two minutes, and then try to connect to the device again.\r\n"
  3222091803,  "Proximity detection failed because the response from the device was not valid. Verify that the device is running the latest firmware and that the network connection between the computer and the device is working properly. Then try to connect to the device again.\r\n"
  3222091804,  "Proximity detection failed because the device is located too far away from the computer. The best proximity time detected was %1 milliseconds.\r\n"
  3222091805,  "Proximity detection failed due to unknown error '%1'.  The best proximity time detected was %2 milliseconds.\r\n"
  3222091806,  "A device with IP address '%2!S!' failed to register itself for protected content retrieval due to invalid data error '%1'. Verify that the device is running the latest firmware and that the network connection between the computer and the device is working properly. Then try to connect to the device again.\r\n"
  3222091807,  "A device with IP address '%1!S!' failed to register itself for protected content retrieval. Either the device passed a corrupted certificate or the signature on the certificate could not be verified. Verify that the device is running the latest firmware and that the network connection between the computer and the device is working properly. Then try to connect to the device again.\r\n"
  3222091808,  "A device with IP address '%1!S!' failed to register itself for protected content retrieval because the device's certificate has been revoked. Contact the device manufacturer for instructions about how to update the device, and then try to connect the device again.\r\n"
  3222091809,  "A device with IP address '%1!S!' failed to register itself for protected content retrieval because the Certificate Revocation List is not valid or corrupted. Restart your computer, and then try to connect to the device again. If this error persists, you might need to reset the Windows Media DRM system on your computer.\r\n"
  3222091810,  "A device with IP address '%2!S!' failed to register itself for protected content retrieval due to unknown error '%1'.\r\n"
  3222091811,  "A device with IP address '%1!S!' could not register itself for protected content retrieval because required DRM components cannot run while a debugger is attached. Detach the debugger from the machine or from the WMPNetworkSvc service, and then restart the WMPNetworkSvc service.\r\n"
  3222091812,  "A media delivery engine was not initialized because the SSL certificate could not be retrieved from the local machine system certificate store. The error encountered was '%1'. In Windows Media Player, turn off media sharing, and then turn it back on.\r\n"
}
