#pragma code_page(65001)
#include <resources.h>

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  200,  "http://www.hotmail.com/secure/start"
  201,  "http://www.hotmail.msn.com/cgi-bin/sbox"
  203,  "Windows Live Hotmail"
}

